--Above2012.sql  تاريخ 1401/02/04   

--INSERT INTO  Pay.Taxs
--                         (TaxID, FormInfoID, YearRun, MonthRun, Descriptions, BonusFreeTax, TFN_CODE)
--SELECT    Years *left(1000000,len(prvinfoid)) +prvinfoid  TaxID, prvinfoid FormInfoID,Years YearRun,1 MonthRun, ' جدول مالیاتی سال ' + str(Years) Descriptions,Amount2 BonusFreeTax,TaxCode TFN_CODE
--FROM       Pay.FormsInfo   
--where   (FormType = 37) AND Amount = 0 and Coefficient = 0 
--and  Years *left(1000000,len(prvinfoid)) +prvinfoid not in (SELECT TaxID from Pay.Taxs )


--INSERT INTO  Pay.TaxsItems
--                         (TaxID,RowNo, RevenuePrice, FixedPrice, Cofficient )
--SELECT  T.TaxID, fi.InfoID RowNo,  fi.Amount2 RevenuePrice , fi.Amount FixedPrice ,  fi.Coefficient
--FROM    Pay.FormsInfo fi
--		inner JOIN Pay.Taxs AS T ON fi.Years *left(1000000,len(fi.prvinfoid)) +fi.prvinfoid = t.TaxID
--WHERE   (fi.FormType = 37)AND (select count(*) from Pay.TaxsItems)=0

UPDATE Pay.FormTypes SET ShowMnuPlace = '' WHERE FormType = 37 AND ShowMnuPlace <> ''

--INSERT INTO  Pay.Taxs
--                         (TaxID, FormInfoID, YearRun, MonthRun, Descriptions, BonusFreeTax, TFN_CODE)
--SELECT    Years *left(1000000,len(prvinfoid)) +prvinfoid+infoid  TaxID, prvinfoid FormInfoID,Years YearRun,1 MonthRun, ' جدول مالیاتی سال ' + str(Years) Descriptions,Amount2 BonusFreeTax,TaxCode TFN_CODE
--FROM       Pay.FormsInfo   
--where   (FormType = 37) AND Amount = 0 and Coefficient = 0 
--and  Years *left(1000000,len(prvinfoid)) +prvinfoid+infoid not in (SELECT TaxID from Pay.Taxs )
--and prvinfoid in  (SELECT FormInfoID from Pay.FormsInfo )
-------

--INSERT INTO  Pay.TaxsItems
--                         (TaxID,RowNo, RevenuePrice, FixedPrice, Cofficient )
--SELECT  T.TaxID, fi.InfoID RowNo,  fi.Amount2 RevenuePrice , fi.Amount FixedPrice ,  fi.Coefficient
--FROM    Pay.FormsInfo fi
--		inner JOIN Pay.Taxs AS T ON fi.Years *left(1000000,len(fi.prvinfoid)) +fi.prvinfoid+fi.infoid = t.TaxID
--WHERE   (fi.FormType = 37)AND (select count(*) from Pay.TaxsItems)=0

------
--update pay.FormTypes
--set ShowMnuId = 0 
--where FormType = 37 and ShowMnuId <> 0 
------
--Declare	 @Year int
--Declare	 @Month int
--select  @Year=min(YearID),@Month=min(Mounth) from Pay.FixedCalculated
--if @Year is  null
--  select  @Year= max(YearID),@Month=1 from Util.MaliYear 
--if @Year is NULL
--begin
--   set  @Year=cast( left((dbo.MiladiToShamsi(GETDATE())),4) as int) 
--   set @Month=1
--end


--  insert into Pay.Insurance
--		( 
--		   InsuranceID
--		  ,FormInfoID
--		  ,MinDailySalary
--		  ,MaxDailySalary
--		  ,YearRun
--		  ,MonthRun
--		  ,InsertDate
--		  ,Descriptions
--	  )
--  SELECT min(insuranceNo) InsuranceID,
--		 FormInfoID , 
--		 Isnull(max(dailywage),0) MaxDailySalary ,
--		 Isnull(max(insuranceUp),9999999999) MinDailySalary , 
--		 @Year YearRun , -- calc by first_maly_Year
--		 @Month MonthRun ,--calc by first_maly_Year
--		 getdate() InsertDate ,
--		 'تنظیمات سالیانه بیمه ' Descriptions
	
--  FROM Pay.InsuranceCONSTinfo
--  group by FormInfoID  
--  having min(insuranceNo) not in (SELECT InsuranceID from Pay.Insurance )





