--9   تاريخ 1402/11/17  
exec('IF  NOT EXISTS (select * from sysindexes WHERE     (name = N''IX_ReciptItemSum''))
--DROP INDEX IX_ReciptItemSum ON ReciptsRegulates
create NONCLUSTERED INDEX IX_ReciptItemSum
ON dbo.ReciptItemSum (price)
INCLUDE (yearid,serverid,reciptid)
') ;

GO 
