--25 Pay  تاريخ 1404/02/09   Pay Active UP2014   
	SET NOCOUNT ON 
if exists (SELECT * FROM sysobjects where id = object_id(N'pay.GetPayroll') and OBJECTPROPERTY(id,N'IsProcedure') = 1)
drop procedure pay.GetPayroll
GO
CREATE PROCEDURE pay.GetPayroll @NationalID varchar(12),@YearID int = 1401 ,@Month int=5,
                             @JsonOutput int = 1  OUTPUT
as

BEGIN
SET NOCOUNT ON;
SET ANSI_WARNINGS OFF; -- Suppress the null aggregation warning
DECLARE @TempTable TABLE(
	Kind nvarchar(255) NULL ,
	SalaryID int NULL,
	InfoName nvarchar(255) NULL,
	Price money  NULL,
	calculatekind int  NULL,
	FHours nvarchar(255) NULL,
	FDaily decimal(18,4) NULL,
	RemainDayDec nvarchar(255)  NULL
	)

DECLARE @ErrorTable TABLE(
	NationalID varchar(12) NULL ,
	ErrorMsg nvarchar(255) NULL
	)

DECLARE @PersonelNo int

SELECT @PersonelNo=PersonelNo from pay.PersonelInfo where  NationalID = @NationalID
if ISNULL(@PersonelNo,0) = 0
INSERT INTO @ErrorTable
 select @NationalID AS NationalID , 'کد ملی وجود ندارد' AS ErrorMsg

DECLARE @OffTimeInFish tinyint
SELECT @OffTimeInFish=OffTimeInFish from pay.config 
DECLARE @ArchiveID Bigint
SELECT @ArchiveID=ArchiveID from pay.[FinalArchive] where Mounth = @Month and YearID = @YearID --AND (Years = @YearID)

if ISNULL(@ArchiveID,0) = 0
INSERT INTO @ErrorTable
 select @NationalID AS NationalID , 'اطلاعات بایگانی برای این پرسنل وجود ندارد' AS ErrorMsg





INSERT INTO @TempTable
SELECT 'WageDay' Kind ,ISNULL(Max(FormInfoID),0)  SalaryID ,'حقوق روزانه' InfoName_L1 ,
                         ISNULL(  (SELECT    CAST(ROUND((CASE WHEN SUM(FunctionDay) <> 0 THEN SUM(price) / SUM(FunctionDay) ELSE 0 END), 0) AS money)AS WageDay
                             FROM Pay.FixedCalculated LEFT OUTER JOIN
                                                   Pay.FormsInfo ON FixedCalculated.SalaryID = FormsInfo.FormInfoID
                             WHERE     (FixedCalculated.ArchiveID = @ArchiveID ) AND (FixedCalculated.Mounth = Functions.Mounth) AND (FixedCalculated.PersonelNO = Functions.PersonelNo) AND 
                                                   (FormsInfo.FormType = 22) AND (FormsInfo.InfoID BETWEEN 1 AND 4)
												   AND (Years = @YearID) AND (Yearid = @YearID)
												   ),0)  AS Price,0 as calculatekind ,'0.0' FHours 
												    , 0 AS FDaily--, SUM(FunctionTime) AS FunctionTime,SUM(SickDay) AS SickDay
													,'' AS RemainDayDec
FROM Pay.Functions
WHERE     (Mounth =  @Month ) AND (PersonelNo = @PersonelNo ) AND (YearID = @YearID)AND (Years = @YearID)
GROUP BY Mounth, PersonelNo

INSERT INTO @TempTable
SELECT 'Function' Kind ,Max(FormInfoID)  SalaryID ,'تعداد روزهای کارکرد' InfoName_L1 ,0 AS Price,0 as calculatekind ,'0.0' FHours 
												    , SUM(FunctionDay) AS FDaily--, SUM(FunctionTime) AS FunctionTime,SUM(SickDay) AS SickDay
													,'' AS RemainDayDec
FROM Pay.Functions
WHERE     (Mounth =  @Month ) AND (PersonelNo = @PersonelNo ) AND (YearID = @YearID) AND (Years = @YearID)
GROUP BY Mounth, PersonelNo


INSERT INTO @TempTable
SELECT 'OverTime' Kind , FunctionsItems.SalaryID, FormsInfo.InfoName_L1 ,0.0 as Price,0 as calculatekind
,CASE WHEN SUM(FunctionsItems.FHours)=0 THEN '' ELSE LTRIM(STR(FLOOR(SUM(FunctionsItems.FHours)))) + ':' + LTRIM(STR(ROUND(ROUND(SUM(FunctionsItems.FHours) 
                         - FLOOR(SUM(FunctionsItems.FHours)), 2) / 100 * 60, 2) * 100)) END AS FHours
                         ,SUM(FunctionsItems.FDaily) AS FDaily
						 ,'' AS RemainDayDec

FROM         pay.Functions F INNER JOIN
                       pay.FunctionsItems ON F.FunctionID = FunctionsItems.FunctionID INNER JOIN
                       pay.FormsInfo ON FunctionsItems.SalaryID = FormsInfo.FormInfoID
WHERE     (F.Mounth = @Month) AND (F.PersonelNo = @PersonelNo) AND (F.YearID = @YearID)AND (Years = @YearID)
GROUP BY FunctionsItems.SalaryID, FormsInfo.InfoName_L1
HAVING      (ROUND(SUM(FunctionsItems.FDaily),0) > 0) OR
                      (SUM(FunctionsItems.FHours) > 0)

INSERT INTO @TempTable
SELECT 'RemainDayDec' Kind ,  SalaryID, InfoName_L1,0.0 as Price,0 as calculatekind,   '0:0' AS FHours,0  AS FDaily,  pay.RemainDayDec(RemainDay) AS RemainDayDec


  FROM  pay.GETOffTimeInFish ( @YearID,@YearID, @Month, 0, 999999, @PersonelNo  , @OffTimeInFish )
 WHERE(SELECT OffTimeInFish FROM  pay.Config)>0   

INSERT INTO @TempTable
SELECT 'Wage' Kind , * ,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec 
FROM (

SELECT  (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 47 and infoid = 1 ) as SalaryID ,
		(SELECT top 1 InfoName_L1 from pay.formsinfo where formtype = 47 and infoid = 1 )  as InfoName_L1,
		EmployeeAmount as Price ,
		0 as calculatekind	
FROM          pay.PersonelDecExt 
WHERE	(FormInfoID = (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 59) ) 
  And	(PersonelNo = @PersonelNo )  And abs(Substring (enddate,6,2)) = @Month  
   AND (YearID = @YearID)--AND (Years = @YearID)


UNION ALL
SELECT  (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 47 and infoid = 2 ) as SalaryID ,
		(SELECT top 1 InfoName_L1 from pay.formsinfo where formtype = 47 and infoid = 2 )  as InfoName_L1,
		EmployerAmount as Price ,
		0 as calculatekind	
FROM          pay.PersonelDecExt
WHERE	(FormInfoID = (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 59) ) And
		(PersonelNo = @PersonelNo )  And
		abs(Substring (enddate,6,2)) = @Month
		 AND (YearID = @YearID)--AND (Years = @YearID)
UNION ALL

SELECT        PE.FormInfoID AS SalaryID, FormsInfo.InfoName_L1
, SUM(PE.EmployeeAmount) AS Price, 0 AS calculatekind

FROM             pay.PersonelDecExt PE INNER JOIN
                          pay.FormsInfo ON PE.FormInfoID = FormsInfo.FormInfoID
WHERE        (FormsInfo.FormType = 111)
AND (PE.PersonelNo = @PersonelNo)
AND (PE.FirstMounth = @Month)
 AND (PE.YearID = @YearID)--AND (Years = @YearID)
GROUP BY PE.FormInfoID, FormsInfo.InfoName_L1


UNION ALL


SELECT Fc.SalaryID, F.InfoName_L1 + CASE WHEN Fc.Mounth <> isnull(Fc.MounthRetard,0)
THEN  isnull('(' + 'معوقه ماه ' + LTRIM(STR(Fc.MounthRetard))+ ')'  ,'')   ELSE

  '' END AS InfoName_L1 ,
     SUM(Fc.Price) AS Price,0 as calculatekind

FROM   pay.FixedCalculated Fc LEFT OUTER JOIN
                       pay.FormsInfo F ON Fc.SalaryID = F.FormInfoID
WHERE     (Fc.Mounth = @Month)
 AND (Fc.YearID = @YearID)AND (Years = @YearID)
AND (Fc.ShowListKind = 1)
AND (Fc.PersonelNO = @PersonelNo)
AND (Fc.ArchiveID = @ArchiveID)
AND (Fc.Price<>0)

GROUP BY Fc.SalaryID, F.InfoName_L1 , Fc.MounthRetard,Fc.Mounth 


 )aaaa

INSERT INTO @TempTable
SELECT 'Dec' Kind , SalaryID,max(InfoName_L1) as  InfoName_L1,sum(Price) as Price,calculatekind 
,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec 

 FROM (

SELECT  Fc.SalaryID,
        CASE  WHEN FC.ShowlistKind=11  THEN 'ماليات' ELSE F.InfoName_L1 END AS InfoName_L1,
        SUM(Fc.Price) AS Price,SUM(Fc.Price) AS LoanRemain
        ,  calculatekind  
FROM   pay.FixedCalculated  Fc LEFT OUTER JOIN
         pay.FormsInfo F ON Fc.SalaryID = F.FormInfoID
WHERE   (Fc.Mounth = @Month)  AND (Fc.YearID = @YearID)AND (Years = @YearID)
 AND ((Fc.ShowListKind = 2) OR(Fc.ShowListKind = 11))
AND (Fc.PersonelNO =  @PersonelNo)
and (Fc.bedbes=2)
AND (Fc.ArchiveID = @ArchiveID)

GROUP BY Fc.FunctionID,Fc.SalaryID,
        F.InfoName_L1, FC.ShowlistKind
         , Fc.MounthRetard ,  FC.calculatekind


UNION ALL
SELECT  (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 47 and infoid = 1 ) as SalaryID ,
		'مالیات '+(SELECT top 1 InfoName_L1 from pay.formsinfo where formtype = 47 and infoid = 1 )  as InfoName_L1,
		PaymentLoan  as Price ,0 as LoanRemain ,
		
		0 as calculatekind	
FROM          pay.PersonelDecExt
WHERE	(FormInfoID = (SELECT top 1 FormInfoID from pay.formsinfo where formtype = 59) ) And
		(PersonelNo = @PersonelNo )  And
		ABS(SUBSTRING (enddate,6,2)) = @Month
		 AND (YearID = @YearID)--AND (Years = @YearID)

UNION ALL

SELECT       91 AS SalaryID, 'ماليات'  as InfoName_L1
, SUM(PE.PaymentLoan) AS Price,0 as LoanRemain ,
	     11 AS calculatekind
FROM             pay.PersonelDecExt PE INNER JOIN
                          pay.FormsInfo ON PE.FormInfoID = FormsInfo.FormInfoID
WHERE        (FormsInfo.FormType = 111)
AND (PE.PersonelNo = @PersonelNo )
AND (PE.FirstMounth = @Month)
 AND (PE.YearID = @YearID)--AND (Years = @YearID)
GROUP BY PE.FormInfoID, FormsInfo.InfoName_L1

)abdc
GROUP BY SalaryID,calculatekind

INSERT INTO @TempTable
SELECT  Kind ,  0 AS SalaryID,InfoName_L1 , Price  ,0 as calculatekind,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec  
FROM(

SELECT 'Tax' Kind , 'مشمول ماليات' as InfoName_L1 ,SUM(Price) AS Price FROM(

SELECT SUM(Price) AS Price FROM  pay.FixedCalculated
    Where (Mounth = @Month)  AND (YearID = @YearID) AND (Years = @YearID) AND (PersonelNO = @PersonelNO )
     AND (ShowListKind = 11)
    AND (bedbes = 0)  AND (CalCulateKind = 12)
    AND (ArchiveID = @ArchiveID )
    GROUP BY Mounth, PersonelNO, ShowListKind
UNION ALL
 
 SELECT SUM(PersonelDecExt.EmployeeAmount) AS Price
    FROM  pay.PersonelDecExt INNER JOIN
     pay.FormsInfo ON PersonelDecExt.FormInfoID = FormsInfo.FormInfoID
    WHERE (FormsInfo.FormType = 111) and (FormsInfo.InfoID <= 10)
    AND (PersonelDecExt.PersonelNo = @PersonelNo )
    AND (PersonelDecExt.FirstMounth = @Month )  AND (YearID = @YearID)  )aaaaa

UNION ALL
SELECT  'Insurance' Kind ,'مشمول بيمه'  as InfoName  ,SUM(Price) AS SumTax FROM  pay.FixedCalculated
    Where (Mounth = @Month)  AND (YearID = @YearID) AND (Years = @YearID) AND (PersonelNO = @PersonelNO)
     AND (ShowListKind = 3) AND (BedBes=0)
    AND (ArchiveID = @ArchiveID )     
    GROUP BY Mounth, PersonelNO, ShowListKind


	)TaxIns


DECLARE @SumWage money=0
DECLARE @SumDec money=0
SELECT @SumWage =@SumWage +case when Kind = 'Wage' then price else 0 end ,
       @SumDec =@SumDec +case when Kind = 'Dec' then price else 0 end 
from  @TempTable


INSERT INTO @TempTable
SELECT  'SumWage' Kind ,  NULL AS SalaryID,'جمع مزایا' InfoName_L1 ,@SumWage Price  ,0 AS calculatekind,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec  

INSERT INTO @TempTable
SELECT  'SumDec' Kind ,  NULL AS SalaryID,'جمع کسورات' InfoName_L1 ,@SumDec Price  ,0 AS calculatekind,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec  

INSERT INTO @TempTable
SELECT  'SumWage-SumDec' Kind ,  NULL AS SalaryID,'خالص پرداختی' InfoName_L1 ,isnull(@SumWage-@SumDec,0) Price  ,0 AS calculatekind,'' AS FHours ,0 AS FDaily ,'' AS RemainDayDec  

if @JsonOutput = 1 
begin
--if  (SELECT SERVERPROPERTY('ProductVersion'))>'12.0.1000.6'
--exec('
  if (SELECT count(*) from @ErrorTable ) = 0
     SELECT cast((SELECT Kind,InfoName,Price,FHours,FDaily,RemainDayDec FROM @TempTable FOR JSON auto
     )AS nvarchar(max)) AS PayJson
  else
   
   SELECT cast((SELECT * FROM @ErrorTable FOR JSON auto--path 
     )AS nvarchar(max)) AS PayJson

--')   

end
else
begin
  if (SELECT count(*) from @ErrorTable ) = 0
      SELECT Kind,InfoName,Price,FHours,FDaily,RemainDayDec FROM @TempTable
  else
    select @NationalID AS NationalID , 'اطلاعات بایگانی برای این پرسنل وجود ندارد' AS ErrorMsg

end


RETURN(@PersonelNo)
SET ANSI_WARNINGS ON;
END

