---------------------------------------------------------------------------------

--INSERT INTO Bsell_NeyshekarKaroon.Tsh.ClockDmp
  --                       (KARTNO, CLOCKDATE, CLOCKTIME, PERNO, REC, TRANSFERED, SPCARDTYPE, CLOCKKEY, DECEMBER, INTELLIGENTLYANALYSED, IO_TYPE, MASHINNO, 
    --                     SPECCARDNO, UNCERTAIN, ComCode, FPM)
SELECT        KARTNO, CLOCKDATE, CLOCKTIME, PERNO, REC, TRANSFERED, SPCARDTYPE, CLOCKKEY, DECEMBER, INTELLIGENTLYANALYSED, IO_TYPE, MASHINNO, 
                         SPECCARDNO, UNCERTAIN, ComCode, FPM
FROM        EOS1.dbo.ClockDmp AS ClockDmp_1

---------------------------------------------------------------------------------

IF OBJECT_ID ('TR_Send2Bsell', 'TR') IS NOT NULL
   DROP TRIGGER TR_Send2Bsell;
GO
CREATE TRIGGER TR_Send2Bsell
ON ClockDmp
AFTER INSERT
AS
SET NOCOUNT ON
BEGIN
INSERT INTO Bsell_NeyshekarKaroon.Tsh.ClockDmp
                         (KARTNO, CLOCKDATE, CLOCKTIME, PERNO, REC, TRANSFERED, SPCARDTYPE, CLOCKKEY, DECEMBER, INTELLIGENTLYANALYSED, IO_TYPE, MASHINNO, 
                         SPECCARDNO, UNCERTAIN, ComCode, FPM)
SELECT        KARTNO, CLOCKDATE, CLOCKTIME, PERNO, REC, TRANSFERED, SPCARDTYPE, CLOCKKEY, DECEMBER, INTELLIGENTLYANALYSED, IO_TYPE, MASHINNO, 
                         SPECCARDNO, UNCERTAIN, ComCode, FPM
FROM       inserted   
END