-- 1405/03/26
IF OBJECT_ID ('TR_ConfigChangeLog_recipts', 'TR') IS NOT NULL
DROP TRIGGER TR_ConfigChangeLog_recipts
GO
IF OBJECT_ID ('TR_ConfigChangeLog_Forms', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigChangeLog_Forms
GO
IF OBJECT_ID ('[TR_ConfigChangeLog_dbo.FormItems]', 'TR') IS NOT NULL 
DROP TRIGGER [TR_ConfigChangeLog_dbo.FormItems]
GO
IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRItems', 'TR') IS NOT NULL
DROP TRIGGER TR_NotAllowDeleteTrans1OnRItems;
GO
IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRItems', 'TR') IS NOT NULL
DROP TRIGGER TR_NotAllowUpdateTrans3OnRItems;
GO
IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRecipt', 'TR') IS NOT NULL
DROP TRIGGER TR_NotAllowUpdateTrans3OnRecipt;
GO
IF OBJECT_ID ('TR_NotAllowDeleteTrans13OnRecipt', 'TR') IS NOT NULL
DROP TRIGGER TR_NotAllowDeleteTrans13OnRecipt;
GO
IF OBJECT_ID ('TR_ConfigChangeLog_ReciptTypes2', 'TR') IS NOT NULL
DROP TRIGGER TR_ConfigChangeLog_ReciptTypes2;
GO
IF OBJECT_ID ('TR_ConfigChangeLog_ReciptTypes1', 'TR') IS NOT NULL
DROP TRIGGER TR_ConfigChangeLog_ReciptTypes1;
GO
IF OBJECT_ID ('TR_SendReciptTypes1ToReciptTypes2', 'TR') IS NOT NULL
DROP TRIGGER TR_SendReciptTypes1ToReciptTypes2;
GO

IF OBJECT_ID ('TR_ConfigChangeLog_Customers', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigChangeLog_Customers
GO
IF OBJECT_ID ('TR_ConfigChangeLog_StuffCoding', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigChangeLog_StuffCoding
GO


--============================================================
CREATE TRIGGER TR_NotAllowDeleteTrans1OnRItems
ON ReciptItems AFTER DELETE
AS
begin
SET NOCOUNT ON;
DECLARE @i int
set @i = 1
IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
            WHERE Transmittal IN(1,3))

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
  ROLLBACK;
  set @i=2 
END

    -- شرط دوم: اگر ReciptItemID در preReciptItemID سطرهای دیگر استفاده شده باشد
    IF EXISTS (
        SELECT 1
        FROM deleted d
        WHERE EXISTS (
            SELECT 1
            FROM ReciptItems ri
            WHERE ri.preReciptItemID = d.ReciptItemID
          --  AND ri.ReciptID = d.ReciptID
              AND ri.ServerID = d.ServerID
              AND ri.YearID = d.YearID
        )
    )
    BEGIN
        RAISERROR('این ردیف در فرم های دیگر فراخوانی شده و قابل حذف نیست.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

if (@i=1)
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'ReciptItems'
		
end
end
GO
--==================================================================
CREATE TRIGGER TR_NotAllowUpdateTrans3OnRItems
ON ReciptItems AFTER UPDATE , INSERT
AS
BEGIN
SET NOCOUNT ON;
DECLARE @i int
set @i = 1
IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptItems i ON i.ReciptID=r.ReciptID AND i.ServerID=r.ServerID AND i.YearID=r.YearID INNER JOIN
                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
  SET @i=2 
END
ELSE 
IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptItems ri ON ri.ReciptID=r.ReciptID AND ri.ServerID=r.ServerID AND ri.YearID=r.YearID INNER JOIN
                  inserted i ON r.ReciptID=i.ReciptID AND r.ServerID=i.ServerID AND r.YearID=i.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
  SET @i=2 
END
if(@i=1)
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'ReciptItems'
		
end
END
GO
--================================================================================
CREATE TRIGGER [TR_ConfigChangeLog_dbo.FormItems]
	   ON  FormItems  AFTER INSERT,UPDATE,DELETE
AS
BEGIN
SET NOCOUNT ON;
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'FormItems'
		
end
END
GO
--===================================================================================
CREATE TRIGGER TR_ConfigChangeLog_Forms
	   ON   Forms
	   AFTER INSERT,UPDATE,DELETE
AS
BEGIN
SET NOCOUNT ON;
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'Forms'
		
end
END
GO
--==================================================================================
CREATE TRIGGER TR_ConfigChangeLog_recipts
	   ON Recipts AFTER INSERT
AS
BEGIN
SET NOCOUNT ON;
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
				--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'Recipts'
		
end
END
GO
--==========================================================================
CREATE TRIGGER TR_NotAllowDeleteTrans13OnRecipt
ON Recipts AFTER DELETE
AS
BEGIN
SET NOCOUNT ON;
DECLARE @I INT
set @I = 1
IF EXISTS (SELECT ReciptID FROM  deleted  WHERE Transmittal IN(1,3))

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
  SET @I=2 
END 
IF (@I=1)

DECLARE @ReciptID int
DECLARE @YearID int
DECLARE @ServerID int

SELECT @ReciptID=ReciptID,@YearID=YearID,@ServerID=ServerID FROM  deleted


   ---exec Sp_PostDelChangeState  @ReciptID  , @YearID  , @ServerID

 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
  begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'Recipts'
		
  end
END
GO
--========================================================================
CREATE TRIGGER TR_NotAllowUpdateTrans3OnRecipt
ON Recipts AFTER UPDATE 
AS
BEGIN
SET NOCOUNT ON;
DECLARE @I INT
set @I = 1
--IF EXISTS (SELECT i.ReciptID FROM  deleted d INNER JOIN 
--                  inserted i ON d.ReciptID=i.ReciptID AND d.ServerID=i.ServerID AND d.YearID=i.YearID
--           WHERE ( i.Transmittal = d.Transmittal) 

if not(update(Transmittal) or update(ParentReciptID) or update(ParentCoReciptID) or update(PrvYearID))

IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID
           WHERE r.Transmittal=3)

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
  SET @I=2
END
IF (@I=1)
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
  begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'Recipts'
		
  end
END
GO
----===========================================================================
--CREATE TRIGGER TR_SendReciptTypes1ToReciptTypes2
--ON ReciptTypes1
--AFTER INSERT
--AS
--SET NOCOUNT ON
--BEGIN
--INSERT INTO ReciptTypes2
--                         (ReciptType2)
--SELECT        ReciptType
--FROM       inserted
--if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
--begin
--		DECLARE @previousRowXmlValues XML
--		DECLARE	@currentRowXmlValues XML
		
--				--Get the previous value
--		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
--		--Get the current value
--		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
--		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'ReciptTypes1'
		
--end
--END
--GO
----===============================================================================
--CREATE TRIGGER TR_ConfigChangeLog_ReciptTypes1
--ON ReciptTypes1
--AFTER UPDATE,DELETE
--AS
--SET NOCOUNT ON
--BEGIN
--if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
--begin
--		DECLARE @previousRowXmlValues XML
--		DECLARE	@currentRowXmlValues XML
		
--				--Get the previous value
--		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
--		--Get the current value
--		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
--		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'ReciptTypes1'
		
--end
--END
--GO
----=================================================================================
--CREATE TRIGGER TR_ConfigChangeLog_ReciptTypes2
--ON ReciptTypes2
--AFTER INSERT,UPDATE,DELETE
--AS
--SET NOCOUNT ON
--BEGIN
--if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
--begin
--		DECLARE @previousRowXmlValues XML
--		DECLARE	@currentRowXmlValues XML
		
--				--Get the previous value
--		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
--		--Get the current value
--		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
--		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'ReciptTypes2'
		
--end
--END

--================================================================================
CREATE TRIGGER TR_ConfigChangeLog_Customers
	   ON  [dbo].[Customers]  AFTER INSERT,UPDATE,DELETE
AS
BEGIN
SET NOCOUNT ON;
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'Customers'
		
end
END
--================================================================================
GO

--================================================================================
CREATE TRIGGER TR_ConfigChangeLog_StuffCoding
	   ON  [dbo].[StuffCoding]  AFTER INSERT,UPDATE,DELETE
AS
BEGIN
SET NOCOUNT ON;
 if exists (select * from sysobjects where id = object_id(N'[dbo].[INsertTOLogFile]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
		DECLARE @previousRowXmlValues XML
		DECLARE	@currentRowXmlValues XML
		
		--Get the previous value
		SET @previousRowXmlValues = (SELECT * FROM deleted FOR XML AUTO)
		--Get the current value
		SET @currentRowXmlValues = (SELECT * FROM inserted FOR XML AUTO)
		exec INsertTOLogFile @previousRowXmlValues,@currentRowXmlValues,'StuffCoding'
		
end
END
--================================================================================
GO
