--IF ( COLUMNPROPERTY( OBJECT_ID('Forms'),'Transmittal','IsRowGuidCol')IS NULL )
-- ALTER TABLE dbo.Forms ADD Transmittal int NOT NULL DEFAULT (0)
 
--------------------------------------On Forms For Update

--IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnForm', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowUpdateTrans3OnForm;
--GO
--CREATE TRIGGER TR_NotAllowUpdateTrans3OnForm
--ON dbo.Forms AFTER UPDATE 
--AS

--IF EXISTS (SELECT i.FormID FROM  deleted d INNER JOIN 
--                  inserted i ON d.FormID=i.FormID AND d.ServerID=i.ServerID AND d.YearID=i.YearID
--           WHERE (i.Transmittal = d.Transmittal))
--IF EXISTS (SELECT f.FormID FROM  dbo.Forms f INNER JOIN 
--                  deleted d ON f.FormID=d.FormID AND f.ServerID=d.ServerID AND f.YearID=d.YearID
--           WHERE f.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--GO
--------------------------------------On Forms For Delete

--IF OBJECT_ID ('TR_NotAllowDeleteTrans13OnForms', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowDeleteTrans13OnForms;
--GO
--CREATE TRIGGER TR_NotAllowDeleteTrans13OnForms
--ON dbo.Forms AFTER DELETE
--AS

--IF EXISTS (SELECT FormID FROM  deleted  WHERE Transmittal IN(1,3))
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK; 
--END 

--GO
---------------------------------------On FormItems For Update & Insert

--IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnFItems', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowUpdateTrans3OnFItems;
--GO
--CREATE TRIGGER TR_NotAllowUpdateTrans3OnFItems
--ON dbo.FormItems AFTER UPDATE , INSERT
--AS

--IF EXISTS (SELECT f.FormID FROM  dbo.Forms f INNER JOIN 
--                  dbo.FormItems fi ON fi.FormID=f.FormID AND fi.ServerID=f.ServerID AND fi.YearID=f.YearID INNER JOIN
--                  deleted d ON f.FormID=d.FormID AND f.ServerID=d.ServerID AND f.YearID=d.YearID 
--            WHERE f.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END
--ELSE 
--IF EXISTS (SELECT f.FormID FROM  dbo.Forms f INNER JOIN 
--                  dbo.FormItems fi ON fi.FormID=f.FormID AND fi.ServerID=f.ServerID AND fi.YearID=f.YearID INNER JOIN
--                  inserted i ON f.FormID=i.FormID AND f.ServerID=i.ServerID AND f.YearID=i.YearID 
--            WHERE f.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--GO

---------------------------------------On ReciptItems For Delete

--IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnFItems', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowDeleteTrans1OnFItems;
--GO
--CREATE TRIGGER TR_NotAllowDeleteTrans1OnFItems
--ON dbo.FormItems AFTER DELETE
--AS

--IF EXISTS (SELECT f.FormID FROM  deleted d INNER JOIN
--                  dbo.Forms f ON d.FormID = f.FormID AND d.ServerID = f.ServerID AND d.YearID = f.YearID 
--            WHERE f.Transmittal = 1)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
--  ROLLBACK; 
--END 

--GO











