--if ( COLUMNPROPERTY( OBJECT_ID('Recipts'),'Transmittal','IsRowGuidCol')is null )
-- ALTER TABLE Recipts ADD Transmittal int NOT NULL DEFAULT (0)
 
--------------------------------------On Recipts For Update

--IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRecipt', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowUpdateTrans3OnRecipt;
--GO
--CREATE TRIGGER TR_NotAllowUpdateTrans3OnRecipt
--ON Recipts AFTER UPDATE 
--AS

----IF EXISTS (SELECT i.ReciptID FROM  deleted d INNER JOIN 
----                  inserted i ON d.ReciptID=i.ReciptID AND d.ServerID=i.ServerID AND d.YearID=i.YearID
----           WHERE ( i.Transmittal = d.Transmittal) 

--if not(update(Transmittal) or update(ParentReciptID) or update(ParentCoReciptID))

--IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
--                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID
--           WHERE r.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--GO
--------------------------------------On Recipts For Delete

--IF OBJECT_ID ('TR_NotAllowDeleteTrans13OnRecipt', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowDeleteTrans13OnRecipt;
--GO
--CREATE TRIGGER TR_NotAllowDeleteTrans13OnRecipt
--ON Recipts AFTER DELETE
--AS

--IF EXISTS (SELECT ReciptID FROM  deleted  WHERE Transmittal IN(1,3))

--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK; 
--END 

--GO
---------------------------------------On ReciptItems For Update

--IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRItems', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowUpdateTrans3OnRItems;
--GO
--CREATE TRIGGER TR_NotAllowUpdateTrans3OnRItems
--ON ReciptItems AFTER UPDATE , INSERT
--AS
--IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
--                  ReciptItems i ON i.ReciptID=r.ReciptID AND i.ServerID=r.ServerID AND i.YearID=r.YearID INNER JOIN
--                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID 
--            WHERE r.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END
--ELSE 
--IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
--                  ReciptItems ri ON ri.ReciptID=r.ReciptID AND ri.ServerID=r.ServerID AND ri.YearID=r.YearID INNER JOIN
--                  inserted i ON r.ReciptID=i.ReciptID AND r.ServerID=i.ServerID AND r.YearID=i.YearID 
--            WHERE r.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--GO
---------------------------------------On ReciptsDeficits For Update & Insert

--IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRDeficit', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowUpdateTrans3OnRDeficit;
--GO
--CREATE TRIGGER TR_NotAllowUpdateTrans3OnRDeficit
--ON ReciptsDeficits AFTER UPDATE , INSERT
--AS

--IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
--                  ReciptsDeficits rd ON rd.ReciptID=r.ReciptID AND rd.ServerID=r.ServerID AND rd.YearID=r.YearID INNER JOIN
--                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID 
--            WHERE r.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--ELSE IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
--                  ReciptsDeficits rd ON rd.ReciptID = r.ReciptID AND rd.ServerID = r.ServerID AND rd.YearID = r.YearID INNER JOIN
--                  inserted i ON r.ReciptID = i.ReciptID AND r.ServerID = i.ServerID AND r.YearID = i.YearID 
--            WHERE r.Transmittal=3)
--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
--  ROLLBACK;
--END

--GO
---------------------------------------On ReciptItems For Delete

--IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRItems', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowDeleteTrans1OnRItems;
--GO
--CREATE TRIGGER TR_NotAllowDeleteTrans1OnRItems
--ON ReciptItems AFTER DELETE
--AS

--IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
--                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
--            WHERE Transmittal IN(1,3))

--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
--  ROLLBACK; 
--END 

--GO
---------------------------------------On ReciptsDeficits For Delete

--IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRDeficit', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowDeleteTrans1OnRDeficit;
--GO
--CREATE TRIGGER TR_NotAllowDeleteTrans1OnRDeficit
--ON ReciptsDeficits AFTER DELETE
--AS

--IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
--                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
--            WHERE Transmittal IN(1,3))

--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
--  ROLLBACK; 
--END 

--GO
---------------------------------------On ReciptsDeficits For Insert

--IF OBJECT_ID ('TR_NotAllowInsertTrans1OnRDeficit', 'TR') IS NOT NULL
--   DROP TRIGGER TR_NotAllowInsertTrans1OnRDeficit;
--GO
--CREATE TRIGGER TR_NotAllowInsertTrans1OnRDeficit
--ON ReciptsDeficits AFTER DELETE
--AS

--IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
--                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
--            WHERE Transmittal = 1)

--BEGIN
--  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
--  ROLLBACK; 
--END 










