---   UpdateBank13   1403 08 16
SET NOCOUNT ON

declare @LinkServerName varchar(500)
select @LinkServerName=c.LinkServerName from Config c
update Config set LinkServerName=''


if  exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Analyze]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 Drop TABLE [dbo].[Analyze]
 
 if not exists (select * from dbo.sysobjects where id = object_id(N'Util.Analyze') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
CREATE TABLE Util.Analyze(ID int NOT NULL,TableKind int NOT NULL,CaptionName nvarchar(50) NOT NULL,
FieldName varchar(50) NOT NULL,	TableName varchar(250) NULL,
TopicName varchar(50) NULL,	AliasName varchar(50) NULL,
JoinFieldName varchar(50) NULL,	CONSTRAINT PK_Analyze PRIMARY KEY CLUSTERED
(ID ASC,TableKind ASC )	) ON [PRIMARY]
end
 
 if (SELECT COUNT(*) FROM Util.Analyze  WHERE TableKind = 20 )<25
 begin
  DELETE Util.Analyze WHERE TableKind = 20
 INSERT INTO Util.Analyze
 (ID,TableKind, CaptionName, FieldName, TableName, TopicName, AliasName, JoinFieldName)
 SELECT 1,20,'انبار','R.StoreID','Stores','c_StoreName',NULL,'n_StoreID'
 union all
 SELECT 2,20,'گروه‏کالا','StuffCoding.GroupID','StuffGroups','GroupName',NULL,'GroupID'
 union all
 SELECT 4,20,'کدکالا','R.StuffCode','StuffCoding','c_StuffName',NULL,'c_StuffCode'
 union all
 SELECT 5,20,'گروه‏مشتري1','C1.CustomerGrpID','CustomersGroup','CustomerGrpName','GC1','CustomerGrpID'
 union all
 SELECT 6,20,'گروه‏مشتري2','C2.CustomerGrpID','CustomersGroup','CustomerGrpName','GC2','CustomerGrpID'
 union all
 SELECT 7,20,'گروه‏مشتري3','C3.CustomerGrpID','CustomersGroup','CustomerGrpName','GC3','CustomerGrpID'
 union all
 SELECT 8,20,'گروه‏مشتري‏آيتم','CItem.CustomerGrpID','CustomersGroup','CustomerGrpName','GCItem','CustomerGrpID'
 union all
 SELECT 9,20,'مشتري1','R.PersonID1','Customers','CustName','C1','CustID'
 union all
 SELECT 10,20,'مشتري2','R.PersonID2','Customers','CustName','C2','CustID'
 union all
 SELECT 11,20,'مشتري3','R.PersonID3','Customers','CustName','C3','CustID'
 union all
 SELECT 12,20,'کدمشتريِ‏آيتم','R.PersonID1D','Customers','CustName','CItem','CustID'
 union all
 SELECT 13,20,'نوع‏اطلاعات','R.SecondType','LookUps','Name',NULL,'LookUpID'
 union all
 SELECT 14,20,'‏محل‏مصرف','R.UseUnitID','UseUnits','UseUnitName','U1','UseUnitID'
 union all
 SELECT 15,20,'محل‏مصرف‏آيتم','R.UseUnitID','UseUnits','UseUnitName','U2','UseUnitID'
 union all
 SELECT 16,20,'مدل‏کالا','R.ProductModel','LookUps','Name',NULL,'LookUpID'
 union all
 SELECT 17,20,'سال‏مالي','R.YearID','Util.MaliYear','YearID','Y','YearID'
 union all
 SELECT 18,20,'ماه','SUBSTRING(R.ReciptDate, 6, 2)','Months','Name','M','MonthID'
 union all
 SELECT 19,20,'عنوان فرم','R.ReciptType','ReciptTypes','ReciptCaption','RC','ReciptType'
 union all
 SELECT 20,	20,'اموالی','R.productCode','	StuffCoding','c_StuffName','S','c_StuffCode'
 union all
 SELECT 21,20,'انبار2(انتقالی)','R.StoreID2','Stores','c_StoreName','Stores2','n_StoreID'
 union all
 SELECT 22,	20	,'شهر'	,'C1.CityCode','Zone','Shahr','Z','ShahrCode'
 union all
 SELECT 23,	20,	'استان'	,'C1.StateCode','Zone','Ostan','Z','OstanCode'
union all
 SELECT 24,	20,	'مركز فروش'	,'R.SellsEmporium','SellsEmporiums','SellsEmporiumName','SE','SellsEmporium'
 union all
 SELECT 25,	20,	'کد ملی'	,'R.PersonID1','Customers','NationalID','CN','CustID'
 union all
 SELECT 26,	20,	'آدرس'	,'R.PersonID1','Customers','address','CA','CustID'
 end
 							
								
								



 
 IF (( SELECT COUNT(*) FROM Util.Analyze WHERE TableKind = 21 ) = 0)
BEGIN
 INSERT INTO Util.Analyze(ID, TableKind, CaptionName, FieldName, TableName, TopicName, AliasName, JoinFieldName)
 SELECT 50, 21, 'پرسنل', 'Func.PersonId', 'dbo.Customers', 'CustName', 'CFP', 'CustID'
 UNION ALL
 SELECT 51, 21, 'محصول', 'Func.StuffId', 'dbo.StuffCoding', 'c_StuffName', 'SFS', 'c_StuffCode'
 UNION ALL
 SELECT 52, 21, 'خودرو', 'Func.MachineId', 'dbo.StuffCoding', 'c_StuffName', 'SFM', 'c_StuffCode'
 UNION ALL
 SELECT 53, 21, 'مزرعه', 'Func.EarthField', 'Agr.Earth', 'EarthDesc', NULL, 'EarthField'
 UNION ALL
 SELECT 54, 21, 'قطعه', 'Func.Gate', 'Agr.Earth', 'Gate', 'EFE', 'Gate'
 UNION ALL
 SELECT 55, 21, 'عملیات', 'Func.StuffCode2', 'dbo.StuffCoding', 'c_StuffName', 'SFS2', 'c_StuffCode'
 UNION ALL
 SELECT 56, 21, 'کارگاه', 'Func.WorkShopId', 'dbo.Customers', 'CustName', 'CFW', 'CustID'
 UNION ALL
 SELECT 57, 21, 'پرونده', 'Func.CaseId', 'dbo.Customers', 'CustName', 'CFC', 'CustID'
 UNION ALL
 SELECT 58, 21, 'ادوات', 'Func.StuffCode3', 'dbo.StuffCoding', 'c_StuffName', 'SFS3', 'c_StuffCode'
 UNION ALL
 SELECT 59, 21, 'سال‏مالي', 'SUBSTRING(Func.FunctionDate, 1, 2)', 'Util.MaliYear', 'YearID', 'YFF', 'YearID'
 UNION ALL
 SELECT 60, 21, 'ماه', 'SUBSTRING(Func.FunctionDate, 6, 2)', 'Tsh.Months', 'MonthName', 'MFF', 'MonthID'
 UNION ALL
 SELECT 61, 21, 'نوع‏کارکرد', 'Func.FunctionType', 'Tsh.FunctionType', 'FunctionTypeName', NULL, 'FunctionTypeId'
END

 IF (( SELECT COUNT(*) FROM Util.Analyze WHERE TableKind = 22 ) < 27)
BEGIN
 DELETE Util.Analyze WHERE TableKind = 22
 INSERT INTO Util.Analyze(ID, TableKind, CaptionName, FieldName, TableName, TopicName, AliasName, JoinFieldName)
 SELECT 70, 22,'گروه‏مشتري1','C1.CustomerGrpID','CustomersGroup','CustomerGrpName','GC1','CustomerGrpID'
 union all
 SELECT 71, 22,'گروه‏مشتري2','C2.CustomerGrpID','CustomersGroup','CustomerGrpName','GC2','CustomerGrpID'
 union all
 SELECT 72, 22,'گروه‏مشتري3','C3.CustomerGrpID','CustomersGroup','CustomerGrpName','GC3','CustomerGrpID'
 union all
 SELECT 73, 22,'گروه‏مشتري‏آيتم','CItem.CustomerGrpID','CustomersGroup','CustomerGrpName','FCItem','CustomerGrpID'
 union all
 SELECT 74, 22, N'مشتري1', N'Forms.CustomerID1', N'Customers', N'CustName', N'C1', N'CustID'
 UNION ALL
 SELECT 75, 22, N'مشتري2', N'Forms.CustomerID2', N'Customers', N'CustName', N'C2', N'CustID'
 UNION ALL
 SELECT 76, 22, N'مشتري3', N'Forms.CustomerID3', N'Customers', N'CustName', N'C3', N'CustID'
 UNION ALL
 SELECT 77, 22, N'مشتريِ‏آيتم', N'FormItems.CustomerID2', N'Customers', N'CustName', N'FCItem', N'CustID'
 UNION ALL
 SELECT 78, 22, N'مرکزفروش', N'Forms.SellsEmporium', N'SellsEmporiums', N'SellsEmporiumName', N'FS1', N'SellsEmporium'
 UNION ALL
 SELECT 79, 22, N'نحوه‏فروش', N'Forms.SellsMethod', N'SellsMethods', N'SellsMethodName', N'FS2', N'SellsMethod'
 UNION ALL
 SELECT 80, 22, N'نوع‏دریافت‏پرداخت', N'Forms.PayTypes', N'LookUps', N'Name', N'FP', N'LookUpID'
 UNION ALL
 SELECT 81, 22, N'موضوع‏دریافت‏پرداخت', N'Forms.TopicTypes', N'LookUps', N'Name', N'FT', N'LookUpID'
 UNION ALL
 SELECT 82, 22, N'ماه‏فرم', N'SUBSTRING(Forms.FormDate, 6, 2)', N'Months', N'Name', N'FM', N'MonthID'
 UNION ALL
 SELECT 83, 22, N'سال‏فرم', N'Forms.YearID', N'Util.MaliYear', N'YearID', N'FY', N'YearID'
 UNION ALL
 SELECT 84, 22, N'ماه‏سررسید', N'SUBSTRING(FormItems.CheckDate, 6, 2)', N'Months', N'Name', N'FSM', N'MonthID'
 UNION ALL
 SELECT 85, 22, N'سال‏سررسید', N'LEFT(FormItems.CheckDate, 2)', N'Util.MaliYear', N'YearID', N'FSY', N'YearID'
 UNION ALL
 SELECT 86, 22, N'نوع‏فرم', N'Forms.FormType', N'FormTypes', N'FormCaption', N'F', N'FormType'
 UNION ALL
 SELECT 87, 22, N'حساب', N'Forms.TopicCode', N'%W%.Acc.Categories', N'MoeenName_L1', N'FT1', N'TopicCode'
 UNION ALL
 SELECT 88, 22, N'تفصیلی', N'Forms.DetailCode', N'%W%.Acc.Details', N'DetailName_L1', N'FD', N'DetailCode'
 UNION ALL
 SELECT 89, 22, N'م‏ه1', N'Forms.CTopicCode', N'%W%.Acc.CenterTopics', N'CTopicName_L1', N'FCT1', N'CTopicCode'
 UNION ALL
 SELECT 90, 22, N'م‏ه2', N'Forms.CTopicCode2', N'%W%.Acc.CenterTopics2', N'CTopicName2_L1', N'FCT2', N'CTopicCode2'
 UNION ALL
 SELECT 91, 22, N'م‏ه3', N'Forms.CTopicCode3', N'%W%.Acc.CTopicCode3', N'CTopicName3_L1', N'FCT3', N'CTopicCode3'
 UNION ALL
 SELECT 92, 22, N'حساب‏آیتم', N'FormItems.TopicCode', N'%W%.Acc.Categories', N'MoeenName_L1', N'FIT1', N'TopicCode'
 UNION ALL
 SELECT 93, 22, N'تفصیلی‏آیتم', N'FormItems.DetailCode', N'%W%.Acc.Details', N'DetailName_L1', N'FID', N'DetailCode'
 UNION ALL
 SELECT 94, 22, N'م‏ه1آیتم', N'FormItems.CTopicCode', N'%W%.Acc.CenterTopics', N'CTopicName_L1', N'FICT1', N'CTopicCode'
 UNION ALL
 SELECT 95, 22, N'م‏ه2آیتم', N'FormItems.CTopicCode2', N'%W%.Acc.CenterTopics2', N'CTopicName2_L1', N'FICT2', N'CTopicCode2'
 UNION ALL
 SELECT 96, 22, N'م‏ه3آیتم', N'FormItems.CTopicCode3', N'%W%.Acc.CTopicCode3', N'CTopicName3_L1', N'FICT3', N'CTopicCode3' 
 UNION ALL
 SELECT 97, 22, N'مشتري4', N'Forms.CustomerID4', N'Customers', N'CustName', N'C4', N'CustID'
 
END



--delete Util.Analyze --------------------+++++++++++++++++++++++++++++++++++++++++==============================================


 IF (( SELECT COUNT(*) FROM Util.Analyze WHERE TableKind = 23 ) < 8)
BEGIN
 DELETE Util.Analyze WHERE TableKind = 23
 INSERT INTO Util.Analyze(ID, TableKind, CaptionName, FieldName, TableName, TopicName, AliasName, JoinFieldName)
 SELECT 101, 23, N'نوع دستور کار تعمیرات', N'M.MaintenanceKind', N'Machin.MaintenanceKinds', N'KindName', NULL, N'KindID'
 UNION ALL
 SELECT 102, 23, N'در خواست كننده', N'M.CustID1', N'Customers', N'CustName', N'C1', N'CustID'
 UNION ALL
 SELECT 103, 23, N'واحد تجهيزات(واحد سازماني)', N'M.CustID2', N'Customers', N'CustName', N'C2', N'CustID'
 UNION ALL
 SELECT 104, 23, N'مشتري3', N'M.CustID3', N'Customers', N'CustName', N'C3', N'CustID'
 UNION ALL
 SELECT 105, 23, N'ماشين آلات', N'M.StuffCode', N'StuffCoding', 'c_StuffName', 'S', 'c_StuffCode'
 UNION ALL
 SELECT 106, 23, N'تعمير كار', 'F.PersonId', 'Customers', 'CustName', 'CP', 'CustID'
 UNION ALL
 SELECT 107, 23, N'عملیات', 'F.StuffCode2', 'StuffCoding', 'c_StuffName', 'S2', 'c_StuffCode'
 UNION ALL
 SELECT 108, 23, N'ماه‏', N'SUBSTRING(F.FunctionDate, 6, 2)', N'Months', N'Name', NULL, N'MonthID'
 END

 IF (( SELECT COUNT(*) FROM Util.Analyze WHERE TableKind = 24 ) < 23)
BEGIN
 DELETE Util.Analyze WHERE TableKind = 24
 INSERT INTO Util.Analyze(ID, TableKind, CaptionName, FieldName, TableName, TopicName, AliasName, JoinFieldName)
 SELECT 121, 24, N'انبار', 'Recipts.StoreID', 'Stores', 'c_StoreName', 's1', 'n_StoreID'
 UNION ALL
 SELECT 122, 24, N'انبار2', 'Recipts.StoreID2', 'Stores', 'c_StoreName', 's2', 'n_StoreID'
 UNION ALL
 SELECT 123, 24, N'مركز فروش', 'Recipts.SellsEmporium', 'SellsEmporiums', 'SellsEmporiumName', 'SE', 'SellsEmporium'
 UNION ALL
 SELECT 124, 24, N'نحوه فروش', 'Recipts.SellsMethod', 'SellsMethods', 'SellsMethodName', 'SM', 'SellsMethod'
 UNION ALL
 SELECT 125, 24, N'مشتری1', 'Recipts.PersonID1', 'Customers', 'CustName', 'C1', 'CustID'
 UNION ALL
 SELECT 126, 24, N'مشتری2', 'Recipts.PersonID2', 'Customers', 'CustName', 'C2', 'CustID'
 UNION ALL
 SELECT 127, 24, N'مشتری3', 'Recipts.PersonID3', 'Customers', 'CustName', 'C3', 'CustID'
 UNION ALL
 SELECT 128, 24, N'مشتری4', 'Recipts.PersonID4', 'Customers', 'CustName', 'C4', 'CustID'
 UNION ALL
 SELECT 129, 24, N'ماه', 'SUBSTRING(Recipts.ReciptDate,6,2)', 'Months', 'Name', 'Months', 'MonthID'
 UNION ALL
 SELECT 130, 24, N'سال‏مالي', 'Recipts.YearID', 'Util.MaliYear', 'StartYear', 'Y', 'YearID'
 UNION ALL
 SELECT 131, 24, N'نوع ارز', 'Recipts.ArzTypeID', ' Acc.Currencies', 'CurrenciesName', 'Cu', 'CurrenciesID'
 UNION ALL
 SELECT 132, 24, N'نوع اطلاعات', 'Recipts.SecondType', 'LookUps', 'Name', 'L1', 'LookUpID'
 UNION ALL
 SELECT 133, 24, N'كدم مصرف', 'Recipts.UseUnitID', 'UseUnits', 'UseUnitName', 'U', 'UseUnitID'
 UNION ALL
 SELECT 134, 24, N'سايرمحل.‏م', 'Recipts.UseOtherID', 'UseOthers', 'UseOtherName', 'UO', 'UseOtherID' 
 UNION ALL
 SELECT 135, 24, N'کالا', 'ReciptItems.StuffCode', 'StuffCoding', 'c_StuffName', 'SC', 'c_StuffCode' 
 UNION ALL
 SELECT 136, 24, N'مشتری آیتم', 'ReciptItems.PersonID1', 'Customers', 'CustName', 'CI', 'CustID'
 UNION ALL
 SELECT 137, 24, N'مدل', 'ReciptItems.ProductModel',  'LookUps', 'Name', 'LPM', 'LookUpID'
 UNION ALL
 SELECT 138, 24, N'نوع اطلاعات آیتم', 'ReciptItems.SecondTypeItem',   'LookUps', 'Name', 'LSTi', 'LookUpID'
 UNION ALL
 SELECT 139, 24, N'محصول', 'ReciptItems.ProductCode', 'StuffCoding', 'c_StuffName', 'SPc', 'c_StuffCode' 
 UNION ALL
 SELECT 140, 24, N'م.مصرف آیتم', 'ReciptItems.UseUnitID',  'UseUnits', 'UseUnitName', 'UI', 'UseUnitID'
 UNION ALL
 SELECT 141, 24, N'تاریخ', 'Recipts.ReciptDate', 'Tsh.Calendar', 'WeekDayName', 'Ca', 'CalendarDate'
 UNION ALL
 SELECT 142, 24, N'روزماه', 'SUBSTRING(Recipts.ReciptDate,6,5)', 'Tsh.Calendar', 'SUBSTRING(Recipts.ReciptDate,6,5)', 'Ca1', 'CalendarDate'
 UNION ALL
 SELECT 143, 24, N'روز',    'SUBSTRING(Recipts.ReciptDate,9,2)', 'Tsh.Calendar',  'SUBSTRING(Recipts.ReciptDate,9,2)', 'Ca2', 'CalendarDate'
 END


 if not exists (select * from dbo.sysobjects where id = object_id(N'Util.AnalyzeItems') and
 OBJECTPROPERTY(id, N'IsUserTable') = 1)
 CREATE TABLE Util.AnalyzeItems(
 ID int NOT NULL,
 FieldName nvarchar(50) NOT NULL,
 DisPlayName nvarchar(50) NOT NULL,
 Kind Tinyint NOT NULL,
 CONSTRAINT PK_AnalyzeItems PRIMARY KEY CLUSTERED (ID ASC) ON [PRIMARY]) ON [PRIMARY]


-------------------------------------------------
--------------------------------------------------
IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'WaterCoEffect','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD WaterCoEffect Tinyint NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'SumOnStuffCode','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD SumOnStuffCode Tinyint NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'ReportID','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD ReportID int

DECLARE @BarCodeKind tinyint
SELECT @BarCodeKind=BarCodeKind  FROM Config
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'BarCodeKind','IsRowGuidCol')is  null )  
EXEC('ALTER TABLE ReciptTypes ADD BarCodeKind tinyint  NOT NULL  DEFAULT ('+@BarCodeKind+') ')
end

if ( COLUMNPROPERTY( OBJECT_ID('ReciptItems'),'IRow','IsRowGuidCol')is  null )  
ALTER TABLE ReciptItems ADD IRow int
		
if ( COLUMNPROPERTY( OBJECT_ID('Config'),'StopBits','IsRowGuidCol')is  null )  
ALTER TABLE Config ADD StopBits Tinyint NOT NULL  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Config'),'Parity','IsRowGuidCol')is  null )  
ALTER TABLE Config ADD Parity Tinyint NOT NULL  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('StuffCoding'),'VatExempt','IsRowGuidCol')is  null )  
ALTER TABLE StuffCoding ADD VatExempt Tinyint NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('Manifesto'),'Statuss','IsRowGuidCol')is  null )  
ALTER TABLE Manifesto ADD Statuss Tinyint NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('Manifesto'),'SellOrBuy','IsRowGuidCol')is  null )  
ALTER TABLE Manifesto ADD SellOrBuy Tinyint NOT NULL  CONSTRAINT DF_Manifesto_SellOrBuy  DEFAULT (0)  

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'StepCorrelate','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD StepCorrelate  smallint  NOT NULL  DEFAULT (1) 

if ( COLUMNPROPERTY( OBJECT_ID('Customers'),'PurchasePercent','IsRowGuidCol')is  null )  
ALTER TABLE Customers ADD PurchasePercent  Float  

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'InsertAidOnRecall','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD InsertAidOnRecall  Tinyint  NOT NULL  DEFAULT (1) 

Declare @YearID int
Set @YearID=(SELECT max(YearID) FROM Util.MaliYear)
UPDATE UseUnits SET YearId = @YearID where  YearId = 0

--IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_UseUnits_MaliYear' AND type = 'F')
--  ALTER TABLE UseUnits WITH CHECK ADD  CONSTRAINT FK_UseUnits_MaliYear FOREIGN KEY(YearID)
--        REFERENCES Util.MaliYear (YearID)

IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_UseUnits_MaliYear' AND type = 'F')
  ALTER TABLE UseUnits  drop  CONSTRAINT FK_UseUnits_MaliYear 

if ( COLUMNPROPERTY( OBJECT_ID('Config'),'UseUnitsYearID','IsRowGuidCol')is  null )  
ALTER TABLE Config ADD UseUnitsYearID Tinyint NOT NULL  DEFAULT (0)

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'SellPriceCheck','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD SellPriceCheck  Tinyint  NOT NULL  DEFAULT (0) 

IF OBJECT_ID ('TR_UpdateAcconting', 'TR') IS NOT NULL
ALTER TABLE Customers  DISABLE TRIGGER TR_UpdateAcconting 
DECLARE @SellsEmporium INT
SELECT @SellsEmporium=SellsEmporium FROM SellsEmporiums

UPDATE Customers SET SellsEmporium = @SellsEmporium WHERE (SellsEmporium IS NULL)
IF OBJECT_ID ('TR_UpdateAcconting', 'TR') IS NOT NULL
ALTER TABLE Customers  ENABLE TRIGGER TR_UpdateAcconting 

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'DF_Customers_SellsEmporium' AND type = 'D')
  EXEC('ALTER TABLE Customers ADD CONSTRAINT DF_Customers_SellsEmporium  DEFAULT ('+@SellsEmporium+') FOR SellsEmporium')

if ( COLUMNPROPERTY( OBJECT_ID('RemainsEarly'),'SellsEmporium','IsRowGuidCol')is  null )  
  EXEC('ALTER TABLE RemainsEarly ADD SellsEmporium Int not null CONSTRAINT DF_RemainsEarly_SellsEmporium  DEFAULT ('+@SellsEmporium+')')  

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_RemainsEarly_SellsEmporium' AND type = 'F')
  ALTER TABLE RemainsEarly ADD CONSTRAINT FK_RemainsEarly_SellsEmporium FOREIGN KEY (SellsEmporium)REFERENCES
       SellsEmporiums (SellsEmporium)

if ( COLUMNPROPERTY( OBJECT_ID('RemainsEarly'),'ArzRemain','IsRowGuidCol')is  null )  
ALTER TABLE RemainsEarly ADD ArzRemain money not null CONSTRAINT DF_RemainsEarly_ArzRemain  DEFAULT (0)  

if ( COLUMNPROPERTY( OBJECT_ID('RemainsEarly'),'ArzTypeID','IsRowGuidCol')is  null )  
ALTER TABLE RemainsEarly ADD ArzTypeID int

if ( COLUMNPROPERTY( OBJECT_ID('FormItems'),'TopicTypesI','IsRowGuidCol')is  null )  
ALTER TABLE FormItems ADD TopicTypesI  int  

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'ControlEntityCol','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD ControlEntityCol  Tinyint  NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'IncreasingInventory','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD IncreasingInventory  Tinyint  NOT NULL  DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'IncreasingInventoryStore','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD IncreasingInventoryStore  Tinyint  NOT NULL  DEFAULT (0) 
end

if not exists (select * from dbo.sysobjects
where id = object_id(N'TempProductions') and OBJECTPROPERTY(id,N'IsUserTable') = 1)
begin
 CREATE TABLE TempProductions ( TempProductionsID int Identity(1,1) NOT NULL ,
 StuffCode bigint NOT NULL , BalanceDate char(10),
 BalanceEntity float NOT NULL,	BalanceWeight float NOT NULL,
 CONSTRAINT PK_TempProductions PRIMARY KEY CLUSTERED (TempProductionsID) ON [PRIMARY] ,
-- CONSTRAINT FK_TempProductions_StuffCoding FOREIGN KEY (StuffCode)REFERENCES StuffCoding (c_StuffCode) ON UPDATE CASCADE
 ) ON [PRIMARY]
end

DELETE FROM Util.CodesInProcess
WHERE     (FormName IS NULL) --AND ([Ip] IS NULL)


IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'ShortCutKey','IsRowGuidCol')is  null )  
begin
  ALTER TABLE ReciptTypes ADD ShortCutKey  varchar(20) 
  UPDATE ReciptTypes1 SET SugarActive = 0  
end  

if ( SELECT name FROM sysobjects where name='CK_Config_stCount')is null
ALTER TABLE Config ADD CONSTRAINT CK_Config_stCount CHECK (stCount > -1 AND stCount < 16  )

if ( COLUMNPROPERTY( OBJECT_ID('Config'),'UnicStuffCodingKind','IsRowGuidCol')is  null )  
ALTER TABLE Config ADD UnicStuffCodingKind  Tinyint  NOT NULL  DEFAULT (1) 

if ( COLUMNPROPERTY( OBJECT_ID('Config'),'Miladi_ValiDate_Date_Check','IsRowGuidCol')is  null )  
ALTER TABLE Config ADD Miladi_ValiDate_Date_Check  Tinyint  NOT NULL  DEFAULT (0) 

--if ( COLUMNPROPERTY( OBJECT_ID('FormItems'),'AccountNumberNew1','IsRowGuidCol')is  null )  
if (SELECT COLUMNPROPERTY( OBJECT_ID('FormItems'),'AccountNumberNew','PRECISION'))<=53
begin
UPDATE FormItems  SET AccountNumberNew1 =convert(VARCHAR,convert(BIGINT,ROUND(AccountNumberNew,0)))

ALTER TABLE FormItems ALTER COLUMN AccountNumberNew VARCHAR(60)

UPDATE FormItems  SET  AccountNumberNew = AccountNumberNew1

--ALTER TABLE FormItems DROP COLUMN AccountNumberNew1 

END

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'TopicCodeActive','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD TopicCodeActive Tinyint NOT NULL  DEFAULT (1) 
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'DetailCodeActive','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD DetailCodeActive Tinyint NOT NULL  DEFAULT (1) 
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'CTopicCode1Active','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD CTopicCode1Active Tinyint NOT NULL  DEFAULT (1) 
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'CTopicCode2Active','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD CTopicCode2Active Tinyint NOT NULL  DEFAULT (1) 
end

if ( COLUMNPROPERTY( OBJECT_ID('StuffGroups'),'GroupType','IsRowGuidCol')is  null )  
ALTER TABLE StuffGroups ADD GroupType Tinyint NOT NULL  DEFAULT (0) 

UPDATE    Config
SET ActiveSubsys =(SELECT LTRIM(ActiveCoffer) +   LTRIM(ActiveBsell) + LTRIM(ActiveStore) + 
                          LTRIM(ActiveSchedule) + LTRIM(ActiveProcurement) +'0000000000000000000'+ 
                          LTRIM(ActiveManeger) 
FROM         Config)
WHERE     (ActiveSubsys = '0' )


--IF NOT EXISTS (SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
--WHERE       (TABLE_NAME = N'StuffCoding') AND (COLUMN_NAME = N'c_StuffTecInfo') AND (DATA_TYPE='varchar') AND (CHARACTER_MAXIMUM_LENGTH =150 ))
--   ALTER TABLE StuffCoding ALTER COLUMN c_StuffTecInfo VARCHAR(150)

IF not  EXISTS (SELECT name FROM sysobjects WHERE name = 'DF_ReciptItems_DeficitValue1' AND type = 'D')
begin
IF EXISTS (SELECT * FROM  sysobjects WHERE id = object_id(N'ReciptItemSum') AND OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW ReciptItemSum
IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'DF_ReciptItems_DeficitValue' AND type = 'D')
  ALTER TABLE ReciptItems DROP CONSTRAINT DF_ReciptItems_DeficitValue

IF   EXISTS (select * from sysindexes WHERE     (name = N'IX_ReciptItems_ReciptID'))
DROP INDEX IX_ReciptItems_ReciptID ON ReciptItems

IF   EXISTS (select * from sysindexes WHERE     (name = N'IX_ReciptItems_1'))
DROP INDEX IX_ReciptItems_1 ON ReciptItems
  

  UPDATE ReciptItems SET DeficitValue=0 WHERE DeficitValue IS NULL
  ALTER TABLE ReciptItems ALTER COLUMN DeficitValue money NOT NULL
  ALTER TABLE ReciptItems ADD  CONSTRAINT DF_ReciptItems_DeficitValue1  DEFAULT (0) FOR DeficitValue

end




IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'RoundCount','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD RoundCount smallint NOT NULL  DEFAULT (-2) 

  
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'RecallReciptState1','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD RecallReciptState1 tinyint NOT NULL  DEFAULT (0) 


--if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'SugarCoActive','IsRowGuidCol')is  null )  
--ALTER TABLE ReciptTypes ADD SugarCoActive  Tinyint  NOT NULL  DEFAULT (0) 
 
--if ( COLUMNPROPERTY( OBJECT_ID('Counting'),'Statuss','IsRowGuidCol')is  null )  
--ALTER TABLE Counting ADD Statuss Tinyint NOT NULL  DEFAULT (0) 

end

IF NOT EXISTS (SELECT name FROM sysobjects WHERE name = 'DF_Forms_PayTypes' AND type = 'D')
begin
DECLARE @S SYSNAME
SET @S=''
DECLARE @SQL NVARCHAR(500)
SET @SQL=''
WHILE @S IS NOT NULL
BEGIN
	SELECT @S=NAME FROM sysobjects WHERE NAME  LIKE'DF_%Forms_%PayType%'
 	                       AND NAME<>'DF_Forms_PayTypes' 
	IF OBJECT_ID(@S,'D') IS NOT NULL
	BEGIN
		SET @SQL='ALTER TABLE dbo.Forms DROP CONSTRAINT '+@S
		exec(@SQL)
	END
	ELSE 
	SET	@S=NULL
END
ALTER TABLE Forms ALTER COLUMN PayTypes   int
--ALTER TABLE Forms ALTER COLUMN TopicTypes int
ALTER TABLE Forms ADD CONSTRAINT DF_Forms_PayTypes DEFAULT (0) FOR PayTypes
END

IF NOT EXISTS (SELECT name FROM sysobjects WHERE name = 'DF_Forms_TopicTypes' AND type = 'D')
begin
--DECLARE @S SYSNAME
SET @S=''
--DECLARE @SQL NVARCHAR(500)
SET @SQL=''
WHILE @S IS NOT NULL
BEGIN
	SELECT @S=NAME FROM sysobjects WHERE NAME  LIKE'DF_%Forms_%TopicType%'
 	                       AND NAME<>'DF_Forms_TopicTypes' 
	IF OBJECT_ID(@S,'D') IS NOT NULL
	BEGIN
		SET @SQL='ALTER TABLE dbo.Forms DROP CONSTRAINT '+@S
		exec(@SQL)
	END
	ELSE 
	SET	@S=NULL
END
ALTER TABLE Forms ALTER COLUMN TopicTypes int
ALTER TABLE Forms ADD CONSTRAINT DF_Forms_TopicTypes DEFAULT (0) FOR TopicTypes
END
update Config set LinkServerName=@LinkServerName