----------------------------------------EarthField------------------------------------------
set nocount on


if ( COLUMNPROPERTY( OBJECT_ID('Recipts'),'Transmittal','IsRowGuidCol')is null )
 ALTER TABLE Recipts ADD Transmittal int NOT NULL DEFAULT (0)
 

IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRecipt', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRecipt;


IF OBJECT_ID ('TR_NotAllowDeleteTrans13OnRecipt', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans13OnRecipt;


IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRItems', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRItems;

IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRDeficit;

IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRItems', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans1OnRItems;

IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans1OnRDeficit;

IF OBJECT_ID ('TR_NotAllowInsertTrans1OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowInsertTrans1OnRDeficit;
   
IF OBJECT_ID ('TR_ConfigChangeLog_recipts', 'TR') IS NOT NULL
DROP TRIGGER TR_ConfigChangeLog_recipts

IF OBJECT_ID ('TR_ConfigChangeLog_Forms', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigChangeLog_Forms

IF OBJECT_ID ('[TR_ConfigChangeLog_dbo.FormItems]', 'TR') IS NOT NULL 
DROP TRIGGER [TR_ConfigChangeLog_dbo.FormItems]

--------------------------------------------------------------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_ReciptItems', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigChangeLog_ReciptItems

IF OBJECT_ID ('TR_ConfigurationsChangeLog', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigurationsChangeLog

IF OBJECT_ID ('TR_ConfigurationsChangeLog_recipts', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigurationsChangeLog_recipts

IF OBJECT_ID ('TR_ConfigurationsChangeLog_reciptitems', 'TR') IS NOT NULL 
DROP TRIGGER TR_ConfigurationsChangeLog_reciptitems

--------------------------------------------------------------------------------



DECLARE @S SYSNAME
SET @S=''

DECLARE @SQL NVARCHAR(500)
SET @SQL=''
WHILE @S is not NULL
BEGIN
	SELECT @S=NAME FROM sysobjects WHERE NAME  like'DF%EarthLimi%Earth%'
	IF @S<>'' or @S<>NULL
	BEGIN
		SET @SQL='ALTER TABLE Agr.EarthLimit DROP CONSTRAINT '+@S
		exec(@SQL)
        SET @S=''
	END
	ELSE 
	SET	@S=NULL
END

SET @S=''
WHILE @S is not NULL
BEGIN

	SELECT @S=NAME FROM sysobjects WHERE NAME  like'DF%ReciptIte%Earth%'
 	-- and NAME<>'DF_EarthLimit_EarthField' 
	IF OBJECT_ID(@S,'D') IS NOT NULL
	BEGIN
		SET @SQL='ALTER TABLE ReciptItemsRelease DROP CONSTRAINT '+@S
		exec(@SQL)
	END
	ELSE 
	SET	@S=NULL
END



IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItemsRelease_Earth' AND type = 'F')
ALTER TABLE ReciptItemsRelease	DROP CONSTRAINT FK_ReciptItemsRelease_Earth

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_EarthLimit_Earth' AND type = 'F')
begin
--ALTER EarthLimit NOCHECK CONSTRAINT --FK_EarthLimit_Earth
ALTER TABLE  Agr.EarthLimit	DROP CONSTRAINT FK_EarthLimit_Earth
end


IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Functions_Earth' AND type = 'F')
ALTER TABLE  Tsh.Functions	DROP CONSTRAINT FK_Functions_Earth

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'PK_Earth' AND type = 'K')
 ALTER TABLE Agr.Earth	DROP CONSTRAINT PK_Earth
 

IF NOT EXISTS (SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE       (TABLE_NAME = N'Earth') AND (COLUMN_NAME = N'EarthField') AND (DATA_TYPE='varchar') AND (CHARACTER_MAXIMUM_LENGTH =10 ))
begin

ALTER TABLE Agr.Earth ALTER COLUMN EarthField varchar(10) Not Null
ALTER TABLE Agr.EarthLimit ALTER COLUMN EarthField varchar(10) Not Null
ALTER TABLE ReciptItemsRelease ALTER COLUMN EarthField varchar(10) Not Null

end

ALTER TABLE Agr.Earth ADD 
CONSTRAINT PK_Earth PRIMARY KEY CLUSTERED (EarthField,Gate) ON [PRIMARY] 

if  exists (select * from dbo.sysobjects where id = object_id(N'ReciptItemsRelease') and    OBJECTPROPERTY(id, N'IsUserTable') = 1)
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItemsRelease_Earth' AND type = 'F')
 ALTER TABLE ReciptItemsRelease ADD CONSTRAINT FK_ReciptItemsRelease_Earth 
    FOREIGN KEY (EarthField,Gate)REFERENCES  Agr.Earth (EarthField,Gate) 
    
    
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_EarthLimit_Earth' AND type = 'F')
 ALTER TABLE Agr.EarthLimit ADD CONSTRAINT FK_EarthLimit_Earth FOREIGN KEY(EarthField, Gate)
REFERENCES Agr.Earth (EarthField, Gate)
ON UPDATE CASCADE  


--IF not  EXISTS (SELECT * FROM sysobjects WHERE NAME  = N'DF_EarthLimit_EarthField'   AND type = 'D')
--ALTER TABLE Agr.EarthLimit ADD  CONSTRAINT DF_EarthLimit_EarthField  DEFAULT (0) FOR EarthField
--IF not  EXISTS (SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'DF_EarthLimit_EarthField') AND type = 'D')
--ALTER TABLE Agr.EarthLimit ADD  CONSTRAINT DF_EarthLimit_EarthField  DEFAULT (0) FOR EarthField



    
if  exists (select * from dbo.sysobjects where id = object_id(N'ReciptItemsRelease') and    OBJECTPROPERTY(id, N'IsUserTable') = 1)
IF not  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'DF_ReciptItemsRelease_EarthField') AND type = 'D')
ALTER TABLE ReciptItemsRelease ADD  CONSTRAINT DF_ReciptItemsRelease_EarthField  DEFAULT (0) FOR EarthField
 

----------------------------------------EarthField-------------------------------------------




if not exists (SELECT     EarthGrpID FROM         EarthGroups WHERE     (EarthGrpID = 0))
INSERT INTO EarthGroups (EarthGrpID,  EarthGrpName) VALUES     (0, '0')

if not exists (SELECT     EarthField FROM         Agr.Earth WHERE     (EarthField = '0'))
INSERT INTO Agr.Earth (EarthField,Gate, EarthGrpID ,Meters,UnitCode) VALUES     (0, 0,0,0,1)

 
 --IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItemsRelease_Earth' AND type = 'F')
 --ALTER TABLE ReciptItemsRelease ADD CONSTRAINT FK_ReciptItemsRelease_Earth 
 --   FOREIGN KEY (EarthField,Gate)REFERENCES  Agr.Earth (EarthField,Gate) 
    
IF NOT EXISTS (SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE        (TABLE_NAME = N'ReciptItems') AND (COLUMN_NAME = N'ProductCode') AND (DATA_TYPE = N'bigint')
)
begin
--DECLARE @S SYSNAME
SET @S=''

--DECLARE @SQL NVARCHAR(500)
SET @SQL=''
WHILE @S is not NULL
BEGIN

	SELECT @S=NAME FROM sysobjects WHERE NAME  like'DF_%ReciptIte_%Produ%'
 	 and NAME<>'DF_ReciptItems_ProductCode' and NAME<>'DF_ReciptItems_ProductModel'
	IF OBJECT_ID(@S,'D') IS NOT NULL
	BEGIN
		SET @SQL='ALTER TABLE dbo.ReciptItems DROP CONSTRAINT '+@S
		exec(@SQL)
	END
	ELSE 
	SET	@S=NULL
END



ALTER TABLE ReciptItems ALTER COLUMN ProductCode BIGINT NOT NULL
end

IF OBJECT_ID('DF_ReciptItems_ProductCode','D') IS NULL
begin
ALTER TABLE ReciptItems ADD  CONSTRAINT DF_ReciptItems_ProductCode  DEFAULT (0) FOR ProductCode
ALTER TABLE ReciptItems ADD  CONSTRAINT DF_ReciptItems_ProductModel  DEFAULT (0) FOR ProductModel
end

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'EarthFieldGateActive','IsRowGuidCol')is  null )  
ALTER TABLE ReciptTypes ADD EarthFieldGateActive Tinyint NOT NULL DEFAULT(0)

----------------------------------  UpDate Recipts  ReciptItems --------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_recipts', 'TR') IS NOT NULL
ALTER TABLE Recipts DISABLE TRIGGER TR_ConfigChangeLog_recipts
IF OBJECT_ID ('TR_ConfigChangeLog_ReciptItems', 'TR') IS NOT NULL
ALTER TABLE ReciptItems DISABLE TRIGGER TR_ConfigChangeLog_ReciptItems

UpDate Recipts     Set PersonID1 = 0 Where  PersonID1 = Null
UpDate Recipts     Set PersonID2 = 0 Where  PersonID2 = Null
UpDate Recipts     Set PersonID3 = 0 Where  PersonID3 = Null
UpDate ReciptItems Set PersonID1 = 0 Where  PersonID1 = Null

UpDate Recipts     Set PersonID1 = 0 Where  PersonID1 is null
UpDate Recipts     Set PersonID2 = 0 Where  PersonID2 is Null
UpDate Recipts     Set PersonID3 = 0 Where  PersonID3 is Null
--UpDate ReciptItems Set PersonID1 = 0 Where  PersonID1 is Null

IF OBJECT_ID ('TR_ConfigChangeLog_recipts', 'TR') IS NOT NULL
ALTER TABLE Recipts ENABLE TRIGGER TR_ConfigChangeLog_recipts
IF OBJECT_ID ('TR_ConfigChangeLog_ReciptItems', 'TR') IS NOT NULL
ALTER TABLE ReciptItems ENABLE TRIGGER TR_ConfigChangeLog_ReciptItems
----------------------------------  UpDate Recipts  ReciptItems --------------------------


IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers' AND type = 'F')
ALTER TABLE Recipts Drop CONSTRAINT FK_Recipts_Customers
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers1' AND type = 'F')
ALTER TABLE Recipts Drop CONSTRAINT FK_Recipts_Customers1
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers2' AND type = 'F')
ALTER TABLE Recipts Drop CONSTRAINT FK_Recipts_Customers2
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers3' AND type = 'F')
ALTER TABLE Recipts Drop CONSTRAINT FK_Recipts_Customers3

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItems_Customers1' AND type = 'F')
ALTER TABLE ReciptItems Drop CONSTRAINT FK_ReciptItems_Customers1
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItems_Customers' AND type = 'F')
ALTER TABLE ReciptItems Drop CONSTRAINT FK_ReciptItems_Customers

IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
begin
declare @Pe varchar(500)
declare @PersonID1 int
SELECT     @PersonID1 =  Recipts.PersonID1,@Pe='در ' +ReciptTypes.ReciptCaption +str(Recipts.ReciptNumber)+' سال '+STR(YearID)
FROM         Recipts INNER JOIN
                      ReciptTypes1 ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (Recipts.PersonID1 NOT IN
                          (SELECT     CustID
                             FROM         Customers AS Customers_1))



set @Pe='پرسنل به شماره '+STR(@PersonID1)+@Pe+'  تعريف نشده'
if @PersonID1>0
  raiserror(@Pe,16,1)
                             
end                             

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers1' AND type = 'F')
 ALTER TABLE Recipts ADD CONSTRAINT FK_Recipts_Customers1 FOREIGN KEY(PersonID1)
REFERENCES Customers (CustID)
--ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers2' AND type = 'F')
 ALTER TABLE Recipts ADD CONSTRAINT FK_Recipts_Customers2 FOREIGN KEY(PersonID2)
REFERENCES Customers (CustID)
--ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Recipts_Customers3' AND type = 'F')
 ALTER TABLE Recipts ADD CONSTRAINT FK_Recipts_Customers3 FOREIGN KEY(PersonID3)
REFERENCES Customers (CustID)
--ON UPDATE CASCADE


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ReciptItems_Customers1' AND type = 'F')
 ALTER TABLE ReciptItems ADD CONSTRAINT FK_ReciptItems_Customers1 FOREIGN KEY(PersonID1)
REFERENCES Customers (CustID)
--ON UPDATE CASCADE

if ( COLUMNPROPERTY( OBJECT_ID('StuffCoding'),'acc_CTopicCode3','IsRowGuidCol')is  null )  
ALTER TABLE StuffCoding ADD acc_CTopicCode3 varchar(12) NOT NULL CONSTRAINT DF_StuffCoding_acc_CTopicCode3  DEFAULT (0)
