----3---     1401/03/30  Pay Active تاریخ
SET NOCOUNT ON
----------------------------------------------------------------------------------------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_FormInfoItems', 'TR') IS NOT NULL
ALTER TABLE Pay.FormInfoItems  DISABLE TRIGGER TR_ConfigChangeLog_FormInfoItems

IF OBJECT_ID ('TR_ConfigChangeLog_FormsInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.FormsInfo  DISABLE TRIGGER TR_ConfigChangeLog_FormsInfo

IF OBJECT_ID ('TR_ConfigChangeLog_Functions', 'TR') IS NOT NULL 
ALTER TABLE Pay.Functions   DISABLE TRIGGER TR_ConfigChangeLog_Functions

IF OBJECT_ID ('TR_ConfigChangeLog_FunctionsItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.FunctionsItems  DISABLE TRIGGER TR_ConfigChangeLog_FunctionsItems

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelInfo  DISABLE TRIGGER TR_ConfigChangeLog_PersonelInfo

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExt', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExt  DISABLE TRIGGER TR_ConfigChangeLog_PersonelDecExt

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExtItem', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExtItem  DISABLE TRIGGER TR_ConfigChangeLog_PersonelDecExtItem

IF OBJECT_ID ('TR_ConfigChangeLog_Interdicts', 'TR') IS NOT NULL 
ALTER TABLE Pay.Interdicts  DISABLE TRIGGER TR_ConfigChangeLog_Interdicts

IF OBJECT_ID ('TR_ConfigChangeLog_InterdictItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.InterdictItems  DISABLE TRIGGER TR_ConfigChangeLog_InterdictItems

IF OBJECT_ID ('TR_ConfigChangeLog_InsuranceCONSTinfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.InsuranceCONSTinfo  DISABLE TRIGGER TR_ConfigChangeLog_InsuranceCONSTinfo

IF OBJECT_ID ('TR_ConfigChangeLog_SalaryRange', 'TR') IS NOT NULL 
ALTER TABLE Pay.SalaryRange  DISABLE TRIGGER TR_ConfigChangeLog_SalaryRange
----------------------------------------------------------------------------------------------------------


--	INSERT INTO Util.MaliYear (YearID, StartYear, EndYear,Status)
--	SELECT top 1 SUBSTRING(StartMaliYear, 1, 4) ,StartMaliYear,FinishMaliYear ,0  FROM Config
--	where SUBSTRING(StartMaliYear, 1, 4) not in ( select YearID from  Util.MaliYear)


Declare @YearID int
 Set @YearID=(SELECT top 1 YearID FROM Util.MaliYear 
     where YearID=SUBSTRING((SELECT  StartMaliYear from Config), 1, 4) OR YearID=SUBSTRING((SELECT  StartMaliYear from Config), 3, 2)) 

 ------select @YearID,SUBSTRING((SELECT  StartMaliYear from Config), 1, 2),SUBSTRING((SELECT  StartMaliYear from Config), 1, 4)

 Declare @StartYear char(10)
 Set @StartYear=(SELECT top 1 StartYear FROM Util.MaliYear where YearID=SUBSTRING((SELECT  StartMaliYear from Config), 1, 4) )

 Declare @EndYear char(10)
 Set @EndYear =(SELECT top 1 EndYear FROM Util.MaliYear where YearID=SUBSTRING((SELECT  StartMaliYear from Config), 1, 4) )


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_TaxInfo_MaliYear' AND type = 'F')
begin

   IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecial_MaliYear' AND type = 'F')
     ALTER TABLE Pay.FunctionSpecial DROP CONSTRAINT FK_FunctionSpecial_MaliYear

   IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecialControl_MaliYear' AND type = 'F')
     ALTER TABLE Pay.FunctionSpecialControl DROP CONSTRAINT FK_FunctionSpecialControl_MaliYear

   IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MaliYearUsers_MaliYear' AND type = 'F')
     ALTER TABLE Util.MaliYearUsers DROP CONSTRAINT FK_MaliYearUsers_MaliYear

 if  exists (select * from dbo.sysobjects where id = object_id(N'Pay.TaxInfo') and OBJECTPROPERTY(id,N'IsUserTable') = 1)
 begin
 UPDATE Pay.TaxInfo  SET YearID = @YearID  WHERE YearID = NULL 
end

end

IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_TaxInfo_MaliYear' AND type = 'F')
 ALTER TABLE Pay.TaxInfo   Drop CONSTRAINT FK_TaxInfo_MaliYear 

if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.TaxInfo_Old_') and OBJECTPROPERTY(id,N'IsUserTable') = 1)
SELECT        TaxInfo.YearID, TaxInfo.Mounth, TaxInfo.PayKind, TaxInfo.Branch, TaxInfo.PostDate, TaxInfo.Bank, TaxInfo.TaxCheakDate, TaxInfo.TaxBranch, TaxInfo.TaxAccountNum, TaxInfo.TaxCheckSerial, TaxInfo.PaymentsCasesDate, 
                         TaxInfo.PaymentsCases, TaxInfo.Penalties4NonSubmission, TaxInfo.Penalties4NonPay, TaxInfo.Penalties4NonSubmissionLast, TaxInfo.Penalties4NonPayLast, TaxInfo.SalarieLastMonth, TaxInfo.SalarieBonusesLastMonth, 
                         TaxInfo.TaxLastMonth, TaxInfo.TaxDebtLastMonth--, TaxInfo.Paragraph
into Pay.TaxInfo_Old_
FROM            Pay.TaxInfo LEFT OUTER JOIN
                         Util.MaliYear ON TaxInfo.YearID = Util.MaliYear.YearID
WHERE        (Util.MaliYear.YearID IS NULL)

delete Pay.TaxInfo
FROM            Pay.TaxInfo LEFT OUTER JOIN
                         Util.MaliYear ON TaxInfo.YearID = Util.MaliYear.YearID
WHERE        (Util.MaliYear.YearID IS NULL)


IF NOT EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_TaxInfo_MaliYear' AND type = 'F')
 ALTER TABLE Pay.TaxInfo   WITH CHECK ADD CONSTRAINT FK_TaxInfo_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE



IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_PersonelDecExt_MaliYear' AND type = 'F')
begin
 UPDATE Pay.PersonelDecExt SET YearID = @YearID WHERE YearID = NULL
 
 UPDATE Pay.PersonelDecExt  
 SET startYear = left(@StartYear,4)
 WHERE  FirstMounth  between substring(@StartYear,6,2) and 12

 UPDATE Pay.PersonelDecExt  
 SET EndYear = left(@EndYear,4)
 WHERE  FirstMounth  between 1 and  substring(@EndYear,6,2) 
 
 UPDATE Pay.PersonelDecExt  
 SET EndYear = left(@StartYear,4), StartYear = left(@StartYear,4),YearID =  left(@StartYear,4)
 WHERE  FirstMounth = 13 and EndMounth = 13 


 
end

IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_PersonelDecExt_MaliYear' AND type = 'F')
ALTER TABLE Pay.PersonelDecExt  drop CONSTRAINT FK_PersonelDecExt_MaliYear 

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_PersonelDecExt_MaliYear' AND type = 'F')
ALTER TABLE Pay.PersonelDecExt  WITH CHECK ADD CONSTRAINT FK_PersonelDecExt_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE

 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FixedCalculated_MaliYear' AND type = 'F')
begin
 UPDATE Pay.FixedCalculated SET YearID = @YearID WHERE YearID = NULL
 
 
 
Update Pay.FixedCalculated
 Set Years = left(@StartYear,4)   
 Where  Mounth  between substring(@StartYear,6,2) and 12
Update Pay.FixedCalculated  
Set Years = left(@EndYear,4)
Where  Mounth  between 1 and  substring(@EndYear,6,2) 


end

IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FixedCalculated_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FixedCalculated  Drop CONSTRAINT FK_FixedCalculated_MaliYear 

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FixedCalculated_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FixedCalculated  WITH CHECK ADD CONSTRAINT FK_FixedCalculated_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE


--IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FormsInfo_MaliYear' AND type = 'F')
--begin
-- UPDATE FormsInfo SET YearID = @YearID
 
-- ALTER TABLE Pay.FormsInfo  WITH CHECK ADD CONSTRAINT FK_FormsInfo_MaliYear FOREIGN KEY(YearID)
--  REFERENCES Util.MaliYear (YearID) --ON UPDATE CASCADE

--end


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Mission_MaliYear' AND type = 'F')
begin
 UPDATE Pay.Mission SET YearID = @YearID WHERE YearID = NULL
end

IF  EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Mission_MaliYear' AND type = 'F')
 ALTER TABLE Pay.Mission  Drop CONSTRAINT FK_Mission_MaliYear 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Mission_MaliYear' AND type = 'F')
 ALTER TABLE Pay.Mission  WITH CHECK ADD CONSTRAINT FK_Mission_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE



IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionDay_MaliYear' AND type = 'F')
begin
 UPDATE Pay.FunctionDay SET YearID = @YearID WHERE YearID = NULL
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionDay_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionDay  Drop CONSTRAINT FK_FunctionDay_MaliYear 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionDay_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionDay  WITH CHECK ADD CONSTRAINT FK_FunctionDay_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Functions_MaliYear' AND type = 'F')
begin
 UPDATE Pay.Functions  SET YearID = @YearID WHERE YearID = NULL


 UPDATE Pay.Functions
  Set Years = left(@StartYear,2)   
  Where  Mounth  between substring(@StartYear,6,2) and 12
 UPDATE Pay.Functions
  Set Years = left(@EndYear,2)
  Where  Mounth  between 1 and  substring(@EndYear,6,2) 
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Functions_MaliYear' AND type = 'F')
 ALTER TABLE Pay.Functions   Drop CONSTRAINT FK_Functions_MaliYear 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Functions_MaliYear' AND type = 'F')
 ALTER TABLE Pay.Functions   WITH CHECK ADD CONSTRAINT FK_Functions_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE



IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecial_MaliYear' AND type = 'F')
begin
 UPDATE Pay.FunctionSpecial SET YearID = @YearID WHERE YearID = NULL
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecial_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionSpecial  Drop CONSTRAINT FK_FunctionSpecial_MaliYear 

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecial_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionSpecial  WITH CHECK ADD CONSTRAINT FK_FunctionSpecial_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE



IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecialControl_MaliYear' AND type = 'F')
begin
 UPDATE Pay.FunctionSpecialControl SET YearID = @YearID WHERE YearID = NULL
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecialControl_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionSpecialControl  Drop CONSTRAINT FK_FunctionSpecialControl_MaliYear 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FunctionSpecialControl_MaliYear' AND type = 'F')
 ALTER TABLE Pay.FunctionSpecialControl  WITH CHECK ADD CONSTRAINT FK_FunctionSpecialControl_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE


if  exists (select * from dbo.sysobjects where id = object_id(N'Util.MaliYearUsers') and OBJECTPROPERTY(id,N'IsUserTable') =1)
begin
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MaliYearUsers_MaliYear' AND type = 'F')
begin
 UPDATE Util.MaliYearUsers  SET YearID = @YearID WHERE YearID = NULL
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MaliYearUsers_MaliYear' AND type = 'F')
 ALTER TABLE Util.MaliYearUsers   Drop CONSTRAINT FK_MaliYearUsers_MaliYear 
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MaliYearUsers_MaliYear' AND type = 'F')
 ALTER TABLE Util.MaliYearUsers   WITH CHECK ADD CONSTRAINT FK_MaliYearUsers_MaliYear FOREIGN KEY(YearID)
  REFERENCES Util.MaliYear (YearID) ON UPDATE CASCADE
end






if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.PersonelTypeInfo') 
and OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE Pay.PersonelTypeInfo (PersonelNo int NOT NULL ,FormType smallint NOT NULL ,
	FormInfoID int  NOT NULL ,
CONSTRAINT PK_PersonelTypeInfo PRIMARY KEY CLUSTERED (PersonelNo,	FormType) ON [PRIMARY] ,
CONSTRAINT FK_PersonelTypeInfo_FormTypesFormType FOREIGN KEY (FormType) 
  REFERENCES Pay.FormTypes (FormType)ON UPDATE CASCADE ,
CONSTRAINT FK_PersonelTypeInfo_FormsInfoFormInfoID FOREIGN KEY (FormInfoID) 
  REFERENCES Pay.FormsInfo (	FormInfoID) ON UPDATE CASCADE ,
CONSTRAINT FK_PersonelTypeInfo_PersonelInfo FOREIGN KEY (PersonelNo) 
  REFERENCES Pay.PersonelInfo (PersonelNo) ON DELETE CASCADE ON UPDATE CASCADE ) ON [PRIMARY]
  
if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'EducationType','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD EducationType int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoEducationType 
   FOREIGN KEY (EducationType) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'EducationDegree','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD EducationDegree int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoEducationDegree 
   FOREIGN KEY (EducationDegree) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'EducationGrade','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD EducationGrade int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoEducationGrade
   FOREIGN KEY (EducationGrade) REFERENCES FormsInfo (FormInfoID) 
end


if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'TimeCardNumber','IsRowGuidCol')is  null )
  ALTER TABLE PersonelInfo ADD TimeCardNumber varchar(15) 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'NumberOfMedicalOffice','IsRowGuidCol')is  null )
  ALTER TABLE PersonelInfo ADD NumberOfMedicalOffice int 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'NumberOfMedicalOffice','IsRowGuidCol')is  null )
  ALTER TABLE PersonelInfo ADD NumberOfMedicalOffice int 
----------------------------------------------------------------------------------
----------------------------------------------------------------------------------
if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'IssuedProvince','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD IssuedProvince int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoIssuedProvince
   FOREIGN KEY (IssuedProvince) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'IssuedSection','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD IssuedSection int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoIssuedSection
   FOREIGN KEY (IssuedSection) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'IssuedVillage','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD IssuedVillage int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoIssuedVillage
   FOREIGN KEY (IssuedVillage) REFERENCES FormsInfo (FormInfoID) 
end
--------------------------------------
if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'BirthProvince','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD BirthProvince int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoBirthProvince
   FOREIGN KEY (BirthProvince) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'BirthSection','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD BirthSection int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoBirthSection
   FOREIGN KEY (BirthSection) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'BirthVillage','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD BirthVillage int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoBirthVillage
   FOREIGN KEY (BirthVillage) REFERENCES FormsInfo (FormInfoID) 
end
----------------------------------------------------------------------------------
----------------------------------------------------------------------------------
if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelInfo'),'EmployTypeID','IsRowGuidCol')is  null )
begin
  ALTER TABLE PersonelInfo ADD EmployTypeID int 
  ALTER TABLE PersonelInfo ADD  CONSTRAINT FK_PersonelInfo_FormsInfoEmployTypeID
   FOREIGN KEY (EmployTypeID) REFERENCES FormsInfo (FormInfoID) 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.Config'),'TaxWithExemptionsTimeSheets','IsRowGuidCol')is  null )
ALTER TABLE Pay.Config ADD TaxWithExemptionsTimeSheets Tinyint  NOT NULL  DEFAULT 0

if ( COLUMNPROPERTY( OBJECT_ID('Pay.Functions'),'Situation','IsRowGuidCol')is  null )
ALTER TABLE Pay.Functions  ADD Situation Tinyint  NOT NULL  DEFAULT 0

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelDecExt'),'Situation','IsRowGuidCol')is  null )
ALTER TABLE Pay.PersonelDecExt ADD Situation Tinyint  NOT NULL  DEFAULT 0  

if ( COLUMNPROPERTY( OBJECT_ID('Pay.Config'),'SituationTime','IsRowGuidCol')is  null )
ALTER TABLE Pay.Config ADD SituationTime Tinyint  NOT NULL  DEFAULT 0

if ( COLUMNPROPERTY( OBJECT_ID('Pay.Config'),'OffTimeInFish','IsRowGuidCol')is  null )
ALTER TABLE Pay.Config ADD OffTimeInFish Tinyint  NOT NULL  DEFAULT 1


IF NOT EXISTS (SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE        (TABLE_NAME = N'PersonelInfo') AND (COLUMN_NAME = N'PersonelState') AND (DATA_TYPE = N'int')
)
begin
	if (SELECT OBJECT_ID('DF_PersonelInfo_n_PersonelState'))> 0
	ALTER TABLE Pay.PersonelInfo DROP CONSTRAINT DF_PersonelInfo_n_PersonelState

if  exists (select * from sysindexes WHERE     (name = N'IX_PersonelInfo_PersonelState'))
DROP INDEX IX_PersonelInfo_PersonelState ON Pay.PersonelInfo

ALTER TABLE Pay.PersonelInfo alter column PersonelState  int NOT NULL  
ALTER TABLE Pay.PersonelInfo ADD CONSTRAINT DF_PersonelInfo_PersonelState DEFAULT (0) FOR PersonelState
end

INSERT INTO Pay.FormsInfo
                         (FormInfoID, FormType, InfoID, InfoName_L1)
SELECT DISTINCT PersonelInfo.PersonelState FormInfoID ,12 as FormType , PersonelInfo.PersonelState InfoID ,'وضعیت پرسنل حذف شده استفاده شده در معرفی پرسنل' as InfoName_L1
FROM            Pay.PersonelInfo LEFT OUTER JOIN
                         Pay.FormsInfo ON PersonelInfo.PersonelState = FormsInfo.FormInfoID
WHERE        (FormsInfo.FormInfoID IS NULL)


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_PersonelInfo_FormsInfoPersonelState' AND type = 'F')
ALTER TABLE Pay.PersonelInfo  WITH CHECK ADD  CONSTRAINT FK_PersonelInfo_FormsInfoPersonelState FOREIGN KEY(PersonelState)
REFERENCES Pay.FormsInfo (FormInfoID)


if not exists (select * from sysindexes WHERE     (name = N'IX_PersonelInfo_PersonelState'))
CREATE NONCLUSTERED INDEX IX_PersonelInfo_PersonelState ON Pay.PersonelInfo (	PersonelState ASC) ON [PRIMARY]



---  این کد جهت تجمیع کارکرد های ثبت شده نوشته شده بعد از تهیه پشتیبان می توانید اجرا کنید
--UPDATE       Functions
--SET                 Functions.FunctionDay= derivedtbl_1.FunctionDay , Functions.FunctionTime= derivedtbl_1.FunctionTime , Functions.SickDay= derivedtbl_1.SickDay 

--FROM            Pay.Functions  INNER JOIN
--                             (SELECT        Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years, SUM(FunctionDay) AS FunctionDay, SUM(FunctionTime) AS FunctionTime, SUM(SickDay) AS SickDay, 
--                                                         MIN(FunctionID) AS minFunctionID, MAX(FunctionID) AS maxFunctionID, COUNT(FunctionID) AS COUNTFunctionID
--                                FROM            Pay.Functions  AS Functions_1
--                                GROUP BY Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years
--                                HAVING        (COUNT(FunctionID) > 1)) AS derivedtbl_1 ON Functions.FunctionID = derivedtbl_1.minFunctionID


--WHILE exists(SELECT        Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years, SUM(FunctionDay) AS FunctionDay, SUM(FunctionTime) AS FunctionTime, SUM(SickDay) AS SickDay, 
--                                                         MIN(FunctionID) AS minFunctionID, MAX(FunctionID) AS maxFunctionID, COUNT(FunctionID) AS COUNTFunctionID
--                                FROM            Pay.Functions  AS Functions_1
--                                GROUP BY Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years
--                                HAVING        (COUNT(FunctionID) > 1))
--BEGIN  


--DELETE FROM Functions
--FROM            Pay.Functions  INNER JOIN
--                             (SELECT        Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years, SUM(FunctionDay) AS FunctionDay, SUM(FunctionTime) AS FunctionTime, SUM(SickDay) AS SickDay, 
--                                                         MIN(FunctionID) AS minFunctionID, MAX(FunctionID) AS maxFunctionID, COUNT(FunctionID) AS COUNTFunctionID
--                                FROM            Pay.Functions  AS Functions_1
--                                GROUP BY Mounth, PersonelNo, ProjectID, JobCode, OfficeCode, ProjectRow, ProcCode, CTopic3, YearID, Years
--                                HAVING        (COUNT(FunctionID) > 1)) AS derivedtbl_1 ON Functions.FunctionID = derivedtbl_1.maxFunctionID

--END 
---  این کد جهت تجمیع کارکرد های ثبت شده نوشته شده بعد از تهیه پشتیبان می توانید اجرا کنید
if not exists (select * from sysindexes WHERE     (name = N'IX_DuplicateControl'))
CREATE UNIQUE NONCLUSTERED INDEX IX_DuplicateControl ON Pay.Functions
(Mounth ,PersonelNo ,ProjectID ,JobCode ,OfficeCode ,ProjectRow ,ProcCode ,	CTopic3 ,YearID ,Years) ON [PRIMARY]
-----------------------------------------------------------------------------------------------------------------------

INSERT INTO Pay.FormsInfo
                         (FormInfoID, FormType, InfoID, InfoName_L1)
SELECT DISTINCT Interdicts.OfficeCode FormInfoID ,12 as FormType , Interdicts.OfficeCode InfoID ,'واحد حذف شده استفاده شده در حکم' as InfoName_L1
FROM            Pay.Interdicts LEFT OUTER JOIN
                         Pay.FormsInfo ON Interdicts.OfficeCode = FormsInfo.FormInfoID
WHERE        (FormsInfo.FormInfoID IS NULL)



ALTER TABLE Pay.PersonelInfo WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.DecExtItems WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.FixedCalculated WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.FunctionDay WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.Functions  WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.InterdictItems WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.Interdicts WITH CHECK CHECK CONSTRAINT ALL;
ALTER TABLE Pay.PersonelDecExt WITH CHECK CHECK CONSTRAINT ALL;

ALTER TABLE Pay.PersonelDecExtItem WITH CHECK CHECK CONSTRAINT ALL;



--------------------------------------------------------------------------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_FormInfoItems', 'TR') IS NOT NULL
ALTER TABLE Pay.FormInfoItems  ENABLE TRIGGER TR_ConfigChangeLog_FormInfoItems

IF OBJECT_ID ('TR_ConfigChangeLog_FormsInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.FormsInfo  ENABLE TRIGGER TR_ConfigChangeLog_FormsInfo

IF OBJECT_ID ('TR_ConfigChangeLog_Functions', 'TR') IS NOT NULL 
ALTER TABLE Pay.Functions   ENABLE TRIGGER TR_ConfigChangeLog_Functions

IF OBJECT_ID ('TR_ConfigChangeLog_FunctionsItems', 'TR') IS NOT NULL 
ALTER TABLE FunctionsItems  ENABLE TRIGGER TR_ConfigChangeLog_FunctionsItems

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelInfo', 'TR') IS NOT NULL 
ALTER TABLE PersonelInfo  ENABLE TRIGGER TR_ConfigChangeLog_PersonelInfo

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExt', 'TR') IS NOT NULL 
ALTER TABLE PersonelDecExt  ENABLE TRIGGER TR_ConfigChangeLog_PersonelDecExt

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExtItem', 'TR') IS NOT NULL 
ALTER TABLE PersonelDecExtItem  ENABLE TRIGGER TR_ConfigChangeLog_PersonelDecExtItem

IF OBJECT_ID ('TR_ConfigChangeLog_Interdicts', 'TR') IS NOT NULL 
ALTER TABLE Interdicts  ENABLE TRIGGER TR_ConfigChangeLog_Interdicts

IF OBJECT_ID ('TR_ConfigChangeLog_InterdictItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.InterdictItems  ENABLE TRIGGER TR_ConfigChangeLog_InterdictItems

IF OBJECT_ID ('TR_ConfigChangeLog_InsuranceCONSTinfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.InsuranceCONSTinfo  ENABLE TRIGGER TR_ConfigChangeLog_InsuranceCONSTinfo

IF OBJECT_ID ('TR_ConfigChangeLog_SalaryRange', 'TR') IS NOT NULL 
ALTER TABLE SalaryRange  ENABLE TRIGGER TR_ConfigChangeLog_SalaryRange
---------------------------------------------------------------------------------------------
