------  19
SET NOCOUNT ON

  if ( COLUMNPROPERTY( OBJECT_ID('util.CodesInProcess'),'Ip','IsRowGuidCol')is  null )  
  ALTER TABLE [util].[CodesInProcess] ADD [Ip] [nvarchar](20)  
                                        --------                    
                    --------------------        --------------------
--------------------------------------- Contract ---------------------------------------
                    --------------------        --------------------
                                        --------

--IF NOT EXISTS (SELECT Name FROM sysusers WHERE Name = N'Cnt')   ---- sql 2014 Incorrect syntax near 'Cnt'.
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.Contracts') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
EXEC sp_addrole @RoleName = N'Cnt'


---------------------------------------------------------------
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.Contracts') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Cnt.Contracts(
	CaseNo int NOT NULL,
	YearID int NOT NULL,
	CustomerGrpId int NOT NULL,
	ContractTopic nvarchar(60) NOT NULL, 
	InsertDate smalldatetime NOT NULL,
	ContractRow int NOT NULL, 
	ContractNo varchar(30) NOT NULL, 
	ContractDate char(10) NOT NULL, --تاریخ انعقاد 
	EmployerId int NOT NULL DEFAULT(0), -- CustId 
	WorkShopId int NOT NULL DEFAULT(0), -- CustId
	StartDate char(10) NOT NULL, 
	EndDate char(10) NOT NULL, 
	ExecutionTime int NOT NULL, -- ماه
	ActivityStartDate char(10) NOT NULL,
	AnticipateDate char(10) NOT NULL,
	ContractBasePrice money ,
	RefInsuranceNo varchar(20) , -- شماره معرفی نامه به بیمه
	RefInsuranceDate char(10) , -- تاریخ معرفی نامه به بیمه 
	InsuranceWorkShopId varchar(15) , -- کد کارگاه تامین اجتماعی
	InsuranceBranch nvarchar(50) , 
	RefAssetsNo varchar(20) , -- شماره معرفی قرارداد به اداره دارایی 
	RefAssetsDate char(10) , -- تاریخ معرفی به دارایی
	AssetsBranch varchar(50) , 
	ContractType int NOT NULL, -- نوع قرارداد 
	UpperCaseNo int , -- شناسه پرونده قرارداد اولیه 
	ContractsStatus tinyint NOT NULL,
	FromType int,
	FromDate char(10),	
	AidNo varchar(15),
	AidDate char(10),	
	Note varchar(1000),
	Percent1 Decimal(18,4) CONSTRAINT DF_Contracts_Percent1  DEFAULT (0),
	Percent2 Decimal(18,4) CONSTRAINT DF_Contracts_Percent2  DEFAULT (0),
	Percent3 Decimal(18,4) CONSTRAINT DF_Contracts_Percent3  DEFAULT (0),
	OrderDeliveryTime int,
	MaximumLife int,
    MarginSafety int,
 CONSTRAINT PK_Contracts PRIMARY KEY CLUSTERED 
(
	CaseNo ASC
) ON [PRIMARY]
) ON [PRIMARY]
END


ALTER TABLE Cnt.Contracts ALTER COLUMN Note varchar(1000)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'Percent1','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.Contracts ADD Percent1 Decimal(18,4) CONSTRAINT DF_Contracts_Percent1  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'Percent2','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.Contracts ADD Percent2 Decimal(18,4) CONSTRAINT DF_Contracts_Percent2  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'Percent3','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.Contracts ADD Percent3 Decimal(18,4) CONSTRAINT DF_Contracts_Percent3  DEFAULT (0)

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Contracts_MaliYear' AND type = 'F')
ALTER TABLE Cnt.Contracts
WITH CHECK ADD CONSTRAINT FK_Contracts_MaliYear FOREIGN KEY (YearID)
REFERENCES Util.MaliYear(YearID)ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Contracts_Customers' AND type = 'F')
ALTER TABLE Cnt.Contracts
WITH CHECK ADD CONSTRAINT FK_Contracts_Customers FOREIGN KEY (EmployerId)
REFERENCES dbo.Customers(CustID)ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Contracts_Customers1' AND type = 'F')
ALTER TABLE Cnt.Contracts
WITH CHECK ADD CONSTRAINT FK_Contracts_Customers1 FOREIGN KEY (WorkShopId)
REFERENCES dbo.Customers(CustID)

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_Contracts_CustomersGroup' AND type = 'F')
ALTER TABLE Cnt.Contracts
WITH CHECK ADD CONSTRAINT FK_Contracts_CustomersGroup FOREIGN KEY (CustomerGrpId)
REFERENCES dbo.CustomersGroup(CustomerGrpID)


if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'OrderDeliveryTime','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD OrderDeliveryTime int

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'MaximumLife','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD MaximumLife int

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'MarginSafety','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD MarginSafety int 
 
-------------------------------------------------------------------------------------------------------
if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'TarafeGharardadType','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD TarafeGharardadType tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'GharardadTypeCode','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD GharardadTypeCode tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'EjariType','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD EjariType tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'KarbariType','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD KarbariType tinyint 
 
if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'MozuType','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD MozuType tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'Vasile','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD Vasile tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'Tozih','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD Tozih varchar(255) 


 if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'ArzAmount','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD ArzAmount decimal(18, 4) NOT NULL DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'ArzTypeID','IsRowGuidCol')is  null )  
ALTER TABLE Cnt.Contracts ADD ArzTypeID int 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'ArzRate','IsRowGuidCol')is  null )  
ALTER TABLE Cnt.Contracts ADD ArzRate Float 


if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'TaxAble','IsRowGuidCol')is null )
 ALTER TABLE Cnt.Contracts ADD TaxAble tinyint NOT Null CONSTRAINT DF_Contracts_TaxAble  DEFAULT (1)



 
 -----


---------------------------------------------------------------
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.ContractOperations') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Cnt.ContractOperations(
    ContractOperationId int NOT NULL,
	CaseNo int NOT NULL,
	OperationId bigint NOT NULL, --StuffCode
	Amount decimal (18,4) NOT NULL,
	BasePrice money NULL,
	OverheadPrice money NULL,
	TotalPrice money NOT NULL,
	FarmId int NULL,
	PieceId int NULL,
	ContractOperationNote nvarchar(500) NULL,	 
	Percent1 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent1  DEFAULT (0),
	Percent2 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent2  DEFAULT (0),
	Percent3 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent3  DEFAULT (0),
	DiscountPercent Decimal(18,4) CONSTRAINT DF_ContractOperations_DiscountPercent  DEFAULT (0),
	StuffCode Bigint NULL,
	StuffCount int NULL,
	LeadTime int,
	UnitCode tinyint,
	NumberOfUnit float  ,
    Basis4CalculationFormRow int NULL
CONSTRAINT FK_ContractOperations_Contracts FOREIGN KEY (CaseNo) REFERENCES Cnt.Contracts(CaseNo)ON UPDATE CASCADE ,
  CONSTRAINT FK_ContractOperations_StuffCoding FOREIGN KEY (OperationId)REFERENCES dbo.StuffCoding(c_StuffCode)ON UPDATE CASCADE ,
  CONSTRAINT FK_ContractOperations_StuffCoding_StuffCode FOREIGN KEY(StuffCode)REFERENCES StuffCoding (c_StuffCode),
  CONSTRAINT PK_ContractOperations PRIMARY KEY CLUSTERED  (ContractOperationId ASC) ON [PRIMARY]) ON [PRIMARY]
END



IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ContractOperations_Contracts' AND type = 'F')
ALTER TABLE Cnt.ContractOperations
WITH CHECK ADD CONSTRAINT FK_ContractOperations_Contracts FOREIGN KEY (CaseNo)
REFERENCES Cnt.Contracts(CaseNo)ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ContractOperations_StuffCoding' AND type = 'F')
ALTER TABLE Cnt.ContractOperations
WITH CHECK ADD CONSTRAINT FK_ContractOperations_StuffCoding FOREIGN KEY (OperationId)
REFERENCES dbo.StuffCoding(c_StuffCode)ON UPDATE CASCADE

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'OverheadPrice','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperations ADD OverheadPrice money

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'Percent1','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.ContractOperations ADD Percent1 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent1  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'Percent2','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.ContractOperations ADD Percent2 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent2  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'Percent3','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.ContractOperations ADD Percent3 Decimal(18,4) CONSTRAINT DF_ContractOperations_Percent3  DEFAULT (0)

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'DiscountPercent','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.ContractOperations ADD DiscountPercent Decimal(18,4) CONSTRAINT DF_ContractOperations_DiscountPercent  DEFAULT (0)
  
if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'StuffCode','IsRowGuidCol')is  null )  
BEGIN
  ALTER TABLE Cnt.ContractOperations ADD StuffCode Bigint NULL
  ALTER TABLE Cnt.ContractOperations WITH CHECK ADD  CONSTRAINT FK_ContractOperations_StuffCoding_StuffCode FOREIGN KEY(StuffCode)REFERENCES StuffCoding (c_StuffCode)
END

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'StuffCount','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperations ADD StuffCount int

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'LeadTime','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperations ADD LeadTime int

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'UnitCode','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperations ADD UnitCode tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'NumberOfUnit','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperations ADD NumberOfUnit float 
 
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.ContractOperationItems') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE Cnt.ContractOperationItems(
	ContractOperationItemId int IDENTITY(1,1) NOT NULL,
	ContractOperationId int NOT NULL,
	ItemKind tinyint ,
	IStuffCount int ,
	IStuffCode bigint ,
	IAmount decimal(18, 4) NOT NULL,
	INote Nvarchar(500) ,
	IBuyEffect tinyint ,
	ISellEffect tinyint ,	
	IUnitCode tinyint ,
	INote2 Nvarchar(100) ,
 CONSTRAINT FK_ContractOperationItems_ContractOperations FOREIGN KEY(ContractOperationId)REFERENCES Cnt.ContractOperations (ContractOperationId)
    ON UPDATE CASCADE ON DELETE CASCADE,
 CONSTRAINT PK_ContractOperationItems PRIMARY KEY CLUSTERED (ContractOperationItemId ASC) ON [PRIMARY]) ON [PRIMARY]


if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperationItems'),'IUnitCode','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperationItems ADD IUnitCode tinyint 

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperationItems'),'INote2','IsRowGuidCol')is null )
 ALTER TABLE Cnt.ContractOperationItems ADD INote2 Nvarchar(100) 



IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.ContractOperationFamilies') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE Cnt.ContractOperationFamilies(
	ContractOperationFamilyId int IDENTITY(1,1) NOT NULL,
	CaseNo int NOT NULL,
	ContractOperationId int NOT NULL,
	FStuffCode bigint ,
 CONSTRAINT FK_ContractOperationFamilies_ContractOperationsCaseNo FOREIGN KEY(CaseNo)REFERENCES Cnt.Contracts (CaseNo)
     ON DELETE CASCADE,
 CONSTRAINT FK_ContractOperationFamilies_ContractOperationsId FOREIGN KEY(ContractOperationId)REFERENCES Cnt.ContractOperations (ContractOperationId)
    ON UPDATE CASCADE ON DELETE CASCADE,
 CONSTRAINT PK_ContractOperationFamilies PRIMARY KEY CLUSTERED (ContractOperationFamilyId ASC) ON [PRIMARY]) ON [PRIMARY]

 if not exists (select * from sysindexes WHERE     (name = N'IX_U_ContractOperationFamilies'))
 CREATE UNIQUE NONCLUSTERED INDEX IX_U_ContractOperationFamilies ON Cnt.ContractOperationFamilies(CaseNo,FStuffCode)

 if not exists (select * from sysindexes WHERE     (name = N'IX_U_ContractOperations'))
 CREATE UNIQUE NONCLUSTERED INDEX IX_U_ContractOperations ON Cnt.ContractOperations(CaseNo,OperationId)


IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Util.Basis4CalculationFormulas') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE Util.Basis4CalculationFormulas(
	Basis4CalculationFormulaID int NOT NULL,
	Basis4CalculationFormulaNote Nvarchar(500) NOT NULL,
	Calc4FieldName varchar(200) NOT NULL,
	Basis4CalculationFormulaTxt nvarchar(4000) NOT NULL,
 CONSTRAINT PK_Basis4CalculationFormulas PRIMARY KEY CLUSTERED (Basis4CalculationFormulaID ASC ) ON [PRIMARY]) ON [PRIMARY]
  
 
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Util.Basis4Calculations') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE Util.Basis4Calculations(
	Basis4CalculationID int NOT NULL,
	Basis4CalculationCaption Nvarchar(200) NOT NULL,
	FormName varchar(100) NOT NULL,
	FormRow int NOT NULL, 
	CalcFieldKind int NOT NULL ,
	CalcOnChange varchar(200) ,
	Basis4CalculationFormulaID int NOT NULL,
	Basis4CalculationNote Nvarchar(300) ,
CONSTRAINT FK_Basis4Calculations_Basis4CalculationFormulas_Basis4CalculationFormulaID FOREIGN KEY(Basis4CalculationFormulaID)
	   REFERENCES Util.Basis4CalculationFormulas (Basis4CalculationFormulaID) ,

 CONSTRAINT PK_Basis4Calculations PRIMARY KEY CLUSTERED (Basis4CalculationID ASC ) ON [PRIMARY]) ON [PRIMARY]


if ( COLUMNPROPERTY( OBJECT_ID('Util.Basis4Calculations'),'Basis4CalculationNote','IsRowGuidCol')is  null )  
 ALTER TABLE Util.Basis4Calculations ADD Basis4CalculationNote Nvarchar(300)



if ( COLUMNPROPERTY( OBJECT_ID('Cnt.ContractOperations'),'Basis4CalculationFormRow','IsRowGuidCol')is  null )  
 ALTER TABLE Cnt.ContractOperations ADD Basis4CalculationFormRow int NULL

--IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_ContractOperations_Basis4Calculations_Basis4CalculationFormRow' AND type = 'F')
-- ALTER TABLE Cnt.ContractOperations 
--     WITH CHECK ADD  CONSTRAINT FK_ContractOperations_Basis4Calculations_Basis4CalculationFormRow FOREIGN KEY(Basis4CalculationFormRow)
--	   REFERENCES Util.Basis4Calculations (FormRow)

---------------------------------------------------------------
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.RunSchedules') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Cnt.RunSchedules(
    RunScheduleId int NOT NULL,
	RunScheduleType int NOT NULL,
	CaseNo int NOT NULL,
	InsertDate smallDateTime NOT NULL,
	OperationId bigint NOT NULL, -- Stuffcode
	ParallellStageId int NULL, -- کد مرحله موازی
	SequenceStageId int NULL, -- کد مرحله متوالی
	Amount decimal(18, 4) NULL,
	MinMembers int NULL,
	FarmId int NULL,
	PieceId int NULL,
 CONSTRAINT PK_RunSchedules PRIMARY KEY CLUSTERED 
(
	RunScheduleId ASC
) ON [PRIMARY]
) ON [PRIMARY]
END


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_RunSchedules_Contracts' AND type = 'F')
ALTER TABLE Cnt.RunSchedules
WITH CHECK ADD CONSTRAINT FK_RunSchedules_Contracts FOREIGN KEY (CaseNo)
REFERENCES Cnt.Contracts(CaseNo)ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_RunSchedules_StuffCoding' AND type = 'F')
ALTER TABLE Cnt.RunSchedules
WITH CHECK ADD CONSTRAINT FK_RunSchedules_StuffCoding FOREIGN KEY (OperationId)
REFERENCES dbo.StuffCoding(c_StuffCode)ON UPDATE CASCADE

---------------------------------------------------------------
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.RunScheduleItems') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Cnt.RunScheduleItems(
    RunScheduleItemId int IDENTITY(1, 1),
	RunScheduleId int NOT NULL,
	Year int NOT NULL,
	Month tinyint NOT NULL,
	Day tinyint NOT NULL, 
	Amount decimal(18, 4) NULL, 
	InsertDate smalldatetime NULL,
	MinMembers int NULL,
 CONSTRAINT PK_RunScheduleItems PRIMARY KEY CLUSTERED 
(
	RunScheduleItemId ASC
) ON [PRIMARY]
) ON [PRIMARY]
END


IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_RunScheduleItems_Contracts' AND type = 'F')
ALTER TABLE Cnt.RunScheduleItems
WITH CHECK ADD CONSTRAINT FK_RunScheduleItems_Contracts FOREIGN KEY (RunScheduleId)
REFERENCES Cnt.RunSchedules(RunScheduleId)ON UPDATE CASCADE

if ( COLUMNPROPERTY( OBJECT_ID('Cnt.Contracts'),'TechnicalCode','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.Contracts ADD TechnicalCode varchar(30)
  
  
if ( COLUMNPROPERTY( OBJECT_ID('Cnt.RunSchedules'),'CustID','IsRowGuidCol')is  null )  
  ALTER TABLE Cnt.RunSchedules ADD CustID int CONSTRAINT DF_Contracts_CustID  DEFAULT (0)
  
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_RunSchedules_Customers' AND type = 'F')
ALTER TABLE Cnt.RunSchedules
WITH CHECK ADD CONSTRAINT FK_RunSchedules_Customers FOREIGN KEY (CustID)
REFERENCES dbo.Customers(CustID)


IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Cnt.ContractsProperties') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Cnt.ContractsProperties(
 PropertiesID int  IDENTITY(1,1) NOT NULL,
 CaseNo int NOT NULL,
 LookUpID int NOT NULL,
 PropertiesEntity decimal(20,4)  CONSTRAINT DF_ContractsProperties_PropertiesEntity  DEFAULT (0) NOT NULL,
 PropertiesNote varchar(200) NULL,
 CONSTRAINT FK_Cnt_ContractsProperties_Cnt_Contracts FOREIGN KEY( CaseNo) REFERENCES Cnt.Contracts (CaseNo) ON DELETE CASCADE ON UPDATE CASCADE,
 CONSTRAINT FK_Cnt_ContractsProperties_LookUps FOREIGN KEY(LookUpID)REFERENCES LookUps (LookUpID),
 CONSTRAINT PK_Cnt_ContractsProperties PRIMARY KEY CLUSTERED (PropertiesID ASC) ON [PRIMARY]) ON [PRIMARY]

 CREATE UNIQUE NONCLUSTERED INDEX IX_ContractsProperties ON Cnt.ContractsProperties(CaseNo ASC,LookUpID ASC)
END


-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'Machin.MachineStop') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE Machin.MachineStop(
    StopID int NOT NULL Identity(1,1),
    StopType int NOT NULL,
	MaintenanceID int ,
	FunctionId int , 
	MachineId bigint , -- StuffCode    9
	CustID int NULL,
	StopDate Char(10) NOT NULL ,
	StopKind int , ---LookUpID
	OfTime Datetime ,
	TermTime Datetime ,
	StopNote Varchar(200),
 CONSTRAINT PK_MachineStop PRIMARY KEY CLUSTERED 
(
	StopID ASC
) ON [PRIMARY]
) ON [PRIMARY]
END

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MachineStop_Maintenance' AND type = 'F')
ALTER TABLE Machin.MachineStop
WITH CHECK ADD CONSTRAINT FK_MachineStop_Maintenance FOREIGN KEY (MaintenanceID)
REFERENCES Machin.Maintenance(MaintenanceID)ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MachineStop_Functions' AND type = 'F')
ALTER TABLE Machin.MachineStop
WITH CHECK ADD CONSTRAINT FK_MachineStop_Functions FOREIGN KEY (FunctionId)
REFERENCES Tsh.Functions(FunctionId)--ON UPDATE CASCADE

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MachineStop_StuffCoding' AND type = 'F')
ALTER TABLE Machin.MachineStop
WITH CHECK ADD CONSTRAINT FK_MachineStop_StuffCoding FOREIGN KEY (MachineId)
REFERENCES dbo.StuffCoding(c_StuffCode)-- ON UPDATE CASCADE 

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MachineStop_Customers' AND type = 'F')
ALTER TABLE Machin.MachineStop
WITH CHECK ADD CONSTRAINT FK_MachineStop_Customers FOREIGN KEY (CustID)
REFERENCES dbo.Customers(CustID)

IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_MachineStop_LookUps' AND type = 'F')
ALTER TABLE Machin.MachineStop WITH NOCHECK ADD CONSTRAINT	FK_MachineStop_LookUps
  FOREIGN KEY(StopKind) REFERENCES LookUps	(LookUpID) 
  
----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------

if ( COLUMNPROPERTY( OBJECT_ID('Machin.MachineStop'),'Amount1','IsRowGuidCol')is null )
 ALTER TABLE Machin.MachineStop ADD Amount1 decimal(18, 2)
 
if ( COLUMNPROPERTY( OBJECT_ID('Machin.MachineStop'),'Amount2','IsRowGuidCol')is null )
 ALTER TABLE Machin.MachineStop ADD Amount2 decimal(18, 2)
 
if ( COLUMNPROPERTY( OBJECT_ID('Machin.MachineStop'),'Amount3','IsRowGuidCol')is null )
 ALTER TABLE Machin.MachineStop ADD Amount3 decimal(18, 2)
 
if ( COLUMNPROPERTY( OBJECT_ID('Machin.MachineStop'),'OperatorName','IsRowGuidCol')is null )
 ALTER TABLE Machin.MachineStop ADD OperatorName nvarchar(150)


 IF  EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptTypes2') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
	if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes2'),'CalculatedEntityOrWeight','IsRowGuidCol')is  null )  
	ALTER TABLE ReciptTypes2 ADD CalculatedEntityOrWeight Tinyint  NOT NULL CONSTRAINT DF_ReciptTypes2_CalculatedEntityOrWeight  DEFAULT (0) 
END
 
if ( COLUMNPROPERTY( OBJECT_ID('ReciptItems'),'DiagnosisCalcTotalPrice','IsRowGuidCol')is  null )  
ALTER TABLE ReciptItems ADD DiagnosisCalcTotalPrice Tinyint  
  
------------------------------------- del  #254 ---------------------------------------------
 if ( COLUMNPROPERTY( OBJECT_ID('Forms'),'CashCheckFormID‌','IsRowGuidCol')is not null )  
ALTER TABLE Forms drop column [CashCheckFormID‌]
------------------------------------- del  #254 ---------------------------------------------

IF NOT EXISTS(SELECT 1 FROM sysobjects WHERE id = object_id(N'ReciptItems_TempCalculate') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE ReciptItems_TempCalculate(
	ReciptItemID int NOT NULL,
	ReciptID int NOT NULL,
	ServerID int NOT NULL,
	YearID int NOT NULL,
	TotalOutputPrice money NULL CONSTRAINT DF_ReciptItems_tempCalculate_TotalOutputPrice  DEFAULT 0,
	TotalInputPrice money NULL CONSTRAINT DF_ReciptItems_tempCalculate_TotalInputPrice  DEFAULT 0,
	TotallSellPrice money NULL CONSTRAINT DF_ReciptItems_tempCalculate_TotallSellPrice  DEFAULT 0
) ON [PRIMARY]
END


 if not exists (select * from sysindexes WHERE     (name = N'IX_WF_TransWorkFlow_ServerIDYearIDFormID'))
CREATE NONCLUSTERED INDEX IX_WF_TransWorkFlow_ServerIDYearIDFormID ON  dbo . WF_TransWorkFlow 
(   ServerID  ASC,     YearID  ASC,     FormID  ASC) ON  [PRIMARY] 


 if not exists (select * from sysindexes WHERE     (name = N'IX_WF_TransWorkFlow_kindFormTypeUserID'))
CREATE NONCLUSTERED INDEX IX_WF_TransWorkFlow_kindFormTypeUserID ON  dbo . WF_TransWorkFlow 
(
     kind  ASC,     FormType  ASC,     UserID  ASC) ON  [PRIMARY] 


-------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------
IF OBJECT_ID('dbo.ChkListGroup', 'U') IS  NULL
CREATE TABLE dbo.ChkListGroup(
	ID int IDENTITY(1,1) NOT NULL,
	Caption nvarchar(50) NULL,
	ParentID int NULL,
CONSTRAINT PK_ChkListGroup PRIMARY KEY CLUSTERED (	ID ASC) ON [PRIMARY],
CONSTRAINT FK_ChkListGroup_ChkListGroup_ParentID FOREIGN KEY(ParentID) REFERENCES dbo.ChkListGroup (ID),
CONSTRAINT FK_ChkListGroup_ChkListGroup_ID FOREIGN KEY(ID) REFERENCES dbo.ChkListGroup (ID)
) ON [PRIMARY]


IF OBJECT_ID('dbo.ChkListCustomer', 'U') IS NULL
CREATE TABLE dbo.ChkListCustomer(
	ID int IDENTITY(1,1) NOT NULL,
	CustID int NOT NULL,
	ChkID int NOT NULL,
	DescNote nvarchar(800) NULL,
	Checked bit NULL,
 CONSTRAINT PK_ChkListCustomer PRIMARY KEY CLUSTERED (	ID ASC) ON [PRIMARY],
 CONSTRAINT FK_ChkListCustomer_ChkListGroup FOREIGN KEY(ChkID) REFERENCES dbo.ChkListGroup (ID),
 CONSTRAINT FK_ChkListCustomer_Customers FOREIGN KEY(CustID)REFERENCES dbo.Customers (CustID)
) ON [PRIMARY]


----------------------------------------------------------------------

IF OBJECT_ID('dbo.SWOT', 'U') IS NULL
CREATE TABLE dbo.SWOT(
	ID int IDENTITY(1,1) NOT NULL,
	DescNote nvarchar(800) NULL,
	MakeDate datetime NULL,
	SWOTKind smallint NULL,
 CONSTRAINT PK_SWOT PRIMARY KEY CLUSTERED (	ID ASC) ON [PRIMARY]) ON [PRIMARY]

-------------------------------------------------------------------------------------------------------------------------
if ( COLUMNPROPERTY( OBJECT_ID('ReciptItems'),'StandardConsumptionCo','IsRowGuidCol')is  null )  
  ALTER TABLE ReciptItems ADD StandardConsumptionCo decimal(20,  8  )


if ( COLUMNPROPERTY( OBJECT_ID('ReciptsPayments'),'DocNo','IsRowGuidCol')is  null )  
  ALTER TABLE ReciptsPayments ADD DocNo int not null  CONSTRAINT DF_ReciptsPayments_DocNo  DEFAULT 0

if ( COLUMNPROPERTY( OBJECT_ID('ReciptsPayments'),'DocDate','IsRowGuidCol')is  null )  
  ALTER TABLE ReciptsPayments ADD DocDate char(10)
