----2---     1401/03/30  Pay Active تاریخ
SET NOCOUNT ON
----------------------------------------------------------------------------------------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_FormInfoItems', 'TR') IS NOT NULL
ALTER TABLE Pay.FormInfoItems  DISABLE TRIGGER TR_ConfigChangeLog_FormInfoItems

IF OBJECT_ID ('TR_ConfigChangeLog_FormsInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.FormsInfo  DISABLE TRIGGER TR_ConfigChangeLog_FormsInfo

IF OBJECT_ID ('TR_ConfigChangeLog_Functions', 'TR') IS NOT NULL 
ALTER TABLE Pay.Functions   DISABLE TRIGGER TR_ConfigChangeLog_Functions

IF OBJECT_ID ('TR_ConfigChangeLog_FunctionsItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.FunctionsItems  DISABLE TRIGGER TR_ConfigChangeLog_FunctionsItems

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelInfo  DISABLE TRIGGER TR_ConfigChangeLog_PersonelInfo

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExt', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExt  DISABLE TRIGGER TR_ConfigChangeLog_PersonelDecExt

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExtItem', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExtItem  DISABLE TRIGGER TR_ConfigChangeLog_PersonelDecExtItem

IF OBJECT_ID ('TR_ConfigChangeLog_Interdicts', 'TR') IS NOT NULL 
ALTER TABLE Pay.Interdicts  DISABLE TRIGGER TR_ConfigChangeLog_Interdicts

IF OBJECT_ID ('TR_ConfigChangeLog_InterdictItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.InterdictItems  DISABLE TRIGGER TR_ConfigChangeLog_InterdictItems

IF OBJECT_ID ('TR_ConfigChangeLog_InsuranceCONSTinfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.InsuranceCONSTinfo  DISABLE TRIGGER TR_ConfigChangeLog_InsuranceCONSTinfo

IF OBJECT_ID ('TR_ConfigChangeLog_SalaryRange', 'TR') IS NOT NULL 
ALTER TABLE Pay.SalaryRange  DISABLE TRIGGER TR_ConfigChangeLog_SalaryRange
----------------------------------------------------------------------------------------------------------


if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'PrefixInfoID','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD PrefixInfoID int 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'MasterFormType','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD MasterFormType int 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormsInfo'),'FormInfoID2','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormsInfo ADD FormInfoID2 int

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'ContactFormType','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD ContactFormType int 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'RepetitiveControl','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD RepetitiveControl Tinyint NOT NULL DEFAULT(1)

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'RepetitiveControlInfoID','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD RepetitiveControlInfoID Tinyint NOT NULL DEFAULT(2)


if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'SalaryIDinDocShow','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD SalaryIDinDocShow tinyint NOT NULL DEFAULT (0) 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'Checking4AllPersonnelShow','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD Checking4AllPersonnelShow tinyint NOT NULL DEFAULT (1) 

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'EmployerAmountActiveShow','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD EmployerAmountActiveShow tinyint NOT NULL DEFAULT (1) 


if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'PersonelTypeInfoRow','IsRowGuidCol')is  null )
ALTER TABLE Pay.FormTypes ADD PersonelTypeInfoRow Tinyint NOT NULL DEFAULT(0)

if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.Educations') and OBJECTPROPERTY(id,
N'IsUserTable') = 1)
CREATE TABLE Pay.Educations (EducationCode varchar (20) ,EducationName varchar (100),
CONSTRAINT PK_Educations PRIMARY KEY  CLUSTERED (EducationCode)  ON [PRIMARY] ) ON [PRIMARY]  

if ((SELECT count(FormType)FROM Pay.FormTypes WHERE (FormType =108))= 0) 
begin
	INSERT INTO Pay.FormTypes (FormType,FormCaption_L1,DisplayFormType,ShowMnuPlace)  
	   VALUES  (108,'نوع تحصیلات',0,'0,1')

	INSERT INTO Pay.FormsInfo (FormInfoID, FormType, InfoID, InfoName_L1)
	SELECT (SELECT MAX(FormInfoID) + 1 FROM Pay.FormsInfo) , 108, 1, 'جدید'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 2 FROM Pay.FormsInfo) , 108, 2, 'قدیم'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 3 FROM Pay.FormsInfo) , 108, 3, 'هنری'
end

if ((SELECT count(FormType)FROM Pay.FormTypes WHERE (FormType =101))= 0) 
begin
	INSERT INTO Pay.FormTypes (FormType,FormCaption_L1,DisplayFormType,ShowMnuPlace)  
	   VALUES  (101,'مقطع تحصیلی',0,'0,1')

	INSERT INTO Pay.FormsInfo (FormInfoID, FormType, InfoID, InfoName_L1)
	SELECT (SELECT MAX(FormInfoID) + 1 FROM Pay.FormsInfo) , 101, 1, 'بیسواد'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 2 FROM Pay.FormsInfo) , 101, 2, 'خواندن و نوشتن'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 3 FROM Pay.FormsInfo) , 101, 3, 'ابتدایی'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 4 FROM Pay.FormsInfo) , 101, 4, 'راهنمایی'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 5 FROM Pay.FormsInfo) , 101, 5, 'دیپلم'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 6 FROM Pay.FormsInfo) , 101, 6, 'فوق دیپلم'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 7 FROM Pay.FormsInfo) , 101, 7, 'لیسانس'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 8 FROM Pay.FormsInfo) , 101, 8, 'دکترا'
	UNION ALL
	SELECT (SELECT MAX(FormInfoID) + 9 FROM Pay.FormsInfo) , 101, 9, 'فوق دکترا'
end


--if not exists (select * from dbo.sysobjects where id = object_id(N'Degree_s') and OBJECTPROPERTY(id,
--N'IsUserTable') = 1)
--CREATE TABLE Degree_s (DegreeCode int ,DegreeName varchar (100),
--  Points Decimal(18,4),
--CONSTRAINT PK_Degree_s PRIMARY KEY  CLUSTERED (DegreeCode)  ON [PRIMARY] ) ON [PRIMARY]  

 
if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormInfoItems'),'SalaryID2','IsRowGuidCol')is  null )
begin
  ALTER TABLE Pay.FormInfoItems ADD SalaryID2 int
end

IF EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FormInfoItems_SalaryID2' AND type = 'F')
  ALTER TABLE Pay.FormInfoItems  drop CONSTRAINT FK_FormInfoItems_SalaryID2
IF not EXISTS (SELECT name FROM sysobjects WHERE name = 'FK_FormInfoItems_SalaryID2' AND type = 'F')
  ALTER TABLE Pay.FormInfoItems  WITH CHECK ADD CONSTRAINT FK_FormInfoItems_SalaryID2 FOREIGN KEY(SalaryID2)
  REFERENCES Pay.FormsInfo (FormInfoID)


if ((SELECT count(FormType)FROM Pay.FormTypes WHERE (FormType =110))= 0) 
begin
	INSERT INTO Pay.FormTypes (FormType,FormCaption_L1,DisplayFormType,ShowMnuPlace)  
	   VALUES  (110,'جدول جایگزینی',0,'0,1')

	INSERT INTO Pay.FormsInfo (FormInfoID, FormType, InfoID, InfoName_L1)
	SELECT (SELECT MAX(FormInfoID) + 1 FROM Pay.FormsInfo) , 110, 1, 'تجربه بجای تحصیل'
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.PersonelDecExt'),'YearID','IsRowGuidCol')is  null )
begin
 ALTER TABLE Pay.PersonelDecExt ADD YearID int
 ALTER TABLE Pay.PersonelDecExt ADD StartYear int
 ALTER TABLE Pay.PersonelDecExt ADD EndYear   int  
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FixedCalculated'),'YearID','IsRowGuidCol')is  null )
begin
 ALTER TABLE Pay.FixedCalculated   ADD YearID int
 ALTER TABLE Pay.FixedCalculated ADD Years int 
end

if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormsInfo'),'Years','IsRowGuidCol')is  null )
 ALTER TABLE Pay.FormsInfo ADD Years int
 
if ( COLUMNPROPERTY( OBJECT_ID('Pay.FormTypes'),'ActiveYearID','IsRowGuidCol')is  null )
 ALTER TABLE Pay.FormTypes  ADD ActiveYearID Tinyint  NOT NULL DEFAULT (0)


if ( COLUMNPROPERTY( OBJECT_ID('Pay.Mission'),'YearID','IsRowGuidCol')is  null )
 ALTER TABLE Pay.Mission ADD YearID int
 
if ( COLUMNPROPERTY( OBJECT_ID('Pay.FunctionDay'),'YearID','IsRowGuidCol')is  null )
 ALTER TABLE Pay.FunctionDay ADD YearID int

if ( COLUMNPROPERTY( OBJECT_ID('Pay.Functions'),'YearID','IsRowGuidCol')is  null )
begin
 ALTER TABLE Pay.Functions  ADD YearID int
 ALTER TABLE Pay.Functions  ADD Years int 
end

if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.jobs') and OBJECTPROPERTY(id,N'IsUserTable') = 1)
CREATE TABLE Pay.jobs (jobCode int Not Null ,jobName varchar (100) Not Null,
JobLocation int Not Null,OrganPos int,Organizational int ,GroupCode int ,
JobDefinition varchar(500), CreationDate char(10),
CONSTRAINT FK_jobs_FormsInfo_JobLocation FOREIGN KEY(JobLocation) REFERENCES Pay.FormsInfo (FormInfoID)ON UPDATE CASCADE,
CONSTRAINT FK_jobs_FormsInfo_OrganPos FOREIGN KEY(OrganPos) REFERENCES Pay.FormsInfo (FormInfoID),
CONSTRAINT FK_jobs_FormsInfo_Organizational FOREIGN KEY(Organizational) REFERENCES Pay.FormsInfo (FormInfoID),

CONSTRAINT PK_jobs PRIMARY KEY  CLUSTERED (jobCode)  ON [PRIMARY] ) ON [PRIMARY]

if ( COLUMNPROPERTY( OBJECT_ID('Pay.jobs'),'GradeID','IsRowGuidCol')is  null )
ALTER TABLE Pay.jobs ADD GradeID int

if ( COLUMNPROPERTY( OBJECT_ID('Pay.jobs'),'RankID','IsRowGuidCol')is  null )
ALTER TABLE Pay.jobs ADD RankID int


if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.jobsItems') and OBJECTPROPERTY(id,
N'IsUserTable') = 1)
CREATE TABLE Pay.jobsItems (ID int Identity(1,1) Not Null ,jobCode int Not Null ,
Descriptions varchar(500) Not Null,InfoKind smallInt Not Null ,

CONSTRAINT FK_jobsItems_jobs FOREIGN KEY(jobCode) REFERENCES Pay.jobs (jobCode)
ON UPDATE CASCADE ON DELETE CASCADE,
CONSTRAINT PK_jobsItems PRIMARY KEY  CLUSTERED (ID)  ON [PRIMARY] ) ON [PRIMARY]


if not exists (select * from dbo.sysobjects where id = object_id(N'Pay.jobsTerms') and OBJECTPROPERTY(id,
N'IsUserTable') = 1)
CREATE TABLE Pay.jobsTerms (ID int Identity(1,1) Not Null ,jobCode int Not Null ,
LicenceCode int  Not Null ,StudyField int,ExperienceYear decimal(18,4),ExperienceMonth decimal(18,4),
Duration decimal(18,4),MinPoints decimal(18,4),MaxPoints decimal(18,4),
PercentExtra decimal(18,4),JobLevel int,TestCondition int ,Note varchar(200),

CONSTRAINT FK_jobsTerms_FormsInfo_LicenceCode FOREIGN KEY(LicenceCode) REFERENCES Pay.FormsInfo (FormInfoID)ON UPDATE CASCADE,
CONSTRAINT FK_jobsTerms_FormsInfo_StudyField FOREIGN KEY(StudyField) REFERENCES Pay.FormsInfo (FormInfoID),
CONSTRAINT FK_jobsTerms_FormsInfo_JobLevel FOREIGN KEY(JobLevel) REFERENCES Pay.FormsInfo (FormInfoID),

CONSTRAINT FK_jobsTerms_jobs FOREIGN KEY(jobCode) REFERENCES Pay.jobs (jobCode)
--ON UPDATE CASCADE --ON DELETE CASCADE
,
CONSTRAINT PK_jobsTerms PRIMARY KEY  CLUSTERED (ID)  ON [PRIMARY] ) ON [PRIMARY]


--------------------------------------------------------------------------------------------
IF OBJECT_ID ('TR_ConfigChangeLog_FormInfoItems', 'TR') IS NOT NULL
ALTER TABLE Pay.FormInfoItems  ENABLE TRIGGER TR_ConfigChangeLog_FormInfoItems

IF OBJECT_ID ('TR_ConfigChangeLog_FormsInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.FormsInfo  ENABLE TRIGGER TR_ConfigChangeLog_FormsInfo

IF OBJECT_ID ('TR_ConfigChangeLog_Functions', 'TR') IS NOT NULL 
ALTER TABLE Pay.Functions   ENABLE TRIGGER TR_ConfigChangeLog_Functions

IF OBJECT_ID ('TR_ConfigChangeLog_FunctionsItems', 'TR') IS NOT NULL 
ALTER TABLE FunctionsItems  ENABLE TRIGGER TR_ConfigChangeLog_FunctionsItems

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelInfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelInfo  ENABLE TRIGGER TR_ConfigChangeLog_PersonelInfo

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExt', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExt  ENABLE TRIGGER TR_ConfigChangeLog_PersonelDecExt

IF OBJECT_ID ('TR_ConfigChangeLog_PersonelDecExtItem', 'TR') IS NOT NULL 
ALTER TABLE Pay.PersonelDecExtItem  ENABLE TRIGGER TR_ConfigChangeLog_PersonelDecExtItem

IF OBJECT_ID ('TR_ConfigChangeLog_Interdicts', 'TR') IS NOT NULL 
ALTER TABLE Pay.Interdicts  ENABLE TRIGGER TR_ConfigChangeLog_Interdicts

IF OBJECT_ID ('TR_ConfigChangeLog_InterdictItems', 'TR') IS NOT NULL 
ALTER TABLE Pay.InterdictItems  ENABLE TRIGGER TR_ConfigChangeLog_InterdictItems

IF OBJECT_ID ('TR_ConfigChangeLog_InsuranceCONSTinfo', 'TR') IS NOT NULL 
ALTER TABLE Pay.InsuranceCONSTinfo  ENABLE TRIGGER TR_ConfigChangeLog_InsuranceCONSTinfo

IF OBJECT_ID ('TR_ConfigChangeLog_SalaryRange', 'TR') IS NOT NULL 
ALTER TABLE Pay.SalaryRange  ENABLE TRIGGER TR_ConfigChangeLog_SalaryRange
---------------------------------------------------------------------------------------------