--5  تاريخ 1401/03/04    
if exists (select * from sysobjects where id = object_id(N'[dbo].[CofferAccount]') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION [dbo].CofferAccount
GO
if exists (select * from sysobjects where id = object_id(N'vW_OutputReciptsArzi') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW vW_OutputReciptsArzi
GO
if exists (select * from sysobjects where id = object_id(N'vW_EXchTo') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW vW_EXchTo
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[GetANewCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.GetANewCode
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[FreeReservedCodes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.FreeReservedCodes
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_Recipts_In]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_Recipts_In
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_Recipts_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_Recipts_Delete
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_ReciptItems_In]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_ReciptItems_In
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_ReciptItems_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_ReciptItems_Delete
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_Forms_In]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_Forms_In
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Sp_Forms_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE dbo.Sp_Forms_Delete
GO

SET QUOTED_IDENTIFIER OFF 
GO
--SET ANSI_NULLS OFF 
GO
CREATE FUNCTION CofferAccount (@CustNoFrom varchar (12)=[0] , @CustNoTo varchar (12)=[999999999999] ,
				@FormDateFrom varchar(10)=[00/00/00], @FormDateTo varchar(10)=[99/99/99],
				@FormNoFrom varchar (12)=[-99999999], @FormNoTo varchar (12)=[99999999999]    )
RETURNS table  AS  
return (
-------------------------- acckind  نشان دهنده قطعي و غير قطعي بودن اعداد ميباشد و براي اسناد ÷راختني کاربرد دارد -----------------
---------------------------------------------------------------------------------------------------------------Forms----------------------------------------------------------------------------------------------------------------
SELECT     Forms.FormID, Forms.FormNumber, Forms.FormDate, '0' as checkNumber , '0' as checkDate ,Forms.FormType, FormTypes.FormCaption, 
		Forms.CustomerID1, Forms.CustomerID2, Forms.FomNote,Forms.AidInfoNo, Forms.AidInfoDate,
		case FormTypes.Customer1Effect when 1 then Forms.Amount else 0 end as Debt ,
		case FormTypes.Customer1Effect when 2 then Forms.Amount else 0 end as Credit ,
		Forms.BudgetCode, Forms.ProjectID, Forms.CustomerName2 ,Forms.FormDate as EffectDate , 0 as AccKind
FROM      Forms INNER JOIN
                FormTypes ON Forms.FormType = FormTypes.FormType
WHERE  (FormTypes.DetailDataType = 0) AND (FormTypes.Customer1Effect between 1 and 2 ) AND  Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
	  Forms.FormDate between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID1 between @CustNoFrom and @CustNoTo 

UNION ALL

SELECT Forms.FormID, Forms.FormNumber, Forms.FormDate,  '0' as checkNumber , '0' as checkDate , Forms.FormType, FormTypes.FormCaption, 
	 Forms.CustomerID2, Forms.CustomerID1, Forms.FomNote,Forms.AidInfoNo, Forms.AidInfoDate,
	 case FormTypes.Customer2Effect when 1 then Forms.Amount else 0 end as Debt ,
	 case FormTypes.Customer2Effect when 2 then Forms.Amount else 0 end as Credit ,
	 Forms.BudgetCode, Forms.ProjectID, Forms.CustomerName2 ,Forms.FormDate as EffectDate , 0 as AccKind
FROM         Forms INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType
WHERE     (FormTypes.DetailDataType = 0) AND (FormTypes.Customer2Effect between 1 and 2 ) AND   Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
	  Forms.FormDate between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID2 between @CustNoFrom and @CustNoTo 

-----------------------------------------------------------------------------------------------------------Forms End------------------------------------------------------------------------------------------------------------
UNION ALL

SELECT	Forms.FormID, Forms.FormNumber, Forms.FormDate, FormItems.CheckNumber, FormItems.CheckDate, Forms.FormType, 
		FormTypes.FormCaption, Forms.CustomerID1 , Forms.CustomerID2  , 
		Forms.FomNote, Forms.AidInfoNo, Forms.AidInfoDate,
		case FormTypes.Customer1Effect when 1 then FormItems.ItemAmount else 0 end as Debt ,
		case FormTypes.Customer1Effect when 2 then FormItems.ItemAmount else 0 end as Credit ,
		0 as BudgetCode ,0 as ProjectID , Forms.CustomerName2 ,
		case when FormTypes.Customer1Effect  in(1,2) then Forms.FormDate else FormItems.CheckDate end as EffectDate , 0 as AccKind
FROM		Forms INNER JOIN
		FormTypes ON Forms.FormType = FormTypes.FormType INNER JOIN
		FormItems ON Forms.FormID = FormItems.FormID and Forms.ServerID = FormItems.ServerID and Forms.YearID = FormItems.YearID
WHERE	FormTypes.Customer1Effect between 1 and 4 AND   Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
               case when FormTypes.Customer1Effect  in(1,2) then Forms.FormDate else FormItems.CheckDate end  between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID1 between @CustNoFrom and @CustNoTo 

UNION ALL

SELECT	Forms.FormID, Forms.FormNumber, Forms.FormDate, FormItems.CheckNumber, FormItems.CheckDate, Forms.FormType, 
		FormTypes.FormCaption,  Forms.CustomerID2  ,Forms.CustomerID1, 
		Forms.FomNote, Forms.AidInfoNo, Forms.AidInfoDate,
		case FormTypes.Customer2Effect when 1 then FormItems.ItemAmount else 0 end as Debt ,
		case FormTypes.Customer2Effect when 2 then FormItems.ItemAmount else 0 end as Credit ,
		0  as BudgetCode ,0 as ProjectID , Forms.CustomerName2,
		case when FormTypes.Customer1Effect  in(1,2) then Forms.FormDate else FormItems.CheckDate end as EffectDate , 0 as AccKind
FROM		Forms INNER JOIN
		FormTypes ON Forms.FormType = FormTypes.FormType INNER JOIN
		FormItems ON Forms.FormID = FormItems.FormID and Forms.ServerID = FormItems.ServerID and Forms.YearID = FormItems.YearID

WHERE	FormTypes.Customer2Effect between 1 and 4 and   Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
               case when FormTypes.Customer2Effect  in(1,2) then Forms.FormDate else FormItems.CheckDate end  between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID2 between @CustNoFrom and @CustNoTo 

---------------------------------------------------------------
UNION ALL

SELECT     Forms.FormID, Forms.FormNumber, Forms.FormDate, FormItems.CheckNumber, FormItems.CheckDate, Forms.FormType, 
                      FormTypes.FormCaption, Forms.CustomerID1, Forms.CustomerID2, Forms.FomNote, Forms.AidInfoNo, Forms.AidInfoDate, 
		case FormTypes.Customer1Effect when 1 then FormItems.ItemAmount else 0 end as Debt ,
		case FormTypes.Customer1Effect when 2 then FormItems.ItemAmount else 0 end as Credit ,
		0 AS BudgetCode, 0 AS ProjectID, Forms.CustomerName2, FormItems.CheckDate  as EffectDate , 1 as AccKind
FROM         Forms INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType INNER JOIN
                      FormItems ON Forms.FormID = FormItems.FormID and Forms.ServerID = FormItems.ServerID and Forms.YearID = FormItems.YearID  LEFT OUTER JOIN
                      FormItems FormItems_1 ON FormItems.FormItemID = FormItems_1.preFormItemID
WHERE     (FormTypes.Customer1Effect BETWEEN 5 AND 6) AND (FormItems_1.preFormItemID IS NULL) and    Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
               FormItems.CheckDate  between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID1 between @CustNoFrom and @CustNoTo 

union all
SELECT	Forms.FormID, Forms.FormNumber, Forms.FormDate, FormItems.CheckNumber, FormItems.CheckDate, Forms.FormType, 
		FormTypes.FormCaption,  Forms.CustomerID2  ,Forms.CustomerID1, 
		Forms.FomNote, Forms.AidInfoNo, Forms.AidInfoDate,
		case FormTypes.Customer2Effect when 1 then FormItems.ItemAmount else 0 end as Debt ,
		case FormTypes.Customer2Effect when 2 then FormItems.ItemAmount else 0 end as Credit ,
		0  as BudgetCode ,0 as ProjectID , Forms.CustomerName2,
		FormItems.CheckDate  as EffectDate , 1 as AccKind
FROM         Forms INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType INNER JOIN
                      FormItems ON Forms.FormID = FormItems.FormID and Forms.ServerID = FormItems.ServerID and Forms.YearID = FormItems.YearID  LEFT OUTER JOIN
                      FormItems FormItems_1 ON FormItems.FormItemID = FormItems_1.preFormItemID

WHERE	FormTypes.Customer2Effect between 5 and 6 AND (FormItems_1.preFormItemID IS NULL) and    Forms.FormState <10 AND
	  Forms.FormNumber between @FormNoFrom and @FormNoTo and 
               FormItems.CheckDate   between @FormDateFrom and @FormDateTo and
	  Forms.CustomerID2 between @CustNoFrom and @CustNoTo )
--------------------------------------------------------------
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

--------------------------------
SET QUOTED_IDENTIFIER OFF 
GO
CREATE VIEW dbo.vW_OutputReciptsArzi
as
select r.reciptid,r.yearid,r.serverid,rtype.reciptcaption,isnull(round(sum(ri.outputentity), 2), 0) as meghdarsadere,
           isnull(sum(ri.totaloutputprice), 0) as bahasadere,isnull(sum(isnull(ri.deficitvalue, 0) + isnull(ri.deficitvalue2, 0) + isnull(ri.deficitvalue4, 0)+ isnull(ri.deficitvalue3, 0)), 0) as takhfif,
           isnull(sum(ri.taxvalue), 0) as maliat, isnull(sum(ri.totallsellprice), 0) as khales,isnull(sum(ri.arzamount), 0) as marzi,
           isnull(sum(ri.commissionprice), 0) as mzakhire,isnull(sum(ri.commissioncurrency), 0) as zakhirearzi
    from reciptitems ri inner join recipts r on r.reciptid = ri.reciptid and r.serverid = ri.serverid and r.yearid = ri.yearid
        inner join recipttypes1 as rtype on r.recipttype = rtype.recipttype  where  (r.ReciptType IN (171, 172, 170, 12))
    group by r.reciptid,rtype.reciptcaption,r.yearid,r.serverid

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
--------------------------------
SET QUOTED_IDENTIFIER OFF 
GO
CREATE VIEW dbo.vW_EXchTo
as
SELECT  c.CurrenciesID, MAX(c.EqualityWithMainUnit) AS EqualityWithMainUnit , c.CurrenciesDate,c.CurrenciesTime
                        FROM    CurrenciesItems c
                         INNER JOIN (
SELECT m.CurrenciesDate,m.t,m.CurrenciesID FROM
(SELECT        CurrenciesDate,  MAX(CurrenciesTime) AS t,CurrenciesID
FROM            CurrenciesItems
where      (CurrenciesID >= 10)  
GROUP BY  CurrenciesDate,CurrenciesID) AS M) AS CI2 ON c.CurrenciesTime=ci2.t
 WHERE   (c.CurrenciesID >= 10) AND c.CurrenciesDate=ci2.CurrenciesDate AND c.CurrenciesID=ci2.CurrenciesID 
 GROUP BY c.CurrenciesDate,c.CurrenciesTime,c.CurrenciesID


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
CREATE PROCEDURE dbo.GetANewCode @FormName VARCHAR(100), @tblName  VARCHAR(2000), @fldName  VARCHAR(100),
  @YearID  Int=1399,  @ISKey  Bit = 0 , @ID bigint out
AS
SET NOCOUNT ON
BEGIN
DECLARE @isID bigint
    SET @FormName = Lower(@FormName);
    SET @tblName = Lower(@tblName);
    SET @fldName = Lower(@fldName);
	if @tblName ='recipts'
         Select @ID=isnull(max(ReciptID),0)+1 from Recipts where YearID = @YearID
	  else
	  	if @tblName ='reciptitems'
          Select @ID=isnull(max(ReciptItemID),0)+1 from Reciptitems where YearID = @YearID
		  else
	  		if @tblName ='forms'
			  Select @ID=isnull(max(FormID),0)+1 from Forms where YearID = @YearID
			  else
	  			if @tblName ='formitems'
				  Select @ID=isnull(max(FormItemID),0)+1 from Formitems where YearID = @YearID




   Select @isID=MAX(Value) + 1 from  util.CodesInProcess where (TableName =@tblName) 
         and (FieldName = @fldName)       and (type = 0)
      and case when  @ISKey=0 then  FormName else @FormName end =@FormName


      if (isnull(@isID,0) <> 0) and (@isID > @ID) 
     SET   @ID = @isID
      Insert Into util.CodesInProcess
	            (UserID,FormName,TableName,FieldName,[Value],[Ip],[Type]) 
         values (0,@FormName ,@tblName,@fldName,@ID, '127001' , 0)
    

end



GO




CREATE PROCEDURE dbo.FreeReservedCodes @FormName VARCHAR(100), @tblName  VARCHAR(2000), 
         @fldName  VARCHAR(100),  @UserID  Int=0
AS
SET NOCOUNT ON
BEGIN
	SET @FormName = Lower(@FormName)
	SET @tblName = Lower(@tblName)
	SET @fldName = Lower(@fldName)
	DELETE FROM Util.CodesInProcess
	WHERE (UserID = @UserID) AND (Ip = '127001') 
	AND (@FormName <> '' OR FormName = @FormName) 
    AND (TableName <> '' OR TableName = @tblName) 
	AND (FieldName <> '' OR FieldName = @fldName)
    

END




GO


CREATE PROCEDURE dbo.Sp_Recipts_In
@ExternalId    VARCHAR(100),    
@ReciptType    int,
@YearID        int  ,
@StoreID       int,
@StoreID2      int,
@PersonID1     int,  
@PersonID2     int,
@PersonID3     int,
@OperatorID    int,
@ReciptDate    CHAR(10),
@ReciptNote    VARCHAR(400),
@ReciptNumber  int            out,
@ReciptCaption NVARCHAR(70)   out,
@ID            Bigint         OUT ,
@ErrorNumber   int            OUT,
@ErrorMessage  NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE @ReciptID int  
DECLARE @ServerID int=0
DECLARE @SellsEmporium int=1
DECLARE @ReciptState int  
DECLARE @DocNo int  


SET @ID = 0
 SELECT @ReciptCaption=ReciptCaption FROM ReciptTypes
     WHERE  (ReciptType = @ReciptType)

 SELECT  @ReciptNumber=ReciptNumber,@ReciptID=ReciptID,@ID=ID,@ReciptState=ReciptState,@DocNo=DocNo FROM Recipts   WHERE   (LTRIM(RTRIM(TruckNumber)) = LTRIM(RTRIM(@ExternalId)))

if   ((@ReciptNumber is NULL) or (@ReciptNumber=''))
begin
SET @ReciptNumber=@ExternalId
DECLARE  @UserName VARCHAR(50)='كاربر SQL'

EXEC	 [dbo].[GetANewCode] 		@FormName = N'12', 		@tblName = N'Recipts',
		@fldName = N'ReciptID',		@YearID = 1399, 		@ISKey = 1, 		@ID = @ID OUTPUT

SET @ReciptID = @ID

BEGIN TRY  
INSERT INTO 
Recipts(ReciptID,  StoreID, StoreID2 ,  ReciptNumber,InsertDate , ModifyDate,  PersonID1 , PersonID2,   PersonID3, ReciptType, ReciptDate,  OperatorID,  
          FirstUser, YearID,  ServerID , PrvYearID,UseOtherID , SellsEmporium,ReciptState,TruckNumber,ReciptNote)
VALUES (@ReciptID, @StoreID, @StoreID2 , @ReciptNumber,GETDATE(), GETDATE(), @PersonID1 , @PersonID2 ,@PersonID3 ,    @ReciptType, @ReciptDate, ISNULL(  @OperatorID,0)  ,    
          @UserName, @YearID, @ServerID, @YearID,      0 ,  @SellsEmporium ,0,@ExternalId,RTRIM(LTRIM(@ReciptNote))  )

SET @ID =(CONVERT(bigint,(LTRIM(@YearID)+right('0'+LTRIM(@ServerID),(2)))+LTRIM(abs(@ReciptID)),0))
END TRY  
BEGIN CATCH  
    SET @ID =0
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 

EXEC	 [dbo].FreeReservedCodes 		@FormName = N'12', 		@tblName = N'Recipts',		@fldName = N'ReciptID',
		         @UserID = 0

END
else 
begin
BEGIN TRY  
  if @ReciptState in (1, 2, 3) 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      ' كه نوع اطلاعات آن موقت/پیش نویس/رزرو است قابل ویرایش است'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      'که برایش سند حسابداری ثبت نشده باشد قابل ویرایش است‏'      
    RETURN
  end;

  UPDATE  Recipts SET                
     StoreID = @StoreID , StoreID2 = @StoreID2 ,ModifyDate =GETDATE() , PersonID1 = @PersonID1 
  , PersonID2 = @PersonID2 , PersonID3 = @PersonID3 ,ReciptDate = @ReciptDate , LastUser = @UserName
  , SellsEmporium = @SellsEmporium , ReciptNote  = RTRIM(LTRIM(@ReciptNote)) 
   WHERE   (LTRIM(RTRIM(TruckNumber)) = LTRIM(RTRIM(@ExternalId))) 
END TRY  
BEGIN CATCH  
    SET @ID = 0
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 
end
END 
  
GO


CREATE PROCEDURE dbo.Sp_ReciptItems_In
@ExternalId    VARCHAR(100),    
@MasterID bigint,
@StuffCode bigint,
@Entity float ,
@Weight float ,
@UnitSellPrice float ,
@TotalPrice money ,
@ItemNote  VARCHAR(400),
@PersonID1 int ,
@ID Bigint OUT ,
@ErrorNumber  int OUT,
@ErrorMessage NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE  @FormOutput tinyint 
DECLARE  @ReciptItemID int  
DECLARE  @ReciptID int  
DECLARE  @YearID int   
DECLARE  @ServerID int 
DECLARE @ReciptState int  
DECLARE @DocNo int  
DECLARE @ReciptCaption varchar(70)  

 SELECT @ReciptID=Recipts.ReciptID,@YearID=Recipts.YearID,@ServerID=Recipts.ServerID,@FormOutput = CASE WHEN ReciptTypes1.EffectType  in (3, 4, 5, 7 ,  8  ) THEN 1 ELSE 0 END
     ,@ReciptState=Recipts.ReciptState,@DocNo=Recipts.DocNo ,@ReciptCaption = ReciptTypes1.ReciptCaption
 FROM            Recipts INNER JOIN
                         ReciptTypes1 ON Recipts.ReciptType = ReciptTypes1.ReciptType
WHERE        (Recipts.ID = @MasterID)
     
DECLARE  @FirstUser VARCHAR(50)='كاربر SQL'
DECLARE  @InputEntity float = 0 
DECLARE  @OutputEntity float = 0  
DECLARE  @InputWeight float = 0 
DECLARE  @OutputWeight float = 0  
DECLARE  @TotalInputPrice money = 0 
DECLARE  @TotalOutputPrice money = 0 
DECLARE  @TotallSellPrice money = 0  

if @FormOutput = 1
begin
  SET @OutputEntity = @Entity
  SET @OutputWeight = @Weight
  SET @TotalOutputPrice = @TotalPrice
  if  @TotalOutputPrice = 0
    SET @TotalOutputPrice =round( @Entity * @UnitSellPrice,0)
  SET @TotallSellPrice = @TotalOutputPrice
end
else
begin
  SET @InputEntity = @Entity
  SET @InputWeight = @Weight
  SET @TotalInputPrice = @TotalPrice
  if  @TotalInputPrice = 0
    SET @TotalInputPrice =round( @Entity * @UnitSellPrice,0)
  SET @TotallSellPrice = @TotalInputPrice
end

declare  @MachineNo varchar(100)

 SELECT  @MachineNo=MachineNo,@ID=ID FROM ReciptItems   WHERE   (LTRIM(RTRIM(MachineNo)) = LTRIM(RTRIM(@ExternalId)))

if   ((@MachineNo is NULL) or (@MachineNo=''))
begin

EXEC	 [dbo].[GetANewCode]
		@FormName = N'12',
		@tblName = N'ReciptItems',
		@fldName = N'ReciptItemID',
		@YearID = 1399,
		@ISKey = 1,
		@ID = @ID OUTPUT
SET @ReciptItemID = @ID


BEGIN TRY  

INSERT INTO 
ReciptItems(MachineNo,ReciptItemID, ReciptID, ServerID, YearID, PrvYearID, StuffCode, InputEntity, OutputEntity, InputWeight, OutputWeight, TotalInputPrice, 
    TotalOutputPrice, UnitSellPrice, TotallSellPrice, ItemNote, PersonID1, FirstUser)
VALUES (@ExternalId,@ReciptItemID,@ReciptID, @ServerID, @YearID , @YearID, @StuffCode, @InputEntity, @OutputEntity, @InputWeight, @OutputWeight, @TotalInputPrice, 
    @TotalOutputPrice, @UnitSellPrice, @TotallSellPrice, @ItemNote, @PersonID1 , @FirstUser)
	
  SET @ID =(CONVERT(bigint,(LTRIM(@YearID)+right('0'+LTRIM(@ServerID),(2)))+LTRIM(abs(@ReciptItemID)),0))
END TRY  
BEGIN CATCH  
    SET @ID =0
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 

EXEC	 [dbo].FreeReservedCodes
		@FormName = N'12',
		@tblName = N'ReciptItems',
		@fldName = N'ReciptItemID',
		@UserID = 0
end
else 
begin
BEGIN TRY  
  if @ReciptState in (1, 2, 3) 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      ' كه نوع اطلاعات آن موقت/پیش نویس/رزرو است قابل ویرایش است'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      'که برایش سند حسابداری ثبت نشده باشد قابل ویرایش است‏'      
    RETURN
  end;
  UPDATE  Reciptitems SET                
     StuffCode = @StuffCode , InputEntity = @InputEntity , OutputEntity = @OutputEntity
  , InputWeight = @InputWeight , OutputWeight = @OutputWeight ,TotalInputPrice = @TotalInputPrice , LastUser = @FirstUser
  , TotalOutputPrice = @TotalOutputPrice , ItemNote  = RTRIM(LTRIM(@ItemNote)) ,UnitSellPrice =@UnitSellPrice
  ,TotallSellPrice=@TotallSellPrice,PersonID1 =@PersonID1
   WHERE   (LTRIM(RTRIM(MachineNo)) = LTRIM(RTRIM(@ExternalId))) 

END TRY  
BEGIN CATCH  
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 
end





END 
  
GO
CREATE PROCEDURE dbo.Sp_Recipts_Delete
@ExternalId    VARCHAR(100),    
@ID            Bigint         ,
@ErrorNumber   int            OUT,
@ErrorMessage  NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE @ReciptState INT
DECLARE @DocNo INT
DECLARE @ReciptCaption VARCHAR(70)
SELECT    @ReciptState= Recipts.ReciptState,@DocNo= Recipts.DocNo, @ReciptCaption=ReciptTypes1.ReciptCaption+'('+ltrim(Recipts.ReciptNumber)+')'
FROM            Recipts INNER JOIN ReciptTypes1 ON Recipts.ReciptType = ReciptTypes1.ReciptType
WHERE        (Recipts.ID = @ID)AND (Recipts.TruckNumber = @ExternalId)

  if @ReciptState in (1, 2, 3) 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      ' كه نوع اطلاعات آن موقت/پیش نویس/رزرو است قابل حذف است'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      'که برایش سند حسابداری ثبت نشده باشد قابل حذف است‏'      
    RETURN
  end;



BEGIN TRY  
DELETE FROM Recipts WHERE        (Recipts.ID = @ID)AND (Recipts.TruckNumber = @ExternalId)
END TRY  
BEGIN CATCH  
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 


END


  
GO
CREATE PROCEDURE dbo.Sp_ReciptItems_Delete
--@ExternalId    VARCHAR(100),    
@ID            Bigint         ,
@ErrorNumber   int            OUT,
@ErrorMessage  NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE @Reciptstate INT
DECLARE @DocNo INT
DECLARE @ReciptCaption VARCHAR(70)
SELECT    @Reciptstate= Recipts.Reciptstate,@DocNo= Recipts.DocNo, @ReciptCaption=ReciptTypes1.ReciptCaption+'('+ltrim(Recipts.ReciptNumber)+')'
FROM    Recipts INNER JOIN
                         ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND Recipts.YearID = ReciptItems.YearID INNER JOIN
                         ReciptTypes1 ON Recipts.ReciptType = ReciptTypes1.ReciptType
WHERE        (ReciptItems.ID = @ID)--AND (Recipts.TruckNumber = @ExternalId)

  if @Reciptstate in (1, 2, 3) 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      ' كه نوع اطلاعات آن موقت/پیش نویس/رزرو است قابل حذف است‏'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @ReciptCaption +
      'که برایش سند حسابداری ثبت نشده باشد قابل حذف است‏'      
    RETURN
  end;



BEGIN TRY  
DELETE FROM ReciptItems WHERE  (ReciptItems.ID = @ID)--AND (ReciptItems.TruckNumber = @ExternalId)
END TRY  
BEGIN CATCH  
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 


END


  
GO


CREATE PROCEDURE dbo.Sp_Forms_In
@ExternalId VARCHAR(100),
@YearID int  ,
@FormType int,
@CustomerID1 int,
@CustomerID2 int,
@CustomerID3 int,
@OperatorID int,
@FormDate CHAR(10),
@Amount money ,
@FormNote  VARCHAR(400),
@FormNumber int out,
@FormCaption NVARCHAR(70) out,
@ID Bigint OUT ,
@ErrorNumber  int OUT,
@ErrorMessage NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE @FormID int  
DECLARE @ServerID int=0
DECLARE @SellsEmporium int=1

SET @ID = 0
 SELECT @FormCaption=FormCaption FROM FormTypes
     WHERE  (FormType = @FormType)

declare @FormState int
declare @DocNo int
SELECT  @FormNumber=FormNumber,@FormID=FormID,@ID=ID,@FormState=FormState,@DocNo=DocNo FROM Forms   WHERE   (LTRIM(RTRIM(TruckNumber)) = LTRIM(RTRIM(@ExternalId)))

if   ((@FormNumber is NULL) or (@FormNumber=''))
begin
SET @FormNumber=@ExternalId
DECLARE  @UserName VARCHAR(50)='كاربر SQL'

EXEC	 dbo.GetANewCode 		@FormName = N'1', 		@tblName = N'Forms',
		@fldName = N'FormID',		@YearID = 1399, 		@ISKey = 1, 		@ID = @ID OUTPUT

SET @FormID = @ID

BEGIN TRY  
INSERT INTO 
Forms(FormID,   FormNumber,Amount, ModifyDate,  CustomerID1 , CustomerID2,   CustomerID3, FormType, FormDate,  OperatorID,  
          FirstUser, YearID,  ServerID ,  SellsEmporium,FormState,TruckNumber,FomNote)
VALUES (@FormID,  @FormNumber,@Amount,GETDATE(), @CustomerID1 , @CustomerID2 ,@CustomerID3 ,    @FormType, @FormDate, ISNULL(  @OperatorID,0)  ,    
          @UserName, @YearID, @ServerID, @SellsEmporium ,0,@ExternalId,RTRIM(LTRIM(@FormNote))  )

SET @ID =(CONVERT(bigint,(LTRIM(@YearID)+right('0'+LTRIM(@ServerID),(2)))+LTRIM(abs(@FormID)),0))
END TRY  
BEGIN CATCH  
    SET @ID =0
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 

EXEC	 [dbo].FreeReservedCodes 		@FormName = N'1', 		@tblName = N'Forms',		@fldName = N'FormID',
		         @UserID = 0

END
else 
begin
BEGIN TRY  
  if @FormState > 0 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @FormCaption +
      ' كه نوع اطلاعات آن موقت است قابل ویرایش است'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @FormCaption +
      'که برایش سند حسابداری ثبت نشده باشد قابل ویرایش است‏'      
    RETURN
  end;

  UPDATE  Forms SET                
     FormNumber = @FormNumber , Amount = @Amount ,ModifyDate = GETDATE() , CustomerID1 = @CustomerID1 
  , CustomerID2 = @CustomerID2 , CustomerID3 = @CustomerID3 ,FormDate = @FormDate , LastUser = @UserName
  , SellsEmporium = @SellsEmporium , FomNote  = RTRIM(LTRIM(@FormNote)) 
    WHERE   (LTRIM(RTRIM(TruckNumber)) = LTRIM(RTRIM(@ExternalId))) 

END TRY  
BEGIN CATCH  
    SET @ID = 0
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 
end

END 
  
GO

GO

CREATE PROCEDURE dbo.Sp_Forms_Delete
@ExternalId    VARCHAR(100),    
@ID            Bigint         ,
@ErrorNumber   int            OUT,
@ErrorMessage  NVARCHAR(4000) OUT 
AS
SET NOCOUNT ON
BEGIN
DECLARE @FormState INT
DECLARE @DocNo INT
DECLARE @FormCaption VARCHAR(70)
SELECT    @FormState= Forms.FormState,@DocNo= Forms.DocNo, @FormCaption=FormTypes.FormCaption+'('+ltrim(Forms.FormNumber)+')'
FROM            Forms INNER JOIN FormTypes ON Forms.FormType = FormTypes.FormType
WHERE        (Forms.ID = @ID)AND (Forms.TruckNumber = @ExternalId)

  if @FormState > 0 
  begin
    set @ErrorNumber=-1
    set @ErrorMessage ='فقط ' + @FormCaption +' كه نوع اطلاعات آن موقت است قابل حذف است'      
    RETURN
  end;
  
  if @DocNo <> 0 
  begin
    set @ErrorNumber=-2
    set @ErrorMessage ='فقط ' + @FormCaption + 'که برایش سند حسابداری ثبت نشده باشد قابل حذف است‏'      
    RETURN
  end;



BEGIN TRY  
DELETE FROM Forms WHERE(Forms.ID = @ID)AND (Forms.TruckNumber = @ExternalId)
END TRY  
BEGIN CATCH  
    SELECT     @ErrorNumber= ERROR_NUMBER() ,@ErrorMessage= ERROR_MESSAGE()   
END CATCH; 


END



