--17  تاريخ 1402/11/16    
if exists (select * from sysobjects where id = object_id(N'QuotedStr') and xtype in (N'FN', N'IF', N'TF'))
drop function QuotedStr
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[GeneralReport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GeneralReport]
GO
if exists (select * from sysobjects where id = object_id(N'Tsh.GeneralReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure Tsh.GeneralReport
GO
if exists (select * from sysobjects where id = object_id(N'SP_Matrix') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure SP_Matrix
GO
if exists (select * from sysobjects where id = object_id(N'SP_MatrixUnlimit') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure SP_MatrixUnlimit
GO
if exists (select * from sysobjects where id = object_id(N'Fn_rptCustomersBalance2F') and xtype in (N'FN', N'IF', N'TF'))
drop function Fn_rptCustomersBalance2F
GO

-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION QuotedStr (@strinq  varchar(200)  )
RETURNS varchar(200) 
BEGIN
   declare @S Varchar(200)
    if CHARINDEX('/', @strinq )=0 
        set @S= @strinq 
   else set @S= ''''+@strinq+''''   
   RETURN(@S)  
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GO
--IF OBJECT_ID('tempdb..##tblTemp2') IS NOT NULL 
	   --DROP TABLE ##tblTemp2
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE PROCEDURE [dbo].[GeneralReport] 
 @BaseParam VARCHAR(50),
 @AddParam VARCHAR(3),
 @Filter VARCHAR(100),
 @SliceCodeFlag BIT,
 @SliceCaptionFlag BIT,
 @EffectType INT, 
 @UnitePriceType INT,  
 @SqlWhere VARCHAR(1000),
 @AItemsFields VARCHAR(100)
 
AS
BEGIN

DECLARE @SqlSelect    VARCHAR(4000)
DECLARE @SqlJoin      VARCHAR(1000)
DECLARE @SqlGroup     VARCHAR(4000)
DECLARE @SqlTopic     VARCHAR(1000)
DECLARE @SqlFinal     VARCHAR(8000)
DECLARE @SqlInput     VARCHAR(4000)

DECLARE @OldCode      VARCHAR(1000)
DECLARE @SliceCode    VARCHAR(1000)
DECLARE @SliceCaption NVARCHAR(1000)
 
DECLARE @ID           VARCHAR(12)
DECLARE @fldName      VARCHAR(200)
DECLARE @AliasName    VARCHAR(50)
DECLARE @tblName      VARCHAR(30)
DECLARE @TopicName    VARCHAR(200)
DECLARE @Current      VARCHAR(50) 
DECLARE @JoinFldName  VARCHAR(50)
DECLARE @CaptionName  NVARCHAR(50)



DECLARE @AddStuffParam    BIT
DECLARE @AddCustParam1    BIT
DECLARE @AddCustParam2    BIT
DECLARE @AddCustParam3    BIT
DECLARE @AddCustParamItem BIT

--DECLARE @SQLStuffTecInfoActive varchar(20)
 
SET @SqlSelect    = ''
SET @SqlJoin      = ''
SET @SqlGroup     = ''
SET @SqlTopic     = ''
SET @SqlFinal     = ''
SET @SqlInput     = ''
SET @OldCode      = ''
SET @SliceCode    = ''
SET @SliceCaption = ''
--SET @SQLStuffTecInfoActive = ''

SET @AddStuffParam    = 0
SET @AddCustParam1    = 0
SET @AddCustParam2    = 0
SET @AddCustParam3    = 0
SET @AddCustParamItem = 0
--Added
DECLARE @SQLSUM NVARCHAR(1000);
SET @SQLSUM = '';

DECLARE @SqlView VARCHAR(8000)
SET @SqlView = '';
------------------------------------------------------------------------------------------------------------------------------------------
DECLARE @SqlViewFilter2 VARCHAR(8000)
SET @SqlViewFilter2 = '';
------------------------------------------------------------------------------------------------------------------------------------------

--Added
DECLARE @ActiveSellPrice2  int
SELECT   @ActiveSellPrice2=ActiveSellPrice2     FROM            Config

SET @Current = @BaseParam +','+ @AddParam 

DECLARE QAnalize CURSOR 
    FOR(
	     SELECT Util.Analyze.ID,TableName,REPLACE( FieldName,'ReciptItems','R'),AliasName ,JoinFieldName,CaptionName,TopicName
	     FROM Util.Analyze  INNER JOIN SplitString(@Current,',') SP ON SP.part =  Util.Analyze.ID 
	    ); 

OPEN QAnalize 
FETCH FROM QAnalize INTO @ID, @tblName, @fldName, @AliasName, @JoinFldName, @CaptionName, @TopicName ;
WHILE @@FETCH_STATUS = 0 
BEGIN
     
       SET @SqlGroup = @SqlGroup +  ISNULL(@AliasName,@tblName) +'.'+@JoinFldName  +' , '+ ISNULL(@AliasName,@tblName) +'.'+ @TopicName +','

       SET @SqlSelect = @SqlSelect + ' ISNULL(CAST('+ ISNULL(@AliasName,@tblName) +'.'+@JoinFldName +' AS VARCHAR(100)),0) +''-''+ '
       SET @SqlTopic = @SqlTopic + ' ISNULL(CAST('+ISNULL(@AliasName,@tblName) +'.'+ @TopicName +' AS VARCHAR(100)),''--'') +''-''+ ' 
       
       
       IF (@SliceCaptionFlag  = 1)
       BEGIN
          SET @SliceCaption  =  @SliceCaption +  'ISNULL(CAST(' +ISNULL(@AliasName,@tblName) + '.' + @TopicName + ' AS NVARCHAR(100)),'' '') AS'+'['+'عنوان '+ @CaptionName +'],'      
       END
       
       IF (@SliceCodeFlag = 1)
       BEGIN 
          SET @SliceCode = @SliceCode + '  ISNULL(CAST('+ ISNULL(@AliasName,@tblName) +'.'+@JoinFldName +' AS VARCHAR(100)),0) '+ ' AS ['+@CaptionName+'], '
       END
            
          --AddStuffGroup
          IF (@ID = 4)
          BEGIN
             IF(@AddStuffParam = 1)  GOTO FetchState;
             ELSE  SET @AddStuffParam = 1          
          END
          IF ((@ID = 2) AND (@AddStuffParam = 0)) 
          BEGIN
               SET @AddStuffParam = 1
               SET @SqlJoin = @SqlJoin + ' INNER JOIN StuffCoding ON StuffCoding.c_StuffCode=R.StuffCode ' 
          END
          --AddStuffGroup
          
          
          --AddCustomerGroup1
          IF (@ID = 9)
          BEGIN
             IF(@AddCustParam1 = 1)  GOTO FetchState;
             ELSE  SET @AddCustParam1 = 1          
          END
          IF (( @ID in( 5 , 22 ,23 )) AND (@AddCustParam1 = 0)) 
          BEGIN
               SET @AddCustParam1 = 1
               SET @SqlJoin = @SqlJoin + ' INNER JOIN Customers C1 ON C1.CustID = R.PersonID1 ' 
          END
          --AddCustomerGroup1
       
          
          --AddCustomerGroup2
          IF (@ID = 10)
          BEGIN
             IF(@AddCustParam2 = 1)  GOTO  FetchState;
             ELSE  SET @AddCustParam2 = 1          
          END
          IF (( @ID = 6) AND (@AddCustParam2 = 0)) 
          BEGIN
               SET @AddCustParam2 = 1
               SET @SqlJoin = @SqlJoin + ' INNER JOIN Customers C2 ON C2.CustID = R.PersonID2 ' 
          END
          --AddCustomerGroup2
          
          
          --AddCustomerGroup3
          IF (@ID = 11)
          BEGIN
             IF(@AddCustParam3 = 1)  GOTO  FetchState;
             ELSE  SET @AddCustParam3 = 1          
          END
          IF (( @ID = 7) AND (@AddCustParam3 = 0)) 
          BEGIN
               SET @AddCustParam3 = 1
               SET @SqlJoin = @SqlJoin + ' INNER JOIN Customers C3 ON C3.CustID = R.PersonID3 ' 
          END
          --AddCustomerGroup3
          
          
          --AddCustomerGroupItem
          IF (@ID = 12)
          BEGIN
             IF(@AddCustParamItem = 1)  GOTO  FetchState;
             ELSE  SET @AddCustParamItem = 1          
          END
          IF (( @ID = 8) AND (@AddCustParamItem = 0)) 
          BEGIN
               SET @AddCustParamItem = 1
               SET @SqlJoin = @SqlJoin + ' INNER JOIN Customers CItem ON CItem.CustID = R.PersonID1D ' 
          END
          --AddCustomerGroupItem

   
       SET @SqlJoin = @SqlJoin + ' INNER JOIN ' + @tblName + ' '+ISNULL(@AliasName ,'')+ ' ON ' +'ISNULL('+ @fldName +',0)'+' = ' + ISNULL(@AliasName,@tblName) +'.'+@JoinFldName
       
       FetchState: FETCH NEXT FROM QAnalize INTO @ID, @tblName,@fldName,@AliasName ,@JoinFldName ,@CaptionName,@TopicName ;

END

CLOSE QAnalize ;	
DEALLOCATE QAnalize ; 


--IF (@ActiveInput = 1 )
  IF(@EffectType in (2,5,6,  8  ))
  BEGIN 
	SET @SqlInput =   ',SUM(R.InputEntity) AS EntityInput, SUM(R.InputWeight) AS WeightInput, ' ;

	IF(@UnitePriceType in (1,3))
	SET @SqlInput = @SqlInput
					+ 'CASE WHEN SUM(R.InputEntity) = 0 THEN 0 ELSE ROUND(SUM(R.TotalInputPrice)  ' 
					+ '/ SUM(R.InputEntity),0) END AS PriceUnitInEntity,' ;

	IF (@UnitePriceType in (2,3))
	SET @SqlInput = @SqlInput
					+ 'CASE WHEN SUM(R.InputWeight) = 0 THEN 0 ELSE ROUND(SUM(R.TotalInputPrice)  '
					+ '/ SUM(R.InputWeight),0) END AS PriceUnitInWeight,';
					
	SET @SqlInput = @SqlInput+ 'cast(SUM(R.TotalInputPrice) as decimal(38,0) )  AS PriceTotalInput   ' ;
	SET @SQLSUM = @SQLSUM +'SUM(EntityInput) AS EntityInput, SUM(WeightInput) AS WeightInput, cast(SUM(PriceTotalInput) as decimal(38,0) )  AS PriceTotalInput'+',' 
					
END
--IF (@ActiveOutput = 1 )
IF (@EffectType in (4,6,  8  ))
BEGIN 
	SET @SqlInput = @SqlInput+ ',SUM(R.OutputEntity) AS EntityOutput, SUM(R.OutputWeight) AS WeightOutput, ' ;
	IF (@UnitePriceType in (1,3))
	SET @SqlInput = @SqlInput
					+ 'CASE WHEN SUM(R.OutputEntity) =0 THEN 0 ELSE ROUND(SUM(R.TotalOutputPrice ) '
					+ '/ SUM(R.OutputEntity),0) END AS PriceUnitOutEntity,' ;

	IF (@UnitePriceType in (2,3))
	SET @SqlInput = @SqlInput					
					+ 'CASE WHEN SUM(R.OutputWeight) =0 THEN 0 ELSE ROUND(SUM(R.TotalOutputPrice ) '
					+ '/ SUM(R.OutputWeight),0) END AS PriceUnitOutWeight,' ;



	SET @SqlInput = @SqlInput
					+ 'cast(SUM(R.TotalOutputPrice) as decimal(38,0) ) AS PriceTotalOutput  ' ;
	SET @SQLSUM = @SQLSUM +'SUM(EntityOutput) AS EntityOutput, SUM(WeightOutput) AS WeightOutput, cast( SUM(PriceTotalOutput) as decimal(38,0) )  AS PriceTotalOutput'+',' 


END 					
IF (@EffectType in (6))
BEGIN 
	SET @SqlInput = @SqlInput
				+ ',SUM(R.InputEntity-R.OutputEntity) AS Entity, '
				+ 'SUM(R.InputWeight - R.OutputWeight) AS Weight,'
	IF (@UnitePriceType in (1,3))
	SET @SqlInput = @SqlInput
                + 'CASE WHEN SUM(R.InputEntity - R.OutputEntity)=0 THEN 0 ELSE ROUND(SUM(R.TotalInputPrice -R.TotalOutputPrice) '                
                + '/ SUM(R.InputEntity-R.OutputEntity),0) END AS UnitEntityPrice, '

	IF (@UnitePriceType in (2,3))
	SET @SqlInput = @SqlInput	
                + 'CASE WHEN SUM(R.InputWeight - R.OutputWeight)=0 THEN 0 ELSE ROUND(SUM(R.TotalInputPrice -R.TotalOutputPrice) '                
                + '/ SUM(R.InputWeight-R.OutputWeight),0) END AS UnitWeightPrice, '
                
	SET @SqlInput = @SqlInput
					+ 'SUM(R.TotalInputPrice-R.TotalOutputPrice) AS Price  ' ;
	SET @SQLSUM = @SQLSUM +'SUM(Entity) AS Entity, SUM(Weight) AS Weight, SUM(Price) AS Price'+',' 				
END 
IF (@ActiveSellPrice2 = 1)
BEGIN
	SET @SqlInput = @SqlInput
					+ ',SUM(R.TotallSellPrice) AS PriceArzeshAfzode  ' ;
	SET @SQLSUM = @SQLSUM +'SUM(PriceArzeshAfzode) AS PriceArzeshAfzode'+',' 				
END

 SET @SqlSelect = LEFT (@SqlSelect , LEN(@SqlSelect)-5)
 SET @SqlTopic = LEFT  (@SqlTopic, LEN(@SqlTopic)-5) 
 SET @SqlGroup = @SqlGroup + @SqlTopic +','+ @SqlSelect 
 SET @SQLSUM = LEFT( @SQLSUM ,LEN(@SQLSUM)-1) 
 
 
 IF (@AddParam  <> '')
 BEGIN
	SELECT @OldCode = @OldCode + 'Cast(' + REPLACE( FieldName,'ReciptItems','R') +' AS VARCHAR(20)) +''-''+'      
	FROM Util.Analyze  INNER JOIN SplitString(@BaseParam,',') SP ON SP.part = Util.Analyze.ID 

	SET @OldCode   =  LEFT (@OldCode, (LEN(@OldCode) - 5))  ; 
	
	IF (@Filter <> '') 
	BEGIN
		IF (@SqlWhere = '')  
			SET @SqlWhere =  ' WHERE '+ @OldCode +'='''+@Filter+' '''	
		ELSE		
			SET @SqlWhere =  @SqlWhere +' AND '+ @OldCode +'='''+@Filter+' '''		
	END;	
 END;

--Added QAnalizeItems
DECLARE @SqlGroupItem NVARCHAR(1000)
DECLARE @SqlSelectItem NVARCHAR(1000)

DECLARE @IDItem INT
DECLARE @fldNameItem NVARCHAR(50)
DECLARE @DispalyNameItem NVARCHAR(50)

SET @SqlGroupItem = ''
SET @SqlSelectItem = ''

SET @Current = @AItemsFields

DECLARE QAnalizeItems CURSOR 
    FOR(
	     SELECT Util.AnalyzeItems.ID, FieldName, DisPlayName
         FROM Util.AnalyzeItems  INNER JOIN SplitString(@Current,',') SP ON SP.part =  Util.AnalyzeItems.ID 
	    ); 

OPEN QAnalizeItems 
FETCH FROM QAnalizeItems INTO @IDItem, @fldNameItem, @DispalyNameItem ;
WHILE @@FETCH_STATUS = 0 
BEGIN  
	   IF( NOT((@fldNameItem LIKE 'SUM(%)')OR(@fldNameItem LIKE 'AVG(%)')OR(@fldNameItem LIKE 'MIN(%)')
	           OR(@fldNameItem LIKE 'MAX(%)')OR(@fldNameItem LIKE 'COUNT(%)')) )
	   BEGIN
         SET @SqlGroupItem = @SqlGroupItem + @fldNameItem +','
       END
       SET @SqlSelectItem = @SqlSelectItem + 'ISNULL(CAST('+ @fldNameItem +' AS VARCHAR(100)), 0) AS ['+ @DispalyNameItem +'],'
  
       FETCH NEXT FROM QAnalizeItems INTO @IDItem, @fldNameItem, @DispalyNameItem ;
END

CLOSE QAnalizeItems ;	
DEALLOCATE QAnalizeItems ; 
--Added QAnalizeItems

--if (SELECT StuffTecInfoActive From config)=1
  --IF  (@AddStuffParam = 1) 
    --SET @SQLStuffTecInfoActive =',StuffCoding.c_StuffTecInfo'

SET  @SqlFinal = 'SELECT '+ @SqlSelectItem+ @SliceCode+ @SliceCaption+ @SqlSelect +' As AllColumn , '+ @SqlTopic +' AS AllCaption ' 
				--+@SQLStuffTecInfoActive
				+ @SqlInput 
			--	+ ' FROM Recipts INNER JOIN'	 
				+ ' FROM ReciptItems_Stock_Oper R '	 


DECLARE @Count INT;

				 
SET @SqlFinal = @SqlFinal --+ ' R ON Recipts.ReciptID=R.ReciptID AND Recipts.ServerID=R.ServerID AND Recipts.YearID=R.YearID INNER JOIN'
               --+ CHAR(13) + ' ReciptTypes ON Recipts.ReciptType=ReciptTypes.ReciptType '
               + CHAR(13) + ' LEFT OUTER JOIN LookUps AS L_ST ON R.SecondType = L_ST.LookUpID '
               + CHAR(13) + @SqlJoin 
               + CHAR(13) + @SqlWhere
               + CHAR(13) + ' GROUP BY '+ @SqlGroupItem + @SqlGroup --+@SQLStuffTecInfoActive

EXEC('IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id( N''[dbo].[view_GeneralReport]'') AND OBJECTPROPERTY(id, N''IsView'') = 1)'
                 +' DROP view [dbo].[view_GeneralReport]')

--create view LowerCase
SET @SqlView =  'create view [dbo].[view_GeneralReport]  AS ' 
               + CHAR(13) + 'SELECT ''جمع:''AS [ ],' +  @SQLSUM + ' FROM (' 
               + CHAR(13) + @SqlFinal +') AS Temp'

------------------------------------------------------------------------------------------------------------------------------------------
EXEC('IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id( N''[dbo].[view_GeneralReportFilter2]'') AND OBJECTPROPERTY(id, N''IsView'') = 1)'
                 +' DROP view [dbo].[view_GeneralReportFilter2]')

--create view LowerCase
SET @SqlViewFilter2 =  'create view [dbo].[view_GeneralReportFilter2]  AS ' + @SqlFinal 
------------------------------------------------------------------------------------------------------------------------------------------


PRINT @SqlFinal
EXEC (@SqlFinal)


--PRINT (@SqlView)
EXEC (@SqlView)

------------------------------------------------------------------------------------------------------------------------------------------
EXEC (@SqlViewFilter2)
------------------------------------------------------------------------------------------------------------------------------------------

END 
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE PROCEDURE Tsh.GeneralReport
 @BaseParam VARCHAR(50),
 @AddParam VARCHAR(3),
 @Filter VARCHAR(100),
 @SliceCodeFlag BIT,
 @SliceCaptionFlag BIT, 
 @SqlWhere VARCHAR(1000)
 
AS
BEGIN

DECLARE @SqlSelect    VARCHAR(4000)
DECLARE @SqlJoin      VARCHAR(2000)
DECLARE @SqlGroup     VARCHAR(4000)
DECLARE @SqlTopic     VARCHAR(1000)
DECLARE @SqlFinal     VARCHAR(8000)

DECLARE @OldCode      VARCHAR(1000)
DECLARE @SliceCode    VARCHAR(1000)
DECLARE @SliceCaption NVARCHAR(1000)
 
DECLARE @ID           VARCHAR(2)
DECLARE @fldName      VARCHAR(200)
DECLARE @AliasName    VARCHAR(50)
DECLARE @tblName      VARCHAR(30)
DECLARE @TopicName    VARCHAR(200)
DECLARE @Current      VARCHAR(50) 
DECLARE @JoinFldName  VARCHAR(50)
DECLARE @CaptionName  NVARCHAR(50)

SET @SqlSelect    = ''
SET @SqlJoin      = ''
SET @SqlGroup     = ''
SET @SqlTopic     = ''
SET @SqlFinal     = ''
SET @OldCode      = ''
SET @SliceCode    = ''
SET @SliceCaption = ''

DECLARE @SQLSUM NVARCHAR(1000);
SET @SQLSUM = '';

DECLARE @SqlView VARCHAR(8000)
SET @SqlView = '';

SET @Current = @BaseParam +','+ @AddParam 

DECLARE QAnalize CURSOR 
    FOR(
	     SELECT Util.Analyze.ID,TableName,FieldName,AliasName ,JoinFieldName,CaptionName,TopicName
	     FROM Util.Analyze INNER JOIN SplitString(@Current,',') SP ON SP.part =  Util.Analyze.ID 
	     WHERE TableKind = 21
	    ); 

OPEN QAnalize 
FETCH FROM QAnalize INTO @ID, @tblName, @fldName, @AliasName, @JoinFldName, @CaptionName, @TopicName ;
WHILE @@FETCH_STATUS = 0 
BEGIN
     
       SET @SqlGroup = @SqlGroup +  ISNULL(@AliasName,@tblName) +'.'+@JoinFldName  +' , '+ ISNULL(@AliasName,@tblName) +'.'+ @TopicName +','

       SET @SqlSelect = @SqlSelect + ' ISNULL(CAST('+ ISNULL(@AliasName,@tblName) +'.'+@JoinFldName +' AS VARCHAR(100)),0) +''-''+ '
       SET @SqlTopic = @SqlTopic + ' ISNULL(CAST('+ISNULL(@AliasName,@tblName) +'.'+ @TopicName +' AS VARCHAR(100)),''--'') +''-''+ ' 
       
       IF (@SliceCaptionFlag  = 1)
       BEGIN
          SET @SliceCaption  =  @SliceCaption + ' ISNULL(CAST(' +ISNULL(@AliasName,@tblName) + '.' + @TopicName + ' AS NVARCHAR(100)),'' '') AS'+'['+'عنوان '+ @CaptionName +'],'      
       END
       
       IF (@SliceCodeFlag = 1)
       BEGIN 
          SET @SliceCode = @SliceCode + ' ISNULL(CAST('+ ISNULL(@AliasName,@tblName) +'.'+@JoinFldName +' AS VARCHAR(100)),0) '+ ' AS ['+ @CaptionName +'], '
       END     
   
       SET @SqlJoin = @SqlJoin + ' INNER JOIN ' + @tblName + ' '+ISNULL(@AliasName ,'')+ ' ON ' +'ISNULL('+ @fldName +',0)'+' = ' + ISNULL(@AliasName,@tblName) +'.'+@JoinFldName
       
       FETCH NEXT FROM QAnalize INTO @ID, @tblName, @fldName, @AliasName, @JoinFldName, @CaptionName, @TopicName ;

END

CLOSE QAnalize ;	
DEALLOCATE QAnalize ; 

 SET @SqlSelect = LEFT (@SqlSelect , LEN(@SqlSelect)-5)
 SET @SqlTopic = LEFT  (@SqlTopic, LEN(@SqlTopic)-5) 
 SET @SqlGroup = @SqlGroup + @SqlTopic +','+ @SqlSelect 
 
 IF (@AddParam  <> '')
 BEGIN
	SELECT @OldCode = @OldCode + 'Cast(' + FieldName +' AS VARCHAR(20)) +''-''+'      
	FROM Util.Analyze INNER JOIN SplitString(@BaseParam,',') SP ON SP.part = Util.Analyze.ID 

	SET @OldCode   =  LEFT (@OldCode, (LEN(@OldCode) - 5))  ; 
	
	IF (@Filter <> '') 
	BEGIN
		IF (@SqlWhere = '')  
			SET @SqlWhere =  ' WHERE '+ @OldCode +'='''+@Filter+' '''	
		ELSE		
			SET @SqlWhere =  @SqlWhere +' AND '+ @OldCode +'='''+@Filter+' '''		
	END;	
 END;


SET  @SqlFinal = 'SELECT '+ @SliceCode+ @SliceCaption+ @SqlSelect +' As AllColumn , '+ @SqlTopic +' AS AllCaption ' 
			 
SET @SqlFinal = @SqlFinal
               + CHAR(13) + ',SUM(dbo.TimeToInt(convert(char(10),Func.functionhour, 108)) ) AS SUMFunctionHour,SUM(Func.FunctionAmount) AS SUMFunctionAmount, '
               + CHAR(13) + ' SUM(CASE ShiftWork WHEN 0 THEN dbo.TimeToInt(CONVERT(CHAR(10),ShiftWorkTime,108)) ELSE 0 END ) AS SUMShiftWork0, '
               + CHAR(13) + ' SUM(CASE ShiftWork WHEN 1 THEN dbo.TimeToInt(CONVERT(CHAR(10),ShiftWorkTime,108)) ELSE 0 END ) AS SUMShiftWork1, '
               + CHAR(13) + ' SUM(CASE ShiftWork WHEN 2 THEN dbo.TimeToInt(CONVERT(CHAR(10),ShiftWorkTime,108)) ELSE 0 END ) AS SUMShiftWork2, '
               + CHAR(13) + ' SUM(CASE ShiftWork WHEN 3 THEN dbo.TimeToInt(CONVERT(CHAR(10),ShiftWorkTime,108)) ELSE 0 END ) AS SUMShiftWork3, '
               + CHAR(13) + ' SUM(dbo.TimeToInt(CONVERT(CHAR(10),OverTime,108)))AS SUMOverTime , ' 
                          + ' SUM(Func.Amount1) AS SUMAmount1, SUM(Func.Amount2) AS SUMAmount2, SUM(Func.Amount3) AS SUMAmount3 '
               + CHAR(13) + ' FROM Tsh.Functions Func INNER JOIN
                         dbo.Customers AS CustomersWorkShop ON Func.WorkShopId = CustomersWorkShop.CustID ' + @SqlJoin 
               + CHAR(13) + @SqlWhere 
               + CHAR(13) + ' GROUP BY '+ @SqlGroup 

SET @SQLSUM = ' SUM(SUMFunctionHour) AS SUMFunctionHour, SUM(SUMFunctionAmount) AS SUMFunctionAmount,' 
              + CHAR(13) + 'SUM(SUMShiftWork0) AS SUMShiftWork0,SUM(SUMShiftWork1) AS SUMShiftWork1,SUM(SUMShiftWork2) AS SUMShiftWork2,'
              + CHAR(13) + 'SUM(SUMShiftWork3) AS SUMShiftWork3,SUM(SUMOverTime) AS SUMOverTime,' 
              + CHAR(13) + 'SUM(SUMAmount1) AS SUMAmount1, SUM(SUMAmount2) AS SUMAmount2, SUM(SUMAmount3) AS SUMAmount3'

EXEC('IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id( N''[Tsh].[view_GeneralReport]'') AND OBJECTPROPERTY(id, N''IsView'') = 1)'
                 +' DROP view [Tsh].[view_GeneralReport]')
--create view LowerCase
SET @SqlView =  'create view [Tsh].[view_GeneralReport]  AS ' 
               + CHAR(13) + 'SELECT ''جمع:''AS [ ],' +  @SQLSUM + ' FROM (' 
               + CHAR(13) + @SqlFinal +') AS Temp'

--PRINT @SqlFinal
EXEC (@SqlFinal)

--PRINT (@SqlView)
--PRINT LEN(@SqlView)

EXEC (@SqlView)

END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
----------------------------------------------------
--SET QUOTED_IDENTIFIER ON 
--GO
--SET ANSI_NULLS OFF 
--GO
--CREATE PROCEDURE [dbo].[SP_Matrix]  @COl1 varchar(3),@COl2 varchar(3), @Row1 varchar(3), @Row2 varchar(3),  @CircleKind int, @Where varchar(8000)
--   , @ActiveColumns bigint=1 , @ShareColumns bigint=0 
--AS BEGIN
 
--exec('	IF OBJECT_ID(''TempDB.dbo.##tblTemp2'') IS NOT NULL 
--	   DROP TABLE ##tblTemp2')

--SET NOCOUNT ON

--DECLARE  @ActiveRowShare bit
--DECLARE  @ActiveColShare bit 
--DECLARE  @ActiveGrowColShare bit
--DECLARE  @ActivePartCol bit

--if (@ShareColumns & 1 = 1) set @ActiveRowShare=1     else set @ActiveRowShare=0
--if (@ShareColumns & 2 = 2) set @ActiveColShare=1     else set @ActiveColShare=0
--if (@ShareColumns & 4 = 4) set @ActiveGrowColShare=1 else set @ActiveGrowColShare=0
--if (@ShareColumns & 8 = 8) set @ActivePartCol=1      else set @ActivePartCol=0

--DECLARE @Current varchar(20);
--DECLARE @InnerSql varchar(max);
--DECLARE @Sql varchar(max);

--SET @Current = LTRIM(RTRIM(@COl1)) + ',' +LTRIM(RTRIM(@COl2)) + ',' + LTRIM(RTRIM(@Row1)) + ',' + LTRIM(RTRIM(@Row2));
--SET @InnerSql = '';
--SET @Sql = '';

--DECLARE @Id          varchar(20)
--DECLARE @fldName     varchar(200)
--DECLARE @AliasName   varchar(50)
--DECLARE @tblName     varchar(30)
--DECLARE @TopicName   varchar(200)
--DECLARE @JoinFldName varchar(50)
--DECLARE @CurCaptionName NVARCHAR(50)

--SET @Id          = '';
--SET @fldName     = '';
--SET @AliasName   = '';
--SET @tblName     = '';
--SET @TopicName   = '';
--SET @JoinFldName = '';
--SET @CurCaptionName = '';

--DECLARE @SelectCol         varchar(8000);
--DECLARE @SelectRow         varchar(8000);
--DECLARE @GroupCol          varchar(1000);
--DECLARE @GroupRow          varchar(1000);
--DECLARE @Join           varchar(1000);
--DECLARE @EntityKind     varchar(1000);
--DECLARE @UnitPriceKind  varchar(1000);
--DECLARE @PriceKind      varchar(1000);
--DECLARE @TotalPriceKind varchar(1000);

--SET @SelectCol         = '';
--SET @SelectRow         = '';
--SET @GroupCol          = '';
--SET @GroupRow          = '';
--SET @Join           = '';
--SET @EntityKind     = '';
--SET @UnitPriceKind  = '';
--SET @PriceKind      = '';
--SET @TotalPriceKind = '';

--DECLARE @Row1Name NVARCHAR(50)='...'
--DECLARE @Row2Name NVARCHAR(50)='...'
--DECLARE @COl1Name NVARCHAR(50)='...'
--DECLARE @COl2Name NVARCHAR(50)='...'




--IF (@COl1 = @Row1 and @COl1 <>0) OR 
--   (@COl1 = @Row2 and @COl1 <>0) OR 
--   (@COl2 = @Row1 and @COl2 <>0) OR 
--   (@COl2 = @Row2 and @COl2 <>0) OR 
--   (@Row1 = @Row2 and @Row1 <>0)
--	RAISERROR ('نبايد سطر يا ستون هم نام انتخاب شود', 16, 1) 


--DECLARE cur_InnerSql CURSOR FOR(
--	SELECT Analyze.ID, TableName,FieldName,AliasName ,JoinFieldName,CaptionName,TopicName
--	FROM Util.Analyze  INNER JOIN SplitString(@Current,',') SP ON SP.part =  Analyze.ID
--	WHERE TableKind = 24 ); 

--OPEN cur_InnerSql;
--FETCH FROM cur_InnerSql into @Id, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName ;
--WHILE @@fetch_status = 0 
--	BEGIN
--		IF ( @Row1 = @Id ) SET @Row1Name = @CurCaptionName 
--		IF ( @Row2 = @Id ) SET @Row2Name = @CurCaptionName 
--		IF ( @COl1 = @Id ) SET @COl1Name = @CurCaptionName 
--		IF ( @col2 = @Id ) SET @COl2Name = @CurCaptionName 

--		declare @FiledName varchar(1000)
--		set @FiledName=',CAST( ' + case when CHARINDEX('SUBSTRING', @TopicName)=0 then
--             		  ISNULL(@AliasName,@tblName) + '.' + ISNULL(@TopicName, @JoinFldName) 
--			else 	@TopicName end +' AS NVARCHAR(100))'

--		if ltrim(@tblName)<>''
--		begin
--	   IF ( @COl1 = @Id )
--	 	SET @SelectCol = @SelectCol +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS C0'+	@FiledName +'AS N0,' 

--       IF ( @col2 = @Id )
--		SET @SelectCol = @SelectCol +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS CT0'+@FiledName +'AS NT0,' 

--	   IF ( @Row1 = @Id )
--	 	SET @SelectRow = @SelectRow +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS CR0'+@FiledName +'AS NR0,' 

--       IF ( @Row2 = @Id )
--		SET @SelectRow = @SelectRow +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS CRT0'+@FiledName +'AS NRT0,' 


--       end
		  
--		if ltrim(@tblName)<>''
--       IF ( @col1 = @Id )or( @col2 = @Id )
--		SET @GroupCol = @GroupCol +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) '+@FiledName +' ,'  
--		else
--		SET @GroupRow = @GroupRow +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) '+@FiledName +' ,'  

--		if ltrim(@tblName)<>''
--		  if UPPER( ltrim(@tblName))='TSH.CALENDAR' 
--		    SET @Join = ' Tsh.Calendar ' + ISNULL(@AliasName,'') + ' ON ' + ISNULL(@AliasName,'') + '.CalendarDate = Recipts.ReciptDate LEFT OUTER JOIN '+ CHAR(13) + @Join 
--		  else

--		   SET @Join = @tblName + ' ' + ISNULL(@AliasName,'') + ' ON ' + 
		
--		   case when CHARINDEX('SUBSTRING', @JoinFldName)=0 then
--             		  ISNULL(@AliasName,@tblName) + '.' + @JoinFldName  
--			else 	@JoinFldName end	  
--					  + ' = '+ @fldName 
--		 +  case when /*Tsh.Calendar*/@Id not in (141,142,143) then   ' INNER JOIN ' else  ' LEFT OUTER JOIN ' end + CHAR(13) + @Join 

--	FETCH NEXT FROM cur_InnerSql into @ID, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName ;
--	END

--	SET @SelectCol = LEFT(@SelectCol, (LEN(@SelectCol) - 1)) ; 
--	SET @SelectRow = LEFT(@SelectRow, (LEN(@SelectRow) - 1)) ; 
--	SET @GroupCol = LEFT(@GroupCol, (LEN(@GroupCol) - 1)) ;
--	SET @GroupRow = LEFT(@GroupRow, (LEN(@GroupRow) - 1)) ;
--	SET @Join = LEFT(@Join, (LEN(@Join) - 12)) ; 


--	--IF OBJECT_ID('tempdb..##tblTemp2') IS NOT NULL 
--	--   DROP TABLE ##tblTemp2
--	SET @EntityKind = CASE @CircleKind WHEN 0 THEN 'SUM(R.InputEntity) - SUM(R.OutputEntity)'
--	                                  WHEN 1 THEN 'SUM(ReciptItems.InputEntity)'
--									  WHEN 2 THEN 'SUM(ReciptItems.OutputEntity)'
--									  WHEN 3 THEN 'SUM(ReciptItems.OutputEntity) - SUM(ReciptItems.InputEntity)' ELSE '' END; 

--	SET @UnitPriceKind = CASE @CircleKind WHEN 0 THEN 'AVG(ReciptItems.UnitSellPrice) '
--	                                      WHEN 1 THEN 'AVG(ReciptItems.UnitSellPrice)'
--									      WHEN 2 THEN 'AVG(ReciptItems.UnitSellPrice)'
--									      WHEN 3 THEN 'AVG(ReciptItems.UnitSellPrice) ' ELSE '' END; 

--	SET @PriceKind = CASE @CircleKind WHEN 0 THEN 'SUM(ReciptItems.TotalInputPrice) - SUM(ReciptItems.TotalOutputPrice)'
--	                                  WHEN 1 THEN 'SUM(ReciptItems.TotalInputPrice)'
--									  WHEN 2 THEN 'SUM(ReciptItems.TotalOutputPrice)'
--									  WHEN 3 THEN 'SUM(ReciptItems.TotalOutputPrice) - SUM(ReciptItems.TotalInputPrice)' ELSE '' END; 


--	SET @TotalPriceKind = CASE @CircleKind WHEN 0 THEN 'SUM(ReciptItems.TotallSellPrice) '
--	                                  WHEN 1 THEN 'SUM(ReciptItems.TotallSellPrice)'
--									  WHEN 2 THEN 'SUM(ReciptItems.TotallSellPrice)'
--									  WHEN 3 THEN 'SUM(ReciptItems.TotallSellPrice) ' ELSE '' END; 

--DECLARE @From varchar(8000)
--SET @From=CHAR(13) +'FROM ' 
--	+' Recipts INNER JOIN ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID '
--	+' AND Recipts.YearID = ReciptItems.YearID INNER JOIN '
--	+ CHAR(13) + @Join  
--	+' LEFT OUTER JOIN LookUps LookUps_I ON ReciptItems.SecondTypeItem = LookUps_I.LookUpID '
--	+' LEFT OUTER JOIN LookUps LookUps_M ON Recipts.SecondType = LookUps_M.LookUpID '
--	+CHAR(13)+ @Where

--	SET @InnerSql = 'SELECT ' + @Selectcol +CHAR(13)+','+ @SelectRow +CHAR(13)+ ',ROUND('+ @EntityKind +',2) AS P1' + ',ROUND('+ @UnitPriceKind +',2) AS P2' 
--	                                     +',ROUND('+ @PriceKind +',2) AS P3' + ',ROUND('+ @TotalPriceKind +',2) AS P4' + CHAR(13) 
--										 +' Into ##tblTemp2 ' +
--										  @From 
--										  +CHAR(13)+' GROUP BY ' + @GroupCol+','+ @GroupRow;

--CLOSE cur_InnerSql ;	
--DEALLOCATE cur_InnerSql ;


--EXEC (@InnerSql)
----print (@InnerSql)

--DECLARE @CodeC1 varchar(18);
--DECLARE @CodeCT0 varchar(18);


--DECLARE @CodeTempA varchar(18);
--DECLARE @CodeTempBc0 varchar(18);
--DECLARE @CodeTempBct0 varchar(18);


--DECLARE @NameC1 varchar(100);
--DECLARE @NameC2 varchar(100);

--DECLARE @SumColumn1 varchar(20);
--DECLARE @SumColumn2 varchar(20);
--DECLARE @SumColumn3 varchar(20);
--DECLARE @SumColumn4 varchar(20);
--DECLARE @SelectTemp varchar(4000);

--DECLARE @P1Active bit;
--DECLARE @P2Active bit;
--DECLARE @P3Active bit;
--DECLARE @P4Active bit;


--if (@ActiveColumns & 1 = 1) set @P1Active=1 else set @P1Active=0
--if (@ActiveColumns & 2 = 2) set @P2Active=1 else set @P2Active=0
--if (@ActiveColumns & 4 = 4) set @P3Active=1 else set @P3Active=0
--if (@ActiveColumns & 8 = 8) set @P4Active=1 else set @P4Active=0


 

--DECLARE @Select         varchar(8000);
--SET @Select = '';
--SET @SelectTemp = '';

--SET @CodeTempA = 'X';
--SET @CodeTempBc0 = 'Y';
--SET @CodeTempBct0 = 'Z';


--DECLARE @ColCode1 varchar(1000);
--DECLARE @ColCode2 varchar(1000);

--IF (@Col2='0')or(@Col2='')--or(@Row2='0')or(@Row2='')
--BEGIN  --- یک ستون
--DECLARE cur_Matrix CURSOR FOR
--	SELECT C0 , ltrim(rtrim(N0)),
--		  CAST(SUM(P1) AS varchar(20)) AS SumColumn1
--	    , CAST(SUM(P2) AS varchar(20)) AS SumColumn2
--		, CAST(SUM(P3) AS varchar(20)) AS SumColumn3
--		, CAST(SUM(P4) AS varchar(20)) AS SumColumn4 
--    	FROM ##tblTemp2 
--		GROUP BY C0 , N0
--		ORDER BY C0   ; 
	
--OPEN cur_Matrix;
--FETCH FROM cur_Matrix into @CodeC1 , @NameC1 , @SumColumn1, @SumColumn2, @SumColumn3, @SumColumn4 ;
--WHILE @@fetch_status = 0 
--	BEGIN
--      set @Select = @Select +CHAR(13)
--      if @P1Active=1
--	  begin
    
--     	set @ColCode1='SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P1 else 0 END)'
--        if (@ActiveGrowColShare = 1) AND (@CodeTempA = @CodeTempBc0)
--		begin
--		  set @ColCode2='SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeTempBc0) + ' THEN P1 else 0 END)'    ----((B/A)*100)-100
--		  SET @Select = @Select  +',CASE WHEN '+@ColCode1+'<>0 THEN ROUND((('+@ColCode2+'/'+@ColCode1+')*100)-100 ,2) ELSE 0 END AS [درصد رشد] '
--		end
--      	SET @CodeTempA =@CodeC1
--		if LEFT( RIGHT(@NameC1,3),1)='/' ---ماه
--		begin
--		  SET  @NameC1=left(REPLACE(@NameC1,'/',''),2)
--		end
--		SET @Select = @Select +CHAR(13) +','+@ColCode1+' AS [' + @NameC1 +'|'+'مقدار] '

--  	  SET @CodeTempBc0 =@CodeC1
--  	  SET @CodeTempBct0 =@CodeCT0

--      end


--      if @P2Active=1
--	  begin
--		SET @Select = @Select +',AVG(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P2 else 0 END) AS [' + @NameC1 +'|' +'فی] '
--      end

--      if @P3Active=1
--	  begin
--		SET @Select = @Select +',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P3 else 0 END) AS [' + @NameC1 +'|' +'بها] '
--      end

--      if @P4Active=1
--	  begin
--		SET @Select = @Select +',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P4 else 0 END) AS [' + @NameC1 +'|' +'خالص] '
--      end


--		if (@ActiveRowShare = 1 )
--		begin
--      if @P1Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P1) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+@CodeC1 
--			                                + ' THEN P1 else 0 END)/SUM(P1)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|' +'مقدار]'
--      if @P2Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P2) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+@CodeC1 
--			                                + ' THEN P2 else 0 END)/SUM(P2)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|' +'في]'
--      if @P3Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P3) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+@CodeC1 
--			                                + ' THEN P3 else 0 END)/SUM(P3)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|' +'بهاءکل]'
--      if @P4Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P4) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+@CodeC1 
--			                                + ' THEN P4 else 0 END)/SUM(P4)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|' +'خالص]'
--        end 
--		if (@ActiveColShare = 1 )
--		begin
--      if @P1Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn1 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P1 else 0 END)/CAST('+left(@SumColumn1, len(@SumColumn1)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|' +'مقدار]'
--      if @P2Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn2 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P2 else 0 END)/CAST('+left(@SumColumn2, len(@SumColumn2)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|' +'في]'
--      if @P3Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn3 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P3 else 0 END)/CAST('+left(@SumColumn3, len(@SumColumn3)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|' +'بهاءکل]'
--      if @P4Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn4 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P4 else 0 END)/CAST('+left(@SumColumn4, len(@SumColumn4)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|' +'خالص]'
--        end
--		FETCH NEXT FROM cur_Matrix into @CodeC1 , @NameC1 , @SumColumn1, @SumColumn2, @SumColumn3, @SumColumn4;
--	END
--CLOSE cur_Matrix ;	
--DEALLOCATE cur_Matrix ;
--SET @Row1=ltrim(@Row1)
--SET @Row2=ltrim(@Row2)

--declare @Group varchar(1000) 
--SET @Group = 'CR0, NR0' ; 
--SET @SelectTemp = 'CR0 AS [کد'+ @Row1Name +'], NR0 AS ['+ @Row1Name+']'  ; 


--END
--ELSE
--BEGIN  --  دو  ستون  دو  ستون  دو  ستون  دو  ستون  دو  ستون  دو  ستون  دو  ستون  دو  ستون  دو  ستون

--DECLARE @PartColP1 varchar(500) 
--DECLARE @PartColSqlP1 varchar(1000) 
--SET @PartColP1='0'

--DECLARE @PartColP2 varchar(500) 
--DECLARE @PartColSqlP2 varchar(1000) 
--SET @PartColP2='0'

--DECLARE @PartColP3 varchar(500) 
--DECLARE @PartColSqlP3 varchar(1000) 
--SET @PartColP3='0'

--DECLARE @PartColP4 varchar(500) 
--DECLARE @PartColSqlP4 varchar(1000) 
--SET @PartColP4='0'


--DECLARE cur_Matrix CURSOR FOR
--	SELECT C0 , ltrim(rtrim(N0)),
--	      CT0 , ltrim(rtrim(NT0)), 
--		  CAST(SUM(P1) AS varchar(20)) AS SumColumn1
--	    , CAST(SUM(P2) AS varchar(20)) AS SumColumn2
--		, CAST(SUM(P3) AS varchar(20)) AS SumColumn3
--		, CAST(SUM(P4) AS varchar(20)) AS SumColumn4 
--    	FROM ##tblTemp2 
--		GROUP BY C0 , N0,CT0 , NT0 
--		ORDER BY C0 ,CT0  ; 
	
--OPEN cur_Matrix;
--FETCH FROM cur_Matrix into @CodeC1 , @NameC1 ,@CodeCT0 , @NameC2 , @SumColumn1, @SumColumn2, @SumColumn3, @SumColumn4 ;
--WHILE @@fetch_status = 0 
--	BEGIN
--      set @Select = @Select +CHAR(13)

--		if LEFT( RIGHT(@NameC1,3),1)='/' ---ماه
--		begin
--		  SET  @NameC1=left(REPLACE(@NameC1,'/',''),2)
--		end


--	  if @ActivePartCol=1
--	  BEGIN
--		  if @P1Active=1
--		  begin
--			if ((@PartColP1<>'0')and(@PartColP1<>@CodeC1))
--				  begin
--					SET @Select = @Select +CHAR(13) +@PartColSqlP1
--     				SET  @PartColP1=0
--				  end
--			else 
--   				begin
--				  SET  @PartColSqlP1=',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P1 ELSE 0 END)AS [' + @NameC1 +'|'+'جمع'+'|'+'مقدار] '
-- 				  SET  @PartColP1=@CodeC1
--				end
--			end
--		  if @P2Active=1
--		  begin
--			if ((@PartColP2<>'0')and(@PartColP2<>@CodeC1))
--				  begin
--					SET @Select = @Select +CHAR(13) +@PartColSqlP2
--     				SET  @PartColP2=0
--				  end
--			else 
--   				begin
--				  SET  @PartColSqlP2=',AVG(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P2 ELSE 0 END)AS [' + @NameC1 +'|'+'جمع'+'|'+'فی] '
-- 				  SET  @PartColP2=@CodeC1
--				end
--			end

--		  if @P3Active=1
--		  begin
--			if ((@PartColP3<>'0')and(@PartColP3<>@CodeC1))
--				  begin
--					SET @Select = @Select +CHAR(13) +@PartColSqlP3
--     				SET  @PartColP3=0
--				  end
--			else 
--   				begin
--				  SET  @PartColSqlP3=',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P3 ELSE 0 END)AS [' + @NameC1 +'|'+'جمع'+'|'+'بها] '
-- 				  SET  @PartColP3=@CodeC1
--				end
--			end

--		  if @P4Active=1
--		  begin
--			if ((@PartColP4<>'0')and(@PartColP4<>@CodeC1))
--				  begin
--					SET @Select = @Select +CHAR(13) +@PartColSqlP4
--     				SET  @PartColP4=0
--				  end
--			else 
--   				begin
--				  SET  @PartColSqlP4=',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' THEN P4 ELSE 0 END)AS [' + @NameC1 +'|'+'جمع'+'|'+'خالص] '
-- 				  SET  @PartColP4=@CodeC1
--				end
--			end
--		END



--      if @P1Active=1
--	  begin
    
--     	set @ColCode1='SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P1 else 0 END)'
--        if (@ActiveGrowColShare = 1) AND (@CodeTempA = @CodeTempBc0)
--		begin
--		  set @ColCode2='SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeTempBc0) + ' AND CT0='+dbo.QuotedStr(@CodeTempBct0)  + ' THEN P1 else 0 END)'    ----((B/A)*100)-100
--		  SET @Select = @Select  +',CASE WHEN '+@ColCode1+'<>0 THEN ROUND((('+@ColCode2+'/'+@ColCode1+')*100)-100 ,2) ELSE 0 END AS [درصد رشد] '
--		end
--      	SET @CodeTempA =@CodeC1

--		SET @Select = @Select +CHAR(13) +','+@ColCode1+' AS [' + @NameC1 +'|'+@NameC2+'|'+'مقدار] '



--  	  SET @CodeTempBc0 =@CodeC1
--  	  SET @CodeTempBct0 =@CodeCT0

--      end

--      if @P2Active=1
--	  begin
--		SET @Select = @Select +',AVG(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P2 else 0 END)AS [' + @NameC1 +'|'+@NameC2+'|'+'فی] '
--      end

--      if @P3Active=1
--	  begin
--		SET @Select = @Select +',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P3 else 0 END)AS [' + @NameC1 +'|'+@NameC2  +'|'+'بها] '
--      end

--      if @P4Active=1
--	  begin

--		SET @Select = @Select +',SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P4 else 0 END)AS [' + @NameC1 +'|'+@NameC2  +'|'+'خالص] '
--      end


--		if (@ActiveRowShare = 1 )
--		begin
--      if @P1Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P1) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)
--			                                + ' THEN P1 else 0 END)/SUM(P1)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|'+ @CodeCT0 +'|'+'مقدار]'
--      if @P2Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P2) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)
--			                                + ' THEN P2 else 0 END)/SUM(P2)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'في]'
--      if @P3Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P3) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)
--			                                + ' THEN P3 else 0 END)/SUM(P3)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'بهاءکل]'
--      if @P4Active=1
--			SET @Select = @Select +',CAST( CASE SUM(P4) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)
--			                                + ' THEN P4 else 0 END)/SUM(P4)*100, 2) END AS FLOAT) AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'خالص]'
--        end 
--		if (@ActiveColShare = 1 )
--		begin
--      if @P1Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn1 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P1 else 0 END)/CAST('+left(@SumColumn1, len(@SumColumn1)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|'+ @CodeCT0 +'|'+'مقدار]'
--      if @P2Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn2 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P2 else 0 END)/CAST('+left(@SumColumn2, len(@SumColumn2)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'في]'
--      if @P3Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn3 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P3 else 0 END)/CAST('+left(@SumColumn3, len(@SumColumn3)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'بهاءکل]'
--      if @P4Active=1
--			SET @Select = @Select + CASE WHEN @SumColumn4 = '0.00' THEN '0 ' 
--			      ELSE ' ,CAST(ROUND(SUM(CASE WHEN C0='+dbo.QuotedStr(@CodeC1) + ' AND CT0='+dbo.QuotedStr(@CodeCT0)+ ' THEN P4 else 0 END)/CAST('+left(@SumColumn4, len(@SumColumn4)-3)+' AS BIGINT)*100,2) AS FLOAT) ' END
--				   + 'AS ['+ @CodeC1 +'|'+ @CodeCT0  +'|'+'خالص]'
--        end


	




--		FETCH NEXT FROM cur_Matrix into @CodeC1 , @NameC1 , @CodeCT0 , @NameC2 , @SumColumn1, @SumColumn2, @SumColumn3, @SumColumn4;
--	END
--CLOSE cur_Matrix ;	
--DEALLOCATE cur_Matrix ;

--	  if (@ActivePartCol=1)
--	  begin
--	  if (@PartColP1<>'0')
--		SET @Select = @Select +CHAR(13) +@PartColSqlP1
--	  if (@PartColP2<>'0')
--		SET @Select = @Select +CHAR(13) +@PartColSqlP2
--	  if (@PartColP3<>'0')
--		SET @Select = @Select +CHAR(13) +@PartColSqlP3
--	  if (@PartColP4<>'0')
--		SET @Select = @Select +CHAR(13) +@PartColSqlP4
--      end

--SET @Row1=ltrim(@Row1)
--SET @Row2=ltrim(@Row2)

--if  ( @Row2 <> '0' )
--begin
--SET @Group = 'CR0, NR0 ,CRT0,NRT0' ; 
--SET @SelectTemp = 'CR0 AS [کد'+ @Row1Name +'], NR0 AS ['+ @Row1Name+']' 
--               +  ',CRT0 AS [کد' + @Row2Name + '],NRT0 AS ['+ @Row2Name +']' ; 

--end
--else
--begin
--SET @Group = 'CR0, NR0 ' ; 
--SET @SelectTemp = 'CR0 AS [کد'+ @Row1Name +'], NR0 AS ['+ @Row1Name+']' ; 

--end




--END

----SET @Select = left(@Select, (LEN(@Select) - 1)) ; 

--declare @SelectSum varchar(500)=''
--      if @P1Active=1
--		SET @SelectSum = @SelectSum +',sum(p1) AS جمعمقدار'
--      if @P2Active=1
--		SET @SelectSum = @SelectSum +',AVG(p2) AS [میانگین فی]'
--      if @P3Active=1
--		SET @SelectSum = @SelectSum +',sum(p3) AS جمعکل'
--      if @P4Active=1
--		SET @SelectSum = @SelectSum +',sum(p4) AS جمعکلخالص'

--SET @Sql = 'SELECT '+@SelectTemp + CHAR(13) + @Select + CHAR(13) +@SelectSum+ CHAR(13) + '  FROM (SELECT * FROM ##tblTemp2) AS Temp ' 
--             + CHAR(13) + 'GROUP BY '+@Group;
             
--if (@Row1='141')or(@Row1='142')or(@Row1='143')
--SET @Sql =@Sql+ CHAR(13) +' ORDER BY CR0' 
--else
--SET @Sql =@Sql+ CHAR(13) +' ORDER BY CAST(CR0 AS BIGINT)'


--DECLARE @MAXCol INTEGER


--IF (LEN(@Sql) > 7995)
--BEGIN
--	IF (( SELECT COUNT(*) FROM (SELECT C0 , N0 FROM ##tblTemp2 GROUP BY C0 , N0) AS a)> 50) 
--		BEGIN
--			SET @MAXCol = CASE  CAST(@ActiveColShare AS smallint) + CAST(@ActiveRowShare AS smallint) WHEN 0 THEN 60 WHEN 1 THEN 30 WHEN 2 THEN  15 END
--			RAISERROR ('تعداد ستونهاي انتخابي نبايد بيشتر از %d باشد', 16, 1 , @MAXCol )
--		END
--	ELSE
--	RAISERROR ('لطفا در محدوده تعداد ستونهاي انتخابي را کم کنيد', 16, 1) 
--END

----print (@Sql)
--EXEC (@Sql)


--END


--GO
--SET QUOTED_IDENTIFIER OFF 
--GO
--SET ANSI_NULLS ON 
--GO
---------------------------------------------------
--------------------------------------------------------------------------------------------
----------------------------------------------------------------------------
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION   Fn_rptCustomersBalance2F  ( 
  @PersonID1From int=-999999999
, @PersonID1To int=999999999
, @DateTo char(10)='0000/00/00'
, @Date10To char(10)='0000/00/00'
, @YearIDFrom Bigint=82
, @YearIDTo Bigint=99
, @SellsMethodFrom int=-999999999
, @SellsMethodTo int=999999999
, @SellsEmporiumFrom int=-999999999
, @SellsEmporiumTo int=999999999
, @CustomerGrpID1From int=-999999999
, @CustomerGrpID1To int=999999999
, @VasetFrom int=-999999999
, @VasetTo int=999999999
, @SUMAccFrom Bigint=-999999999999999999
, @SUMAccTo Bigint=999999999999999999
,@FormTypeCecksIn varchar(1000)
,@FormTypeBank varchar(1000)
,@CheckReturned varchar(1000)
 )
RETURNS table  AS  

return (
  SELECT  Balance.PersonID1 , Balance.CustName , 

    Balance.Tel, Balance.Address, Balance.Mobile,Balance.NationalID,Balance.FirstBalance,

    case when Balance.balance >0 then Balance.balance else 0 end as bed ,
    isnull(Check_IN.CheckINCashier ,0) as CheckINCashier ,
    isnull(Check_INbanK.CheckINBank,0) as CheckINBank ,
    isnull(Check_returend.Check_returend,0) as CheckReturned ,

    isnull(Check_InMoshtari.CheckInMoshtari,0) as CheckInMoshtari,

    case when Balance.balance <0 then Balance.balance else 0 end as bes ,
    (Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0))
    +isnull(Check_InMoshtari.CheckInMoshtari,0) as Balance
    From (

    SELECT	AllAcc.CustomerID1 AS PersonID1, CASE WHEN LEN(isnull(Customers.CustFirstName,'')) = 0 THEN Customers.CustName 
      ELSE  Customers.CustFirstName+' ' +Customers.CustName END AS CustName, Customers.Tel, Customers.Address,
    Customers.Mobile,Customers.NationalID,

    SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0 END) AS FirstBalance,
    SUM(AllAcc.bed)-
    CASE WHEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
    END)> 0
    THEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
    END)
    ELSE 0
    END
    AS bed,
    SUM(CASE WHEN doctype IN (1, 2, 10) THEN AllAcc.bes ELSE 0 END) -
    CASE WHEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
    END)< 0
    THEN - SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE
    0 END)
    ELSE 0
    END
    AS bes,
    SUM(CASE WHEN doctype IN (1, 2, 10) THEN AllAcc.bed - AllAcc.bes ELSE 0 END) AS balance
    FROM	CustomersGroup RIGHT OUTER JOIN
    dbo.AllAccount(10, - 1, - 1, - 1, @PersonID1From, @PersonID1To, '0', @DateTo, '0',
    @YearIDFrom, @YearIDTo, @SellsMethodFrom, @SellsMethodTo, @SellsEmporiumFrom,   @SellsEmporiumTo , DEFAULT)	AS AllAcc INNER JOIN
    Customers ON AllAcc.CustomerID1 = Customers.CustID  ON
    CustomersGroup.CustomerGrpID = Customers.CustomerGrpID

    WHERE ( Customers.CustID in (SELECT  CustID FROM Vu_CustomersGroups
                WHERE  (CustomerGroupID BETWEEN @CustomerGrpID1From AND @CustomerGrpID1To )))
          AND (AllAcc.CustomerID1 <> 0)

    --if opt.ChkUsersCustomersGroupsActive then
    --begin
    --  AND (dbo.ChkUsersCustomersGroups( @UserAdmin , @UserID , AllAcc.CustomerID1 ) = 1)
    --  Parameters.ParamByName('UserID').Value @= User.ID;
    --  Parameters.ParamByName('UserAdmin').Value @= IfThen(User.admin, 1, 0);
    --end;

    AND ((Customers.PersonID1 BETWEEN @VasetFrom AND @VasetTo ) OR (Customers.PersonID1=0))

    GROUP BY AllAcc.CustomerID1, Customers.CustName,Customers.CustFirstName, Customers.Tel, Customers.Address, Customers.Mobile,
    Customers.FirstBalance,Customers.NationalID


    ) Balance left outer join
    
    (
    SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckINCashier
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid = forms.serverid and
    formitems.formid = forms.formid inner join
    formtypes on forms.formtype = formtypes.formtype left outer join
     (	SELECT	formitems.preformitemid ,formitems.perserverid ,formitems.yearid
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid =
    forms.serverid and formitems.formid = forms.formid
    where	(forms.formdate <= @DateTo) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    ) formitems_1 on formitems.serverid =formitems_1.perserverid and formitems.yearid =
    formitems_1.yearid and
    formitems.formitemid = formitems_1.preformitemid
    where (formitems_1.preformitemid is null) 
     AND (forms.formtype  IN (SELECT part FROM dbo.SplitString(@FormTypeCecksIn,',')))


   and (formitems.customerid2 between @PersonID1From and @PersonID1To) and
    (forms.formdate <= @DateTo ) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    Group By formitems.customerid2
    
    ) Check_IN on Balance.PersonID1 = Check_IN.customerid2 Left outer join
    
    (
    
    SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckINBank
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid = forms.serverid and
    formitems.formid = forms.formid inner join
    formtypes on forms.formtype = formtypes.formtype left outer join
    (	SELECT	formitems.preformitemid ,formitems.perserverid ,formitems.yearid
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid =
    forms.serverid and formitems.formid = forms.formid
    where	(forms.formdate <= @DateTo) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    ) formitems_1 on formitems.serverid =formitems_1.perserverid and formitems.yearid =
    formitems_1.yearid and
    formitems.formitemid = formitems_1.preformitemid
    where (formitems_1.preformitemid is null) 
     AND (forms.formtype  IN (SELECT part FROM dbo.SplitString(@FormTypeBank,',')))
	 AND
    (formitems.customerid2 between @PersonID1From and @PersonID1To) and
    (forms.formdate <= @DateTo ) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    Group By formitems.customerid2
    
    ) Check_INbanK on Balance.PersonID1 = Check_INbanK.customerid2

    Left outer join
    (
    
    SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckInMoshtari
    FROM FormItems INNER JOIN
    Forms ON FormItems.YearID = Forms.YearID AND FormItems.ServerID = Forms.ServerID AND FormItems.FormID =
    Forms.FormID INNER JOIN
    FormTypes ON Forms.FormType = FormTypes.FormType LEFT OUTER JOIN
    Customers Customers_1 ON Forms.CustomerID1 = Customers_1.CustID LEFT OUTER JOIN
    Customers Customers_2 ON FormItems.CustomerID2 = Customers_2.CustID

    where
    (forms.formtype in(12))and
    (formitems.customerid2 between @PersonID1From and @PersonID1To) and
    (forms.formdate <= @DateTo ) and
    (forms.formstate <10) and
    
    (forms.yearid between @yearidfrom and @yearidto)
    AND ((FormItems.CheckDate > @Date10To) )
    Group By formitems.customerid2
    
    ) Check_InMoshtari on Balance.PersonID1 = Check_InMoshtari.customerid2

	left outer join 
	(SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as Check_returend
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid = forms.serverid and
    formitems.formid = forms.formid inner join
    formtypes on forms.formtype = formtypes.formtype left outer join
    (	SELECT	formitems.preformitemid ,formitems.perserverid ,formitems.yearid
    from	formitems inner join
    forms on formitems.yearid = forms.yearid and formitems.serverid =
    forms.serverid and formitems.formid = forms.formid
    where	(forms.formdate <= @DateTo) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    ) formitems_1 on formitems.serverid =formitems_1.perserverid and formitems.yearid =
    formitems_1.yearid and
    formitems.formitemid = formitems_1.preformitemid
    where (formitems_1.preformitemid is null) 
     AND ((forms.formtype  IN (SELECT part FROM dbo.SplitString(@CheckReturned,',')))
	 or (forms.formtype  IN (24)))
	 AND
    (formitems.customerid2 between @PersonID1From and @PersonID1To) and
    (forms.formdate <= @DateTo ) and
    (forms.formstate<10) and
    (forms.yearid between @yearidfrom and @yearidto)
    Group By formitems.customerid2
    
    ) Check_returend on Balance.PersonID1 = Check_returend.customerid2

    WHERE (( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0) +isnull(Check_InMoshtari.CheckInMoshtari,0))<>0)
    AND ( ( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0)+isnull(Check_InMoshtari.CheckInMoshtari,0)) BETWEEN @SUMAccFrom AND @SUMAccTo)

    --order by ( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0)+isnull(Check_InMoshtari.CheckInMoshtari,0)) desc
)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE PROCEDURE SP_MatrixUnlimit  @COls varchar(200), @Rows varchar(200) ,  @CircleKind int, @Where varchar(max)
   , @ActiveColumns bigint=1 , @ShareColumns bigint=0 , @MatrixNo int=0
AS BEGIN
 SET NOCOUNT ON
exec('	IF OBJECT_ID(''TempDB.dbo.##tblTempUnlimit'') IS NOT NULL 
	   DROP TABLE ##tblTempUnlimit')
set @MatrixNo=0
if (select count(*) from FaraSystems.dbo.MatrixSave where MatrixNo =@MatrixNo)=0
INSERT INTO FaraSystems.dbo.MatrixSave (MatrixNo)
VALUES (@MatrixNo)



DECLARE  @ActiveRowShare bit
DECLARE  @ActiveColShare bit 
DECLARE  @ActiveGrowColShare bit
DECLARE  @ActivePartCol bit

if (@ShareColumns & 1 = 1) set @ActiveRowShare=1     else set @ActiveRowShare=0
if (@ShareColumns & 2 = 2) set @ActiveColShare=1     else set @ActiveColShare=0
if (@ShareColumns & 4 = 4) set @ActiveGrowColShare=1 else set @ActiveGrowColShare=0
if (@ShareColumns & 8 = 8) set @ActivePartCol=1      else set @ActivePartCol=0

DECLARE @Current varchar(20)
DECLARE @InnerSql varchar(max)
DECLARE @Sql varchar(max)

SET @Current = LTRIM(RTRIM(@COls)) + ',' + LTRIM(RTRIM(@Rows)) 
SET @InnerSql = ''
SET @Sql = ''


DECLARE @Row         varchar(20)= ''
DECLARE @Id          varchar(20)= ''
DECLARE @fldName     varchar(200)= ''
DECLARE @AliasName   varchar(50)= ''
DECLARE @tblName     varchar(30)= ''
DECLARE @TopicName   varchar(200)= ''
DECLARE @JoinFldName varchar(50)= ''
DECLARE @CurCaptionName NVARCHAR(50)= ''



DECLARE @SelectCol         varchar(max)
DECLARE @SelectRow         varchar(max)

DECLARE @SelectColCT         varchar(max)
DECLARE @SelectRowCT         varchar(max)


DECLARE @GroupCol          varchar(max)
DECLARE @GroupRow          varchar(max)
DECLARE @Join           varchar(max)
DECLARE @EntityKind     varchar(max)
DECLARE @UnitPriceKind  varchar(max)
DECLARE @PriceKind      varchar(max)
DECLARE @TotalPriceKind varchar(max)
DECLARE @DeficitWPriceKind varchar(max)


SET @SelectCol         = ''
SET @SelectRow         = ''

SET @SelectColCT         = ''
SET @SelectRowCT         = ''


SET @GroupCol          = ''
SET @GroupRow          = ''
SET @Join           = ''
SET @EntityKind     = ''
SET @UnitPriceKind  = ''
SET @PriceKind      = ''
SET @TotalPriceKind = ''
set @DeficitWPriceKind =''

DECLARE @Group    varchar(max)=''
DECLARE @SelectTemp    varchar(max)=''
DECLARE @DECLAREvar    varchar(max)=''
DECLARE @CURSORSel    varchar(max)=''


DECLARE cur_InnerSql CURSOR FOR( 	SELECT ROW_NUMBER() OVER(ORDER BY SP.RowEnter ASC) AS Row#,Analyze.ID, TableName,FieldName,AliasName ,JoinFieldName,CaptionName,TopicName
	                                FROM Util.Analyze  INNER JOIN SplitString(@COls,',') SP ON SP.part =  Analyze.ID	
									WHERE TableKind = 24
									 ) 

OPEN cur_InnerSql
FETCH FROM cur_InnerSql into @Row,@Id, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName 
WHILE @@fetch_status = 0 
	BEGIN
		declare @FiledName varchar(max)
		set @FiledName=',CAST( ' + case when CHARINDEX('SUBSTRING', @TopicName)=0 then ISNULL(@AliasName,@tblName) + '.' + ISNULL(@TopicName, @JoinFldName) 
			else 	@TopicName end +' AS NVARCHAR(100))'

		if ltrim(@tblName)<>''
		begin
	 	SET @SelectCol = @SelectCol + 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS C'+ltrim(@Row)+	@FiledName +'AS CN'+ltrim(@Row)+',' 
	 	SET @SelectColCT = @SelectColCT + ' C'+ltrim(@Row) +',CN'+ltrim(@Row)+',' 

	 	SET @DECLAREvar = @DECLAREvar +CHAR(13) + 'DECLARE @CodeC'+ltrim(@Row) +' VARCHAR(100) ' +CHAR(13)+'DECLARE @CodeN'+ltrim(@Row)+' VARCHAR(100) =''''' 
	 	--SET @DECLAREvar = @DECLAREvar +CHAR(13) + 'DECLARE @CodeN'+ltrim(@Row) +' VARCHAR(100) ' +CHAR(13)+'DECLARE @NameN'+ltrim(@Row)+' VARCHAR(100) =''''' 
	 	SET @CURSORSel = @CURSORSel + ' @CodeC'+ltrim(@Row) +', @CodeN'+ltrim(@Row)+',' --+ ' @CodeN'+ltrim(@Row) +', @NameN'+ltrim(@Row)+',' 

	 	SET @DECLAREvar = @DECLAREvar +CHAR(13) + 'DECLARE @CodeTempBC'+ltrim(@Row) +' VARCHAR(18) ' +CHAR(13)



       end
		  
		if ltrim(@tblName)<>''
		SET @GroupCol = @GroupCol +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) '+@FiledName +' ,'  

		if ltrim(@tblName)<>''
		  if UPPER( ltrim(@tblName))='TSH.CALENDAR' 
		    SET @Join = ' Tsh.Calendar ' + ISNULL(@AliasName,'') + ' ON ' + ISNULL(@AliasName,'') + '.CalendarDate = R.ReciptDate LEFT OUTER JOIN '+ CHAR(13) + @Join 
		  else

		   SET @Join = @tblName + ' ' + ISNULL(@AliasName,'') + ' ON ' + 
		
		   case when CHARINDEX('SUBSTRING', @JoinFldName)=0 then
             		  ISNULL(@AliasName,@tblName) + '.' + @JoinFldName  
			else 	@JoinFldName end	  
					  + ' = '+ @fldName 
		 +  case when /*Tsh.Calendar*/@Id not in (141,142,143) then   ' INNER JOIN ' else  ' LEFT OUTER JOIN ' end + CHAR(13) + @Join 

	FETCH NEXT FROM cur_InnerSql into @Row,@ID, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName 
	END

CLOSE cur_InnerSql 	
DEALLOCATE cur_InnerSql 

DECLARE @RowCount int=  @Row       



DECLARE cur_InnerSql CURSOR FOR( 	SELECT ROW_NUMBER() OVER(ORDER BY SP.RowEnter ASC) AS Row#,Analyze.ID, TableName,FieldName,AliasName ,JoinFieldName,CaptionName,TopicName
	                                FROM Util.Analyze  INNER JOIN SplitString(@Rows,',') SP ON SP.part =  Analyze.ID	WHERE TableKind = 24 
									 ) 

OPEN cur_InnerSql
FETCH FROM cur_InnerSql into @Row,@Id, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName 
WHILE @@fetch_status = 0 
	BEGIN
		set @FiledName=',CAST( ' + case when CHARINDEX('SUBSTRING', @TopicName)=0 then ISNULL(@AliasName,@tblName) + '.' + ISNULL(@TopicName, @JoinFldName) 
			else 	@TopicName end +' AS NVARCHAR(100))'

		if ltrim(@tblName)<>''
		begin
		SET @SelectRow = @SelectRow + 'CAST( ' +@fldName + ' AS NVARCHAR(500)) AS R'+ltrim(@Row)+@FiledName +'AS RN'+ltrim(@Row)+',' 
		SET @SelectRowCT = @SelectRowCT + 'R'+ltrim(@Row)+',RN'+ltrim(@Row)+',' 
SET @Group = @Group + 'R'+ltrim(@Row)+',RN'+ltrim(@Row)+',' 
SET @SelectTemp = @SelectTemp + 'R'+ltrim(@Row)+' AS [کد'+ @CurCaptionName +'], RN'+ltrim(@Row)+' AS ['+ @CurCaptionName+'],'  
       end
		  
		if ltrim(@tblName)<>''
		SET @GroupRow = @GroupRow +CHAR(13)+ 'CAST( ' +@fldName + ' AS NVARCHAR(500)) '+@FiledName +' ,'  

		if ltrim(@tblName)<>''
		  if UPPER( ltrim(@tblName))='TSH.CALENDAR' 
		    SET @Join = ' Tsh.Calendar ' + ISNULL(@AliasName,'') + ' ON ' + ISNULL(@AliasName,'') + '.CalendarDate = R.ReciptDate LEFT OUTER JOIN '+ CHAR(13) + @Join 
		  else

		   SET @Join = @tblName + ' ' + ISNULL(@AliasName,'') + ' ON ' + 
		
		   case when CHARINDEX('SUBSTRING', @JoinFldName)=0 then
             		  ISNULL(@AliasName,@tblName) + '.' + @JoinFldName  
			else 	@JoinFldName end	  
					  + ' = '+ @fldName 
		 +  case when /*Tsh.Calendar*/@Id not in (141,142,143) then   ' INNER JOIN ' else  ' LEFT OUTER JOIN ' end + CHAR(13) + @Join 

	FETCH NEXT FROM cur_InnerSql into @Row,@ID, @tblName, @fldName, @AliasName, @JoinFldName, @CurCaptionName, @TopicName 
	END


	SET @SelectCol = LEFT(@SelectCol, (LEN(@SelectCol) - 1))  
	SET @SelectRow = LEFT(@SelectRow, (LEN(@SelectRow) - 1))  
	SET @GroupCol = LEFT(@GroupCol, (LEN(@GroupCol) - 1)) 
	SET @GroupRow = LEFT(@GroupRow, (LEN(@GroupRow) - 1)) 
	SET @Group = LEFT(@Group, (LEN(@Group) - 1)) 
	SET @Join = LEFT(@Join, (LEN(@Join) - 12))  


	--IF OBJECT_ID('tempdb..##tblTempUnlimit') IS NOT NULL 
	--   DROP TABLE ##tblTempUnlimit
	SET @EntityKind = CASE @CircleKind WHEN 0 THEN 'SUM(Ri.InputEntity) - SUM(Ri.OutputEntity)'
	                                  WHEN 1 THEN 'SUM(Ri.InputEntity)'
									  WHEN 2 THEN 'SUM(Ri.OutputEntity)'
									  WHEN 3 THEN 'SUM(Ri.OutputEntity) - SUM(Ri.InputEntity)' ELSE '' END 

	SET @UnitPriceKind = CASE @CircleKind WHEN 0 THEN 'AVG(Ri.UnitSellPrice) '
	                                      WHEN 1 THEN 'AVG(Ri.UnitSellPrice)'
									      WHEN 2 THEN 'AVG(Ri.UnitSellPrice)'
									      WHEN 3 THEN 'AVG(Ri.UnitSellPrice) ' ELSE '' END 

	SET @PriceKind = CASE @CircleKind WHEN 0 THEN 'SUM(Ri.TotalInputPrice) - SUM(Ri.TotalOutputPrice)'
	                                  WHEN 1 THEN 'SUM(Ri.TotalInputPrice)'
									  WHEN 2 THEN 'SUM(Ri.TotalOutputPrice)'
									  WHEN 3 THEN 'SUM(Ri.TotalOutputPrice) - SUM(Ri.TotalInputPrice)' ELSE '' END 


	SET @TotalPriceKind = CASE @CircleKind WHEN 0 THEN 'SUM(Ri.TotallSellPrice) '
	                                  WHEN 1 THEN 'SUM(Ri.TotallSellPrice)'
									  WHEN 2 THEN 'SUM(Ri.TotallSellPrice)'
									  WHEN 3 THEN 'SUM(Ri.TotallSellPrice) ' ELSE '' END 

	SET @DeficitWPriceKind = CASE @CircleKind WHEN 0 THEN 'SUM(Ri.TotalInputPrice) - SUM(Ri.TotalOutputPrice)- SUM(Ri.DeficitValue)'
	                                  WHEN 1 THEN 'SUM(Ri.TotalInputPrice)- SUM(Ri.DeficitValue)'
									  WHEN 2 THEN 'SUM(Ri.TotalOutputPrice)- SUM(Ri.DeficitValue)'
									  WHEN 3 THEN 'SUM(Ri.TotalOutputPrice) - SUM(Ri.TotalInputPrice)- SUM(Ri.DeficitValue)' ELSE '' END 

									  

DECLARE @From varchar(max)
SET @From=CHAR(13) +'FROM ' 
	+' Recipts R INNER JOIN ReciptItems Ri ON R.ReciptID = Ri.ReciptID AND R.ServerID = Ri.ServerID '
	+' AND R.YearID = Ri.YearID INNER JOIN '
	+ CHAR(13) + @Join  
	+' LEFT OUTER JOIN LookUps LookUps_I ON Ri.SecondTypeItem = LookUps_I.LookUpID '
	+' LEFT OUTER JOIN LookUps LookUps_M ON R.SecondType = LookUps_M.LookUpID '
	+CHAR(13)+ @Where
	
	SET @InnerSql = 'SELECT ' + @Selectcol +CHAR(13)+','+ @SelectRow +CHAR(13)+ ',ROUND('+ @EntityKind +',2) AS P1' + ',ROUND('+ @UnitPriceKind +',2) AS P2' 
	           +',ROUND('+ @PriceKind +',2) AS P3' + ',ROUND('+ @TotalPriceKind +',2) AS P4' + ',ROUND('+ @DeficitWPriceKind +',2) AS P5' + CHAR(13) 
										 +' Into ##tblTempUnlimit ' +
										  @From 
										  +CHAR(13)+' GROUP BY ' + @GroupCol+','+ @GroupRow

CLOSE cur_InnerSql 	
DEALLOCATE cur_InnerSql 


EXEC (@InnerSql)
--print (@InnerSql)




DECLARE @CodeTempA varchar(18)
--DECLARE @CodeTempBC1 varchar(18)
--DECLARE @CodeTempBC2 varchar(18)


--DECLARE @CodeN1 varchar(100)
--DECLARE @CodeN2 varchar(100)




DECLARE @P1Active bit
DECLARE @P2Active bit
DECLARE @P3Active bit
DECLARE @P4Active bit
DECLARE @P5Active bit


if (@ActiveColumns & 1 = 1)   set @P1Active=1 else set @P1Active=0
if (@ActiveColumns & 2 = 2)   set @P2Active=1 else set @P2Active=0
if (@ActiveColumns & 4 = 4)   set @P3Active=1 else set @P3Active=0
if (@ActiveColumns & 8 = 8)   set @P4Active=1 else set @P4Active=0
if (@ActiveColumns & 128 = 128) set @P5Active=1 else set @P5Active=0




SET @CodeTempA = 'X'
--SET @CodeTempBC1 = 'Y' 
--SET @CodeTempBC2 = 'Z' 

DECLARE @ColCodeLoop varchar(max)=''
DECLARE @ColCodeLoopTemp varchar(max)=''
DECLARE @ColCodeLoopCaption varchar(max)=''
DECLARE @ColCodeLoopCaptionC varchar(max)=''
DECLARE @CodeTemp varchar(max)=''
DECLARE @cnt INT = 2
WHILE @cnt <= @ROWCOUNT begin

  	set @ColCodeLoop = @ColCodeLoop + '+'' AND C'+ltrim(@cnt)+'=''+dbo.QuotedStr(@CodeC'+ltrim(@cnt)+')'
  	set @ColCodeLoopTemp = @ColCodeLoopTemp + '+'' AND C'+ltrim(@cnt)+'=''+dbo.QuotedStr(@CodeTempBC'+ltrim(@cnt)+')'



	set @ColCodeLoopCaption = @ColCodeLoopCaption + '+''|''+@CodeN'+ltrim(@cnt)+''
	set @ColCodeLoopCaptionC = @ColCodeLoopCaptionC + '+''|''+@CodeC'+ltrim(@cnt)+''

	

	set @CodeTemp = @CodeTemp +'SET @CodeTempBC'+ltrim(@cnt)+' = @CodeC'+ltrim(@cnt)+CHAR(13)	

    SET @cnt = @cnt + 1
END 

DECLARE @MySQL varchar(max) 

set @MySQL=
@DECLAREvar +char(13)+




'DECLARE @ColCode1 varchar(max)='''''+CHAR(13)+ 
'DECLARE @ColCode2 varchar(max)='''''+CHAR(13)+ 
'DECLARE @CodeTempA varchar(18)='''''+CHAR(13)+ 
'DECLARE @ActiveGrowColShare bit='+LTRIM(@ActiveGrowColShare)+CHAR(13)+
'DECLARE @ActivePartCol bit='+LTRIM(@ActivePartCol)+CHAR(13)+
'DECLARE @P1Active bit='+LTRIM(@P1Active)+CHAR(13)+
'DECLARE @P2Active bit='+LTRIM(@P2Active)+CHAR(13)+
'DECLARE @P3Active bit='+LTRIM(@P3Active)+CHAR(13)+
'DECLARE @P4Active bit='+LTRIM(@P4Active)+CHAR(13)+
'DECLARE @P5Active bit='+LTRIM(@P5Active)+CHAR(13)+
'DECLARE @ActiveRowShare bit='+LTRIM(@ActiveRowShare)+CHAR(13)+
'DECLARE @ActiveColShare bit='+LTRIM(@ActiveColShare)+CHAR(13)+
'DECLARE @PartColP1 varchar(max)=''0'' '+CHAR(13)+ 
'DECLARE @PartColP2 varchar(max)=''0'' '+CHAR(13)+ 
'DECLARE @PartColP3 varchar(max)=''0'' '+CHAR(13)+ 
'DECLARE @PartColP4 varchar(max)=''0'' '+CHAR(13)+ 
'DECLARE @PartColP5 varchar(max)=''0'' '+CHAR(13)+ 
'DECLARE @PartColSqlP1 varchar(max)='''''+CHAR(13)+ 
'DECLARE @PartColSqlP2 varchar(max)='''''+CHAR(13)+ 
'DECLARE @PartColSqlP3 varchar(max)='''''+CHAR(13)+ 
'DECLARE @PartColSqlP4 varchar(max)='''''+CHAR(13)+ 
'DECLARE @PartColSqlP5 varchar(max)='''''+CHAR(13)+ 
'DECLARE @qry varchar(max)= '''' DECLARE @SumColumn1 varchar(20) DECLARE @SumColumn2 varchar(20) DECLARE @SumColumn3 varchar(20) DECLARE @SumColumn4 varchar(20) DECLARE @SumColumn5 varchar(30)'+CHAR(13)+
'DECLARE cur_Matrix CURSOR FOR '+CHAR(13)+
 'SELECT '+@SelectColCT+/*+@SelectRowCT*/
 'CAST(SUM(P1) AS varchar(20)) AS SumColumn1,CAST(SUM(P2) AS varchar(20)) AS SumColumn2,CAST(SUM(P3) AS varchar(20)) AS SumColumn3,CAST(SUM(P4) AS varchar(20)) AS SumColumn4,CAST(SUM(P5) AS varchar(30)) AS SumColumn5 '+CHAR(13)+
    	'FROM ##tblTempUnlimit '+CHAR(13)+
		'GROUP BY '+LEFT(@SelectColCT/*+@SelectRowCT*/
		, (LEN(	@SelectColCT/*+@SelectRowCT*/) - 1)) +CHAR(13)+
		'ORDER BY '+LEFT(@SelectColCT, (LEN(@SelectColCT) - 1))+CHAR(13)+
'OPEN cur_Matrix '+CHAR(13)+
'FETCH FROM cur_Matrix into '+ @CURSORSel +' @SumColumn1,@SumColumn2,@SumColumn3,@SumColumn4,@SumColumn5 '+CHAR(13)+
'WHILE @@fetch_status = 0 '+CHAR(13)+
	'BEGIN '+CHAR(13)+
      'set @qry =ISNULL(@qry,'''')  '+CHAR(13)+
		'if LEFT( RIGHT(@CodeN1,3),1)=''/'' '+CHAR(13)+
		  'SET  @CodeN1=left(REPLACE(@CodeN1,''/'',''''),4) '+CHAR(13)+
	  'if @ActivePartCol=1 '+CHAR(13)+
	  'BEGIN '+CHAR(13)+
		  'if @P1Active=1 '+CHAR(13)+
		  'begin '+CHAR(13)+
			'if ((@PartColP1<>''0'')and(@PartColP1<>@CodeC1)) '+CHAR(13)+
				  'begin '+CHAR(13)+
					'SET @qry = @qry +CHAR(13) +@PartColSqlP1 '+CHAR(13)+
     				'SET @PartColP1=0 '+CHAR(13)+
				  'end '+CHAR(13)+
			'else '+CHAR(13)+
   				'begin '+CHAR(13)+
				  'SET  @PartColSqlP1='',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) + '' THEN P1 ELSE 0 END)AS ['' + @CodeN1 +''|''+''جمع''+''|''+''مقدار] '' '+CHAR(13)+
 				  'SET  @PartColP1=@CodeC1 '+CHAR(13)+
				'end '+CHAR(13)+
			'end '+CHAR(13)+
		  'if @P2Active=1 '+CHAR(13)+
		  'begin '+CHAR(13)+
			'if ((@PartColP2<>''0'')and(@PartColP2<>@CodeC1)) '+CHAR(13)+
				  'begin '+CHAR(13)+
					'SET @qry = @qry +CHAR(13) +@PartColSqlP2 '+CHAR(13)+
     				'SET @PartColP2=0 '+CHAR(13)+
				  'end '+CHAR(13)+
			'else '+CHAR(13)+
   				'begin '+CHAR(13)+
				  'SET @PartColSqlP2='',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) + '' THEN P2 ELSE 0 END)AS ['' + @CodeN1 +''|''+''جمع''+''|''+''فی] '' '+CHAR(13)+
 				  'SET @PartColP2=@CodeC1 '+CHAR(13)+
				'end '+CHAR(13)+
			'end '+CHAR(13)+

		  'if @P3Active=1 '+
		  'begin '+
			'if ((@PartColP3<>''0'')and(@PartColP3<>@CodeC1)) '+
				  'begin '+
					'SET @qry = @qry +CHAR(13) +@PartColSqlP3 '+
     				'SET  @PartColP3=0 '+
				  'end '+
			'else '+
   				'begin '+
				  'SET @PartColSqlP3='',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) + '' THEN P3 ELSE 0 END)AS ['' + @CodeN1 +''|''+''جمع''+''|''+''بها] '' '+
 				  'SET @PartColP3=@CodeC1 '+
				'end '+
			'end '+

		  'if @P4Active=1 '+
		  'begin '+
			'if ((@PartColP4<>''0'')and(@PartColP4<>@CodeC1)) '+
				  'begin '+
					'SET @qry = @qry +CHAR(13) +@PartColSqlP4 '+
     				'SET @PartColP4=0 '+
				  'end '+
			'else '+ 
   				'begin '+
				  'SET @PartColSqlP4='',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) + '' THEN P4 ELSE 0 END)AS ['' + @CodeN1 +''|''+''جمع''+''|''+''خالص] '' '+
 				  'SET @PartColP4=@CodeC1 '+
				'end '+
			'end '+

		  'if @P5Active=1 '+
		  'begin '+
			'if ((@PartColP5<>''0'')and(@PartColP5<>@CodeC1)) '+
				  'begin '+
					'SET @qry = @qry +CHAR(13) +@PartColSqlP5 '+
     				'SET @PartColP5=0 '+
				  'end '+
			'else '+ 
   				'begin '+
				  'SET @PartColSqlP5='',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) + '' THEN P5 ELSE 0 END)AS ['' + @CodeN1 +''|''+''جمع''+''|''+''مبلغباتخفیف] '' '+
 				  'SET @PartColP5=@CodeC1 '+
				'end '+
			'end '+

		'END '+CHAR(13)+
      'if @P1Active=1 '+CHAR(13)+
	  'begin '+CHAR(13)+
     	'set @ColCode1=''SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+@ColCodeLoop+'+'' THEN P1 else 0 END)'' '+CHAR(13)+
        'if (@ActiveGrowColShare = 1) AND (@CodeTempA = @CodeTempBC1) '+CHAR(13)+
		'begin '+CHAR(13)+
		  'set @ColCode2=''SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeTempBC1) '+@ColCodeLooptemp+'+'' THEN P1 else 0 END)'' '+CHAR(13)+
		  'SET @qry = @qry  +'',CASE WHEN ''+@ColCode2+''<>0 THEN ROUND(((''+@ColCode1+''/''+@ColCode2+'')*100)-100 ,2) ELSE 0 END AS [درصد رشد] '' '+CHAR(13)+
		'end '+CHAR(13)+
      	'SET @CodeTempA=@CodeC1 '+CHAR(13)+
		'SET @qry=@qry+CHAR(13)+'',''+@ColCode1+'' AS ['' + @CodeN1 '+@ColCodeLoopCaption+'+''|''+''مقدار] '' '+CHAR(13)+
  	  'SET @CodeTempBC1 =@CodeC1 '+CHAR(13)+
	  @CodeTemp +  	  
      'end '+CHAR(13)+
      'if @P2Active=1 '+
	  'begin '+
		'SET @qry = @qry +'',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+@ColCodeLoop+'+'' THEN P2 else 0 END)AS ['' + @CodeN1 '+@ColCodeLoopCaption+'+''|''+''فی] '' '+
      'end '+
      'if @P3Active=1 '+
	  'begin
		SET @qry = @qry +'',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+@ColCodeLoop+'+'' THEN P3 else 0 END)AS ['' + @CodeN1 '+@ColCodeLoopCaption+'+''|''+''بها] '' '+
      'end '+
      'if @P4Active=1 '+
	  'begin '+
		'SET @qry = @qry +'',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+@ColCodeLoop+'+'' THEN P4 else 0 END)AS ['' + @CodeN1 '+@ColCodeLoopCaption+'+''|''+''خالص] '' '+
      'end '+

      'if @P5Active=1 '+
	  'begin '+
		'SET @qry = @qry +'',SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+@ColCodeLoop+'+'' THEN P5 else 0 END)AS ['' + @CodeN1 '+@ColCodeLoopCaption+'+''|''+''مبلغباتخفیف] '' '+
      'end '+
	  -----------------------------------
		'if (@ActiveRowShare = 1 ) '+CHAR(13)+
		'begin '+CHAR(13)+
      'if @P1Active=1 '+CHAR(13)+
			'SET @qry = @qry +'',CAST(CASE SUM(P1) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
			@ColCodeLoop+'+'' THEN P1 else 0 END)/SUM(P1)*100, 2) END AS FLOAT) AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''مقدار]'' '+CHAR(13)+
      'if @P2Active=1 '+CHAR(13)+
			'SET @qry = @qry +'',CAST(CASE SUM(P2) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
			@ColCodeLoop+'+'' THEN P2 else 0 END)/SUM(P2)*100, 2) END AS FLOAT) AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''في]'' '+CHAR(13)+
      'if @P3Active=1 '+CHAR(13)+
			'SET @qry = @qry +'',CAST(CASE SUM(P3) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
			@ColCodeLoop+'+'' THEN P3 else 0 END)/SUM(P3)*100, 2) END AS FLOAT) AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''بهاءکل]'' '+CHAR(13)+
      'if @P4Active=1 '+CHAR(13)+
			'SET @qry = @qry +'',CAST(CASE SUM(P4) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
			@ColCodeLoop+'+'' THEN P4 else 0 END)/SUM(P4)*100, 2) END AS FLOAT) AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''خالص]'' '+CHAR(13)+


      'if @P5Active=1 '+CHAR(13)+
			'SET @qry = @qry +'',CAST(CASE SUM(P5) WHEN 0 THEN 0 ELSE ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
			@ColCodeLoop+'+'' THEN P5 else 0 END)/SUM(P5)*100, 2) END AS FLOAT) AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''مبلغباتخفیف]'' '+CHAR(13)+
        'end  '+CHAR(13)+

		'if (@ActiveColShare = 1 ) '+CHAR(13)+
		'begin '+CHAR(13)+
      'if @P1Active=1 '+CHAR(13)+
			'SET @qry = @qry + CASE WHEN @SumColumn1 = ''0.00'' or @SumColumn1 = '''' THEN ''0 '' '+CHAR(13)+
			      'ELSE '' ,CAST(ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
				  @ColCodeLoop+'+'' THEN P1 else 0 END)/CAST(''+@SumColumn1+'' AS BIGINT)*100,2) AS FLOAT) '' END '+CHAR(13)+
          '+ ''AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''مقدار]'' '+CHAR(13)+
      'if @P2Active=1 '+CHAR(13)+
			'SET @qry = @qry + CASE WHEN @SumColumn2 = ''0.00'' or @SumColumn2 = ''''  THEN ''0 '' '+CHAR(13)+
			      'ELSE '' ,CAST(ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
				  @ColCodeLoop+'+'' THEN P2 else 0 END)/CAST(''+left(@SumColumn2, len(@SumColumn2)-3)+'' AS BIGINT)*100,2) AS FLOAT) '' END '+CHAR(13)+
         '+ ''AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''في]'' '+CHAR(13)+
      'if @P3Active=1 '+CHAR(13)+
			'SET @qry = @qry + CASE WHEN @SumColumn3 = ''0.00'' or @SumColumn3 = ''''  THEN ''0 '' '+CHAR(13)+
			      'ELSE '' ,CAST(ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
				  @ColCodeLoop+'+'' THEN P3 else 0 END)/CAST(''+left(@SumColumn3, len(@SumColumn3)-3)+'' AS BIGINT)*100,2) AS FLOAT) '' END '+CHAR(13)+
           '+ ''AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''بهاءکل]'' '+CHAR(13)+
      'if @P4Active=1 '+CHAR(13)+
			'SET @qry = @qry + CASE WHEN @SumColumn4 = ''0.00'' or @SumColumn4 = ''''  THEN ''0 '' '+CHAR(13)+
			      'ELSE '' ,CAST(ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
				  @ColCodeLoop+'+'' THEN P4 else 0 END)/CAST(''+left(@SumColumn4, len(@SumColumn4)-3)+'' AS BIGINT)*100,2) AS FLOAT) '' END '+CHAR(13)+
				   '+ ''AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''خالص]'' '+CHAR(13)+

      'if @P5Active=1 '+CHAR(13)+
			'SET @qry = @qry + CASE WHEN @SumColumn5 = ''0.00'' or @SumColumn5 = ''''  THEN ''0 '' '+CHAR(13)+
			      'ELSE '' ,CAST(ROUND(SUM(CASE WHEN C1=''+dbo.QuotedStr(@CodeC1) '+
				  @ColCodeLoop+'+'' THEN P5 else 0 END)/CAST(''+left(@SumColumn5, len(@SumColumn5)-3)+'' AS BIGINT)*100,2) AS FLOAT) '' END '+CHAR(13)+
				   '+ ''AS [''+ @CodeC1 '+@ColCodeLoopCaptionC+'+''|''+''مبلغباتخفیف]'' '+CHAR(13)+

        'end '+CHAR(13)+
		-----------------------------------------
		'FETCH NEXT FROM cur_Matrix into '+ @CURSORSel +' @SumColumn1, @SumColumn2, @SumColumn3, @SumColumn4,@SumColumn5 '+CHAR(13)+
	'END '+CHAR(13)+
' CLOSE cur_Matrix '+CHAR(13)+
'DEALLOCATE cur_Matrix '+CHAR(13)+

	  'if (@ActivePartCol=1) '+CHAR(13)+
	  'begin '+CHAR(13)+
	  'if (@PartColP1<>''0'') '+CHAR(13)+
		'SET @qry = @qry +CHAR(13) +@PartColSqlP1 '+CHAR(13)+
	  'if (@PartColP2<>''0'') '+CHAR(13)+
		'SET @qry = @qry +CHAR(13) +@PartColSqlP2 '+CHAR(13)+
	  'if (@PartColP3<>''0'') '+CHAR(13)+
		'SET @qry = @qry +CHAR(13) +@PartColSqlP3 '+CHAR(13)+
	  'if (@PartColP4<>''0'') '+CHAR(13)+
		'SET @qry = @qry +CHAR(13) +@PartColSqlP4 '+CHAR(13)+
	  'if (@PartColP5<>''0'') '+CHAR(13)+
		'SET @qry = @qry +CHAR(13) +@PartColSqlP5 '+CHAR(13)+

      'end '+CHAR(13)+



'UPDATE FaraSystems.dbo.MatrixSave SET MatrixSQL =rtrim(ltrim(@qry)) WHERE(MatrixNo='+ltrim(@MatrixNo)+')' 
--print len(@mySQL)
--print (@mySQL)

exec (@mySQL)

declare @Select2 varchar(max)
select @Select2 = MatrixSQL FRom FaraSystems.dbo.MatrixSave
WHERE        (MatrixNo = @MatrixNo)

print(@Select2)
--exec (@Select)
--SET @Select = left(@Select, (LEN(@Select) - 1))  

declare @SelectSum varchar(max)=''
      if @P1Active=1
		SET @SelectSum = @SelectSum +',sum(p1) AS جمعمقدار'
      if @P2Active=1
		SET @SelectSum = @SelectSum +',sum(p2) AS [میانگین فی]'
      if @P3Active=1
		SET @SelectSum = @SelectSum +',sum(p3) AS جمعکل'
      if @P4Active=1
		SET @SelectSum = @SelectSum +',sum(p4) AS جمعکلخالص'
      if @P5Active=1
		SET @SelectSum = @SelectSum +',sum(p5) AS جمعکلمبلغباتخفیف'

	SET @SelectTemp = LEFT(@SelectTemp, (LEN(@SelectTemp) - 1))  


SET @Sql = 'SELECT '+@SelectTemp + CHAR(13) + @Select2 + CHAR(13) +@SelectSum+ CHAR(13) + '  FROM (SELECT * FROM ##tblTempUnlimit) AS Temp ' 
             + CHAR(13) + 'GROUP BY '+@Group

declare @Row1 varchar(100)             
select @Row1=part from SplitString(@Rows,',') 
if (@Row1='141')or(@Row1='142')or(@Row1='143')
SET @Sql =@Sql+ CHAR(13) +' ORDER BY R1' 
else
SET @Sql =@Sql+ CHAR(13) +' ORDER BY CAST(R1 AS BIGINT)'


DECLARE @MAXCol INTEGER


IF (LEN(@Sql) > 7995)
BEGIN
	IF (( SELECT COUNT(*) FROM (SELECT * FROM ##tblTempUnlimit ) AS a)> 50) 
		BEGIN
			SET @MAXCol = CASE  CAST(@ActiveColShare AS smallint) + CAST(@ActiveRowShare AS smallint) WHEN 0 THEN 60 WHEN 1 THEN 30 WHEN 2 THEN  15 END
			RAISERROR ('تعداد ستونهاي انتخابي نبايد بيشتر از %d باشد', 16, 1 , @MAXCol )
		END 
	ELSE
	RAISERROR ('لطفا در محدوده تعداد ستونهاي انتخابي را کم کنيد', 16, 1) 
END

--print (@Sql)
EXEC (@Sql)

---UPDATE FaraSystems.dbo.MatrixSave SET COl_s =rtrim(ltrim(@COls)),  Row_s =rtrim(ltrim(@Rows)) WHERE(MatrixNo=@MatrixNo)
delete  FRom FaraSystems.dbo.MatrixSave
WHERE   (MatrixNo = @MatrixNo) AND (LTRIM(MatrixName)='')
 


END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------