--11  تاريخ 1402/11/14    آبان
if exists (select * from sysobjects where id = object_id(N'dbo.Cardex_Aid') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Cardex_Aid
GO
if exists (select * from sysobjects where id = object_id(N'dbo.Cardex') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Cardex
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE  FUNCTION dbo.Cardex_Aid( 
			@StoreIDFrom int , @StoreIDTo int , 
			@StuffCodeFrom bigint=-2147483647 , @StuffCodeTo bigint=9223372036854775807  ,
			@ControlCodeFrom bigint=0 , @ControlCodeTo bigint=9999999  ,
			@DateFrom Char(10)='', @DateTo Char(10)= '9999/99/99' ,
			@YearIDFrom int=0 ,  @YearIDTo int=999999,
            @DiameterFrom float=0, @DiameterTo float=99999,
            @PersonID1DFrom INT=-2147483647  ,@PersonID1DTo INT=2147483647 , 
			@PersonID4From INT=-2147483647  ,@PersonID4To INT=2147483647 ,
            @PersonID1From INT=-2147483647  ,@PersonID1To INT=2147483647 , 
			@PersonID2From INT=-2147483647  ,@PersonID2To INT=2147483647  )
RETURNS table  AS  

return (

SELECT  --dbo.GetRowReciptItems(R.ReciptItemID, R.ServerID, R.YearID ) as Row,
		R.n_ValuationType,R.StoreID, S.c_StoreName, R.StuffCode,	SC.c_StuffName, U.UnitName,
		R.ReciptNumber, R.ReciptDate, R.ReciptType , R.ReciptCaption , 
		R.StuffSize,R.StuffDiameter, R.StuffAlloy, R.ControlCode , 
		SC.c_StuffTecInfo,ScS.MinOrder n_minOrder,ScS.MaxOrder n_maxOrder, ScS.OrderPoint n_orderPoint,
		Round(R.InputEntity,5) as InputEntity, 
		round(R.InputWeight,5)as InputWeight,
		R.TotalInputPrice , 
		round(R.OutputEntity,5)as OutputEntity,
        round(R.OutputWeight,5) as OutputWeight, 
		R.TotalOutputPrice ,
		round(R.InputEntity - R.OutputEntity,5) AS BackLogEntity,
		round(R.InputWeight - R.OutputWeight,5) AS BackLogWeight,
		R.TotalInputPrice - R.TotalOutputPrice  AS BacklogPrice,
		--R.OutputEntity AS CalcuBackLogEntity,
		--R.OutputWeight AS CalcuBackLogWeight,
		--R.TotalInputPrice - R.TotalOutputPrice  AS CalcuBacklogPrice ,

		R.ReciptID , 
		R.PersonID1,ISNULL(C1.CustName, 'مشتري ندارد') AS CustName ,
		
        R.PersonID2,C2.CustName AS CustName2 , 
        R.PersonID3,C3.CustName AS CustName3 , 
        R.PersonID4,C4.CustName AS CustName4 , 
        R.PersonID1D AS PersonID1D ,Customers1D.CustName AS CustName1D ,
        R.ProductCode,StuffCodProduct.c_StuffName AS ProductName,
		R.EffectType ,
		(case  when R.EffectType in (2,6)  THEN R.TotallSellPrice else 0 end )as InTotallSellPrice,
		(case  when R.EffectType in (4,7,  8  )  THEN R.TotallSellPrice else 0 end )as OutTotallSellPrice,
		(case  when R.EffectType in (2,6)  THEN 1 else -1 end )* R.TotallSellPrice as InvTotallSellPrice,
		--(case  when R.EffectType in (2,6)  THEN 1 else -1 end )* R.TotallSellPrice as CalcuBacklogSellPrice,
		R.ItemNote, R.AidNumber, R.AidDate, R.AidNumberD, R.AidDateD,
		--(case  when R.EffectType in (2,6)  THEN R.UnitSellPrice else 0 end )as UnitSellPriceIn,

		CASE  WHEN ISNULL(R.Portage,0) = 0 THEN 
		   (case  when R.EffectType in (2,6)  THEN R.UnitSellPrice else 0 end )
        else   case when R.EntityDisplayType <> 3 then 
	
			case when R.InputEntity <> 0 then round(case  when R.EffectType in (2,6)  THEN R.TotallSellPrice else 0 end / R.InputEntity ,5) else 0 end
					else case	when  DiagnosisCalcTotalPrice = 0 then  case when R.InputEntity <> 0 then round(case  when R.EffectType in (2,6)  THEN R.TotallSellPrice else 0 end / R.InputEntity ,5) else 0 end 
								when  DiagnosisCalcTotalPrice = 1 then  case when R.InputWeight <> 0 then round(case  when R.EffectType in (2,6)  THEN R.TotallSellPrice else 0 end / R.InputWeight ,5) else 0 end
		else 0 end end
		END as UnitSellPriceIn,
		  
		(case  when R.EffectType in (4,7,  8  )  THEN R.UnitSellPrice else 0 end )as UnitSellPriceOut,
		(round(
		(	R.TotalInputPrice - R.TotalOutputPrice 
		 ) /
		 (
			case R.InputWeight - R.OutputWeight 
				when 0 then 1 
				else R.InputWeight - R.OutputWeight end 
			)	 ,0))as UnitSellPriceBackLog1,
		 
		ISNULL(CASE WHEN R.EffectType in(2,6) THEN R.RegPrice ELSE - R.RegPrice END, 0) AS RegPrice ,
		ISNULL(CASE WHEN R.EffectType in(2,6,  8  ) THEN R.Portage ELSE - R.Portage END, 0) AS Portage ,
		ISNULL(CASE WHEN R.EffectType in(2,6) THEN R.DeficitValue ELSE - R.DeficitValue END, 0) AS DeficitValue
         ,R.ID,R.ReciptItemID, R.ServerID, R.YearID
		 ,R.StoreID2,  c_StoreName2,R.SecondTypeItem ,SC.Cabinet ,SC.c_KeepPlace,
		case when InputEntity +OutputEntity <>0 then (TotalInputPrice+TotalOutputPrice)/(InputEntity +OutputEntity) ELSE 0 END AS UnitEntityPrice ,
		case when InputWeight +OutputWeight <>0 then (TotalInputPrice+TotalOutputPrice)/(InputWeight +OutputWeight) ELSE 0 END AS UnitWeightPrice
		,R.ReciptNote,r.SellsEmporium,SellsEmporiums.SellsEmporiumName,R.ItemDate,R.autoPrice,R.IncreasingInventory,R.UnitCommission,R.UseUnitIDD,UsD.UseUnitName AS UseUnitNameD
		,R.DocNo,R.ReciptState,R.SpecialCode
FROM	StuffCoding SC INNER JOIN
		Units U ON SC.n_UnitCode = U.UnitCode INNER JOIN
		ReciptItems_Stock AS R ON SC.c_StuffCode = R.StuffCode INNER JOIN
		Stores S ON R.StoreID = S.n_StoreID  INNER JOIN
		Customers C1 ON R.PersonID1 = C1.CustID INNER JOIN
		Customers AS C2 ON R.PersonID2 = C2.CustID INNER JOIN
		Customers AS C3 ON R.PersonID3 = C3.CustID INNER JOIN
		Customers AS C4 ON R.PersonID4 = C4.CustID INNER JOIN
		Customers AS Customers1D ON R.PersonID1D = Customers1D.CustID left outer JOIN
        StuffCoding AS StuffCodProduct ON R.ProductCode = StuffCodProduct.c_StuffCode LEFT OUTER JOIN
        SellsEmporiums ON R.SellsEmporium = SellsEmporiums.SellsEmporium LEFT OUTER JOIN
        UseUnits UsD ON R.UseUnitIDD = UsD.UseUnitID  LEFT OUTER JOIN
        StuffCodingStock AS ScS ON SC.c_StuffCode = ScS.StuffCode and  S.n_StoreID = ScS.StoreID

--		cross join Fitful
WHERE (R.EffectType in(2,4,6,7,  8  )) 
AND (R.StoreID between @StoreIdFrom and @StoreIdTo  ) 
AND (R.StuffCode between @StuffCodeFrom and @StuffCodeTo ) 
AND (R.ReciptDate BETWEEN @DateFrom AND @DateTo) 
AND (isnull(R.ControlCode,0)  BETWEEN @ControlCodeFrom AND @ControlCodeTo) 
AND (R.YearID between @YearIDFrom and @YearIDTo)
AND (R.StuffDiameter BETWEEN @DiameterFrom AND @DiameterTo)
AND (R.PersonID1D BETWEEN @PersonID1DFrom AND @PersonID1To)
AND (R.PersonID4 BETWEEN @PersonID4From AND @PersonID4To)
AND (R.PersonID1 BETWEEN @PersonID1From AND @PersonID1To)
AND (R.PersonID2 BETWEEN @PersonID2From AND @PersonID2To)


--SELECT  --dbo.GetRowReciptItems(R.ReciptItemID, R.ServerID, R.YearID ) as Row,
--		R.n_ValuationType,R.StoreID, S.c_StoreName, R.StuffCode,	SC.c_StuffName, U.UnitName,
--		R.ReciptNumber, R.ReciptDate, R.ReciptType , R.ReciptCaption , 
--		R.StuffSize,R.StuffDiameter, R.StuffAlloy, R.ControlCode , 
--		SC.c_StuffTecInfo,SC.n_minOrder,SC.n_maxOrder, SC.n_orderPoint,
--		Round(R.InputEntity,3) as InputEntity, 
--		round(R.InputWeight,3)as InputWeight,
--		R.TotalInputPrice , 
--		round(R.OutputEntity,3)as OutputEntity,
--        round(R.OutputWeight,3) as OutputWeight, 
--		R.TotalOutputPrice ,
--		round(R.InputEntity - R.OutputEntity,3) AS BackLogEntity,
--		round(R.InputWeight - R.OutputWeight,3) AS BackLogWeight,
--		R.TotalInputPrice - R.TotalOutputPrice  AS BacklogPrice,
--		--R.OutputEntity AS CalcuBackLogEntity,
--		--R.OutputWeight AS CalcuBackLogWeight,
--		--R.TotalInputPrice - R.TotalOutputPrice  AS CalcuBacklogPrice ,

--		R.ReciptID , 
--		R.PersonID1,ISNULL(C1.CustName, 'مشتري ندارد') AS CustName ,
		
--        R.PersonID2,C2.CustName AS CustName2 , 
--        R.PersonID3,C3.CustName AS CustName3 , 
--        R.PersonID1 AS PersonID1D ,Customers1D.CustName AS CustName1D ,
--        R.ProductCode,StuffCodProduct.c_StuffName AS ProductName,
--		R.EffectType ,
--		(case  when R.EffectType in (2,6,  8  )  THEN R.TotallSellPrice else 0 end )as InTotallSellPrice,
--		(case  when R.EffectType in (4,7,  8  )  THEN R.TotallSellPrice else 0 end )as OutTotallSellPrice,
--		(case  when R.EffectType in (2,6,  8  )  THEN 1 else -1 end )* R.TotallSellPrice as InvTotallSellPrice,
--		--(case  when R.EffectType in (2,6)  THEN 1 else -1 end )* R.TotallSellPrice as CalcuBacklogSellPrice,
--		R.ItemNote, R.AidNumber, R.AidDate, R.AidNumberD, R.AidDateD,
--		(case  when R.EffectType in (2,6,  8  )  THEN R.UnitSellPrice else 0 end )as UnitSellPriceIn,
--		(case  when R.EffectType in (4,7,  8  )  THEN R.UnitSellPrice else 0 end )as UnitSellPriceOut,
--		(round(
--		(	R.TotalInputPrice - R.TotalOutputPrice 
--		 ) /
--		 (
--			case R.InputWeight - R.OutputWeight 
--				when 0 then 1 
--				else R.InputWeight - R.OutputWeight end 
--			)	 ,0))as UnitSellPriceBackLog1,
		 
--		ISNULL(CASE WHEN R.EffectType in(2,6,  8  ) THEN R.RegPrice ELSE - R.RegPrice END, 0) AS RegPrice ,
--		ISNULL(CASE WHEN R.EffectType in(2,6,  8  ) THEN R.Portage ELSE - R.Portage END, 0) AS Portage ,
--		ISNULL(CASE WHEN R.EffectType in(2,6,  8  ) THEN R.DeficitValue ELSE - R.DeficitValue END, 0) AS DeficitValue
--         ,R.ReciptItemID, R.ServerID, R.YearID
--		 ,R.StoreID2,  c_StoreName2,R.SecondTypeItem
--FROM	StuffCoding INNER JOIN
--		Units ON SC.n_UnitCode = U.UnitCode INNER JOIN
--		ReciptItems_Stock ON SC.c_StuffCode = R.StuffCode INNER JOIN
--		Stores ON R.StoreID = S.n_StoreID  INNER JOIN
--		Customers ON R.PersonID1 = C1.CustID INNER JOIN
--		Customers AS Customers2 ON R.PersonID2 = C2.CustID INNER JOIN
--		Customers AS Customers3 ON R.PersonID3 = C3.CustID INNER JOIN
--		Customers AS Customers1D ON R.PersonID1D = Customers1D.CustID left outer JOIN
--        StuffCoding AS StuffCodProduct ON R.ProductCode = StuffCodProduct.c_StuffCode 

----		cross join Fitful
--WHERE (R.EffectType in( 2 , 4,6,7,  8  )) 
--AND (R.StoreID = @StoreId ) 
--AND (R.StuffCode between @StuffCodeFrom and @StuffCodeTo ) 
--AND (R.ReciptDate BETWEEN @DateFrom AND @DateTo) 
--AND (isnull(R.ControlCode,0)  BETWEEN @ControlCodeFrom AND @ControlCodeTo) 
--AND (R.YearID between @YearIDFrom and @YearIDTo)
--AND (R.StuffDiameter BETWEEN @DiameterFrom AND @DiameterTo)
--AND (R.PersonID3 BETWEEN @PersonID3From AND @PersonID3To)

)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION dbo.Cardex( 
			@StoreIDFrom int , @StoreIDTo int , 
			@StuffCodeFrom bigint , @StuffCodeTo bigint ,
			@ControlCodeFrom bigint , @ControlCodeTo bigint  ,
			@DateFrom Char(10), @DateTo Char(10) ,@DateFromRemain  Varchar(10) ,
			@YearIDFrom int=0 ,  @YearIDTo int=999999,
            @DiameterFrom float=0, @DiameterTo float=99999,
            @PersonID1DFrom INT=-2147483647  ,@PersonID1DTo INT=2147483647 ,
            @PersonID4From INT=-2147483647  ,@PersonID4To INT=2147483647,
            @PersonID1From INT=-2147483647  ,@PersonID1To INT=2147483647 , 
			@PersonID2From INT=-2147483647  ,@PersonID2To INT=2147483647   )
RETURNS table  AS  
return (

SELECT *
FROM Cardex_Aid ( @StoreIdFrom , @StoreIdTo,@StuffCodeFrom,@StuffCodeTo,@ControlCodeFrom,@ControlCodeTo,@DateFrom,@DateTo , @YearIDFrom , @YearIDTo
, @DiameterFrom , @DiameterTo ,@PersonID1DFrom ,@PersonID1DTo,@PersonID4From ,@PersonID4To ,@PersonID1From ,@PersonID1To ,@PersonID2From ,@PersonID2To ) as Cardex_Aid

UNION ALL

SELECT      n_ValuationType,StoreID, c_StoreName, StuffCode, c_StuffName, UnitName, 0 AS ReciptNumber, '' AS reciptdate, 0 AS ReciptType, 'نقل از قبل' AS ReciptCaption,
                       StuffSize, StuffDiameter, StuffAlloy, ControlCode, c_StuffTecInfo, n_minOrder, n_maxOrder, n_orderPoint, SUM(InputEntity) AS InputEntity, 
                      SUM(InputWeight) AS InputWeight, SUM(TotalInputPrice) AS TotalInputPrice, SUM(OutputEntity) AS OutputEntity, SUM(OutputWeight) AS OutputWeight, 
                      SUM(TotalOutputPrice) AS TotalOutputPrice, SUM(BackLogEntity) AS BackLogEntity, SUM(BackLogWeight) AS BackLogWeight, SUM(BacklogPrice) 
                      AS BacklogPrice
					  , 0 AS ReciptID, 
                      0 AS PersonID1,  '' AS CustName, 
                      0 AS PersonID2,  '' AS CustName2, 
                      0 AS PersonID3,  '' AS CustName3,
                      0 AS PersonID4,  '' AS CustName4,
                      0 AS PersonID1D, '' AS CustName1D,
                      0 AS ProductCode,'' AS ProductName,                     
                      0 AS EffectType, SUM(InTotallSellPrice) AS InTotallSellPrice, 
                      SUM(OutTotallSellPrice) AS OutTotallSellPrice, SUM(InvTotallSellPrice) AS InvTotallSellPrice, 
                      '' AS ItemNote, 0 AS AidNumber, '' AS AidDate,  0 AS AidNumberD, '' AS AidDateD,
					  MIN(UnitSellPriceIn) AS UnitSellPriceIn, MIN(UnitSellPriceOut) AS UnitSellPriceOut, 
                      SUM(UnitSellPriceBackLog1) AS UnitSellPriceBackLog1, SUM(RegPrice) AS RegPrice, SUM(Portage) AS Portage, 
                      SUM(DeficitValue) AS DeficitValue, min(ID),0 as ReciptItemID, 0 AS ServerID, 0 AS YearID
					  ,0 as StoreID2,'' as c_StoreName2,min(SecondTypeItem) AS SecondTypeItem, '' AS Cabinet , '' AS c_KeepPlace,
		MIN(UnitEntityPrice) AS UnitEntityPrice ,
		MIN(UnitWeightPrice) AS UnitWeightPrice ,'' ReciptNote,SellsEmporium,SellsEmporiumName,ItemDate,min( autoPrice),min(IncreasingInventory),avg(UnitCommission)UnitCommission,0 AS UseUnitIDD,'' AS UseUnitNameD
		,-1 AS DocNo,-1 AS ReciptState, '' AS SpecialCode
FROM         dbo.Cardex_Aid( @StoreIdFrom , @StoreIdTo, @StuffCodeFrom, @StuffCodeTo, @ControlCodeFrom, @ControlCodeTo, '', @DateFromRemain ,
                @YearIDFrom , @YearIDFrom, @DiameterFrom , @DiameterTo ,@PersonID1DFrom ,@PersonID1DTo ,@PersonID4From ,@PersonID4To  ,@PersonID1From ,@PersonID1To ,@PersonID2From ,@PersonID2To) 
                      AS Cardex_FirstEntity

		
GROUP BY   n_ValuationType, StoreID, c_StoreName, StuffCode, c_StuffName, UnitName, StuffSize, StuffDiameter, StuffAlloy, ControlCode, c_StuffTecInfo, n_minOrder, n_maxOrder, 
                      n_orderPoint,SellsEmporium,SellsEmporiumName,ItemDate  -- نقل از قبل دو سطری autoPrice ,IncreasingInventory,autoPrice
                      
--SELECT   0 as Row, StoreID, c_StoreName, StuffCode, c_StuffName, UnitName, ReciptNumber, 
--		reciptdate, ReciptType, ReciptCaption,StuffSize, StuffDiameter, StuffAlloy,
--		ControlCode, c_StuffTecInfo, n_minOrder, n_maxOrder, n_orderPoint, 
--		SUM(InputEntity) AS InputEntity, SUM(InputWeight) AS InputWeight,
--		SUM(TotalInputPrice) AS TotalInputPrice, 
--		SUM(OutputEntity) AS OutputEntity, SUM(OutputWeight) AS OutputWeight, 
--		SUM(TotalOutputPrice)AS TotalOutputPrice, 
--		SUM(BackLogEntity) AS BackLogEntity, SUM(BackLogWeight) AS BackLogWeight, 
--		SUM(BacklogPrice) AS BacklogPrice,
--		SUM(CalcuBackLogEntity) AS CalcuBackLogEntity, SUM(CalcuBackLogWeight) AS CalcuBackLogWeight, 
--		SUM(CalcuBacklogPrice)AS CalcuBacklogPrice, 
--		ReciptID, 0 AS PersonID1, '' AS CustName, EffectType, 
--		SUM(InTotallSellPrice) AS InTotallSellPrice, SUM(OutTotallSellPrice)AS OutTotallSellPrice, 
--		SUM(InvTotallSellPrice) AS InvTotallSellPrice, SUM(CalcuBacklogSellPrice) AS CalcuBacklogSellPrice, 
--		ItemNote, AidNumber,AidDate, 
--		MIN(UnitSellPriceIn) AS UnitSellPriceIn, MIN(UnitSellPriceOut) AS UnitSellPriceOut, 
--		SUM(UnitSellPriceBackLog)AS UnitSellPriceBackLog ,
--		0 as ServerID ,0 as YearID , sum(RegPrice ) as RegPrice ,sum(Portage) as Portage , sum(DeficitValue) as DeficitValue
		

--  FROM	Cardex_Aid (@StoreID,@StuffCodeFrom,@StuffCodeTo,@ControlCodeFrom,@ControlCodeTo,'',@DateFromRemain) as Cardex_FirstEntity 

--GROUP BY StoreID, c_StoreName, StuffCode, c_StuffName, UnitName, ReciptNumber, reciptdate, ReciptType, ReciptCaption, StuffSize, StuffDiameter, StuffAlloy,
  --                    ControlCode, c_StuffTecInfo, n_minOrder, n_maxOrder, n_orderPoint, ReciptID, EffectType, ItemNote, AidNumber, AidDate 
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO