--14  تاريخ 1402/11/12    
if exists (select * from sysobjects where id = object_id(N'[dbo].[MakeDocuments_CheckExpense]') and xtype in (N'FN', N'IF', N'TF'))
drop function dbo.MakeDocuments_CheckExpense
GO
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO

GO

CREATE FUNCTION dbo.MakeDocuments_CheckExpense (@AllDocAble Tinyint=0,@FormDateFrom varchar(10)=[00/00/00], @FormDateTo varchar(10)=[99/99/99],
				@FormNoFrom varchar (12)=[-9999999], @FormNoTo varchar (12)=[99999999] , @FormType varchar (3)= [50] 
               ,@CheckStateFrom varchar (12)=[0], @CheckStateTo varchar (12)=[99]  , @FormTypeCheck varchar (3)= [50] 
              , @FormTypeCash varchar (3)= [50] ,@SellsEmporiumFrom int=0,@SellsEmporiumTo int = 999999999 
                                                    ,@PayTypesFrom int=0,@PayTypesTo int = 999999999 
													,@MakeDocKind int =1 ,
				@AidDateFrom char(10)='0000/00/00', @AidDateTo char(10)='9999/99/99' , @DateSelect int = 0)
RETURNS table  AS  
return (
SELECT    ID, FormItemID, FormID, CheckNumber, CheckDate, FormNumber, FormDate, FormType, FormCaption, checkType, TopicCode_Bed AS TopicCode, 
                      DetailCode_Bed AS DetailCode, CTopicCode_Bed AS CtopicCode, CTopicCode2_Bed AS CtopicCode2, ItemAmount - isnull(CashWage,0) AS debt, 0 AS credit, 
                      0 AS bedbes,ItemNote,FomNote , ' ' as MasterNote ,ServerID,YearID,PO,ArzTypeID              --- ,@FormType
					  ,AidInfoNo,AidInfoDate,AidInfoNoItem,AidInfoDateItem,BudgetCode, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         Aid_MakeDocuments_Check(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo,@CheckStateFrom, @CheckStateTo ,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo) Aid_MakeDocuments_Check
where InfoUse4Bed   not in (1,2,3)

UNION ALL

SELECT    ID, FormItemID, FormID, CheckNumber, CheckDate, FormNumber, FormDate, FormType, FormCaption, checkType, TopicCode_Bes, DetailCode_Bes, 
                      CTopicCode_Bes, CTopicCode2_Bes, 0 AS debt, ItemAmount AS credit, 1 AS bedbes,ItemNote,FomNote  , ' ' as MasterNote
                      ,ServerID,YearID,PO,ArzTypeID,AidInfoNo,AidInfoDate,AidInfoNoItem,AidInfoDateItem,BudgetCode, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         Aid_MakeDocuments_Check(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo, @CheckStateFrom, @CheckStateTo,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo  ,@MakeDocKind ,@AidDateFrom , @AidDateTo) Aid_MakeDocuments_Check	
where InfoUse4Bes   not in (1,2,3)                                              -- ,@FormType

Union All

SELECT    AMD_C.ID, AMD_C.FormItemID, AMD_C.FormID, AMD_C.CheckNumber, 
                      AMD_C.CheckDate, AMD_C.FormNumber, AMD_C.FormDate, 
                      AMD_C.FormType, AMD_C.FormCaption, AMD_C.checkType, 
                      AMD_C.TopicCode_Bed AS TopicCode, AMD_C.DetailCode_Bed AS DetailCode, 
                      AMD_C.CTopicCode_Bed AS CtopicCode, AMD_C.CTopicCode2_Bed AS CtopicCode2, 
                      AMD_C.ItemAmount - ISNULL(AMD_C.CashWage, 0) AS debt, 0 AS credit, 0 AS bedbes, 
                      AMD_C.ItemNote, AMD_C.FomNote,  
                      F.FomNote AS MasterNote,AMD_C.ServerID,AMD_C.YearID,AMD_C.PO,AMD_C.ArzTypeID,AMD_C.AidInfoNo,AMD_C.AidInfoDate,AidInfoNoItem,AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms AS F ON FormTypes.FormType = F.FormType INNER JOIN                --, @FormTypeCheck 
                     Aid_MakeDocuments_Check(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo,@CheckStateFrom, @CheckStateTo,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo ) AMD_C ON 
                      F.FormID = AMD_C.[CashCheckFormID]

WHERE     (AMD_C.InfoUse4Bed IN (1)) --AND (F.FormType = @FormType )
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)


Union All

SELECT   AMD_C.ID,  AMD_C.FormItemID, AMD_C.FormID, AMD_C.CheckNumber, 
                      AMD_C.CheckDate, AMD_C.FormNumber, AMD_C.FormDate, 
                      AMD_C.FormType, AMD_C.FormCaption, AMD_C.checkType, 
                      AMD_C.TopicCode_Bes, AMD_C.DetailCode_Bes, AMD_C.CTopicCode_Bes, 
                      AMD_C.CTopicCode2_Bes, 0 AS debt, AMD_C.ItemAmount AS credit, 1 AS bedbes, 
                      AMD_C.ItemNote, AMD_C.FomNote, F.FomNote AS MasterNote 
                      ,AMD_C.ServerID,AMD_C.YearID,AMD_C.PO,AMD_C.ArzTypeID,AMD_C.AidInfoNo,AMD_C.AidInfoDate,AidInfoNoItem,AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms F ON FormTypes.FormType = F.FormType INNER JOIN                 -- , @FormTypeCheck
                      dbo.Aid_MakeDocuments_Check(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo,@CheckStateFrom, @CheckStateTo,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo ) AMD_C ON 
                      F.[CashCheckFormID] = AMD_C.FormID
WHERE     (AMD_C.InfoUse4Bes IN (1)) --AND (F.FormType = @FormType )
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)

Union All

SELECT    A_M_C.ID, 0 AS FormItemID, A_M_C.FormID, '' AS CheckNumber, '' AS CheckDate, A_M_C.FormNumber, 
                      A_M_C.FormDate, A_M_C.FormType, A_M_C.FormCaption, 0 AS checkType, 
                      A_M_C.TopicCode_Bed, A_M_C.DetailCode_Bed, A_M_C.CTopicCode_Bed, 
                      A_M_C.CTopicCode2_Bed, A_M_C.Amount  AS debt, 0  AS credit, 0 AS bedbes, '' AS ItemNote, 
                      A_M_C.FomNote, F.FomNote AS MasterNote,A_M_C.ServerID,A_M_C.YearID,A_M_C.PO,A_M_C.ArzTypeID,A_M_C.AidInfoNo,A_M_C.AidInfoDate,A_M_C.AidInfoNoItem,A_M_C.AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms F ON FormTypes.FormType = F.FormType INNER JOIN                  --, @FormTypeCash
                      dbo.Aid_MakeDocuments_Coffer(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo ,0  , 999999999 ,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo , @DateSelect ) A_M_C ON 
                      F.FormID = A_M_C.[CashCheckFormID]
WHERE     (A_M_C.InfoUse4Bed IN (2)) --AND  (F.FormType = @FormType)
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo ) 
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)
	 

Union all

SELECT   A_M_C.ID,  0 AS FormItemID, A_M_C.FormID, '' AS CheckNumber, '' AS CheckDate, A_M_C.FormNumber, 
                      A_M_C.FormDate, A_M_C.FormType, A_M_C.FormCaption, 0 AS checkType, 
                      A_M_C.TopicCode_Bes, A_M_C.DetailCode_Bes, A_M_C.CTopicCode_Bes, 
                      A_M_C.CTopicCode2_Bes, 0 AS debt, A_M_C.Amount AS credit, 1 AS bedbes, '' AS ItemNote, 
                      A_M_C.FomNote, F.FomNote AS MasterNote,A_M_C.ServerID,A_M_C.YearID,A_M_C.PO,A_M_C.ArzTypeID,A_M_C.AidInfoNo,A_M_C.AidInfoDate,A_M_C.AidInfoNoItem,A_M_C.AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms F ON FormTypes.FormType = F.FormType INNER JOIN               --, @FormTypeCash
                      Aid_MakeDocuments_Coffer(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo ,0  , 999999999 ,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo , @DateSelect ) A_M_C ON 
                      F.FormID = A_M_C.[CashCheckFormID]
WHERE      (A_M_C.InfoUse4Bed IN (2)) --AND  (F.FormType =@FormType )
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)

Union all

SELECT  CASE @MakeDocKind WHEN 2 THEN 0 ELSE F.ID END ID,
        CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormItemID END AS FormItemID,
        CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormID END FormID,
           CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.CheckNumber END AS CheckNumber, FormItems.CheckDate, F.FormNumber, 
                      F.FormDate, F.FormType, FormTypes.FormCaption, FormItems.CheckType, FormItems.TopicCode AS TopicCode, 
                      FormItems.DetailCode AS DetailCode, FormItems.CTopicCode AS CtopicCode, FormItems.CTopicCode2 AS CtopicCode2, 
                      CASE WHEN FormItems.AccState = 0 THEN FormItems.ItemAmount ELSE 0 END AS debt,
		 CASE WHEN FormItems.AccState = 1 THEN FormItems.ItemAmount ELSE 0 END  AS credit, 
		FormItems.AccState AS bedbes, 
                      FormItems.ItemNote, F.FomNote, ' ' AS MasterNote,FormItems.ServerID,FormItems.YearID,F.PO,F.ArzTypeID,F.AidInfoNo,F.AidInfoDate,FormItems.AidInfoNo,FormItems.AidInfoDate,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         Forms AS F INNER JOIN
                      FormItems ON F.FormID = FormItems.FormID and F.ServerID = FormItems.ServerID and F.YearID = FormItems.YearID  INNER JOIN
                      FormTypes ON F.FormType = FormTypes.FormType
WHERE  ((F.DocNo =0)OR(@AllDocAble=1)) AND 
	 -- (FormTypes.FormType = @FormType) AND 
               (F.FormNumber BETWEEN @FormNoFrom AND @FormNoTo ) AND 
	  (F.FormDate BETWEEN @FormDateFrom  AND @FormDateTo ) 
--	AND ((ISNULL(F.AidInfoDate, '') = '') OR (F.AidInfoDate = '/  /') OR (F.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo))

	AND  (case when @DateSelect = 0 and  (ISNULL(F.AidInfoDate, '') = '') OR (F.AidInfoDate = '/  /') then 1 else 0 end = 1
	       OR (F.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo)
		 )


	  AND 
	  (F.FormState < 10)  and 
	  (FormTypes.InfoUse4Bed IN (3)) OR
                  (FormTypes.InfoUse4Bes IN (3)
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)
                  )


Union All

SELECT   A_M_C.ID,  0 AS FormItemID, A_M_C.FormID, '' AS CheckNumber, '' AS CheckDate, A_M_C.FormNumber, 
                      A_M_C.FormDate, A_M_C.FormType, A_M_C.FormCaption, 0 AS checkType, 
                      A_M_C.TopicCode_Bed, A_M_C.DetailCode_Bed, A_M_C.CTopicCode_Bed, 
                      A_M_C.CTopicCode2_Bed, A_M_C.Amount  AS debt, 0  AS credit, 0 AS bedbes, '' AS ItemNote, 
                      A_M_C.FomNote, F.FomNote AS MasterNote
                      ,A_M_C.ServerID,A_M_C.YearID,A_M_C.PO,A_M_C.ArzTypeID,A_M_C.AidInfoNo,A_M_C.AidInfoDate,A_M_C.AidInfoNoItem,A_M_C.AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms F ON FormTypes.FormType = F.FormType INNER JOIN            --, @FormType
                      dbo.Aid_MakeDocuments_Coffer(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo ,0  , 999999999 ,@SellsEmporiumFrom ,@SellsEmporiumTo 
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo , @DateSelect ) A_M_C ON 
                      F.FormID = A_M_C.[CashCheckFormID]
WHERE     (A_M_C.InfoUse4Bed IN (2)) 
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)

Union all

SELECT   A_M_C.ID,  0 AS FormItemID, A_M_C.FormID, '' AS CheckNumber, '' AS CheckDate, A_M_C.FormNumber, 
                      A_M_C.FormDate, A_M_C.FormType, A_M_C.FormCaption, 0 AS checkType, 
                      A_M_C.TopicCode_Bes, A_M_C.DetailCode_Bes, A_M_C.CTopicCode_Bes, 
                      A_M_C.CTopicCode2_Bes, 0 AS debt, A_M_C.Amount AS credit, 1 AS bedbes, '' AS ItemNote, 
                      A_M_C.FomNote, F.FomNote AS MasterNote
                      ,A_M_C.ServerID,A_M_C.YearID,A_M_C.PO,A_M_C.ArzTypeID,A_M_C.AidInfoNo,A_M_C.AidInfoDate,A_M_C.AidInfoNoItem,A_M_C.AidInfoDateItem,F.BudgetCode
					  , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         FormTypes INNER JOIN
                      Forms F ON FormTypes.FormType = F.FormType INNER JOIN                --, @FormType
                      dbo.Aid_MakeDocuments_Coffer(@AllDocAble , @FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo ,0  , 999999999,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind ,@AidDateFrom , @AidDateTo , @DateSelect ) A_M_C ON 
                      F.FormID = A_M_C.[CashCheckFormID]
WHERE      (A_M_C.InfoUse4Bed IN (4))  
	AND  (F.SellsEmporium BETWEEN @SellsEmporiumFrom  AND @SellsEmporiumTo )  
     AND (F.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then F.FormState else FormTypes.FormStateDefault4Doc end) = F.FormState)

)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
