--12    تاريخ 1402/11/25 
    
if exists (select * from sysobjects where id = object_id(N'[dbo].[Aid_MakeDocuments_ReciptReg]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Aid_MakeDocuments_ReciptReg]
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION [dbo].[Aid_MakeDocuments_ReciptReg]  (
 @AllDocAble Tinyint=0,@ReciptNoFrom varchar (12)=-9999999, @ReciptNoTo varchar (12)=99999999 , 
				@ReciptDateFrom varchar(10)='0000/00/00', @ReciptDateTo varchar(10)='9999/99/99',
				@AidDateFrom varchar(10)='0000/00/00', @AidDateTo varchar(10)='9999/99/99',
                @StoreIDFrom varchar (12)=-999, @StoreIDTo varchar (12)=999 , 
				@ItemTopicCode varchar (12)=0 ,@SecondTypeFrom int=0 , @SecondTypeTo int=100,
                @CustomerGrpIDFrom  int=0 ,  @CustomerGrpIDTo  int=999999 ,@ReciptStateFrom  int=0 ,  @ReciptStateTo  int=99 ,
                @CustID1Form  int=0 ,  @CustID1To  int=999999999 ,
				@CustID2Form  int=0 ,  @CustID2To  int=999999999 ,
				@CustID3Form  int=0 ,  @CustID3To  int=999999999 ,
				@SellsEmporiumFrom int=0,@SellsEmporiumTo int = 999999999 ,
                @MakeDocKind int =1  ,@ReciptsRowFrom int=0,@ReciptsRowTo int = 999999999
				,@ReciptTypeFrom int=5, @ReciptTypeTo int=5 ,@NotReciptNumber varchar(max),@NotCustID1 varchar(max) ,@addIDFilter varchar(max))
		
  RETURNS @retFindReports TABLE 
  (
	IDs varchar(max),
    ID bigint  ,
    ReciptItemID int NOT NULL,
	ReciptID int NOT NULL,
	StoreID smallint NULL,
	StoreName varchar(70)  COLLATE DATABASE_DEFAULT NULL,
	ReciptNumber int NOT NULL,
	ReciptDate char(10)   COLLATE DATABASE_DEFAULT NOT NULL,
	ReciptType tinyint NOT NULL,
	CustID int NULL,
	CustName varchar(160)  COLLATE DATABASE_DEFAULT NULL,
	StuffCode bigint NOT NULL,
	c_StuffName varchar(300)  COLLATE DATABASE_DEFAULT NULL,
	BedType tinyint NOT NULL,
	ReciptCaption varchar(170)  COLLATE DATABASE_DEFAULT NOT NULL,
	Entity float NULL,
	Weight float NULL,
	bed money NOT NULL,
	Bes money NULL,
	BedBes int NOT NULL,
	TopicCode bigint NULL,
	DetailCode int NULL,
	CTopicCode int NULL,
	CTopicCode2 int NULL,
	CTopicCode3 int NOT NULL,
	kind int NOT NULL,
	AidNumber decimal(18, 4) NULL,
	AidDate char(10)   COLLATE DATABASE_DEFAULT NULL,
	IAidNumber decimal(18, 4) NULL,
	IAidDate char(10)   COLLATE DATABASE_DEFAULT NULL,
	ControlCode bigint NOT NULL,
	ServerID int NOT NULL,
	YearID int NOT NULL,
	ItemNote varchar(1000)  COLLATE DATABASE_DEFAULT NULL,
	ReciptNote varchar(1000)  COLLATE DATABASE_DEFAULT NULL,
	UnitSellPrice money NULL,
	MachineName varchar(150)  COLLATE DATABASE_DEFAULT NULL,
	MachineNo varchar(25)  COLLATE DATABASE_DEFAULT NULL,
	MachineInfo varchar(150)  COLLATE DATABASE_DEFAULT NULL,
	TruckNumber varchar(150)  COLLATE DATABASE_DEFAULT NULL,
	ArzAmount float  NULL,
	reciptsrow int  NULL,
	CustName2 varchar(160)  COLLATE DATABASE_DEFAULT NULL,
	UnitName  varchar(50)  COLLATE DATABASE_DEFAULT NULL,
	StuffDiameter float ,
	PO  varchar(30)  COLLATE DATABASE_DEFAULT ,
	ArzTypeID int NULL,
	UseUnitName  varchar(70)  COLLATE DATABASE_DEFAULT NULL,
	ArzRate  money ,
	ArzName varchar(50),
	RialsEqual money,
    SellsEmporiumName varchar(100),
	CustName3 varchar(160) COLLATE DATABASE_DEFAULT  ,
	EffectType tinyint,
	CurrencyDiscounts   decimal(18, 4),
	Currencydebit   decimal(18, 4),
	Currencycredit   decimal(18, 4),
	CurrencyRate   decimal(18, 4)

  )AS 
BEGIN  
INSERT INTO @retFindReports

SELECT  ''	IDs ,Recipts.ID,ReciptItems.ReciptitemID,ReciptItems.ReciptID, Recipts.StoreID,Stores_1.c_StoreName, Recipts.ReciptNumber, Recipts.ReciptDate, 
Recipts.ReciptType, 
	Customers_2.CustID,Customers_2.CustName,ReciptItems.StuffCode,  StuffCoding_2.c_StuffName,RT.BedType, 
	RT.ReciptCaption, ReciptItems.InputEntity + ReciptItems.OutputEntity AS Entity,
	ReciptItems.InputWeight + ReciptItems.OutputWeight AS Weight, 
	case when Reg.RegPrice >0 then 
	Reg.RegPrice else 0 end AS bed, 
	case when Reg.RegPrice <0 then 
	- Reg.RegPrice else 0 end AS Bes , 
	1 AS BedBes, 
	case RT.DefaultTopic_Bed 
		when 0 then 0 
		when 1 then case StuffCoding_2.OwnerShipKind 
				when 0 then Stores_1.c_accTopicCode
				else StuffCoding_2.Acc_BidTopicCode end 
		when 2 then StuffGroups_2.acc_IncomeTopicCode
		when 3 then StuffCoding_2.Acc_InComeTopicCode
		when 4 then	case when  Reg.CustID >0 
						then CustGrpReg.acc_TopicCode	--  CustReg.
					else 
						case RT.CustCodeUse4Bed 
							when 1 then CustomersGroup_2.acc_TopicCode 
							when 2 then CustomersGroup_3.acc_TopicCode 
							when 3 then CustomersGroup_1.acc_TopicCode 
							else -1 
						end 
					end 
		when 5 then  -2
		when 6 then  LookUps_2.acc_TopicCode
		when 7 then  StuffGroups_1.acc_IncomeTopicCode
		when 8 then  LookUps_1.acc_TopicCode
		when 9 then  RT.ConstTopicCode_Bed
		when 10 then StuffGroups_2.acc_AFootInComingTopicCode
		when 11 then ReciptItems.acc_TopicCode
		when 12 then StuffGroups_2.acc_BidTopicCode
		when 13 then UseUnits.acc_TopicCode
		when 14 then StuffGroups_1.acc_BidTopicCode
		when 15 then StuffGroups_1.acc_AFootInComingTopicCode
		when 16 then StuffCoding_2.Acc_BidTopicCode
		when 17 then case StuffCoding_2.OwnerShipKind 
				when 0 then Stores_2.c_accTopicCode
				else StuffCoding_2.Acc_BidTopicCode end 

	else 0 end as TopicCode , 

	case RT.DefaultDetail_Bed
		when 0 then  0 
		when 1 then   case StuffCoding_2.OwnerShipKind 
				when 0 then Stores_1.c_accDetailCode
				else  StuffCoding_2.acc_DetaiCode end 
		when 2 then  StuffGroups_2.acc_DetailCode
		when 3 then  StuffCoding_2.acc_DetaiCode
		when 4 then  -1
		when 5 then case when  Reg.CustID >0 
					 	 then CustReg.acc_DetailCode	--  CustReg.
					else 
					  case RT.CustCodeUse4Bed 
						when 1 then Customers_2.acc_DetailCode 
						when 2 then C3.acc_DetailCode 
						when 3 then Customers_1.acc_DetailCode 
					else -1 end 
					end 
		when 6 then  LookUps_2.acc_DetailCode
		when 7 then  StuffGroups_1.acc_DetailCode
		when 8 then  LookUps_1.acc_DetailCode
		when 9 then  -1
		when 10 then StuffGroups_2.acc_DetailCode
		when 11 then ReciptItems.acc_DetailCode
		when 12 then StuffGroups_2.acc_DetailCode
		when 13 then UseUnits.acc_DetailCode
		when 14 then StuffGroups_1.acc_DetailCode
		when 15 then StuffGroups_1.acc_DetailCode
		when 16 then StuffCoding_1.acc_DetaiCode
		when 17 then   case StuffCoding_2.OwnerShipKind 
				when 0 then Stores_2.c_accDetailCode
				else  StuffCoding_2.acc_DetaiCode end 

		else 0 end as DetailCode , 

	case RT.DefaultCTopic_Bed
		when 0 then 0 
		when 1 then Stores_1.c_accCTopicCode
		when 2 then StuffGroups_2.acc_CTopicCode
		when 3 then StuffCoding_2.acc_CTopicCode
		when 4 then case when  Reg.CustID >0 
					 	 then CustGrpReg.acc_CTopicCode	--  CustReg.  CustGrpReg
					else 
					case RT.CustCodeUse4Bed 
						when 1 then CustomersGroup_2.acc_CTopicCode 
						when 2 then CustomersGroup_3.acc_CTopicCode 
						when 3 then CustomersGroup_1.acc_CTopicCode 
		             else -1 end 
		             end 
		when 5 then case when  Reg.CustID >0 
					 	 then CustReg.acc_CTopicCode	--  CustReg.  CustGrpReg
					else 
						case RT.CustCodeUse4Bed 
						when 1 then Customers_2.acc_CTopicCode 
						when 2 then C3.acc_CTopicCode 
						when 3 then Customers_1.acc_CTopicCode 
						else -1 end 
					end 
		when 6 then  LookUps_2.acc_CTopicCode
		when 7 then  StuffGroups_1.acc_CTopicCode
		when 8 then  LookUps_1.acc_CTopicCode
		when 9 then  -1
		when 10 then StuffGroups_2.acc_CTopicCode
		when 11 then ReciptItems.acc_CTopicCode
		when 12 then StuffGroups_2.acc_CTopicCode
		when 13 then UseUnits.acc_CTopicCode
		when 14 then StuffGroups_1.acc_CTopicCode
		when 15 then StuffGroups_1.acc_CTopicCode
		when 16 then StuffCoding_1.acc_CTopicCode
		when 17 then Stores_2.c_accCTopicCode
		when 25 then Customers_4.acc_CTopicCode 
		else 0 end as CTopicCode,
	case RT.DefaultCTopic2_Bed
		when 0 then 0 
		when 1 then Stores_1.c_accCTopicCode2
		when 2 then StuffGroups_2.acc_CTopicCode2
		when 3 then StuffCoding_2.acc_CTopicCode2
		when 4 then	CASE when  Reg.CustID >0 
					 	 then CustGrpReg.acc_CTopicCode2	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bed 
						when 1 then CustomersGroup_2.acc_CTopicCode2 
						when 2 then CustomersGroup_3.acc_CTopicCode2 
						when 3 then CustomersGroup_1.acc_CTopicCode2 
						else -1 end 
					END
		when 5 then	CASE when  Reg.CustID >0 
					 	 then CustReg.acc_CTopicCode2	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bed 
						when 1 then Customers_2.acc_CTopicCode2 
						when 2 then C3.acc_CTopicCode2 
						when 3 then Customers_1.acc_CTopicCode2
						else -1 end 
					END
		when 6 then  LookUps_2.acc_CTopicCode2
		when 7 then  StuffGroups_1.acc_CTopicCode2
		when 8 then  LookUps_1.acc_CTopicCode2
		when 9 then  -1
		when 10 then StuffGroups_2.acc_CTopicCode2
		when 11 then ReciptItems.acc_CTopicCode2
		when 12 then StuffGroups_2.acc_CTopicCode2
		when 13 then UseUnits.acc_CTopicCode2
		when 14 then StuffGroups_1.acc_CTopicCode2
		when 15 then StuffGroups_1.acc_CTopicCode2
		when 16 then StuffCoding_1.acc_CTopicCode2
		when 17 then Stores_2.c_accCTopicCode2
        when 25 then Customers_4.acc_CTopicCode2
		else 0 end as CTopicCode2 ,
		
		case when  (RT.AccCodingShow = 4 and ReciptItems.acc_CTopicCode3 >0 )then ReciptItems.acc_CTopicCode3 else 		
	case RT.DefaultCTopic3_Bed
		when 0 then 0 
		--when 1 then Stores_1.acc_CTopicCode3
		
		when 11 then ReciptItems.acc_CTopicCode3
		
		else 0 end end as CTopicCode3,		
		
		 1 as kind
,Recipts.AidNumber,Recipts.AidDate,ReciptItems.AidNumber as IAidNumber,ReciptItems.AidDate as IAidDate,ReciptItems.ControlCode
,Recipts.ServerID,Recipts.YearID,ReciptItems.ItemNote,Recipts.ReciptNote,ReciptItems.UnitSellPrice,Recipts.MachineName ,Recipts.MachineNo,Recipts.MachineInfo,Recipts.TruckNumber ,IsNull(Reg.ArzAmount,0) AS ArzAmount , 
		isnull(Recipts.reciptsrow,0) as reciptsrow , Customers_1.CustName AS CustName2  , Units.UnitName, ReciptItems.StuffDiameter
		, ReciptItems.PO , Recipts.ArzTypeID, UseUnits.UseUnitName, ReciptItems.ArzRate,Currencies.CurrenciesName AS ArzName
		,Reg.ArzAmount RialsEqual,SellsEmporiums.SellsEmporiumName,C3.CustName as CustName3,RT.EffectType
			,ReciptItems.CurrencyDiscounts, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate


FROM	CustomersGroup CustomersGroup_1 INNER JOIN
		Customers Customers_1 ON CustomersGroup_1.CustomerGrpID = Customers_1.CustomerGrpID INNER JOIN
		Customers C3 INNER JOIN
		CustomersGroup CustomersGroup_3 ON C3.CustomerGrpID = CustomersGroup_3.CustomerGrpID RIGHT OUTER JOIN
		Stores Stores_2 RIGHT OUTER JOIN
		StuffGroups StuffGroups_2 INNER JOIN
		StuffCoding StuffCoding_2 ON StuffGroups_2.GroupID = StuffCoding_2.GroupID INNER JOIN
		ReciptTypes RT INNER JOIN
		ReciptItems INNER JOIN
		Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
		Stores Stores_1 ON Recipts.StoreID = Stores_1.n_StoreID ON RT.ReciptType = Recipts.ReciptType ON 
		StuffCoding_2.c_StuffCode = ReciptItems.StuffCode ON Stores_2.n_StoreID = Recipts.StoreID2  INNER JOIN
		ReciptsRegulates Reg ON ReciptItems.YearID = Reg.YearID AND ReciptItems.ServerID = Reg.ServerID AND 
		ReciptItems.ReciptID = Reg.ReciptID AND ReciptItems.ReciptItemID = Reg.ReciptItemID INNER JOIN
		Customers CustReg ON Reg.CustID = CustReg.CustID INNER JOIN 
		CustomersGroup CustGrpReg ON CustGrpReg.CustomerGrpID = CustReg.CustomerGrpID ON
		C3.CustID = Recipts.PersonID2 ON Customers_1.CustID = ReciptItems.PersonID1 LEFT OUTER JOIN
		CustomersGroup CustomersGroup_2 INNER JOIN
		Customers Customers_2 ON CustomersGroup_2.CustomerGrpID = Customers_2.CustomerGrpID ON 
		Recipts.PersonID1 = Customers_2.CustID LEFT OUTER JOIN
		UseUnits ON ReciptItems.UseUnitID = UseUnits.UseUnitID LEFT OUTER JOIN
		LookUps LookUps_1 ON ReciptItems.ProductModel = LookUps_1.LookUpID LEFT OUTER JOIN
		Units INNER JOIN
		StuffCoding AS StuffCoding_1 INNER JOIN
		StuffGroups AS StuffGroups_1 ON StuffCoding_1.GroupID = StuffGroups_1.GroupID ON Units.UnitCode = StuffCoding_1.n_UnitCode ON 
		ReciptItems.ProductCode = StuffCoding_1.c_StuffCode LEFT OUTER JOIN
		LookUps LookUps_2 ON Recipts.SecondType = LookUps_2.LookUpID  INNER JOIN
		Customers Customers_4 ON Recipts.PersonID4 = Customers_4.CustID LEFT OUTER JOIN
		SellsEmporiums ON Recipts.SellsEmporium = SellsEmporiums.SellsEmporium	LEFT OUTER JOIN  
		Currencies  ON Reg.ArzTypeID = Currencies.CurrenciesID

WHERE	(Reg.RegPrice <> 0)  AND    
		(Recipts.ReciptNumber BETWEEN @ReciptNoFrom  AND @ReciptNoTo  ) AND 
		(Recipts.ReciptState < ReciptStateSmallerThan)  AND 
		(Recipts.ReciptState BETWEEN @ReciptStateFrom  AND @ReciptStateTo  ) AND 
		(Customers_2.CustomerGrpID BETWEEN @CustomerGrpIDFrom  AND @CustomerGrpIDTo ) AND
		(LookUps_2.Code BETWEEN @SecondTypeFrom  AND @SecondTypeTo ) AND 
		(Recipts.ReciptDate BETWEEN @ReciptDateFrom  AND @ReciptDateTo ) AND 
--		((Recipts.AidDate ='')OR (Recipts.AidDate BETWEEN @AidDateFrom  AND @AidDateTo )) AND  		
	 ((ISNULL(Recipts.AidDate,'') ='') OR (Recipts.AidDate ='/  /') OR (Recipts.AidDate BETWEEN @AidDateFrom  AND @AidDateTo )) AND

		(Recipts.PersonID1 BETWEEN @CustID1Form  AND @CustID1To )  AND
	     (Recipts.PersonID2 BETWEEN @CustID2Form  AND @CustID2To ) AND  
	     (Recipts.PersonID3 BETWEEN @CustID3Form  AND @CustID3To ) AND  

		(StoreID BETWEEN @StoreIDFrom   AND @StoreIDTo ) AND 
		(Reg.RegDocNo < 1) And 
		(StuffCoding_2.OwnerShipKind <> (Case  RT.Amani_StuffActiveInDoc when 1 then -1 else 1 end )) And 
		isnull( ReciptItems.acc_TopicCode ,0 ) >= @ItemTopicCode AND 
		(Recipts.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
AND ( ISNULL( Recipts.ReciptsRow,0 ) BETWEEN @ReciptsRowFrom AND @ReciptsRowTo)
     AND ((@NotReciptNumber='-1') or (Recipts.ReciptNumber NOT IN (SELECT part FROM dbo.SplitString(@NotReciptNumber,','))))
     AND ((@NotCustID1='-1') or (Recipts.PersonID1    NOT IN (SELECT part FROM dbo.SplitString(@NotCustID1,','))))
     AND ((@addIDFilter='-1') or (Recipts.ID IN (SELECT part FROM dbo.SplitString(@addIDFilter,','))))

	 AND ((case when RT.FormStateDefault4Doc = 0 then Recipts.ReciptState else RT.FormStateDefault4Doc end) = Recipts.ReciptState)

UNION ALL

SELECT	''	IDs ,Recipts.ID,case   @MakeDocKind  
			when 2 then 0 else ReciptItems.ReciptitemID end as  ReciptitemID, 
		case   @MakeDocKind  
			when 2 then 0 else Recipts.ReciptID end as  ReciptID, 
		Recipts.StoreID,Stores_1.c_StoreName, 
		case   @MakeDocKind  
			when 2 then 0 else Recipts.ReciptNumber end as  ReciptNumber, 
	 Recipts.ReciptDate, Recipts.ReciptType, 
	Customers_2.CustID,Customers_2.CustName,ReciptItems.StuffCode,  StuffCoding_2.c_StuffName,RT.BedType, 
	RT.ReciptCaption, ReciptItems.InputEntity + ReciptItems.OutputEntity AS Entity,
	ReciptItems.InputWeight + ReciptItems.OutputWeight AS Weight,
	case when Reg.RegPrice <0 then 
	- Reg.RegPrice else 0 end AS bed, 
	case when Reg.RegPrice >0 then 
	Reg.RegPrice else 0 end AS Bes , 

	  2 AS BedBes, 
   CASE WHEN  Reg.acc_TopicCode<>0 then Reg.acc_TopicCode
   ELSE
	case RT.DefaultTopic_Bes 
		when 0 then 0 
		when 1 then Stores_1.c_accTopicCode
		when 2 then StuffGroups_2.acc_IncomeTopicCode
		when 3 then case StuffCoding_2.OwnerShipKind  when 0 then StuffCoding_2.Acc_InComeTopicCode else StuffCoding_2.Acc_BidTopicCode end 
		when 4 then	CASE when  Reg.CustID >0 
					 	 then CustGrpReg.acc_TopicCode	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes
						when 1 then CustomersGroup_2.acc_TopicCode 
						when 2 then CustomersGroup_3.acc_TopicCode 
						when 3 then CustomersGroup_1.acc_TopicCode 
						else -1 end 
					END
		when 5 then  -2
		when 6 then  LookUps_2.acc_TopicCode
		when 7 then  StuffGroups_1.acc_IncomeTopicCode
		when 8 then  LookUps_1.acc_TopicCode
		when 9 then  RT.ConstTopicCode_Bes
		when 10 then StuffGroups_2.acc_AFootInComingTopicCode
		when 11 then ReciptItems.acc_TopicCode
		when 12 then StuffGroups_2.acc_BidTopicCode
		when 13 then UseUnits.acc_TopicCode
		when 14 then StuffGroups_1.acc_BidTopicCode
		when 15 then StuffGroups_1.acc_AFootInComingTopicCode
		when 16 then StuffCoding_2.Acc_BidTopicCode
		when 17 then Stores_2.c_accTopicCode
	else 0 end
	END as TopicCode , 

   CASE WHEN  Reg.acc_DetailCode<>0 then Reg.acc_DetailCode
   ELSE
	case RT.DefaultDetail_Bes
		when 0 then  0 
		when 1 then  Stores_1.c_accDetailCode
		when 2 then  StuffGroups_2.acc_DetailCode
		when 3 then  StuffCoding_2.acc_DetaiCode
		when 4 then  -1
		when 5 then CASE when  Reg.CustID >0 
					 	 then CustReg.acc_DetailCode	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes
						when 1 then Customers_2.acc_DetailCode 
						when 2 then C3.acc_DetailCode 
						when 3 then Customers_1.acc_DetailCode 
						else -1 end 
					END 
		when 6 then  LookUps_2.acc_DetailCode
		when 7 then  StuffGroups_1.acc_DetailCode
		when 8 then  LookUps_1.acc_DetailCode
		when 9 then  -1
		when 10 then StuffGroups_2.acc_DetailCode
		when 11 then ReciptItems.acc_DetailCode
		when 12 then StuffGroups_2.acc_DetailCode
		when 13 then UseUnits.acc_DetailCode
		when 14 then StuffGroups_1.acc_DetailCode
		when 15 then StuffGroups_1.acc_DetailCode
		when 16 then StuffCoding_1.acc_DetaiCode
		when 17 then  Stores_2.c_accDetailCode
		else 0 end
	END	 as DetailCode , 

	case RT.DefaultCTopic_Bes
		when 0 then 0 
		when 1 then Stores_1.c_accCTopicCode
		when 2 then StuffGroups_2.acc_CTopicCode
		when 3 then StuffCoding_2.acc_CTopicCode
		when 4 then CASE when  Reg.CustID >0 
					 	 then CustGrpReg.acc_CTopicCode	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes--------  كد حساب -------------
						when 1 then CustomersGroup_2.acc_CTopicCode 
						when 2 then CustomersGroup_3.acc_CTopicCode 
						when 3 then CustomersGroup_1.acc_CTopicCode 
						else -1 end 
					END
		when 5 then CASE when  Reg.CustID >0 
					 	 then CustReg.acc_CTopicCode	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes 
						when 1 then Customers_2.acc_CTopicCode 
						when 2 then C3.acc_CTopicCode 
						when 3 then Customers_1.acc_CTopicCode 
						else -1 end 
					END 
		when 6 then  LookUps_2.acc_CTopicCode
		when 7 then  StuffGroups_1.acc_CTopicCode
		when 8 then  LookUps_1.acc_CTopicCode
		when 9 then  -1
		when 10 then StuffGroups_2.acc_CTopicCode
		when 11 then ReciptItems.acc_CTopicCode
		when 12 then StuffGroups_2.acc_CTopicCode
		when 13 then UseUnits.acc_CTopicCode
		when 14 then StuffGroups_1.acc_CTopicCode
		when 15 then StuffGroups_1.acc_CTopicCode
		when 16 then StuffCoding_1.acc_CTopicCode
		when 17 then Stores_2.c_accCTopicCode
		when 25 then Customers_4.acc_CTopicCode 
		else 0 end as CTopicCode,

	case RT.DefaultCTopic2_Bes
		when 0 then 0 
		when 1 then Stores_2.c_accCTopicCode2
		when 2 then StuffGroups_2.acc_CTopicCode2
		when 3 then StuffCoding_2.acc_CTopicCode2
		when 4 then	CASE when  Reg.CustID >0 
					 	 then CustGrpReg.acc_CTopicCode2	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes--------  كد حساب -------------
						when 1 then CustomersGroup_2.acc_CTopicCode2 
						when 2 then CustomersGroup_3.acc_CTopicCode2 
						when 3 then CustomersGroup_1.acc_CTopicCode2 
						else -1 end 
					END 
		when 5 then CASE when  Reg.CustID >0 
					 	 then CustReg.acc_CTopicCode2	--  CustReg.  CustGrpReg
					ELSE 
						case RT.CustCodeUse4Bes 
						when 1 then Customers_2.acc_CTopicCode2 
						when 2 then C3.acc_CTopicCode2 
						when 3 then Customers_1.acc_CTopicCode2
						else -1 end 
					END
		when 6 then  LookUps_2.acc_CTopicCode2
		when 7 then  StuffGroups_1.acc_CTopicCode2
		when 8 then  LookUps_1.acc_CTopicCode2
		when 9 then  -1
		when 10 then StuffGroups_2.acc_CTopicCode2
		when 11 then ReciptItems.acc_CTopicCode2
		when 12 then StuffGroups_2.acc_CTopicCode2
		when 13 then UseUnits.acc_CTopicCode2
		when 14 then StuffGroups_1.acc_CTopicCode2
		when 15 then StuffGroups_1.acc_CTopicCode2
		when 16 then StuffCoding_1.acc_CTopicCode2
		when 17 then Stores_2.c_accCTopicCode2
        when 25 then Customers_4.acc_CTopicCode2
		else 0 end as CTopicCode2 ,
		
case when ( RT.AccCodingShow = 5 and ReciptItems.acc_CTopicCode3 >0 ) then ReciptItems.acc_CTopicCode3 else 		
	case RT.DefaultCTopic3_Bes
		when 0 then 0 
    	when 11 then ReciptItems.acc_CTopicCode3
    	else 0 end end as CTopicCode3,	 		
		
		 1 as kind
,Recipts.AidNumber,Recipts.AidDate,ReciptItems.AidNumber as IAidNumber,ReciptItems.AidDate as IAidDate,ReciptItems.ControlCode
,Recipts.ServerID,Recipts.YearID,ReciptItems.ItemNote,Recipts.ReciptNote,ReciptItems.UnitSellPrice,Recipts.MachineName ,Recipts.MachineNo,Recipts.MachineInfo,Recipts.TruckNumber ,IsNull(Reg.ArzAmount,0) AS ArzAmount , 
		isnull(Recipts.reciptsrow,0) as reciptsrow , Customers_1.CustName AS CustName2  , Units.UnitName, ReciptItems.StuffDiameter
		, ReciptItems.PO, Reg.ArzTypeID, UseUnits.UseUnitName, ReciptItems.ArzRate,Currencies.CurrenciesName AS ArzName
		,Reg.ArzAmount RialsEqual,SellsEmporiums.SellsEmporiumName,C3.CustName as CustName3,RT.EffectType,ReciptItems.CurrencyDiscounts
		, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM	CustomersGroup CustomersGroup_1 INNER JOIN
		Customers Customers_1 ON CustomersGroup_1.CustomerGrpID = Customers_1.CustomerGrpID RIGHT OUTER JOIN
		Customers C3 INNER JOIN
		CustomersGroup CustomersGroup_3 ON C3.CustomerGrpID = CustomersGroup_3.CustomerGrpID RIGHT OUTER JOIN
		Stores Stores_2 RIGHT OUTER JOIN
		StuffGroups StuffGroups_2 INNER JOIN
		StuffCoding StuffCoding_2 ON StuffGroups_2.GroupID = StuffCoding_2.GroupID INNER JOIN
		ReciptTypes RT INNER JOIN
		ReciptItems INNER JOIN
		Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
		Stores Stores_1 ON Recipts.StoreID = Stores_1.n_StoreID ON RT.ReciptType = Recipts.ReciptType ON 
		StuffCoding_2.c_StuffCode = ReciptItems.StuffCode ON Stores_2.n_StoreID = Recipts.StoreID2 INNER JOIN
		ReciptsRegulates Reg ON ReciptItems.YearID = Reg.YearID AND ReciptItems.ServerID = Reg.ServerID AND 
		ReciptItems.ReciptID = Reg.ReciptID AND ReciptItems.ReciptItemID = Reg.ReciptItemID INNER JOIN
		Customers CustReg ON Reg.CustID = CustReg.CustID INNER JOIN 
		CustomersGroup CustGrpReg ON CustGrpReg.CustomerGrpID = CustReg.CustomerGrpID ON
		C3.CustID = Recipts.PersonID2 ON Customers_1.CustID = ReciptItems.PersonID1 LEFT OUTER JOIN
		CustomersGroup CustomersGroup_2 INNER JOIN
		Customers Customers_2 ON CustomersGroup_2.CustomerGrpID = Customers_2.CustomerGrpID ON 
		Recipts.PersonID1 = Customers_2.CustID LEFT OUTER JOIN
		UseUnits ON ReciptItems.UseUnitID = UseUnits.UseUnitID LEFT OUTER JOIN
		LookUps LookUps_1 ON ReciptItems.ProductModel = LookUps_1.LookUpID LEFT OUTER JOIN
		Units INNER JOIN
		StuffCoding AS StuffCoding_1 INNER JOIN
		StuffGroups AS StuffGroups_1 ON StuffCoding_1.GroupID = StuffGroups_1.GroupID ON Units.UnitCode = StuffCoding_1.n_UnitCode ON 
		ReciptItems.ProductCode = StuffCoding_1.c_StuffCode LEFT OUTER JOIN
		LookUps LookUps_2 ON Recipts.SecondType = LookUps_2.LookUpID LEFT OUTER JOIN
		CustomersGroup CustomersGroup_4 INNER JOIN
		Customers Customers_4 ON CustomersGroup_4.CustomerGrpID = Customers_4.CustomerGrpID ON 
		Recipts.PersonID4 = Customers_4.CustID LEFT OUTER JOIN
		SellsEmporiums ON Recipts.SellsEmporium = SellsEmporiums.SellsEmporium	LEFT OUTER JOIN  
		Currencies  ON Reg.ArzTypeID = Currencies.CurrenciesID  

WHERE	(Recipts.ReciptNumber BETWEEN @ReciptNoFrom  AND @ReciptNoTo  ) AND 
		(Recipts.ReciptState < ReciptStateSmallerThan )AND 
		(Recipts.ReciptState BETWEEN @ReciptStateFrom  AND @ReciptStateTo  ) AND 
		(Customers_2.CustomerGrpID BETWEEN @CustomerGrpIDFrom  AND @CustomerGrpIDTo ) AND
		(Recipts.ReciptDate BETWEEN @ReciptDateFrom  AND @ReciptDateTo ) AND 
--		((Recipts.AidDate ='')OR (Recipts.AidDate BETWEEN @AidDateFrom  AND @AidDateTo )) AND  		
	 ((ISNULL(Recipts.AidDate,'') ='') OR (Recipts.AidDate ='/  /') OR (Recipts.AidDate BETWEEN @AidDateFrom  AND @AidDateTo )) AND
		(LookUps_2.Code BETWEEN @SecondTypeFrom  AND @SecondTypeTo ) AND 
		(Recipts.PersonID1 BETWEEN @CustID1Form  AND @CustID1To ) AND 
        (Recipts.PersonID2 BETWEEN @CustID2Form  AND @CustID2To ) AND  
	    (Recipts.PersonID3 BETWEEN @CustID3Form  AND @CustID3To ) AND  
		(Reg.RegPrice <> 0)  AND                 
		(StoreID BETWEEN @StoreIDFrom   AND @StoreIDTo ) AND 
		(Reg.RegDocNo < 1) And 
		(StuffCoding_2.OwnerShipKind <> (Case  RT.Amani_StuffActiveInDoc when 1 then -1 else 1 end )) And 
		isnull( ReciptItems.acc_TopicCode ,0 ) >= @ItemTopicCode 
	 AND (Recipts.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
     AND ( ISNULL( Recipts.ReciptsRow,0 ) BETWEEN @ReciptsRowFrom AND @ReciptsRowTo)
     AND ((@NotReciptNumber='-1') or (Recipts.ReciptNumber NOT IN (SELECT part FROM dbo.SplitString(@NotReciptNumber,','))))
     AND ((@NotCustID1='-1') or (Recipts.PersonID1    NOT IN (SELECT part FROM dbo.SplitString(@NotCustID1,','))))
     AND ((@addIDFilter='-1') or (Recipts.ID IN (SELECT part FROM dbo.SplitString(@addIDFilter,','))))
	 AND ((case when RT.FormStateDefault4Doc = 0 then Recipts.ReciptState else RT.FormStateDefault4Doc end) = Recipts.ReciptState)

UPDATE @retFindReports SET bed=ROUND(bed,0), bes=ROUND(bes,0)
     RETURN
END
