--20  تاريخ 1402/04/07    
if exists (SELECT * from sysobjects where id = object_id(N'NewTransForms') and OBJECTPROPERTY(id, N'IsPROCEDURE') = 1)
DROP PROCEDURE NewTransForms
GO
if exists (SELECT * from sysobjects where id = object_id(N'NewReciptsSplitRecall4PersonID') and OBJECTPROPERTY(id, N'IsPROCEDURE') = 1)
DROP PROCEDURE NewReciptsSplitRecall4PersonID
GO
if exists (SELECT * from sysobjects where id = object_id(N'[dbo].[ProductionForecasts]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[ProductionForecasts]
GO
if exists (SELECT * from sysobjects where id = object_id(N'[dbo].[ProductionForecasts4Lbl]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[ProductionForecasts4Lbl]
GO
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id(N'[dbo].[Get3FirstType]') AND xtype IN (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].Get3FirstType
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[Fn_rptCompare_Count_Entity]') and xtype in (N'FN', N'IF', N'TF'))
drop function Fn_rptCompare_Count_Entity
GO
if exists (select * from sysobjects where id = object_id(N'Fn_rptCompare_Count_EntityD') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_rptCompare_Count_EntityD
GO
if exists (select * from sysobjects where id = object_id(N'StuffCodeCountingDetails') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION StuffCodeCountingDetails
GO
CREATE PROCEDURE NewTransForms @OldTransFormID int, @TransFormID int OUTPUT as
begin
SET NOCOUNT ON
DECLARE @ID int
DECLARE @ProcessProduceID int
DECLARE @TransFormNo int
DECLARE   @Query varchar(8000)
DECLARE   @ColumnsName varchar(8000)
SET @ColumnsName = dbo.S_F_GetColumnsName('TransForms')
SET @Query='INSERT INTO TransForms  ('+@ColumnsName+')'

SET @ColumnsName = REPLACE(@ColumnsName,' TransFormID,','')
SET @TransFormID=(SELECT MAX(TransFormID)+1 FROM TransForms)

SET @ColumnsName = REPLACE(@ColumnsName,' TransFormNo,','')
SET @TransFormNo=(SELECT MAX(TransFormNo)+1 FROM TransForms)

SET @Query=@Query+' SELECT '+str(@TransFormID)+', '+str(@TransFormNo)+', '+@ColumnsName+'
              FROM  TransForms WHERE (TransFormID = '+str(@OldTransFormID)+')'

Exec (@Query)

SET @ID=  (SELECT MAX(ID)+1  FROM TransFormItems)
SET @ColumnsName =' ID,'+  dbo.S_F_GetColumnsName('TransFormItems')
SET @ColumnsName = REPLACE(@ColumnsName,' TransFormID,',str(@TransFormID)+' AS TransFormID, ')
SET @ColumnsName = REPLACE(@ColumnsName,' ID,','IDENTITY(int, 1,1) AS ID,')

set @Query='SELECT '+@ColumnsName+'
            INTO ##NewTable
            FROM  TransFormItems WHERE (TransFormID = '+str(@OldTransFormID)+')'

Exec (@Query)



SET @ColumnsName =' ID,'+ dbo.S_F_GetColumnsName('TransFormItems')
SET @Query='INSERT INTO TransFormItems    ('+@ColumnsName+')'
SET @ColumnsName = REPLACE(@ColumnsName,' ID,','ID+'+STR(@ID)+' AS ID,')
SET @Query=@Query+'SELECT '+@ColumnsName+' FROM ##NewTable'

Exec (@Query)

----------------------------------------ProcessProduce-------------------------------------------------
SET @ProcessProduceID=  (SELECT MAX(ProcessProduceID)+1  FROM ProcessProduce)


SET @ColumnsName = dbo.S_F_GetColumnsName('ProcessProduce')
SET @ColumnsName = REPLACE(@ColumnsName,' TransFormID',str(@TransFormID)+' AS TransFormID ')
SET @ColumnsName = REPLACE(@ColumnsName,' ProcessProduceID,','IDENTITY(int, 1,1) AS ProcessProduceID,')

set @Query='SELECT '+@ColumnsName+'
            INTO ##NewTable2
            FROM  ProcessProduce WHERE (TransFormID = '+str(@OldTransFormID)+')'

Exec (@Query)


SET @ColumnsName = dbo.S_F_GetColumnsName('ProcessProduce')
set @Query='INSERT INTO ProcessProduce    ('+@ColumnsName+')'
SET @ColumnsName = REPLACE(@ColumnsName,' ProcessProduceID,','ProcessProduceID+'+STR(@ProcessProduceID)+' AS ProcessProduceID,')

set @Query=@Query+'SELECT '+@ColumnsName+' FROM ##NewTable2'
Exec (@Query)

------------------------------------------ProcessProduce----------------------------------------------
RETURN(@TransFormID)
END


---------------------------------------- ProductionForecasts -----------------------------------------------------------------
GO
CREATE  FUNCTION ProductionForecasts (
 @TransFormID1 int =1,@TransFormID2 int =2 ,@TransFormID3 int =3 ,
 @TransFormID4 int =4 ,@TransFormID5 int =5 ,@TransFormID6 int =6,
 @Edit1 int =1,@Edit2 int =2 ,@Edit3 int =3 ,
 @Edit4 int =4 ,@Edit5 int =5 ,@Edit6 int =6  )

RETURNS table  AS  
return (
SELECT	TransFormItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName,
	sum(case when TransFormItems.TransFormID = @TransFormID1 then TransFormItems.Entity else 0 end) as Formol1 ,
	sum(case when TransFormItems.TransFormID = @TransFormID1 then TransFormItems.Entity * @Edit1 else 0 end) as Entity1 ,
	sum(case when TransFormItems.TransFormID = @TransFormID2 then TransFormItems.Entity else 0 end) as Formol2 ,
	sum(case when TransFormItems.TransFormID = @TransFormID2 then TransFormItems.Entity * @Edit2 else 0 end) as Entity2 ,
	sum(case when TransFormItems.TransFormID = @TransFormID3 then TransFormItems.Entity else 0 end) as Formol3 ,
	sum(case when TransFormItems.TransFormID = @TransFormID3 then TransFormItems.Entity * @Edit3 else 0 end) as Entity3 ,
	sum(case when TransFormItems.TransFormID = @TransFormID4 then TransFormItems.Entity else 0 end) as Formol4 ,
	sum(case when TransFormItems.TransFormID = @TransFormID4 then TransFormItems.Entity * @Edit4 else 0 end) as Entity4 ,
	sum(case when TransFormItems.TransFormID = @TransFormID5 then TransFormItems.Entity else 0 end) as Formol5 ,
	sum(case when TransFormItems.TransFormID = @TransFormID5 then TransFormItems.Entity * @Edit5 else 0 end) as Entity5 ,
	sum(case when TransFormItems.TransFormID = @TransFormID6 then TransFormItems.Entity else 0 end) as Formol6 ,
	sum(case when TransFormItems.TransFormID = @TransFormID6 then TransFormItems.Entity * @Edit6 else 0 end) as Entity6 
FROM	TransFormItems INNER JOIN
	StuffCoding ON TransFormItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
	Units ON StuffCoding.n_UnitCode = Units.UnitCode  
WHERE        (TransFormItems.InfoType = 0) and 	TransFormItems.TransFormID in(@TransFormID1,@TransFormID2,@TransFormID3,
@TransFormID4,@TransFormID5,@TransFormID6)
GROUP BY TransFormItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName

---------------------------------------- ProductionForecasts -----------------------------------------------------------------
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------



---------------------------------------- ProductionForecasts4Lbl -----------------------------------------------------------------
GO
CREATE  FUNCTION ProductionForecasts4Lbl (
 @TransFormID1 int =1,@TransFormID2 int =2 ,@TransFormID3 int =3 ,
 @TransFormID4 int =4 ,@TransFormID5 int =5 ,@TransFormID6 int =6,
 @Edit1 int =1,@Edit2 int =2 ,@Edit3 int =3 ,
 @Edit4 int =4 ,@Edit5 int =5 ,@Edit6 int =6  )

RETURNS table  AS  
return (

SELECT        1 AS Label, MIN(Formol1) AS Formol1
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol1 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol1 ELSE 0 END AS Formol1
                           FROM            dbo.ProductionForecasts(
 @TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
                                                     AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol1 <> 0)) AS derivedtbl_1

UNION ALL

SELECT        2 AS Label, MIN(Formol2) AS Formol2
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol2 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol2 ELSE 0 END AS Formol2
                           FROM            dbo.ProductionForecasts(
@TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
 						        AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol2 <> 0)) AS derivedtbl_1
UNION ALL

SELECT        3 AS Label, MIN(Formol3) AS Formol3
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol3 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol3 ELSE 0 END AS Formol3
                           FROM            dbo.ProductionForecasts(
 @TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
                                                     AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol3 <> 0)) AS derivedtbl_1

UNION ALL
SELECT        4 AS Label, MIN(Formol4) AS Formol4
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol4 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol4 ELSE 0 END AS Formol4
                           FROM            dbo.ProductionForecasts(
 @TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
                                                     AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol4 <> 0)) AS derivedtbl_1
UNION ALL
SELECT        5 AS Label, MIN(Formol5) AS Formol5
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol5 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol5 ELSE 0 END AS Formol5
                           FROM            dbo.ProductionForecasts(
 @TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
                                                     AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol5 <> 0)) AS derivedtbl_1
UNION ALL
SELECT        6 AS Label, MIN(Formol6) AS Formol6
FROM            (SELECT        CASE WHEN ProductionForecasts.Formol6 <> 0 THEN (ISNULL(derivedtbl_Mojodi.SUMEntity, 0) 
                                                    - ProductionForecasts.Entity1 - ProductionForecasts.Entity2 - ProductionForecasts.Entity3 - ProductionForecasts.Entity4 - ProductionForecasts.Entity5 -
                                                     ProductionForecasts.Entity6) / ProductionForecasts.Formol6 ELSE 0 END AS Formol6
                           FROM            dbo.ProductionForecasts(
 @TransFormID1,@TransFormID2,@TransFormID3, @TransFormID4  ,@TransFormID5  ,@TransFormID6 ,
 @Edit1,@Edit2  ,@Edit3  , @Edit4  ,@Edit5  ,@Edit6)
                                                     AS ProductionForecasts LEFT OUTER JOIN
                                                        (SELECT        ReciptItems.StuffCode, ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS SUMEntity
                                                           FROM            ReciptItems INNER JOIN
                                                                                    Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND 
                                                                                    ReciptItems.YearID = Recipts.YearID INNER JOIN
                                                                                    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                                                                    Stores ON Recipts.StoreID = Stores.n_StoreID
                                                           WHERE        (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
                                                           GROUP BY ReciptItems.StuffCode) AS derivedtbl_Mojodi ON ProductionForecasts.StuffCode = derivedtbl_Mojodi.StuffCode
                           WHERE        (ProductionForecasts.Formol6 <> 0)) AS derivedtbl_1

---------------------------------------- ProductionForecasts4Lbl -----------------------------------------------------------------
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
CREATE FUNCTION dbo.Get3FirstType( @ReciptType INT, @PersonID INT)
RETURNS DECIMAL(10, 2)
AS
BEGIN
DECLARE @Price DECIMAL(10, 2)

SELECT @Price = SUM(ReciptItems.TotalOutputPrice)
FROM Recipts INNER JOIN
        ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND Recipts.YearID = ReciptItems.YearID
WHERE  (Recipts.ReciptType = @ReciptType) AND (Recipts.PersonID1 = @PersonID ) 
           AND (Recipts.ReciptID IN(SELECT TOP 3 ReciptID FROM Recipts
									 WHERE (ReciptType = @ReciptType) AND (PersonID1 = @PersonID )
									 GROUP BY PersonID1, ReciptDate, ReciptID
									 ORDER BY PersonID1, ReciptDate, ReciptID))
RETURN (@Price)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION Fn_rptCompare_Count_Entity    ( @YearIDFrom int , @YearIDTo int, @Date char(10)
                                              , @StoreID int, @CountID int  ,@chkNoCountingItems Tinyint  )  
RETURNS  table  AS 
Return  (
SELECT     AllStuffCode.StoreID, AllStuffCode.StuffCode, StuffCoding.c_StuffName,StuffCoding.c_StuffTecInfo, Units.UnitName, StuffCodeCountingItems.StuffSize,
                      StuffCodeCountingItems.StuffDiameter, StuffCodeCountingItems.StuffAlloy, StuffCodeCountingItems.StuffGrade, StuffCodeCountingItems.ControlCode,

                      StuffCodeCountingItems.Count1Entity, StuffCodeCountingItems.Count1Weight, 
					  StuffCodeCountingItems.Count2Entity, StuffCodeCountingItems.Count2Weight, 
					  StuffCodeCountingItems.Count3Entity, StuffCodeCountingItems.Count3Weight, 
					  StuffCodeEntity.Entity, 
					  StuffCodeEntity.Weight, 
					  
					  StuffCodeEntity.Price,
					  case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else StuffCodeCountingItems.DifferEntity
					  end as DifferEntity , 

					  case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Weight 
							else StuffCodeCountingItems.DifferWeight
					  end as DifferWeight , 
					  CAST(
                      ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE  (StuffCodeEntity.Price / (StuffCodeEntity.Entity)) END) * 
					  
						( case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
								else StuffCodeCountingItems.DifferEntity
							end
						) 					  
					  , 0), 0)  as DECIMAL(30,0))
                      AS DifferPrice,
                      CAST(StuffCodeEntity.TotallSellPrice as DECIMAL(30,0)) TotallSellPrice,
                      CAST(ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE (CAST(StuffCodeEntity.TotallSellPrice as DECIMAL(30,0)) / (StuffCodeEntity.Entity)) END)  * 
					  
					  (
						case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else StuffCodeCountingItems.DifferEntity
						end 					  
					  )
					  
					  ,0), 0)   as DECIMAL(30,0))
                      AS DifferTotallSellPrice,
                      ROUND( ISNULL(
					  (
						case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else StuffCodeCountingItems.DifferEntity
						end 					  
					  )
					  , 0) - isnull(StuffCodeEntity.Entity,0),2) AS OtherEntity,
                      ROUND( ISNULL(
					  (
					    case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  			then StuffCodeEntity.Weight 
							else StuffCodeCountingItems.DifferWeight
						end
					  )
					  
					  , 0) - isnull(StuffCodeEntity.Weight,0),2) AS OtherWeight,
                      ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE  (StuffCodeEntity.Price / (StuffCodeEntity.Entity)) END) * 
					  (
						  case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
						  			then StuffCodeEntity.Entity 
								else StuffCodeCountingItems.DifferEntity
						  end 
					  )					  
					  
					  , 0), 0)
                      - isnull(StuffCodeEntity.Price,0) AS OtherPrice,
                     cast( ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE (CAST(StuffCodeEntity.TotallSellPrice as DECIMAL(30,0)) / (StuffCodeEntity.Entity)) END)  * 
					  
					  (
						  case when ( ( @chkNoCountingItems = 1 ) and  StuffCodeCountingItems.CountID IS NULL )
					  				then StuffCodeEntity.Entity 
								else StuffCodeCountingItems.DifferEntity
						  end 
					  )
					  
					  
					   ,0), 0)
                      - isnull( CAST(StuffCodeEntity.TotallSellPrice as DECIMAL(30,0)) ,0)   as DECIMAL(30,0))AS OtherTotallSellPrice, StuffCodeCountingItems.CountID , StuffCoding.SellPrice1
          , Stores.c_StoreName


FROM         Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode RIGHT OUTER JOIN
                          (SELECT     StoreID, StuffCode
                             FROM         CountingItems
                             UNION
                             SELECT     StoreID, StuffCode
                             FROM         dbo.StuffCodeEntity(@YearIDFrom , @YearIDTo , @Date) AS StuffCodeEntity) AS AllStuffCode LEFT OUTER JOIN
                      dbo.StuffCodeCountingItems(@YearIDFrom , @YearIDTo , @Date ) AS StuffCodeCountingItems ON AllStuffCode.StoreID = StuffCodeCountingItems.StoreID AND 
                      AllStuffCode.StuffCode = StuffCodeCountingItems.StuffCode ON StuffCoding.c_StuffCode = AllStuffCode.StuffCode LEFT OUTER JOIN
                      dbo.StuffCodeEntity( @YearIDFrom , @YearIDTo , @Date ) AS StuffCodeEntity ON AllStuffCode.StoreID = StuffCodeEntity.StoreID AND
                      AllStuffCode.StuffCode = StuffCodeEntity.StuffCode INNER JOIN
                         Stores ON AllStuffCode.StoreID = Stores.n_StoreID





WHERE     (AllStuffCode.StoreID = @StoreID) AND (StuffCodeCountingItems.CountID = @CountID OR
                      StuffCodeCountingItems.CountID IS NULL) 
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
-------------------------------------------------
--------------------------------------------------

GO
SET QUOTED_IDENTIFIER ON;
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE NewReciptsSplitRecall4PersonID @ID12 bigint, @NewPersonID1 int=0,  @ReciptNumber bigint OUTPUT as
begin
/*تغییر کد مشتری و فرم های مرتبط و فراخوان شده
 پیدا کردن حواله از فاکتور و خروجی کالا از حواله  و بعد تغییر و تفکیک کد مشتری */
SET NOCOUNT ON
DECLARE @ID9 Bigint
DECLARE @COUNT12 int
DECLARE @COUNT9 int
DECLARE @ServerID int
DECLARE @YearID int
DECLARE @ReciptID int
DECLARE @ReciptType9 int

SELECT @ServerID=ServerID,@YearID=YearID  FROM Recipts WHERE (ID= @ID12)

SELECT  @ID9 =min(R9.id) ,@COUNT12 = COUNT(*),@ReciptType9=Max(R9.ReciptType),@ReciptNumber=Max(R9.ReciptType)
FROM            Recipts AS R12 INNER JOIN
                         Recipts AS R11 ON R12.ReciptID = R11.ParentReciptID AND R12.ServerID = R11.ServerID AND R12.YearID = R11.YearID INNER JOIN
                         ReciptItems AS Ri11 ON R11.ReciptID = Ri11.ReciptID AND R11.ServerID = Ri11.ServerID AND R11.YearID = Ri11.YearID INNER JOIN
                         ReciptItems AS Ri9 ON Ri11.ServerID = Ri9.ServerID AND Ri11.YearID = Ri9.YearID AND Ri11.ReciptItemID = Ri9.preReciptItemID INNER JOIN
                         Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R12.ID = @ID12) and (R12.DocNo < 1)and (R11.DocNo < 1)and (R9.DocNo < 1)
                             and (R12.ReciptState = 0)and (R11.ReciptState = 0)and (R9.ReciptState = 0)

if  isnull(@ReciptNumber,0) = 0
begin
  	  raiserror('خروجی کالا یافت نشد',16,1)
	  return(0)
end



update R12
set R12.PersonID1 = @NewPersonID1 
FROM            Recipts AS R12 INNER JOIN
                         Recipts AS R11 ON R12.ReciptID = R11.ParentReciptID AND R12.ServerID = R11.ServerID AND R12.YearID = R11.YearID INNER JOIN
                         ReciptItems AS Ri11 ON R11.ReciptID = Ri11.ReciptID AND R11.ServerID = Ri11.ServerID AND R11.YearID = Ri11.YearID INNER JOIN
                         ReciptItems AS Ri9 ON Ri11.ServerID = Ri9.ServerID AND Ri11.YearID = Ri9.YearID AND Ri11.ReciptItemID = Ri9.preReciptItemID INNER JOIN
                         Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R12.ID = @ID12) and (R12.DocNo < 1)and (R11.DocNo < 1)and (R9.DocNo < 1)
                             and (R12.ReciptState = 0)and (R11.ReciptState = 0)and (R9.ReciptState = 0)


update R11
set R11.PersonID1 = @NewPersonID1 
FROM            Recipts AS R12 INNER JOIN
                         Recipts AS R11 ON R12.ReciptID = R11.ParentReciptID AND R12.ServerID = R11.ServerID AND R12.YearID = R11.YearID INNER JOIN
                         ReciptItems AS Ri11 ON R11.ReciptID = Ri11.ReciptID AND R11.ServerID = Ri11.ServerID AND R11.YearID = Ri11.YearID INNER JOIN
                         ReciptItems AS Ri9 ON Ri11.ServerID = Ri9.ServerID AND Ri11.YearID = Ri9.YearID AND Ri11.ReciptItemID = Ri9.preReciptItemID INNER JOIN
                         Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R12.ID = @ID12) and (R12.DocNo < 1)and (R11.DocNo < 1)and (R9.DocNo < 1)
                             and (R12.ReciptState = 0)and (R11.ReciptState = 0)and (R9.ReciptState = 0)



SELECT @COUNT9 = ROW_NUMBER() OVER(ORDER BY Ri9.ID ASC) --,@IDs =@IDs+','+ ltrim(Ri9.ID) 
FROM ReciptItems AS Ri9  INNER JOIN
     Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R9.ID = @ID9)

  
if @COUNT12<>@COUNT9 
begin
	declare   @Query varchar(8000)
	declare   @ColumnsName varchar(8000)
	SET @ColumnsName = dbo.S_F_GetColumnsName('Recipts')
	set @Query='INSERT INTO Recipts  ('+@ColumnsName+')'

	SET @ColumnsName = REPLACE(@ColumnsName,' ReciptID,','')
	SET @ColumnsName = REPLACE(@ColumnsName,' ID,','')
	SET @ReciptID=(SELECT MAX(ReciptID)+1 FROM Recipts WHERE (ServerID= @ServerID) AND (YearID= @YearID))

	SET @ReciptNumber=(SELECT MAX(ReciptNumber)+1 FROM Recipts WHERE (ServerID = @ServerID) AND (YearID = @YearID) AND (ReciptType = @ReciptType9))


	SET @ColumnsName = REPLACE(@ColumnsName,' ReciptNumber,',STR(@ReciptNumber)+' AS ReciptNumber,')

	SET @ColumnsName = REPLACE(@ColumnsName,' PersonID1,',STR(@NewPersonID1)+' AS PersonID1,')

	SET @ColumnsName = REPLACE(@ColumnsName,' ModifyDate,',' GETDATE() AS ModifyDate,')
	SET @ColumnsName = REPLACE(@ColumnsName,' OperatorID,','127,')

	set @Query= @Query+--- 'INSERT INTO Recipts  ('+@ColumnsName+')
				' SELECT '+STR(@ReciptID)+', '+@ColumnsName+'
				  FROM  Recipts WHERE (ID = '+STR(@ID9)+')'

	SET @Query = REPLACE(@Query,' ParentReciptID,','')
	SET @Query = REPLACE(@Query,' ParentCoReciptID,','')
	SET @Query = REPLACE(@Query,' DocNo,','')
	SET @Query = REPLACE(@Query,' DocDate,','')
	SET @Query = REPLACE(@Query,' FirstUser,','')
	SET @Query = REPLACE(@Query,' LastUser,','')
	SET @Query = REPLACE(@Query,' Transmittal,','')
	SET @Query = REPLACE(@Query,' keyID,','')
	SET @Query = REPLACE(@Query,' ID,','')
	SET @Query = REPLACE(@Query,' TAXID,','')
	SET @Query = REPLACE(@Query,' IRTAXID,','')
	SET @Query = REPLACE(@Query,' TAXUID,','')
	SET @Query = REPLACE(@Query,' REFERENCENUMBER,','')
	SET @Query = REPLACE(@Query,' DATE_OF_SEND_TO_TAX,','')
	SET @Query = REPLACE(@Query,' tax_status,','')

	Exec (@Query)
end
else
begin
UPDATE R9
	SET  R9.PersonID1 = @NewPersonID1
	FROM ReciptItems AS Ri9  INNER JOIN
		 Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
	WHERE        (R9.ID = @ID9)    and  (R9.DocNo < 1)
                             and (R9.ReciptState = 0)
end


UPDATE Ri9
SET Ri9.ReciptID = case when  @COUNT12<>@COUNT9 then @ReciptID else Ri9.ReciptID end
FROM ReciptItems AS Ri9  INNER JOIN
     Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R9.ID = @ID9)  and (R9.DocNo < 1) and  (R9.ReciptState = 0)
 and Ri9.preReciptItemID in (

SELECT Ri11.ReciptItemID
FROM            Recipts AS R12 INNER JOIN
                         Recipts AS R11 ON R12.ReciptID = R11.ParentReciptID AND R12.ServerID = R11.ServerID AND R12.YearID = R11.YearID INNER JOIN
                         ReciptItems AS Ri11 ON R11.ReciptID = Ri11.ReciptID AND R11.ServerID = Ri11.ServerID AND R11.YearID = Ri11.YearID INNER JOIN
                         ReciptItems AS Ri9 ON Ri11.ServerID = Ri9.ServerID AND Ri11.YearID = Ri9.YearID AND Ri11.ReciptItemID = Ri9.preReciptItemID INNER JOIN
                         Recipts AS R9 ON R9.ReciptID = Ri9.ReciptID AND R9.ServerID = Ri9.ServerID AND R9.YearID = Ri9.YearID
WHERE        (R12.ID = @ID12) 
)

RETURN(@ReciptNumber)
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------


GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION StuffCodeCountingDetails ( @YearIDFrom  int =1398 , @YearIDTo int =1398,@Date as Char(10) ='1398/12/29' )
RETURNS table  AS  
return (SELECT	CD.StuffCode, StuffCoding.c_StuffName, CD.CountEntity, 
		 isnull(StuffCodeEntity_c.Entity,0) as Entity,
		CD.CountEntity - isnull(StuffCodeEntity_c.Entity,0) AS DifferEntity,

		CD.StoreID, CD.CountID

FROM            (SELECT cd1.CountID, cd1.StoreID, ReciptItems.StuffCode, COUNT(cd1.DetailCaption) AS CountEntity
FROM            CountingDetails as cd1  INNER JOIN
                         (SELECT ReciptItems.StuffCode, ReciptItemsDetails.DetailCaption, MAX(ReciptItemsDetails.DetailsID) AS MaxDetailsID
FROM            ReciptItems INNER JOIN
                         ReciptItemsDetails ON ReciptItems.ReciptItemID = ReciptItemsDetails.ReciptItemID AND ReciptItems.ReciptID = ReciptItemsDetails.ReciptID AND ReciptItems.ServerID = ReciptItemsDetails.ServerID AND 
                         ReciptItems.YearID = ReciptItemsDetails.YearID
GROUP BY ReciptItems.StuffCode, ReciptItemsDetails.DetailCaption, ReciptItemsDetails.DetailsID
)ReciptItems ON cd1.DetailCaption = ReciptItems.DetailCaption
						
GROUP BY cd1.CountID, cd1.StoreID, ReciptItems.StuffCode) as CD
 INNER JOIN
                         StuffCoding ON CD.StuffCode = StuffCoding.c_StuffCode INNER JOIN
                         Counting ON CD.CountID = Counting.CountID LEFT OUTER JOIN
                         dbo.StuffCodeEntity(@YearIDFrom, @YearIDTo, @Date ) AS StuffCodeEntity_C ON CD.StoreID = StuffCodeEntity_C.StoreID AND 
                         CD.StuffCode = StuffCodeEntity_C.StuffCode  
						 
)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

-------------------------------------------------
--------------------------------------------------

GO
SET QUOTED_IDENTIFIER ON;
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION Fn_rptCompare_Count_EntityD   ( @YearIDFrom int , @YearIDTo int, @Date char(10) , @StoreID int, @CountID int  )  
RETURNS  table  AS 
Return  (
SELECT     AllStuffCode.StoreID, AllStuffCode.StuffCode, StuffCoding.c_StuffName,StuffCoding.c_StuffTecInfo, Units.UnitName,
           SCD.CountEntity,  StuffCodeEntity.Entity,  StuffCodeEntity.Price,
					  case when (  SCD.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else SCD.DifferEntity
					  end as DifferEntity , 
					  ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE  (StuffCodeEntity.Price / (StuffCodeEntity.Entity)) END) * 
					  
						( case when (   SCD.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
								else SCD.DifferEntity
							end
						) 					  
					  , 0), 0)
                      AS DifferPrice,
                      StuffCodeEntity.TotallSellPrice,
                      ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE (StuffCodeEntity.TotallSellPrice / (StuffCodeEntity.Entity)) END)  * 
					  
					  (
						case when (  SCD.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else SCD.DifferEntity
						end 					  
					  )
					  
					  ,0), 0)
                      AS DifferTotallSellPrice,
                      ROUND( ISNULL(
					  (
						case when (   SCD.CountID IS NULL )
					  			then StuffCodeEntity.Entity 
							else SCD.DifferEntity
						end 					  
					  )
					  , 0) - isnull(StuffCodeEntity.Entity,0),2) AS OtherEntity,
          
                      ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE  (StuffCodeEntity.Price / (StuffCodeEntity.Entity)) END) * 
					  (
						  case when (  SCD.CountID IS NULL )
						  			then StuffCodeEntity.Entity 
								else SCD.DifferEntity
						  end 
					  )					  
					  
					  , 0), 0)
                      - isnull(StuffCodeEntity.Price,0) AS OtherPrice,
                      ROUND(ISNULL((CASE  WHEN ((StuffCodeEntity.Entity) =0 or (StuffCodeEntity.Entity) is null ) THEN StuffCoding.SellPrice1
                      ELSE (StuffCodeEntity.TotallSellPrice / (StuffCodeEntity.Entity)) END)  * 
					  
					  (
						  case when (   SCD.CountID IS NULL )
					  				then StuffCodeEntity.Entity 
								else SCD.DifferEntity
						  end 
					  )
					  
					  
					   ,0), 0)
                      - isnull(StuffCodeEntity.TotallSellPrice,0) AS OtherTotallSellPrice, SCD.CountID , StuffCoding.SellPrice1
          , Stores.c_StoreName


FROM         Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode RIGHT OUTER JOIN
                          (
 						  SELECT DISTINCT cd2.StoreID, ReciptItems.StuffCode
                         FROM            CountingDetails cd2 INNER JOIN
                         ReciptItemsDetails ON cd2.DetailsID = ReciptItemsDetails.DetailsID INNER JOIN
                         ReciptItems ON ReciptItemsDetails.ReciptItemID = ReciptItems.ReciptItemID AND ReciptItemsDetails.ReciptID = ReciptItems.ReciptID AND ReciptItemsDetails.ServerID = ReciptItems.ServerID AND 
                         ReciptItemsDetails.YearID = ReciptItems.YearID  
                             UNION
                             SELECT     StoreID, StuffCode
                             FROM         dbo.StuffCodeEntity(@YearIDFrom , @YearIDTo , @Date) AS StuffCodeEntity) AS AllStuffCode LEFT OUTER JOIN
                      dbo.StuffCodeCountingDetails(@YearIDFrom , @YearIDTo , @Date ) AS SCD ON AllStuffCode.StoreID = SCD.StoreID AND 
                      AllStuffCode.StuffCode = SCD.StuffCode ON StuffCoding.c_StuffCode = AllStuffCode.StuffCode LEFT OUTER JOIN
                      dbo.StuffCodeEntity( @YearIDFrom , @YearIDTo , @Date ) AS StuffCodeEntity ON AllStuffCode.StoreID = StuffCodeEntity.StoreID AND
                      AllStuffCode.StuffCode = StuffCodeEntity.StuffCode INNER JOIN
                         Stores ON AllStuffCode.StoreID = Stores.n_StoreID
WHERE     (AllStuffCode.StoreID = @StoreID) AND (SCD.CountID = @CountID OR SCD.CountID IS NULL) 
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
