--18  تاريخ 1402/09/11    
IF not exists (SELECT * FROM sysindexes WHERE (name = N'IX_ReciptItems_RSYS'))
 create NONCLUSTERED INDEX IX_ReciptItems_RSYS ON dbo.ReciptItems
	(ReciptID,ServerID,YearID,StuffCode) ON [PRIMARY]
GO
if exists (select * from sysobjects where id = object_id(N'dbo.USP_NEWYEARE_STORE') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure USP_NEWYEARE_STORE
GO
if exists (select * from sysobjects where id = object_id(N'dbo.USP_NEWYEARE_check') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure USP_NEWYEARE_check
GO

if ( COLUMNPROPERTY( OBJECT_ID('ReciptItems'),'DeficitValue','IsRowGuidCol')is  null ) 
   UPDATE  ReciptTypes SET   DiscountActive = 0 
  
  if ( COLUMNPROPERTY( OBJECT_ID('ReciptTypes'),'FormItemKindSerial','IsRowGuidCol')is null ) 
  UPDATE ReciptTypes SET PersonID1OnDetailActive=0 WHERE PersonID1OnDetailActive=2

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
----------------------------------------Desighn by Hosseini 89/12/19----------Edited by abedi    ------------------- 
CREATE PROCEDURE dbo.USP_NEWYEARE_STORE (@mojoodi int ,@customer int, @yearidfrom int, @yearidto int ,@Serverid int )

AS

begin
set nocount on

DECLARE @DEL INT
DECLARE @IDRECIPT INT
DECLARE @StoreID int ,@Reciptid int
DECLARE @DATE CHAR(10)
DECLARE @IDSEED INT
DECLARE @SUMC MONEY
-------------------------------------------------------------------------------------

SELECT  @SUMC = SUM(ISNULL(FirstBalance, 0)) 
FROM         Customers

IF @SUMC <>0 

BEGIN 
INSERT INTO RemainsEarly (YearID, PersonID1, Rate,InfoKind,Note)

SELECT     @yearidTo ,CustID, FirstBalance,0,'انتقالي از مانده معرفي مشتريان '
FROM         Customers
WHERE     (FirstBalance IS NOT NULL) AND (FirstBalance <> 0)

UPDATE Customers 
	SET FirstBalance= 0

END 

IF (@mojoodi =1 )
begin



create table #YearStuff(
	StoreID int NULL,
	StuffCode bigint NULL,
	StuffSize varchar(12) NOT NULL,
	StuffDiameter float NOT NULL,
	StuffAlloy varchar(12) NOT NULL,
	InputEntity float NOT NULL,
	InputWeight float NOT NULL,
	ControlCode bigint NOT NULL,
	StuffGrade tinyint NOT NULL,
	TotalInputPrice money NOT NULL,
	UnitSellPrice money NOT NULL,
	TotallSellPrice money NOT NULL,
	ItemNote varchar(100) NULL,
	PersonID1 int NULL,
    ServerID int NOT NULL,
	YearID int NOT NULL,
	n_ValuationType INT NOT NULL,
	IDKEY int IDENTITY(1,1) NOT NULL,
	SpecialCode char(25) 
	
) 

 INSERT INTO #YearStuff(StoreID ,StuffCode,StuffDiameter,StuffSize ,StuffAlloy,StuffGrade,InputEntity ,InputWeight,TotalInputPrice 
     ,n_ValuationType,ControlCode,PersonID1,ItemNote,YearID,ServerID,UnitSellPrice ,TotallSellPrice ,SpecialCode )
    
    
SELECT     ReciptItems_Stock.StoreID, ReciptItems_Stock.StuffCode, '' AS StuffDiameter, '' AS StuffSize, '' AS StuffAlloy, 1 AS StuffGrade, 
                      ROUND(SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity), 3) AS Entity, 
                      ROUND(SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight), 3) AS Weight, 
                      SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice) AS Price, Stores.n_ValuationType, 0 AS ControlCode, 0 AS PersonID1, 
                      '' AS ItemNote,@yearidto , 
                      --dbo.ReciptItems_Stock.ServerID,
					  @ServerID as ServerID,
                      
                      (CASE WHEN 
                                    
                      ROUND(SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity), 3)<>0 
                       THEN  
                       ROUND(SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice),0) 
                              / ROUND(SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity), 3)
                      ELSE  0  
                      END ) AS UNITE   
                    ,SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice) AS SELPRICE ,SpecialCode
FROM         ReciptItems_Stock INNER JOIN
                      Stores ON ReciptItems_Stock.StoreID = Stores.n_StoreID
WHERE   ReciptItems_Stock.YearID =@yearidfrom
GROUP BY ReciptItems_Stock.StoreID, ReciptItems_Stock.StuffCode, Stores.n_ValuationType, ReciptItems_Stock.YearID--, ReciptItems_Stock.ServerID
         ,ReciptItems_Stock.SpecialCode
HAVING      (SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity) >= 0.0001) OR
                      (SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity) <= - 0.0001) OR
                      (SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight) >= 0.0001) OR
                      (SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight) <= - 0.0001)
             
 ------------------------------------------------------cursor-----------------------------------------------------

DECLARE C CURSOR for
	SELECT StoreID--,Serverid  
	FROM dbo.Recipts
	GROUP BY StoreID--,Serverid 
	ORDER BY  StoreID-- ,Serverid
	
	
OPEN C

FETCH NEXT FROM C INTO @StoreID --,@Serverid

	WHILE @@FETCH_STATUS =0
	
	 BEGIN 
	
	SELECT @IDRECIPT=ISNULL(MAX(ReciptID),1) FROM Recipts  WHERE YearID=@yearidto
	
	SET @DATE = CAST (@yearidto AS CHAR(10))+'/01/01'
	 INSERT INTO  Recipts (ReciptID, StoreID, ReciptNumber, ReciptDate, ReciptType, ModifyDate, ServerID, YearID,operatorid,personid1)
		
			SELECT   @IDRECIPT+1 AS RECIPTID, @StoreID AS STOREID, 1 AS RECIPTNO, @DATE AS RECIPTDATE, 1 AS RECIPTTYPE, GETDATE() AS MODIFYDATE, @Serverid AS SERVERID, 
                      @yearidto, 127 AS OPERATORID, 0 AS PERSONELID
			FROM         Recipts
			WHERE  StoreID=@StoreID --and Serverid = @Serverid 
			        and yearid=@yearidfrom
			GROUP BY StoreID --,Serverid
			
			
			SELECT @IDSEED=ISNULL(MAX(ReciptItemID),1) FROM ReciptItems  WHERE YearID=@yearidto
			
	  		
	  		INSERT INTO   ReciptItems  (ReciptItemID, ReciptID,StuffCode,  StuffDiameter, StuffSize,StuffAlloy,StuffGrade, InputEntity, InputWeight, TotalInputPrice
			, ControlCode, PersonID1,SERVERID,YEARID,UnitSellPrice,TotallSellPrice,SpecialCode)
	  		
	  		SELECT IDKEY+@IDSEED,@IDRECIPT+1,StuffCode,StuffDiameter,StuffSize ,StuffAlloy,StuffGrade,InputEntity ,InputWeight,TotalInputPrice 
			 ,ControlCode,PersonID1,@Serverid ,YearID ,UnitSellPrice ,TotallSellPrice,SpecialCode 
	  		FROM #YearStuff
	  		WHERE  StoreID=@StoreID 
			          --and Serverid = @Serverid 
					  and yearid=@yearidTO 
	  		
	  	  		

     FETCH NEXT FROM C INTO @StoreID --,@Serverid
END


CLOSE C
DEALLOCATE C
                                      
                  
end ------end if	



 IF (@customer  =1 )
  
BEGIN 

SELECT   @DEL=count(PersonID1)
FROM         RemainsEarly
where PersonID1  not in ((SELECT CustID FROM Customers INNER JOIN
							CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
								WHERE (CustomersGroup.GroupType IN (1, 2)))) and yearid=@yearidto 
IF (@DEL<>0)
 BEGIN
 
DELETE FROM RemainsEarly
WHERE     (YearID = @yearidto) AND (PersonID1 not IN
                          ((SELECT     Customers.CustID
                              FROM          Customers INNER JOIN
                                                     CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
                              WHERE      (CustomersGroup.GroupType IN (1, 2)))))
 END

INSERT INTO RemainsEarly (YearID, PersonID1, Rate,InfoKind,SellsEmporium)

SELECT     @yearidto,CustomerID1 AS PersonID1, SUM(bed - bes) AS balance,0,SellsEmporium
FROM         dbo.AllAccount(10, - 1, - 1, - 1, DEFAULT, DEFAULT, '', DEFAULT, '', @yearidfrom,
               @yearidfrom,0,999999,0,999999, DEFAULT) AS AllAcc

			
WHERE	CustomerID1 NOT IN (SELECT     Customers.CustID
							FROM         Customers INNER JOIN
							CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
							WHERE     (CustomersGroup.GroupType IN (1, 2)))
GROUP BY CustomerID1,SellsEmporium
ORDER BY CustomerID1



END ----ENDIF



END ---END SP
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
---------------------------------------- abedi 1400/10/07  ---------------------- 
CREATE PROCEDURE dbo.USP_NEWYEARE_check (@BAcheck int,@Scheck int,@Bcheck int,
                                         @Tcheck int, @Socheck int,@yearidfrom int, @yearidto int ,@VagozarBeMoshtaricheck int,@DaryafteSofte int ,@DaryafteZemanatNaame int
										 , @chkBank1 int, @chkCash2 int ,@chkLoan7 int  ,  @chkSupplier17 int)
										 

AS


begin
set nocount on
 
DECLARE @serverid int
DECLARE @Customerid1 INT
DECLARE @Customerid2 INT
DECLARE @SellsEmporium INT
DECLARE @DEL INT
DECLARE @DATEFROM Char(10)
DECLARE @DATETO Char(10)
DECLARE @DateFromRemain char(10)
DECLARE @FORMID1 INT 
DECLARE @FORMNO1 INT 
DECLARE @DATEFORM Char(10)
DECLARE @MAXITEM1 INT
DECLARE @SUMC MONEY
-------------------------------------------------------------------------------------

SELECT  @SUMC = SUM(ISNULL(FirstBalance, 0)) 
FROM         Customers

IF @SUMC <>0 

BEGIN 
INSERT INTO RemainsEarly (YearID, PersonID1, Rate,InfoKind,Note)

SELECT     @yearidTo ,CustID, FirstBalance,0,'انتقالي از مانده معرفي مشتريان '
FROM         Customers
WHERE     (FirstBalance IS NOT NULL) AND (FirstBalance <> 0)

UPDATE Customers 
	SET FirstBalance= 0

END 

	DECLARE  @YearF char(4)
	if len(ltrim(@yearidfrom))=2 
	  set  @YearF='13'+ltrim(@yearidfrom)
    else
	  set  @YearF=ltrim(@yearidfrom)

	DECLARE  @YearT char(4)
	if len(ltrim(@yearidto))=2 
	  set  @YearT='13'+ltrim(@yearidto)
    else
	  set  @YearT=ltrim(@yearidto)


 SET @DATEFROM =RIGHT( @YearF+'/01/01',10)
 SET @DATETO=RIGHT(@YearF+'/12/29',10)

SET @DateFromRemain=dbo.miladitoshamsi(DATEADD( day,-1,dbo.ShamsiToMiladi(@DATEFROM)))



-------------------------------------mande bankha va sandoogh  @chkCash int,  @chkSupplier int ,@chkLoan
 
IF (@chkBank1=1)or(@chkCash2=1)or(@chkSupplier17=1)or(@chkLoan7=1)

BEGIN
SELECT   @DEL=count(PersonID1)
FROM         RemainsEarly
where PersonID1 in ((SELECT CustID FROM Customers INNER JOIN
							CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
								WHERE (CustomersGroup.GroupType IN (@chkBank1, @chkCash2,@chkLoan7,@chkSupplier17)))) and yearid=@yearidto 
IF (@DEL<>0)
 BEGIN
 
DELETE FROM RemainsEarly
WHERE     (YearID = @yearidto) AND (PersonID1 IN
                          ((SELECT     Customers.CustID
                              FROM          Customers INNER JOIN
                                                     CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
                              WHERE      (CustomersGroup.GroupType IN (@chkBank1,@chkCash2,@chkLoan7,@chkSupplier17)))))
 END



 
 INSERT INTO RemainsEarly (YearID, PersonID1, Rate,InfoKind)
	

	
	
	SELECT @yearidto,customerid1,ISNULL( SUM(bed -bes) ,0),0
	FROM  AllAccount(1,2,10,-1, 1 ,999999999,@DATEFROM ,@DATETO ,
                    @DateFromRemain , @yearidfrom ,@yearidfrom ,0,999999,0,999999 , DEFAULT)
	WHERE   customerid1 IN ((SELECT CustID FROM Customers INNER JOIN
							CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
								WHERE (CustomersGroup.GroupType IN (@chkBank1, @chkCash2,@chkLoan7,@chkSupplier17))))                          
	GROUP BY  customerid1
                    
 
 
 
 
END----END IF 


----------------------------------------chekhaye nazde sandoogh
create table #FormItems(
	FormItemID int NOT NULL,
	FormID int NOT NULL,
	Row int NOT NULL,
	CheckNumber char(15) ,
	CheckDate VARchar(10) ,
	CheckType tinyint ,
	ItemAmount money ,
	ItemNote varchar(255) ,
	BankName varchar(20) ,
	FCustomerID1 int ,
	FCustomerID2 int ,
	SellsEmporium int ,
	City char(20) ,
	CustomerID2D int ,
	AccountNumberNew varchar(60) ,
	AccountNumber char(25) ,
	CheckState tinyint NOT NULL,
	CheckFor varchar(255) ,	
	ServerID int NOT NULL,
	FORMTYPE int NOT NULL,
	YEARID int NOT NULL,

    TopicCode bigint ,
	DetailCode varchar(12) ,
	CTopicCode varchar(12) ,
	CTopicCode2 varchar(12) ,
	ProjectID int ,
	AidInfoNo float ,
	AidInfoDate Char(10) ,
	AmountArz float ,
	BudgetCode int ,
	CashWage money ,
	AccState tinyint ,
	ItemState tinyint NOT NULL,
	ItemStateComment nvarchar(200) ,
	SeverableAmount tinyint NOT NULL,
	VAT money NOT NULL,
	AccountNumberNew1 varchar(60) ,
	TopicTypesI int ,
	CTopicCode3 varchar(12) NOT NULL,
	ArzTypeID int ,
	ArzAmount money NOT NULL,
	ArzRate float ,
	DayDelay int ,
	AmountDelay decimal(18, 4) NOT NULL,
	CheckCounter int ,
	ProductCode bigint ,
	LineCorrosion bit NULL,
	VatCo float NULL,
	PO varchar(30) NULL,
	HunterCode char(20) NULL,

	idkey int IDENTITY(1,1) NOT NULL
)


INSERT INTO #FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,
ServerID,FormType,YEARID,FCustomerID1,FCustomerID2 ,SellsEmporium
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID, 
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

)
 
 
SELECT      FormItems.FormItemID,FormItems.FormID,FormItems.Row,FormItems.CheckNumber,FormItems.CheckDate,FormItems.CheckType,
FormItems.ItemAmount,FormItems.ItemNote,FormItems.BankName,FormItems.City,
FormItems.CustomerID2,FormItems.AccountNumberNew ,FormItems.AccountNumber,FormItems.CheckState, FormItems.CheckFor,
FormItems.ServerID,Forms.FormType,FormItems.YearID,Forms.CustomerID1 ,Forms.CustomerID2 ,Forms.SellsEmporium
, FormItems.TopicCode, FormItems.DetailCode, FormItems.CTopicCode, FormItems.CTopicCode2, FormItems.ProjectID,  
FormItems.AidInfoNo, FormItems.AidInfoDate, FormItems.AmountArz, FormItems.BudgetCode, FormItems.CashWage, FormItems.AccState, FormItems.ItemState, 
FormItems.ItemStateComment, FormItems.SeverableAmount, FormItems.VAT, FormItems.AccountNumberNew1, FormItems.TopicTypesI, FormItems.CTopicCode3, FormItems.ArzTypeID, 
FormItems.ArzAmount, FormItems.ArzRate, FormItems.DayDelay, FormItems.AmountDelay, FormItems.CheckCounter, FormItems.ProductCode, FormItems.LineCorrosion, FormItems.VatCo, FormItems.PO, FormItems.HunterCode


                      
FROM         FormItems INNER JOIN
                      Forms ON FormItems.FormID = Forms.FormID AND FormItems.ServerID = Forms.ServerID AND 
                      FormItems.YearID = Forms.YearID INNER JOIN
                      dbo.FormTypes ON Forms.FormType = dbo.FormTypes.FormType LEFT OUTER JOIN
                      dbo.Customers AS Customers_2 ON FormItems.CustomerID2 = Customers_2.CustID LEFT OUTER JOIN
                      dbo.Customers AS Customers_1 ON Forms.CustomerID1 = Customers_1.CustID LEFT OUTER JOIN
                      (select FormItemID,preFormItemID from FormItems where YearID=@YEARIDFROM) AS FormItems_1 
					              ON FormItems.FormItemID = FormItems_1.preFormItemID
WHERE     (FormItems_1.preFormItemID IS NULL) AND (FormItems.YearID=@YEARIDFROM)
     AND (Forms.FormState <>10)
ORDER BY FormItems.CheckDate



IF (@Scheck=1)

BEGIN


----------------------------------



DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (10, 15, 21, 105,29)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO
	
	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =21
	
	
	SET  @DATEFORM =RIGHT(@YearT +'/01/01',10)
	
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,21,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (10, 15, 21, 105,29)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2) AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID )  
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (10, 15, 21, 105,29)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium)  AND (SERVERID=@SERVERID )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C



END 


--------------------------------NAZDE BANK------------------------------------------

-----------------------------------
IF (@Bcheck=1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (11,22,19)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE (YEARID=@YEARIDTO)

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE (YEARID=@YEARIDTO) AND (FormType =22)
	SET  @DATEFORM =RIGHT(@YearT +'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE (YEARID=@YEARIDTO)
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,22,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (11,22,19)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID, 
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (11,22,19)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 







------------------------------------CHEKHAYE BARGASHTI

-----------------------------------
IF (@BAcheck=1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (17,18,24)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =24
	SET  @DATEFORM =RIGHT(@YearT+'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,24,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (17,18,24)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  ) 
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate,  AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (17,18,24)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 

---------------------------------CHEKHAYE TAZMINI
-----------------------------------
IF (@Tcheck=1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (73,80)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =73
	SET  @DATEFORM =RIGHT(@YearT+'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,73,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (73,80)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )  
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (73,80)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 









--------------------------------------CHEKHAYE SADERE



-----------------------------------

-----------------------------------
IF (@Socheck=1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (50,54)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =54
	SET  @DATEFORM =RIGHT(@YearT +'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1, CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,54,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (50,54)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  ) 
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,0,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (50,54)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 

------------------------------------------------------- @VagozarBeMoshtaricheck
------------------------------------------------------- Vagozar Be Moshtari --------------------
IF (@VagozarBeMoshtaricheck = 1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (12,28)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium 

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =28
	SET  @DATEFORM =RIGHT(@YearT +'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
	SELECT DISTINCT 	@FORMID1,28,@FORMNO1, Right(@DATEFORM,10) ,FCustomerID1,FCustomerID2,SellsEmporium,'2014/08/08',@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (12,28)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate,  AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,0,ItemAmount,ItemNote,BankName,City,
          CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
 , TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (12,28)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
         And ( CheckDate >= right(dbo.MiladiTOShamsi( dbo.ShamsiToMiladi( @DATEFORM ) -  ( dbo.GetCustCheckDateOffset() )  ) , 10 ) )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 
-----------------------------------------------------------------------------------------------------
-------------------------------------------------------  --------------------
IF (@Tcheck = 1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (70,74)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium 

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =74
	SET  @DATEFORM =RIGHT(@YearT +'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
	SELECT DISTINCT 	@FORMID1,74,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium,'2014/08/08',@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (70,74)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,0,ItemAmount,ItemNote,BankName,City,
          CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate,  AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount,  VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode 

 
 FROM        #FormItems 
 WHERE     (FormType IN (70,74)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
         
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 
-----------------------------------------------------------------------------------------------------

------------------------------------------------------- @DaryafteSofte
------------------------------------------------------- Daryafte Softe  --------------------
---فرم دریافت سفته 107
--اول دوره سفته 108

IF (@DaryafteSofte = 1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (107,108)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =108
	SET  @DATEFORM =RIGHT(@YearT+'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,108,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (107,108)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )  
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (107,108)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 
-----------------------------------------------------------------------------------------------------
-------------------------------------------------------  --------------------
------------------------------------------------------- @DaryafteZemanatNaame
------------------------------------------------------- Daryafte ZemanatNaame 1401/02/11 --------------------
---فرم دریافت ضمانتنامه  120
--اول دوره ضمانتنامه  121

IF (@DaryafteZemanatNaame = 1)

BEGIN

DECLARE C CURSOR for
SELECT  DISTINCT SERVERID,CustomerID1,CustomerID2,SellsEmporium
FROM  FormS 
WHERE     (FormType IN (120,121)) 
ORDER BY SERVERID 

OPEN C

FETCH NEXT FROM C INTO @Serverid,@Customerid1 ,@Customerid2,@SellsEmporium

	WHILE @@FETCH_STATUS =0
	
	BEGIN 
	
	SELECT  @FORMID1=ISNULL(MAX (FORMID),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO

	SELECT  @FORMNO1=ISNULL(MAX (FormNumber),1)+1 FROM FORMS WHERE YEARID=@YEARIDTO AND FormType =121
	SET  @DATEFORM =RIGHT(@YearT+'/01/01',10)
	SELECT @MAXITEM1= ISNULL (MAX (FORMITEMID),1) FROM FORMITEMS WHERE YEARID=@YEARIDTO
 
	
 
 
 INSERT INTO FORMS(FormID, FormType, FormNumber, FormDate, CustomerID1,CustomerID2,SellsEmporium, ModifyDate, ServerID, YearID,amount,BudgetCode)
 
 
	SELECT DISTINCT 	@FORMID1,121,@FORMNO1,@DATEFORM,FCustomerID1,FCustomerID2,SellsEmporium, GETDATE(),@SERVERID,@YEARIDTO,0,0
	FROM         #FormItems
	WHERE     (FormType IN (120,121)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )  
 
 
 
INSERT INTO FormItems (FormItemID,FormID,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2,AccountNumberNew,AccountNumber,CheckState,CheckFor,ServerID,YEARID
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode
)
 
 
 SELECT  @MAXITEM1+idkey,@FORMID1,Row,CheckNumber,CheckDate,CheckType,
ItemAmount,ItemNote,BankName,City,
CustomerID2D,AccountNumberNew,AccountNumber,CheckState,CheckFor,@Serverid,@YEARIDTO
, TopicCode, DetailCode, CTopicCode, CTopicCode2, ProjectID,  
AidInfoNo, AidInfoDate, AmountArz, BudgetCode, CashWage, AccState, ItemState, 
ItemStateComment, SeverableAmount, VAT, AccountNumberNew1, TopicTypesI, CTopicCode3, ArzTypeID, 
ArzAmount, ArzRate, DayDelay, AmountDelay,  CheckCounter, ProductCode, LineCorrosion, VatCo, PO, HunterCode

 
 FROM        #FormItems 
 WHERE     (FormType IN (120,121)) AND (FCustomerID1=@Customerid1) AND (FCustomerID2=@Customerid2)AND(SellsEmporium=@SellsEmporium) AND (SERVERID=@SERVERID  )
 
  FETCH NEXT FROM C INTO @Serverid,@Customerid1,@Customerid2,@SellsEmporium
 
 END


CLOSE C
DEALLOCATE C
END 
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------






end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
