--10  تاريخ 1400/09/07    
if exists (select * from sysobjects where id = object_id(N'[dbo].[ReMainPerson]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[ReMainPerson]
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[ReMainPerson2]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[ReMainPerson2]
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[YearCustomerSellPrice]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[YearCustomerSellPrice]
if exists (select * from sysobjects where id = object_id(N'[dbo].[CustomerTrancations]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancations
if exists (select * from sysobjects where id = object_id(N'[dbo].[CustomerTrancationsSellPrice]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancationsSellPrice
if exists (select * from sysobjects where id = object_id(N'[dbo].[CustomerTrancationsDetails]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancationsDetails
if exists (select * from sysobjects where id = object_id(N'[dbo].[CustomerTrancationsItems]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancationsItems
if exists (select * from sysobjects where id = object_id(N'[dbo].[CustomerTrancationsItemsSellPrice]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancationsItemsSellPrice
if exists (select * from sysobjects where id = object_id(N'[dbo].CustomerTrancationsStandardRate') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW CustomerTrancationsStandardRate
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE VIEW CustomerTrancationsStandardRate
AS
SELECT     *
FROM(SELECT Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote,  dbo.GetReciptsIdDefStandardRate(Recipts.ReciptID, 0, Recipts.ServerID, Recipts.YearID) AS bed, SUM(0) AS bes, 3 AS kind, Recipts.StoreID AS StoreIDForShow
                      , Recipts.ServerID, Recipts.YearID
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BedType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID, Recipts.ServerID, Recipts.YearID
UNION ALL
SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, SUM(0) AS bed,  dbo.GetReciptsIdDefStandardRate(Recipts.ReciptID, 0, Recipts.ServerID, Recipts.YearID)  AS Bes, 
3 AS kind, Recipts.StoreID AS StoreIDForShow, Recipts.ServerID, Recipts.YearID
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BesType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID
                      , Recipts.ServerID, Recipts.YearID) Acc
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE VIEW CustomerTrancationsItemsSellPrice
AS
SELECT     PersonID1, ReciptID, ReciptNumber, ReciptDate, ReciptType, ReciptCaption, '0' AS CheckNo, '' AS CheckDate,'' as BankName, StuffCode, c_StuffName, UnitName, entity, 
                      weight, bed, bes, kind, StoreID, ItemNote,StuffDiameter, StuffSize,UnitSellPrice,ModifyDate ,ControlCode ,  CustName,  SecondTypeCode
                      ,PersonID2,  CustName2, SellsMethodName
                       , ServerID, YearID

FROM         (SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, Recipts.ReciptType, ReciptTypes.ReciptCaption, 
                      ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                      ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, ReciptItems.TotallSellPrice AS bed, 0 AS bes, 3 AS kind, 
                      Recipts.StoreID, ReciptItems.ItemNote, ReciptItems.StuffDiameter, 
                      ReciptItems.StuffSize, ReciptItems.UnitSellPrice, Recipts.ModifyDate, ReciptItems.ControlCode,Customers.CustName ,  LookUps.Code AS SecondTypeCode
                      , Recipts.PersonID2,  Customers2.CustName as CustName2, SellsMethods.SellsMethodName
                      , Recipts.ServerID, Recipts.YearID
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                      Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode ON ReciptItems.StuffCode = StuffCoding.c_StuffCode LEFT OUTER JOIN
                      LookUps ON Recipts.SecondType = LookUps.LookUpID
                      LEFT OUTER JOIN Customers ON Recipts.PersonID1 = Customers.CustID
                      LEFT OUTER JOIN Customers as Customers2 ON Recipts.PersonID2 = Customers2.CustID
                      LEFT OUTER JOIN SellsMethods ON Recipts.SellsMethod = SellsMethods.SellsMethod
WHERE     (ReciptTypes.BedType = 1) AND (Recipts.ReciptState < 3)

                        UNION ALL
                        SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, Recipts.ReciptType, ReciptTypes.ReciptCaption, 
                      ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                      ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, 0 AS bed, ReciptItems.TotallSellPrice AS Bes, 
                      3 AS kind, Recipts.StoreID, ReciptItems.ItemNote, ReciptItems.StuffDiameter, ReciptItems.StuffSize, ReciptItems.UnitSellPrice, Recipts.ModifyDate, 
                      ReciptItems.ControlCode, Customers.CustName , LookUps.Code AS SecondTypeCode
                    , Recipts.PersonID2,  Customers2.CustName as CustName2, SellsMethods.SellsMethodName
                      , Recipts.ServerID, Recipts.YearID
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                      Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode ON ReciptItems.StuffCode = StuffCoding.c_StuffCode LEFT OUTER JOIN
                      LookUps ON Recipts.SecondType = LookUps.LookUpID
                      LEFT OUTER JOIN  Customers ON Recipts.PersonID1 = Customers.CustID
                      LEFT OUTER JOIN  Customers as Customers2 ON Recipts.PersonID2 = Customers2.CustID
                      LEFT OUTER JOIN SellsMethods ON Recipts.SellsMethod = SellsMethods.SellsMethod
WHERE     (Recipts.ReciptState < 3) AND (ReciptTypes.BesType = 1)
UNION ALL  

SELECT     PersonID1, ReciptID, ReciptNumber, ReciptDate, ReciptType, ReciptCaption, StuffCode, c_StuffName, UnitName, entity, weight, bed, bes, kind, StoreID, 
                      ItemNote, StuffDiameter, StuffSize, UnitSellPrice, ModifyDate,0 as ControlCode,  CustName,  SecondTypeCode, PersonID2, CustName2, SellsMethodName
                      , ServerID, YearID
                      

FROM         GetReciptsDeficits() GetReciptsDeficits
) AccTran  
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW YearCustomerSellPrice 
AS
SELECT     TOP 100 PERCENT AccCustomer.PersonID1, SUM(AccCustomer.bed - AccCustomer.bes) AS balance
FROM         (SELECT     PersonID1, ReciptID, reciptType, ReciptNumber, ReciptDate, ReciptCaption, ItemNote, bed, bes, kind
                        FROM         (SELECT     *
                                                FROM         CustomerTrancationsItemsSellPrice
                                                UNION ALL
                                                SELECT     *
                                                FROM         cashTransactionItemsCust) custTransaction
                        UNION ALL
                        SELECT     CustID, 0 AS ReciptID, 0 AS recipttype, 0 AS ReciptNumber, '' AS ReciptDate, ' ' AS ReciptCaption, ' ??? ?? ??? ' AS ReciptNote, SUM(bed) 
                                              AS bed, SUM(bes) AS bes, 0 AS kind
                        FROM         (SELECT     CustID, 0 AS ReciptID, 0 AS recipttype, 0 AS ReciptNumber, '' AS ReciptDate, ' ' AS ReciptCaption, ' ??? ?? ??? ' AS ReciptNote, 
                                                                      firstBalance AS bed, 0 AS bes, 0 AS kind
                                                FROM         customers
                                                WHERE     firstBalance > 0
                                                UNION ALL
                                                SELECT     CustID, 0 AS ReciptID, 0 AS recipttype, 0 AS ReciptNumber, '' AS ReciptDate, ' ' AS ReciptCaption, ' ??? ?? ??? ' AS ReciptNote, 
                                                                      0 AS bed, - 1 * firstBalance AS bes, 0 AS kind
                                                FROM         customers
                                                WHERE     firstBalance < 0) firstBalance
                        GROUP BY CustID) AccCustomer LEFT OUTER JOIN
                      Customers ON AccCustomer.PersonID1 = Customers.CustID
GROUP BY AccCustomer.PersonID1
ORDER BY AccCustomer.PersonID1
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION ReMainPerson (@FormID int=1, @ServerID int=0, @YearID int=88 ,@FormDate varchar(20)=[99/99/99],@PersonID varchar(20))
RETURNS money 
begin
DECLARE @ReMain money
set @ReMain=(SELECT sum(Bed)-sum(Bes) as ReMain
 from(
(SELECT Recipts.PersonID1 as PersonID,
       sum((CASE ReciptTypes.BedType WHEN 1 THEN  ReciptItems.TotalInputPrice+ReciptItems.TotalOutputPrice
                                    ELSE 0 END)) as Bed, 
       sum((CASE ReciptTypes.BesType WHEN 1 THEN  ReciptItems.TotalInputPrice+ReciptItems.TotalOutputPrice
                                    ELSE 0 END)) as Bes
FROM ReciptItems INNER JOIN
     Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
     ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE ((ReciptTypes.BedType = 1) OR (ReciptTypes.BesType = 1))--And(Recipts.ReciptID<>:ReciptID)
      And(Recipts.ReciptState<3)
GROUP BY Recipts.PersonID1)
union all
(SELECT  Forms.CustomerID1 as PersonID,
       sum((CASE  FormTypes.BedBes WHEN 1 THEN   FormItems.ItemAmount ELSE 0 END)) as Bed,
       sum((CASE  FormTypes.BedBes WHEN 0 THEN   FormItems.ItemAmount ELSE 0 END)) as Bes
FROM    FormItems INNER JOIN
        Forms ON  FormItems.FormID =  Forms.FormID INNER JOIN
        FormTypes ON  Forms.FormType =  FormTypes.FormType
WHERE ( FormTypes.Customer1DocType = 10)And(Forms.FormID<>@FormID or Forms.ServerID <> @ServerID or  Forms.YearID <> @YearID )
         And(Forms.FormDate<@FormDate)
                 And(Forms.FormState < 10)
GROUP BY  Forms.CustomerID1)
union all
(SELECT  Forms.CustomerID2 as PersonID,
        sum((CASE  FormTypes.BedBes WHEN 0 THEN   FormItems.ItemAmount ELSE 0 END)) as Bed,
        sum((CASE  FormTypes.BedBes WHEN 1 THEN   FormItems.ItemAmount ELSE 0 END)) as Bes
FROM     FormItems INNER JOIN
         Forms ON  FormItems.FormID =  Forms.FormID INNER JOIN
         FormTypes ON  Forms.FormType =  FormTypes.FormType
WHERE  ( FormTypes.Customer2DocType = 10)And(Forms.FormID<>@FormID or Forms.ServerID <> @ServerID or  Forms.YearID <> @YearID )And(Forms.FormDate<@FormDate)
                And(Forms.FormState < 10)
GROUP BY  Forms.CustomerID2)
union all
(SELECT  Forms.CustomerID1 as PersonID,
       sum((CASE  FormTypes.BedBes WHEN 1 THEN   Forms.Amount ELSE 0 END)) as Bed,
       sum((CASE  FormTypes.BedBes WHEN 0 THEN   Forms.Amount ELSE 0 END)) as Bes
FROM          Forms INNER JOIN
                       FormTypes ON  Forms.FormType =  FormTypes.FormType
WHERE ( FormTypes.Customer1DocType = 10) and( FormTypes.DisplayFormType=0)
       And(Forms.FormID<>@FormID or ServerID <> @ServerID or  YearID <> @YearID )And(Forms.FormDate<@FormDate) And(Forms.FormState < 10)
GROUP BY  Forms.CustomerID1)
union all
(SELECT  Forms.CustomerID2 as PersonID,
       sum((CASE  FormTypes.BedBes WHEN 0 THEN   Forms.Amount ELSE 0 END)) as Bed,
       sum((CASE  FormTypes.BedBes WHEN 1 THEN   Forms.Amount ELSE 0 END)) as Bes
FROM          Forms INNER JOIN
                       FormTypes ON  Forms.FormType =  FormTypes.FormType
WHERE  ( FormTypes.Customer2DocType = 10)and( FormTypes.DisplayFormType=0)
        And(Forms.FormID<>@FormID or ServerID <> @ServerID or  YearID <> @YearID )And(Forms.FormDate<@FormDate) And(Forms.FormState < 10)
GROUP BY  Forms.CustomerID2)
union all
SELECT     Recipts.PersonID1, SUM(ReciptsDeficits.DeficitAdd) AS Bed, SUM(ReciptsDeficits.DeficitDec) AS Bes
FROM         ReciptsDeficits INNER JOIN
                      Recipts ON ReciptsDeficits.ReciptID = Recipts.ReciptID
WHERE (Recipts.ReciptState<3)--And(Recipts.ReciptID<>:ReciptID2)
GROUP BY ReciptsDeficits.ReciptID, Recipts.PersonID1

)ReMain
WHERE (PersonID = @PersonID)
GROUP BY PersonID
--ORDER BY PersonID
)
set @ReMain=isnull(@ReMain,0)+(SELECT isnull(FirstBalance,0) FROM Customers WHERE CustID=@PersonID)
RETURN(@ReMain)
end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
--------------------------------------------------------------
--------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION [dbo].[ReMainPerson2] (@ReciptID int=1, @ServerID int=0, @YearID int=88, @Date varchar(20)=[99/99/99], @PersonID int=0 )
RETURNS money 
begin
DECLARE @ReMain money
set @ReMain=
(SELECT sum(Bed)-sum(Bes) as ReMain from (
SELECT PersonID1,Bed,Bes FROM(
SELECT PersonID1,bed,bes FROM CustomerTrancationsItems WHERE ((ReciptID<>@ReciptID) or (ServerID<>@ServerID) or (YearID<>@YearID)) AND (ReciptDate<=@Date)  
UNION ALL
SELECT CustomerID1,bed,bes FROM cashTransactionItemsCust WHERE (FormDate<=@Date) )a
UNION ALL
SELECT CustID as PersonID ,isnull(FirstBalance,0) as Bed ,0 as Bes FROM Customers)R
WHERE PersonID1 = @PersonID)
RETURN(@ReMain)
end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
-------------------------------------------------
--------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW CustomerTrancationsItems
AS
SELECT     PersonID1, ReciptID, ReciptNumber, ReciptDate, ReciptType, ReciptCaption, '0' AS CheckNo, '' AS CheckDate,'' as BankName, StuffCode, c_StuffName, UnitName, entity, 
                      weight, bed, bes, kind, StoreID, ItemNote,StuffDiameter, StuffSize,UnitSellPrice,ModifyDate ,ControlCode , CustName,  SecondTypeCode
                      , PersonID2, CustName2, SellsMethodName, ServerID, YearID,ReciptItemID
 
FROM         (SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, Recipts.ReciptType, ReciptTypes.ReciptCaption, 
                      ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                      ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, ReciptItems.TotalInputPrice + ReciptItems.TotalOutputPrice AS bed, 
                      ReciptItems.TotalInputPrice - ReciptItems.TotalInputPrice AS bes, 3 AS kind, Recipts.StoreID,isnull(Recipts.ReciptNote,'')+' '+ isnull(ReciptItems.ItemNote,'') as ItemNote, ReciptItems.StuffDiameter, 
                      ReciptItems.StuffSize, ReciptItems.UnitSellPrice, Recipts.ModifyDate, ReciptItems.ControlCode, Customers.CustName as CustName, LookUps.Code AS SecondTypeCode
                      , Recipts.PersonID2,  Customers2.CustName as CustName2, SellsMethods.SellsMethodName, Recipts.ServerID, Recipts.YearID ,ReciptItemID

FROM         Recipts INNER JOIN
                      ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND Recipts.YearID = ReciptItems.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                      Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode ON ReciptItems.StuffCode = StuffCoding.c_StuffCode LEFT OUTER JOIN
                      LookUps ON Recipts.SecondType = LookUps.LookUpID
                      LEFT OUTER JOIN  Customers ON Recipts.PersonID1 = Customers.CustID
                      LEFT OUTER JOIN  Customers as Customers2 ON Recipts.PersonID2 = Customers2.CustID
                      LEFT OUTER JOIN  SellsMethods ON Recipts.SellsMethod = SellsMethods.SellsMethod

WHERE     (ReciptTypes.BedType = 1) AND (Recipts.ReciptState < 3)

                        UNION ALL
                        SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, Recipts.ReciptType, ReciptTypes.ReciptCaption, 
                      ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                      ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, 0 AS bed, ReciptItems.TotalInputPrice + ReciptItems.TotalOutputPrice AS Bes, 
                      3 AS kind, Recipts.StoreID, isnull(Recipts.ReciptNote,'')+ ' '+isnull(ReciptItems.ItemNote,'') as ItemNote, ReciptItems.StuffDiameter, ReciptItems.StuffSize, ReciptItems.UnitSellPrice, Recipts.ModifyDate, 
                      ReciptItems.ControlCode, Customers.CustName as CustName,  LookUps.Code AS SecondTypeCode
                      , Recipts.PersonID2, Customers2.CustName as CustName2, SellsMethods.SellsMethodName, Recipts.ServerID, Recipts.YearID ,ReciptItemID

                       FROM   Recipts INNER JOIN
                      ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND Recipts.YearID = ReciptItems.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                      Units INNER JOIN
                      StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode ON ReciptItems.StuffCode = StuffCoding.c_StuffCode LEFT OUTER JOIN
                      LookUps ON Recipts.SecondType = LookUps.LookUpID LEFT OUTER JOIN  
                      Customers ON Recipts.PersonID1 = Customers.CustID LEFT OUTER JOIN  
                      Customers as Customers2 ON Recipts.PersonID2 = Customers2.CustID LEFT OUTER JOIN 
                      SellsMethods ON Recipts.SellsMethod = SellsMethods.SellsMethod
                       WHERE     (Recipts.ReciptState < 3) AND (ReciptTypes.BesType = 1)
                        UNION ALL  
SELECT     PersonID1, ReciptID, ReciptNumber, ReciptDate, ReciptType, ReciptCaption, StuffCode, c_StuffName, UnitName, entity, weight, bed, bes, kind, StoreID, 
                      ItemNote, StuffDiameter, StuffSize, UnitSellPrice, ModifyDate,0 as ControlCode, CustName,  SecondTypeCode, PersonID2, CustName2, SellsMethodName, ServerID, YearID ,0 as ReciptItemID

FROM         GetReciptsDeficits() GetReciptsDeficits
) AccTran  
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW CustomerTrancations
AS
SELECT     *
FROM(SELECT Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, SUM(ReciptItems.TotalInputPrice) + SUM(ReciptItems.TotalOutputPrice) 
                      - SUM(ISNULL(ReciptItems.DeficitValue+ReciptItems.DeficitValue2+ReciptItems.DeficitValue4+ReciptItems.DeficitValue3, 0)) 
                      + ISNULL
                          ((SELECT     SUM(DeficitAdd) - SUM(DeficitDec) AS DeficitAdd_Dec
                              FROM          ReciptsDeficits
                              where  ReciptID = Recipts.ReciptID and  ServerID = Recipts.ServerID and  YearID = Recipts.YearID
                              GROUP BY ReciptID), 0) AS bed, SUM(0) AS bes, 3 AS kind, Recipts.StoreID AS StoreIDForShow
, Recipts.ServerID, Recipts.YearID
                              
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BedType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID, Recipts.ServerID, Recipts.YearID
UNION ALL
SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, SUM(0) AS bed, SUM(ReciptItems.TotalInputPrice) 
                      + SUM(ReciptItems.TotalOutputPrice) + ISNULL
                          ((SELECT     SUM(DeficitAdd) - SUM(DeficitDec) AS DeficitAdd_Dec
                              FROM          ReciptsDeficits
                              where  ReciptID = Recipts.ReciptID and  ServerID = Recipts.ServerID and  YearID = Recipts.YearID
                              GROUP BY ReciptID), 0) AS Bes, 3 AS kind, Recipts.StoreID AS StoreIDForShow
, Recipts.ServerID, Recipts.YearID
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BesType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID, Recipts.ServerID, Recipts.YearID) Acc

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW CustomerTrancationsSellPrice
AS
SELECT     *
FROM(SELECT Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, SUM(ReciptItems.TotallSellPrice) 
                      + ISNULL
                          ((SELECT     SUM(DeficitAdd) - SUM(DeficitDec) AS DeficitAdd_Dec
                              FROM          ReciptsDeficits
                              GROUP BY ReciptID
                              HAVING      ReciptID = Recipts.ReciptID), 0) AS bed, SUM(0) AS bes, 3 AS kind, Recipts.StoreID AS StoreIDForShow
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BedType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID
UNION ALL
SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, SUM(0) AS bed, SUM(ReciptItems.TotallSellPrice) 
                       + ISNULL
                          ((SELECT     SUM(DeficitAdd) - SUM(DeficitDec) AS DeficitAdd_Dec
                              FROM          ReciptsDeficits
                              GROUP BY ReciptID
                              HAVING      ReciptID = Recipts.ReciptID), 0) AS Bes, 3 AS kind, Recipts.StoreID AS StoreIDForShow
FROM         ReciptItems INNER JOIN
                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
WHERE     (ReciptTypes.BesType = 1)AND (Recipts.ReciptState < 3)
GROUP BY Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, 
                      ReciptTypes.ReciptCaption, Recipts.ReciptNote, Recipts.StoreID) Acc

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW CustomerTrancationsDetails
AS
SELECT     AccTran.*, Customers.CustName AS CustName
FROM         (SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, ReciptTypes.ReciptType, 
                                              ReciptTypes.ReciptCaption, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, StuffSize, StuffDiameter, 
                                              StuffAlloy, ControlCode, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                                              ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, 
                                              ReciptItems.TotalInputPrice + ReciptItems.TotalOutputPrice + ISNULL(ReciptsDeficits.DeficitAdd - ReciptsDeficits.DeficitDec,
                                               0) AS bed, ReciptItems.TotalOutputPrice - ReciptItems.TotalOutputPrice AS bes, 3 AS kind, Recipts.StoreID
                        FROM         ReciptsDeficits RIGHT OUTER JOIN
                                              ReciptItems INNER JOIN
                                              Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                                              ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType INNER JOIN
                                              Units INNER JOIN
                                              StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode ON ReciptItems.StuffCode = StuffCoding.c_StuffCode ON 
                                              ReciptsDeficits.ReciptID = Recipts.ReciptID
                        WHERE     (ReciptTypes.BedType = 1)
                        UNION ALL
                        SELECT     Recipts.PersonID1, Recipts.ReciptID, Recipts.ReciptNumber, Recipts.ReciptDate, ReciptTypes.ReciptType, 
                                              ReciptTypes.ReciptCaption, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, StuffSize, StuffDiameter, 
                                              StuffAlloy, ControlCode, ReciptItems.InputEntity + ReciptItems.OutputEntity AS entity, 
                                              ReciptItems.InputWeight + ReciptItems.OutputWeight AS weight, 0 AS bed, 
                                              ReciptItems.TotalInputPrice + ReciptItems.TotalOutputPrice + ISNULL(ReciptsDeficits.DeficitAdd - ReciptsDeficits.DeficitDec,
                                               0) AS Bes, 3 AS kind, Recipts.StoreID
                        FROM         Units INNER JOIN
                                              StuffCoding ON Units.UnitCode = StuffCoding.n_UnitCode CROSS JOIN
                                              ReciptItems INNER JOIN
                                              Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                                              ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType LEFT OUTER JOIN
                                              ReciptsDeficits ON Recipts.ReciptID = ReciptsDeficits.ReciptID
                        WHERE     (ReciptTypes.BesType = 1)) AccTran INNER JOIN
                      Customers ON AccTran.PersonID1 = Customers.CustID
WHERE     (AccTran.PersonID1 BETWEEN 1 AND 999999) AND (AccTran.ReciptDate BETWEEN '0' AND '9999/99/99') 
      AND (AccTran.StuffCode BETWEEN 1 AND  999999)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
