--13  1402/11/25   
 
if exists (select * from sysobjects where id = object_id(N'[dbo].[MakeDocuments2_Check]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[MakeDocuments2_Check]
GO
if exists (select * from sysobjects where id = object_id(N'Fn_DarayiSells') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_DarayiSells
GO
if exists (select * from sysobjects where id = object_id(N'Fn_DarayiBuys') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_DarayiBuys
GO
if exists (select * from sysobjects where id = object_id(N'Fn_DarayiEjare') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_DarayiEjare
GO
if exists (select * from sysobjects where id = object_id(N'Fn_HagholAmalKari') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_HagholAmalKari
GO
if exists (select * from sysobjects where id = object_id(N'Fn_CheckCalc') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_CheckCalc
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION dbo.MakeDocuments2_Check (@AllDocAble Tinyint=0,@FormDateFrom varchar(10)='0000/00/00', @FormDateTo varchar(10)='9999/99/99',
				@FormNoFrom int=-9999999, @FormNoTo int =99999999 --, @FormType varchar (3)= [50] 
                                                    ,@CheckStateFrom varchar (12)=[0], @CheckStateTo varchar (12)=[99]
                                                    ,@SellsEmporiumFrom int=0,@SellsEmporiumTo int = 999999999 
                                                    ,@PayTypesFrom int=0,@PayTypesTo int = 999999999 
													,@MakeDocKind int =1  ,
				@AidDateFrom char(10)='0000/00/00', @AidDateTo char(10)='9999/99/99')
  RETURNS @retFindReports TABLE 
  (
	ID bigint ,
    FormItemID int ,
	FormID int ,
	CheckNumber char(15)   COLLATE DATABASE_DEFAULT ,
	CheckDate char(10)   COLLATE DATABASE_DEFAULT ,
	FormNumber int ,
	FormDate char(10)   COLLATE DATABASE_DEFAULT ,
	FormType tinyint ,
	FormCaption varchar(150)  COLLATE DATABASE_DEFAULT ,
	CheckType tinyint ,
	TopicCode bigint ,
	DetailCode int ,
	CtopicCode int ,
	CtopicCode2 int ,
	CtopicCode3 int ,
	debt money ,
	credit money ,
	bedbes int ,
	ItemNote varchar(1000)  COLLATE DATABASE_DEFAULT ,
	FomNote varchar(1000)  COLLATE DATABASE_DEFAULT ,
	Row int ,
	ServerID int ,
	YearID int ,
	CustName varchar(160),
	Tahator int ,
	ct1name varchar(160),
	CheckFor varchar(255),
	PO varchar(30),
	AidInfoNo float ,
	AidInfoDate char(10)   COLLATE DATABASE_DEFAULT ,
	AidInfoNoItem float ,
	AidInfoDateItem char(10)  COLLATE DATABASE_DEFAULT ,
	ArzTypeID int NULL  ,
	ArzAmount float ,
	BudgetCode int ,
	Currencydebit   decimal(18, 4),
	Currencycredit   decimal(18, 4),
	CurrencyRate   decimal(18, 4)

  )
  AS 	
BEGIN  
INSERT INTO @retFindReports
SELECT    ID, FormItemID, FormID, CheckNumber, CheckDate, FormNumber, FormDate, FormType, FormCaption, checkType,
                      TopicCode_Bed AS TopicCode, 
                      DetailCode_Bed AS DetailCode, CTopicCode_Bed AS CtopicCode, CTopicCode2_Bed AS CtopicCode2,
                     CTopicCode3_Bed AS CtopicCode3,
                       ItemAmount AS debt, 0 AS credit, 
                      0 AS bedbes,ItemNote,FomNote , row ,ServerID,YearID                     --, @FormType
					  ,CustName, 0 as Tahator,ct1name,CheckFor,PO
		 ,AidInfoNo,AidInfoDate, AidInfoNoItem , AidInfoDateItem,AMDC.ArzTypeID,AMDC.Arzamount,BudgetCode, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         Aid_MakeDocuments_Check(@AllDocAble ,@FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo,@CheckStateFrom, @CheckStateTo,@SellsEmporiumFrom ,@SellsEmporiumTo 
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind  ,@AidDateFrom , @AidDateTo  ) AMDC

UNION ALL

SELECT    ID, 0 as FormItemID,  FormID,'' as  CheckNumber,'' as  CheckDate, FormNumber, FormDate, FormType,
                      FormCaption, 0 as  checkType, TopicCode_Bes, DetailCode_Bes, 
                      CTopicCode_Bes, CTopicCode2_Bes, 
                     CTopicCode3_Bes AS CtopicCode3,
                      0 AS debt,
		 case when isnull(AMDC.ConstTopicCode_ArzBed,0) <>0
				and  isnull(AMDC.ConstTopicCode_ArzBes,0) <>0
		        and isnull( AMDC.RelatedRecipts  ,0) <>0
		 then isnull( round(AMDC.ArzAmountexchange * RialsEqual,0) ,0)   else  ItemAmount  end   AS credit,
					   1 AS bedbes,'' as ItemNote,FomNote , 9999 as row
                      ,AMDC.ServerID,AMDC.YearID
                                                                                  --@FormType,
		              ,CustName,case when ItemAmount<0 then 1 else 0 end  as tahator,
					  ct1name,CheckFor,po
		 ,AidInfoNo,AidInfoDate, AidInfoNoItem , AidInfoDateItem,AMDC.ArzTypeID,AMDC.Arzamount,BudgetCode, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM         Aid_MakeDocuments_Check(@AllDocAble ,@FormDateFrom, @FormDateTo, @FormNoFrom, @FormNoTo, @CheckStateFrom, @CheckStateTo,@SellsEmporiumFrom ,@SellsEmporiumTo
                               ,@PayTypesFrom ,@PayTypesTo ,@MakeDocKind  ,@AidDateFrom , @AidDateTo  ) AMDC	

UPDATE @retFindReports SET debt=ROUND(debt,0), credit=ROUND(credit,0)
     RETURN
END 
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  FUNCTION Fn_DarayiSells( 
  @Tax Float
, @TaxTown Float
, @Town Float
, @TaxTown1 Float
, @CustIdFrom int
, @CustIdTo int
, @StuffGrpFrom int
, @StuffGrpTo int
, @SeasonFrom int
, @SeasonTo int
, @DateFrom char(10)
, @DateTo char(10)
, @CustomerGrpIDFrom int
, @CustomerGrpIDTo int
, @SellsEmporiumFrom int
, @SellsEmporiumTo int
, @NotSellsEmporium varchar(2000) =''
, @YearIDFrom int
, @YearIDTo int
, @StoreID varchar(2000) ='21,32,31,30,26,20,0'
, @EconomicNumberNationalID int
, @StuffShow int =0
, @chkPriceParvane bit =1
, @StuffKindActive varchar(200) ='0,1'
, @ReciptsSecondType varchar(2000) ='21,32,31,30,26,20,0'
, @INSellsEmporium varchar(2000) =''
, @SellsMethodFrom int
, @SellsMethodTo int
, @NotSellsMethod varchar(2000) =''
, @INSellsMethod varchar(2000) ='' 
, @tax_status varchar(10) ='1,2'

)

RETURNS table  AS  
return (
   SELECT R.PersonID1, Customers.CustName, Customers.Address,len(Customers.Address) as LenAddress,
    Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode
	,case when @StuffShow = 0   then Ri.StuffCode 
          when @StuffShow = 200 then Cast(R.Reciptnumber AS BigInt)
          when @StuffShow = 201 then Cast(R.PersonID1 AS BigInt)
	    else Cast( StuffGroups.GroupID AS BigInt) end AS GroupID
	,case when @StuffShow = 0   then StuffCoding.c_StuffName 
          when @StuffShow = 200 then Customers.CustName
          when @StuffShow = 201 then Customers.CustName
	else StuffGroups.GroupName end AS c_StuffName
    , SUM ( case when ( ReciptTypes.CommissionActive = 2 and Ri.UnitCommission >0 ) then
    (Ri.InputEntity + Ri.OutputEntity ) * Ri.UnitCommission else
    CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END *(Ri.TotalOutputPrice + Ri.TotalInputPrice) end ) AS TotalOutputPrice
	,
    sum (CASE ReciptTypes.SellEffect WHEN 1 THEN
    - isnull(Ri.DeficitValue, 0)- Ri.DeficitValue2 - Ri.DeficitValue4 -  case when DiscountActive & 8 = 8 then 0 else  Ri.DeficitValue3 end
    ELSE + isnull(Ri.DeficitValue,0)+ Ri.DeficitValue2+ Ri.DeficitValue4 + Ri.DeficitValue3 END) as DeficitValue

, SUM ( case when ( ReciptTypes.CommissionActive = 2 and Ri.UnitCommission >0 ) then
    (Ri.InputEntity + Ri.OutputEntity ) * Ri.UnitCommission else
    CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END *(Ri.TotalOutputPrice + Ri.TotalInputPrice) end )
	-
	sum (CASE ReciptTypes.SellEffect WHEN 1 THEN
    - isnull(Ri.DeficitValue, 0)- Ri.DeficitValue2 - Ri.DeficitValue4 -  case when DiscountActive & 8 = 8 then 0 else  Ri.DeficitValue3 end
    ELSE + isnull(Ri.DeficitValue,0)+ Ri.DeficitValue2+ Ri.DeficitValue4 + Ri.DeficitValue3 END) 
	
	AS TotalOutputPriceDeficitValue

    , Customers.City, CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID
    , Customers.Tel
    , CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) AS TaxValue
    , ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) * CAST( @Tax AS
    Float) )/ CAST( @TaxTown AS Float) ,0) AS TaxValueOnTax
    , ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) * CAST( @Town AS
    Float))/ CAST( @TaxTown1 AS Float) ,0) AS TaxValueOnTown

    , CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TotallSellPrice)
    - SUM( case when ( ReciptTypes.CommissionActive =2 and Ri.UnitCommission >0 ) then
    Ri.TotalOutputPrice - Ri.TotalInputPrice else 0 end )
    - SUM(ISNULL(Ri.Portage, 0)) AS TotallSellPrice
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
    CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
    ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
    ,ReciptTypes.SellEffect
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  --	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,MAX(R.ReciptDate) AS ReciptDate
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,

	  
	  
	  SellsMethods.VajhTypes, StuffGroups.SarFaslType
      ,StuffGroups.KalaType

      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
     RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
      RT.LC_Date AS LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
	  ,RT.RTCarton,RT.RTWeight,RT.ArzType
	  ,case when @chkPriceParvane=1 then 
	     SUM(((( SD1Weight*InBox*OutputEntity)/1000)*StuffpublicPercentI))
		else 0.0 end AS Arz_PriceParvane 
	  ,SUM(ArzAmount)ArzAmount 
	  ,SUM(ArzAmount * RialsEqual) as MoadelRialiPrice

      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID


	  ,case when @chkPriceParvane=1 then 
             ROUND(SUM( (ISNULL(StuffCoding.StuffWeight,0)*(Ri.InputWeight + Ri.OutputWeight )/1000.0)
             *  ISNULL(Ri.StuffpublicPercentI,0)) * ISNULL(R.RialsEqual,0) ,0)
		else
            ROUND(SUM( (ISNULL(1,0)*(Ri.InputWeight + Ri.OutputWeight )/1000.0)
            *  ISNULL(Ri.StuffpublicPercentI,0)) * ISNULL(R.RialsEqual,0) ,0) end
	    AS PriceParvane
      --  AS PriceParvane // ISNULL(Ri.ArzRate,0) *
     ,ArzLookUps.Name AS ArzName,R.RialsEqual ,min( Ri.StuffpublicPercentI) AS StuffpublicPercentI ,SUM( ReciptItemSum_Darayi.SumTotalOutputPrice)SumTotalOutputPrice
	 ,sum(Ri.InputEntity+ri.OutputEntity) AS Entity ,SUM(Ri.InputWeight+ri.OutputWeight) AS Weight, AVG(Ri.UnitSellPrice) AS UnitSellPrice,
	 CASE R.tax_status WHEN 1 THEN 'ارسال شده'  WHEN 0 THEN 'خطا در ارسال' WHEN 2 THEN 'ارسال نا مشخص' ELSE '' END AS tax_statusNote
    FROM ReciptItems Ri INNER JOIN
    Recipts R ON R.ReciptID = Ri.ReciptID AND R.ServerID = Ri.ServerID AND
    R.YearID = Ri.YearID INNER JOIN
    Customers ON R.PersonID1 = Customers.CustID INNER JOIN
    StuffCoding ON Ri.StuffCode = StuffCoding.c_StuffCode INNER JOIN
    ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType INNER JOIN
    StuffGroups ON StuffCoding.GroupID = StuffGroups.GroupID
--   (SELECT DISTINCT CASE WHEN @StuffShow = 2 THEN StuffGroups_2.GroupID
--					     WHEN @StuffShow = 1 THEN StuffGroups_1.GroupID
--					                ELSE StuffGroups.GroupID END AS GroupID, StuffGroups.GroupName
--												  , StuffGroups_1.GroupID AS GroupID2, StuffGroups_1.GroupName AS GroupName2, 
--      StuffGroups_2.GroupID AS GroupID3, StuffGroups_2.GroupName AS GroupName3
--   ,StuffGroups.SarFaslType,StuffGroups.KalaType
--FROM            StuffGroups AS StuffGroups_2 INNER JOIN
--                         StuffGroups AS StuffGroups_1 ON StuffGroups_2.UperGroupId = StuffGroups_1.GroupID RIGHT OUTER JOIN
--                         StuffGroups ON StuffGroups_1.UperGroupId = StuffGroups.GroupID)as StuffGroups ON StuffCoding.GroupID =
						 
--			CASE WHEN @StuffShow = 2 THEN StuffGroups.GroupID3
--				WHEN @StuffShow = 1 THEN StuffGroups.GroupID2
--						            ELSE case when StuffGroups.GroupID = 0 then StuffGroups.GroupID3 else StuffGroups.GroupID end  END


    LEFT OUTER JOIN
    dbo.Zone ON Customers.CityCode = Zone.ShahrCode LEFT OUTER JOIN
    (SELECT DISTINCT OstanCode, Ostan
    FROM Zone) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode

      INNER JOIN SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod
      LEFT OUTER JOIN ReciptsTrades RT ON R.ReciptID = RT.ReciptID 
      AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID

    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID 
      INNER JOIN ReciptItemSum_Darayi ON R.ReciptID = ReciptItemSum_Darayi.ReciptID 
      AND R.ServerID = ReciptItemSum_Darayi.ServerID AND R.YearID = ReciptItemSum_Darayi.YearID


    WHERE (ReciptTypes.SellEffect <> 0) And
    (R.PersonID1 BETWEEN @CustIdFrom AND @CustIdTo) AND
    (StuffGroups.GroupID BETWEEN @StuffGrpFrom AND @StuffGrpTo)AND
    ( CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) AND
    ( R.ReciptDate BETWEEN @DateFrom AND @DateTo ) 
	AND ( Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo)
    AND ( R.ReciptState < 3)
--	AND ((@StuffKindActive='-1') or StuffCoding.OwnerShipKind in (select part from SplitString(@StuffKindActive,',') ))
	AND ((@StuffKindActive='-1') or exists( Select part From dbo.SplitString(@StuffKindActive,',') where part = StuffCoding.OwnerShipKind)) 
	AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 

    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))
    AND ((ISNULL(LEN(Customers.EconomicNumber) + LEN(Customers.NationalID), 0) <> 0) OR 0 = @EconomicNumberNationalID )
	AND ((@tax_status='-1') or exists( Select part From dbo.SplitString(@tax_status,',') where part =CASE WHEN R.tax_status = 1 THEN 1 ELSE 2 END)) 

    GROUP BY R.PersonID1, Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode,
    
    ReciptTypes.SellEffect, Customers.City, Customers.NationalID, Customers.Tel
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
      --,R.ReciptDate,R.Reciptnumber,
--	  --,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end 
		  
,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end,
	  SellsMethods.VajhTypes, StuffGroups.SarFaslType
      ,StuffGroups.KalaType
      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
      RT.Kotaj_Date, RT.LC_No, RT.LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
--, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end
	,case when @StuffShow = 201 then 0
	    else R.ServerID end 
		, R.YearID ,
	  
	  R.RialsEqual
	,case when @StuffShow = 0   then Ri.StuffCode 
          when @StuffShow = 200 then Cast(R.Reciptnumber AS BigInt)
          when @StuffShow = 201 then Cast(R.PersonID1 AS BigInt)
	    else Cast( StuffGroups.GroupID AS BigInt) end
	,case when @StuffShow = 0   then StuffCoding.c_StuffName 
          when @StuffShow = 200 then Customers.CustName
          when @StuffShow = 201 then Customers.CustName
	else StuffGroups.GroupName end 
	 ,ArzLookUps.Name ,R.RialsEqual--,ReciptItemSum_Darayi.SumTotalOutputPrice
    --ORDER BY ReciptTypes.SellEffect
	,R.tax_status
	UNION ALL 

SELECT R.PersonID1, Customers.CustName, 
Customers.Address,len(Customers.Address) as LenAddress,
Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode
, 0 AS GroupID,min(Deficits.DeficitName)+'...'+max(Deficits.DeficitName) AS c_StuffName
, SUM ( (ReciptsDeficits.DeficitAdd -ReciptsDeficits.DeficitDec) ) AS TotalOutputPrice
,0 as DeficitValue
, SUM ( (ReciptsDeficits.DeficitAdd -ReciptsDeficits.DeficitDec) ) AS TotalOutputPriceDeficitValue
, Customers.City, CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID
, Customers.Tel
, CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) AS TaxValue
, ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) * CAST( @Tax AS
Float) )/ CAST( @TaxTown AS Float) ,0) AS TaxValueOnTax
, ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) * CAST( @Town AS
Float))/ CAST( @TaxTown1 AS Float) ,0) AS TaxValueOnTown
, CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) AS TotallSellPrice
, Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
Customers.PerCityCode,
Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
,ReciptTypes.SellEffect
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	 -- 	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,max(R.ReciptDate) AS ReciptDate

	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,

SellsMethods.VajhTypes, 0 as SarFaslType
, 12 as  KalaType
, RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
RT.LC_Date AS LC_Date, 
RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
	  
	  , 0  AS Arz_PriceParvane 
	  ,SUM(ArzAmount)ArzAmount 
	  ,SUM(ArzAmount * RialsEqual) as MoadelRialiPrice


      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID
,0 * ISNULL(R.RialsEqual,0) AS PriceParvane     ,ArzLookUps.Name AS ArzName,R.RialsEqual,0.0 as StuffpublicPercentI
--,ReciptItemSum_Darayi.SumTotalOutputPrice
,SUM ( (ReciptsDeficits.DeficitAdd -ReciptsDeficits.DeficitDec) ) AS SumTotalOutputPrice
,0.0 AS Entity,0.0 AS Weight , 0 AS UnitSellPrice,CASE R.tax_status WHEN 1 THEN 'ارسال شده'  WHEN 0 THEN 'خطا در ارسال' WHEN 2 THEN 'ارسال نا مشخص' ELSE '' END AS tax_statusNote
FROM            Recipts R  INNER JOIN
                         Customers ON R.PersonID1 = Customers.CustID  INNER JOIN
                         ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType  LEFT OUTER JOIN
                         Zone ON Customers.CityCode = Zone.ShahrCode LEFT OUTER JOIN
                             (SELECT DISTINCT OstanCode, Ostan
                                FROM            Zone AS Zone_1) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode INNER JOIN
                         SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod INNER JOIN
                         ReciptsDeficits ON R.ReciptID = ReciptsDeficits.ReciptID AND R.ServerID = ReciptsDeficits.ServerID AND R.YearID = ReciptsDeficits.YearID LEFT OUTER JOIN
                         ReciptsTrades RT ON R.ReciptID = RT.ReciptID AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID
    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID JOIN
	Deficits ON Deficits.DeficitID = ReciptsDeficits.DeficitID
 --     INNER JOIN ReciptItemSum_Darayi ON R.ReciptID = ReciptItemSum_Darayi.ReciptID 
  --    AND R.ServerID = ReciptItemSum_Darayi.ServerID AND R.YearID = ReciptItemSum_Darayi.YearID
WHERE (ReciptTypes.SellEffect <> 0) AND (Deficits.TTMSActive = 1)
	And (R.PersonID1 BETWEEN @CustIdFrom AND @CustIdTo) 
	--AND (StuffGroups.GroupID BETWEEN @StuffGrpFrom AND @StuffGrpTo)
	AND (CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) 
	AND (R.ReciptDate BETWEEN @DateFrom AND @DateTo ) 
	AND (Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo)
    AND (R.ReciptState < 3)
	--AND ((@StuffKActive='-1') or StuffCoding.OwnerShipKind in (select part from SplitString(@StuffKindActive,',') ))
    AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 



    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))
    AND ((ISNULL(LEN(Customers.EconomicNumber) + LEN(Customers.NationalID), 0) <> 0) OR 0 = @EconomicNumberNationalID )
	AND ((@tax_status='-1') or exists( Select part From dbo.SplitString(@tax_status,',') where part =CASE WHEN R.tax_status = 1 THEN 1 ELSE 2 END)) 


GROUP BY R.PersonID1, Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode,

ReciptTypes.SellEffect, Customers.City, Customers.NationalID, Customers.Tel
, Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
Customers.PerCityCode,
Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	----,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end 
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end ,

SellsMethods.VajhTypes
, RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
RT.Kotaj_Date, RT.LC_No, RT.LC_Date, 
RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end 
	,case when @StuffShow = 201 then 0
	    else R.ServerID end 
		, R.YearID,
R.RialsEqual,R.tax_status
,ArzLookUps.Name--,ReciptItemSum_Darayi.SumTotalOutputPrice
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_DarayiBuys ( @FormType int ,
  @Tax Float
, @TaxTown Float
, @Town Float
, @TaxTown1 Float
, @CustIdFrom int
, @CustIdTo int
, @StuffGrpFrom int
, @StuffGrpTo int
, @SeasonFrom int
, @SeasonTo int
, @DateFrom char(10)
, @DateTo char(10)
, @CustomerGrpIDFrom int
, @CustomerGrpIDTo int
, @SellsEmporiumFrom int
, @SellsEmporiumTo int
, @NotSellsEmporium int
, @YearIDFrom int
, @YearIDTo int
, @StoreID  varchar(1000) ='21,32,31,30,26,20,0'
, @StuffShow int =0
, @StuffKindActive varchar(20) ='0,1'
, @ReciptsSecondType varchar(200) ='21,32,31,30,26,20,0'
, @INSellsEmporium varchar(2000) =''
, @SellsMethodFrom int
, @SellsMethodTo int
, @NotSellsMethod varchar(2000) =''
, @INSellsMethod varchar(2000) ='' 
)

RETURNS table  AS  
return (
    SELECT case when @FormType <> 0 then  Ri.PersonID1 else R.PersonID1 end as PersonID1, Customers.CustName, 
    Customers.Address ,len(Customers.Address) as LenAddress,
    Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode
		  
     	,case when @StuffShow = 0   then Ri.StuffCode 
          when @StuffShow = 200 then Cast(R.Reciptnumber AS BigInt)
          when @StuffShow = 201 then Cast(R.PersonID1 AS BigInt)
	    else Cast( StuffGroups.GroupID AS BigInt) end AS GroupID
	,case when @StuffShow = 0   then StuffCoding.c_StuffName 
          when @StuffShow = 200 then Customers.CustName
          when @StuffShow = 201 then Customers.CustName
	else StuffGroups.GroupName end AS c_StuffName



    ,SUM( Ri.TotalInputPrice -Ri.TotalOutputPrice )  AS TotalPrice
    ,SUM(case ReciptTypes.BuyEffect when 1 then - isnull(Ri.DeficitValue,0)- Ri.DeficitValue2 - Ri.DeficitValue4 - Ri.DeficitValue3
    else + isnull(Ri.DeficitValue,0)+ Ri.DeficitValue2 + Ri.DeficitValue4 + Ri.DeficitValue3 end) as DeficitValue
    , Customers.Tel , Customers.City ,
    CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID,

    case ReciptTypes.BuyEffect when 1 then 1 else - 1 end * SUM(Ri.TaxValue) AS TaxValue,
    ROUND( (case ReciptTypes.BuyEffect when 1 then 1 else - 1 end * SUM(Ri.TaxValue)* CAST( @Tax AS FLOAT)) /
    CAST( @TaxTown AS FLOAT) ,0) AS TaxValueOnTax,
    ROUND( (case ReciptTypes.BuyEffect when 1 then 1 else - 1 end * SUM(Ri.TaxValue)* CAST( @Town AS FLOAT))/
    CAST( @TaxTown1 AS FLOAT) ,0) AS TaxValueOnTown,

    case ReciptTypes.BuyEffect when 1 then 1 else - 1 end * SUM(Ri.TotallSellPrice)
    - SUM(ISNULL(Ri.Portage, 0)) AS TotallSellPrice  

    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
    CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
    ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
    ,Customers.HCForoushandeType1Code
    ,ReciptTypes.BuyEffect

      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,MAX(R.ReciptDate) AS ReciptDate
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,
	  
	  SellsMethods.VajhTypes, StuffGroups.SarFaslType
      ,StuffGroups.KalaType,ReciptTypes.SellEffect
	        --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID
    ,ArzLookUps.Name AS ArzName,R.RialsEqual      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
     RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
      RT.LC_Date AS LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
	  ,RT.RTCarton,RT.RTWeight,RT.ArzType
	  ,sum(Ri.InputEntity+ri.OutputEntity) AS Entity,SUM(Ri.InputWeight+ri.OutputWeight) AS Weight , AVG(Ri.UnitSellPrice) AS UnitSellPrice
	  , max(R.REFERENCENUMBER) AS REFERENCENUMBER

    FROM ReciptItems Ri INNER JOIN
    Recipts R ON R.ReciptID = Ri.ReciptID AND
    R.ServerID = Ri.ServerID AND R.YearID = Ri.YearID INNER
    JOIN
    Customers ON case when @FormType <> 0 then  Ri.PersonID1 else R.PersonID1 end = Customers.CustID INNER JOIN
    StuffCoding ON Ri.StuffCode = StuffCoding.c_StuffCode INNER JOIN
    ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType INNER JOIN
    StuffGroups ON StuffCoding.GroupID = StuffGroups.GroupID
--   (SELECT DISTINCT CASE WHEN @StuffShow = 2 THEN StuffGroups_2.GroupID
--					     WHEN @StuffShow = 1 THEN StuffGroups_1.GroupID
--					                ELSE StuffGroups.GroupID END AS GroupID, StuffGroups.GroupName
--												  , StuffGroups_1.GroupID AS GroupID2, StuffGroups_1.GroupName AS GroupName2, 
--      StuffGroups_2.GroupID AS GroupID3, StuffGroups_2.GroupName AS GroupName3
--   ,StuffGroups.SarFaslType,StuffGroups.KalaType
--FROM            StuffGroups AS StuffGroups_2 INNER JOIN
--                         StuffGroups AS StuffGroups_1 ON StuffGroups_2.UperGroupId = StuffGroups_1.GroupID RIGHT OUTER JOIN
--                         StuffGroups ON StuffGroups_1.UperGroupId = StuffGroups.GroupID)as StuffGroups ON StuffCoding.GroupID =
						 
--			CASE WHEN @StuffShow = 2 THEN StuffGroups.GroupID3
--				WHEN @StuffShow = 1 THEN StuffGroups.GroupID2
--						            ELSE case when StuffGroups.GroupID = 0 then StuffGroups.GroupID3 else StuffGroups.GroupID end  END


    INNER JOIN
    Zone ON Customers.CityCode = Zone.ShahrCode INNER JOIN
    (SELECT DISTINCT OstanCode, Ostan
    FROM Zone) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode

      INNER JOIN SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod
    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID 
      LEFT OUTER JOIN ReciptsTrades RT ON R.ReciptID = RT.ReciptID 
      AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID


    WHERE (ReciptTypes.BuyEffect <> 0 )AND
    ( CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) AND
    ( R.ReciptDate BETWEEN @DateFrom AND @DateTo ) AND
    ( Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo) AND
    ( R.ReciptState < 3)

	AND ((@StuffKindActive='-1') or StuffCoding.OwnerShipKind in (select part from SplitString(@StuffKindActive,',') ))
	AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 

    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ( case when @FormType <> 0 then  Ri.PersonID1 else R.PersonID1 end BETWEEN @CustIdFrom AND @CustIdTo) 
    AND( StuffGroups.GroupID BETWEEN @StuffGrpFrom AND @StuffGrpTo)
    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))

    GROUP BY case when @FormType <> 0 then  Ri.PersonID1 else R.PersonID1 end, Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode,
    StuffGroups.GroupID,
    StuffGroups.GroupName, Customers.City, Customers.NationalID, Customers.Tel
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode,Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
    ,Customers.HCForoushandeType1Code

      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end 
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end ,
	  
	  SellsMethods.VajhTypes, StuffGroups.SarFaslType
      ,StuffGroups.KalaType

	,case when @StuffShow = 0   then Ri.StuffCode 
          when @StuffShow = 200 then Cast(R.Reciptnumber AS BigInt)
          when @StuffShow = 201 then Cast(R.PersonID1 AS BigInt)
	    else Cast( StuffGroups.GroupID AS BigInt) end
	,case when @StuffShow = 0   then StuffCoding.c_StuffName 
          when @StuffShow = 200 then Customers.CustName
          when @StuffShow = 201 then Customers.CustName
	else StuffGroups.GroupName end 

    ,ReciptTypes.BuyEffect
	      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  
	,case when @StuffShow = 201 then 0
	    else R.ServerID end 
		, R.YearID
	,ReciptTypes.SellEffect,ArzLookUps.Name,R.RialsEqual      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
     RT.Kotaj_Date , RT.LC_No,
      RT.LC_Date , 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
	  ,RT.RTCarton,RT.RTWeight,RT.ArzType

    --ORDER BY ReciptTypes.BuyEffect


	UNION ALL 

    SELECT R.PersonID1  as PersonID1, Customers.CustName, 
    Customers.Address ,len(Customers.Address) as LenAddress,
    Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode


, 0 AS GroupID,min(Deficits.DeficitName)+'...'+max(Deficits.DeficitName)  AS c_StuffName


, SUM ( (ReciptsDeficits.DeficitAdd -ReciptsDeficits.DeficitDec) ) AS TotalPrice
,0.0  as DeficitValue

    , Customers.Tel , Customers.City ,
    CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID,

    0 AS TaxValue,
    0 AS TaxValueOnTax,
    0 AS TaxValueOnTown,

    0.0 AS TotallSellPrice

    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
    CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
    ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
    ,Customers.HCForoushandeType1Code
    ,ReciptTypes.BuyEffect

      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,MAX(R.ReciptDate) AS ReciptDate
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,
	  
	  SellsMethods.VajhTypes, 0 as SarFaslType
      ,0 as KalaType,ReciptTypes.SellEffect
	        --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID
     ,ArzLookUps.Name AS ArzName,R.RialsEqual      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
     RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
      RT.LC_Date AS LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
	  ,RT.RTCarton,RT.RTWeight,RT.ArzType

	  ,0.0 AS Entity,0.0 AS Weight , 0 AS UnitSellPrice, max(R.REFERENCENUMBER) AS REFERENCENUMBER

    FROM  Recipts R  INNER  JOIN
    Customers ON R.PersonID1 = Customers.CustID  INNER JOIN
    ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType 
    INNER JOIN
    Zone ON Customers.CityCode = Zone.ShahrCode INNER JOIN
    (SELECT DISTINCT OstanCode, Ostan
    FROM Zone) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode

      INNER JOIN SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod INNER JOIN
                         ReciptsDeficits ON R.ReciptID = ReciptsDeficits.ReciptID AND R.ServerID = ReciptsDeficits.ServerID AND R.YearID = ReciptsDeficits.YearID
    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID  JOIN
	Deficits ON Deficits.DeficitID = ReciptsDeficits.DeficitID
      LEFT OUTER JOIN ReciptsTrades RT ON R.ReciptID = RT.ReciptID 
      AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID

    WHERE (ReciptTypes.BuyEffect <> 0 ) AND (Deficits.TTMSActive = 1) AND
    ( CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) AND
    ( R.ReciptDate BETWEEN @DateFrom AND @DateTo ) AND
    ( Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo) AND
    ( R.ReciptState < 3)


	AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 

    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ( R.PersonID1 BETWEEN @CustIdFrom AND @CustIdTo) 

    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))

    GROUP BY R.PersonID1 , Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber, Customers.NationalCode,
     Customers.City, Customers.NationalID, Customers.Tel
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode,Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
    ,Customers.HCForoushandeType1Code

      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end 
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end ,
	  
	  SellsMethods.VajhTypes


	        --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  
	,case when @StuffShow = 201 then 0
	    else R.ServerID end
		, R.YearID
    ,ReciptTypes.BuyEffect,ReciptTypes.SellEffect,ArzLookUps.Name,R.RialsEqual      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
     RT.Kotaj_Date , RT.LC_No,
      RT.LC_Date , 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
	  ,RT.RTCarton,RT.RTWeight,RT.ArzType

)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_DarayiEjare ( 
  @CustIdFrom int
, @CustIdTo int
, @SeasonFrom int
, @SeasonTo int
, @DateFrom char(10)
, @DateTo char(10)
, @CustomerGrpIDFrom int
, @CustomerGrpIDTo int
, @YearIDFrom int
, @YearIDTo int
, @ContractsStatus varchar(200) ='0,1,2,3,4,5'
 )

RETURNS table  AS  
return (
SELECT    Cn.EmployerId ,Cn.WorkShopId ,   Cn.CaseNo, Cn.ContractRow AS Radif, Cn.TarafeGharardadType, '' AS TedadShoraka, Cn.ContractNo AS GharardadNumber, Cn.ContractDate AS GharardadDate, Cn.GharardadTypeCode, Cn.EjariType, Cn.Tozih, Cn.Vasile, Cn.KarbariType, 
                         Melk.StateCode AS Melk_StateCode, Melk.CityCode AS Melk_CityCode, Melk.Address AS Melk_Address, Melk.PostalCode AS Melk_PostCode, Melk.PerCityCode AS Melk_TellPishCode, Melk.Tel AS Melk_Tell, 
                         Melk.PelakSabtiAsli, Melk.PelakSabtiFari, Melk.ReagentName AS BakhshSabti, Melk.RegisterNumber AS ShenaseMelk, Cn.MozuType, Cn.ContractBasePrice AS NaKhales, Taraf.HCKharidarTypeCode AS T_TypeCode, 
                         Taraf.T_Tabeiat, Taraf.CustFirstName AS T_Name, Taraf.CustName AS T_LastNameSherkatName, Taraf.EconomicNumber AS T_EconomicNO, Taraf.NationalID AS T_NationalCode, Taraf.PerCityCode AS T_TellPishCode, 
                         Taraf.Tel AS T_Tell, Taraf.StateCode AS T_StateCode, Taraf.CityCode AS T_CityCode, Taraf.Address AS T_Address, Taraf.PostalCode AS T_PostCode
FROM            Cnt.Contracts AS Cn INNER JOIN
                         Customers AS Taraf ON Cn.EmployerId = Taraf.CustID INNER JOIN
                         Customers AS Melk ON Cn.WorkShopId = Melk.CustID
WHERE        (Cn.CaseNo <> 0) AND (Cn.FromType = 145)
     And   (Cn.EmployerId BETWEEN @CustIdFrom AND @CustIdTo) 
	 AND    ( CAST(SUBSTRING(Cn.ContractDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) AND
    ( Cn.ContractDate BETWEEN @DateFrom AND @DateTo ) 
	AND ( CN.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo)
	AND ((@ContractsStatus='-1') or Cn.ContractsStatus in (select part from SplitString(@ContractsStatus,',') ))
    AND (Cn.YearID BETWEEN @YearIDFrom AND @YearIDTo)


--ORDER BY Cn.CaseNo


)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION [dbo].[Fn_HagholAmalKari] ( 
  @Tax Float
, @TaxTown Float
, @Town Float
, @TaxTown1 Float
, @CustIdFrom int
, @CustIdTo int
, @StuffGrpFrom int
, @StuffGrpTo int
, @SeasonFrom int
, @SeasonTo int
, @DateFrom char(10)
, @DateTo char(10)
, @CustomerGrpIDFrom int
, @CustomerGrpIDTo int
, @SellsEmporiumFrom int
, @SellsEmporiumTo int
, @NotSellsEmporium varchar(2000) =''
, @YearIDFrom int
, @YearIDTo int
, @StoreID varchar(2000) ='21,32,31,30,26,20,0'
, @EconomicNumberNationalID int
, @StuffShow int =0
, @chkPriceParvane bit =1
, @StuffKindActive varchar(200) ='0,1'
, @ReciptsSecondType varchar(2000) ='21,32,31,30,26,20,0'
, @INSellsEmporium varchar(2000) =''
, @SellsMethodFrom int
, @SellsMethodTo int
, @NotSellsMethod varchar(2000) =''
, @INSellsMethod varchar(2000) ='' 
 )

RETURNS table  AS  
return (
   SELECT R.PersonID1, Customers.CustName, Customers.Address,len(Customers.Address) as LenAddress,
    Customers.PostalCode, Customers.EconomicNumber
	, cast (1 as bigint ) as GroupID
	, 'نام کالا' as c_StuffName
	--,case when @StuffShow=0 then Ri.StuffCode else Cast( StuffGroups.GroupID AS BigInt) end AS GroupID
	--,case when @StuffShow=0 then StuffCoding.c_StuffName else StuffGroups.GroupName end AS c_StuffName
    , SUM ( case when ( ReciptTypes.CommissionActive = 2 and Ri.UnitCommission >0 ) then
    (Ri.InputEntity + Ri.OutputEntity ) * Ri.UnitCommission else
    CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END *(Ri.TotalOutputPrice + Ri.TotalInputPrice) end ) AS TotalOutputPrice
	,
    sum (CASE ReciptTypes.SellEffect WHEN 1 THEN
    - isnull(Ri.DeficitValue, 0)- Ri.DeficitValue2 - Ri.DeficitValue4 -  case when DiscountActive & 8 = 8 then 0 else  Ri.DeficitValue3 end
    ELSE + isnull(Ri.DeficitValue,0)+ Ri.DeficitValue2 + Ri.DeficitValue4 + Ri.DeficitValue4 + Ri.DeficitValue3 END) as DeficitValue

    , Customers.City, CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID
    , Customers.Tel

    , CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) AS TaxValue
    , ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) * CAST( @Tax AS
    Float) )/ CAST( @TaxTown AS Float) ,0) AS TaxValueOnTax
    , ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TaxValue) * CAST( @Town AS
    Float))/ CAST( @TaxTown1 AS Float) ,0) AS TaxValueOnTown

    , CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(Ri.TotallSellPrice)
    - SUM( case when ( ReciptTypes.CommissionActive =2 and Ri.UnitCommission >0 ) then
    Ri.TotalOutputPrice - Ri.TotalInputPrice else 0 end )
    - SUM(ISNULL(Ri.Portage, 0)) AS TotallSellPrice
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
    CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
    ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
    ,ReciptTypes.SellEffect
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,MAX(R.ReciptDate) AS ReciptDate
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,
	  
	  SellsMethods.VajhTypes, 0 as SarFaslType
      ,0 as KalaType

      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
      RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
      RT.LC_Date AS LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType

            --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID

	  ,case when @chkPriceParvane=1 then 
             ROUND(SUM( (ISNULL(0,0)*(Ri.InputWeight + Ri.OutputWeight )/1000.0)
             *  ISNULL(Ri.StuffpublicPercentI,0)) * ISNULL(R.RialsEqual,0) ,0)
		else
            ROUND(SUM( (ISNULL(1,0)*(Ri.InputWeight + Ri.OutputWeight )/1000.0)
            *  ISNULL(Ri.StuffpublicPercentI,0)) * ISNULL(R.RialsEqual,0) ,0) end
	    AS PriceParvane
      --  AS PriceParvane // ISNULL(Ri.ArzRate,0) *
     ,ArzLookUps.Name AS ArzName,R.RialsEqual ,min( Ri.StuffpublicPercentI) AS StuffpublicPercentI
	 ,0  as SumTotalOutputPrice
	 ,
  ROUND(SUM( (InputEntity + OutputEntity) * UnitCommission +ROUND((InputWeight + OutputWeight) * Commission,0)+ TotalInputPrice + TotalOutputPrice) ,0) AS TotallCommissionTotalPrice
	 ,SUM(Ri.InputEntity+ri.OutputEntity) AS Entity,SUM(Ri.InputWeight+ri.OutputWeight) AS Weight , AVG(Ri.UnitSellPrice) AS UnitSellPrice
    FROM ReciptItems Ri INNER JOIN
    Recipts R ON R.ReciptID = Ri.ReciptID AND R.ServerID = Ri.ServerID AND
    R.YearID = Ri.YearID INNER JOIN
    Customers ON R.PersonID1 = Customers.CustID INNER JOIN
    --StuffCoding ON Ri.StuffCode = StuffCoding.c_StuffCode INNER JOIN
    ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType
	 --INNER JOIN  StuffGroups ON StuffCoding.GroupID = StuffGroups.GroupID
    LEFT OUTER JOIN
    Zone ON Customers.CityCode = Zone.ShahrCode LEFT OUTER JOIN
    (SELECT DISTINCT OstanCode, Ostan
    FROM Zone) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode

      INNER JOIN SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod
      LEFT OUTER JOIN ReciptsTrades RT ON R.ReciptID = RT.ReciptID 
      AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID

    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID 

    WHERE (ReciptTypes.SellEffect <> 0) And
    (R.PersonID1 BETWEEN @CustIdFrom AND @CustIdTo) AND
    --(StuffGroups.GroupID BETWEEN @StuffGrpFrom AND @StuffGrpTo)AND
    ( CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) AND
    ( R.ReciptDate BETWEEN @DateFrom AND @DateTo ) 
	AND ( Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo)
    AND ( R.ReciptState < 3)
	--AND ((@StuffKActive='-1') or StuffCoding.OwnerShipKind in (select part from SplitString(@StuffKindActive,',') ))
	AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 


    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))
    AND ((ISNULL(LEN(Customers.EconomicNumber) + LEN(Customers.NationalID), 0) <> 0) OR 0 = @EconomicNumberNationalID )

    GROUP BY R.PersonID1, Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber,
    --0 as GroupID,'' AS GroupName,
    ReciptTypes.SellEffect, Customers.City, Customers.NationalID, Customers.Tel
    , Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
    Customers.PerCityCode,
    Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end ,
	  SellsMethods.VajhTypes--, StuffGroups.SarFaslType      ,StuffGroups.KalaType
      , RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
      RT.Kotaj_Date, RT.LC_No, RT.LC_Date, 
      RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  
	,case when @StuffShow = 201 then 0
	    else R.ServerID end 
		, R.YearID ,	  R.RialsEqual
	--,case when @StuffShow=0 then Ri.StuffCode else Cast( StuffGroups.GroupID AS BigInt) end 
	--,case when @StuffShow=0 then StuffCoding.c_StuffName else StuffGroups.GroupName end 
	 ,ArzLookUps.Name ,R.RialsEqual
    --ORDER BY ReciptTypes.SellEffect
	UNION ALL 

SELECT R.PersonID1, Customers.CustName, 
Customers.Address,len(Customers.Address) as LenAddress,
Customers.PostalCode, Customers.EconomicNumber
, 0 AS GroupID,min(Deficits.DeficitName)+'...'+max(Deficits.DeficitName)  AS c_StuffName
, SUM ( (ReciptsDeficits.DeficitAdd -ReciptsDeficits.DeficitDec) ) AS TotalOutputPrice
,0 as DeficitValue
, Customers.City, CASE Customers.NationalID WHEN '0' THEN '' ELSE Customers.NationalID END AS NationalID
, Customers.Tel
, CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) AS TaxValue
, ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) * CAST( @Tax AS
Float) )/ CAST( @TaxTown AS Float) ,0) AS TaxValueOnTax
, ROUND((CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) * CAST( @Town AS
Float))/ CAST( @TaxTown1 AS Float) ,0) AS TaxValueOnTown
, CASE ReciptTypes.SellEffect WHEN 1 THEN 1 ELSE -1 END * SUM(0) AS TotallSellPrice
, Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
Customers.PerCityCode,
Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile,
CASE WHEN Customers.CustName LIKE N'%'+ ISNULL(Customers.CustFirstName, '') +'%' THEN Customers.CustName
ELSE Customers.CustName + ' ' + ISNULL(Customers.CustFirstName, '') END AS FullCustName
,ReciptTypes.SellEffect
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end AS ReciptDate
	  ,MAX(R.ReciptDate) AS ReciptDate
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end AS Reciptnumber,

SellsMethods.VajhTypes, 0 as SarFaslType
, 0 as  KalaType
, RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
RT.Kotaj_Date AS Kotaj_Date, RT.LC_No,
RT.LC_Date AS LC_Date, 
RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  AS ReciptID
	,case when @StuffShow = 201 then 0
	    else R.ServerID end ServerID
		, R.YearID
		,0 * ISNULL(R.RialsEqual,0) AS PriceParvane     ,ArzLookUps.Name AS ArzName,R.RialsEqual,0.0 as StuffpublicPercentI
 ,0.0  as SumTotalOutputPrice, 0 AS TotallCommissionTotalPrice
 ,0.0 AS Entity,0.0 AS Weight , 0 AS UnitSellPrice
FROM            Recipts R  INNER JOIN
                         Customers ON R.PersonID1 = Customers.CustID  INNER JOIN
                         ReciptTypes ON R.ReciptType = ReciptTypes.ReciptType  LEFT OUTER JOIN
                         Zone ON Customers.CityCode = Zone.ShahrCode LEFT OUTER JOIN
                             (SELECT DISTINCT OstanCode, Ostan
                                FROM            Zone AS Zone_1) AS Zone_StateCode ON Customers.StateCode = Zone_StateCode.OstanCode INNER JOIN
                         SellsMethods ON R.SellsMethod = SellsMethods.SellsMethod INNER JOIN
                         ReciptsDeficits ON R.ReciptID = ReciptsDeficits.ReciptID AND R.ServerID = ReciptsDeficits.ServerID AND R.YearID = ReciptsDeficits.YearID LEFT OUTER JOIN
                         ReciptsTrades RT ON R.ReciptID = RT.ReciptID AND R.ServerID = RT.ServerID AND R.YearID = RT.YearID
    LEFT OUTER JOIN  LookUps ArzLookUps ON R.ArzTypeID = ArzLookUps.LookUpID  JOIN
	Deficits ON Deficits.DeficitID = ReciptsDeficits.DeficitID
    WHERE (ReciptTypes.SellEffect <> 0)  AND (Deficits.TTMSActive = 1)
	And (R.PersonID1 BETWEEN @CustIdFrom AND @CustIdTo) 
	--AND (StuffGroups.GroupID BETWEEN @StuffGrpFrom AND @StuffGrpTo)
	AND (CAST(SUBSTRING(R.ReciptDate, 6, 2) AS int) BETWEEN @SeasonFrom AND @SeasonTo ) 
	AND (R.ReciptDate BETWEEN @DateFrom AND @DateTo ) 
	AND (Customers.CustomerGrpID BETWEEN @CustomerGrpIDFrom AND @CustomerGrpIDTo)
    AND (R.ReciptState < 3)
	--AND ((@StuffKActive='-1') or StuffCoding.OwnerShipKind in (select part from SplitString(@StuffKindActive,',') ))
    AND ((@ReciptsSecondType='-1') or R.SecondType in (select part from SplitString(@ReciptsSecondType,',') ))

    AND (R.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
    And ((@INSellsEmporium='-1') or exists( Select part From dbo.SplitString(@INSellsEmporium,',') where part = R.SellsEmporium)) 
    And ((@NotSellsEmporium='-1') or Not exists( Select part From dbo.SplitString(@NotSellsEmporium,',') where part = R.SellsEmporium)) 

    AND (R.SellsMethod BETWEEN @SellsMethodFrom AND @SellsMethodTo)
    And ((@INSellsMethod='-1') or exists( Select part From dbo.SplitString(@INSellsMethod,',') where part = R.SellsMethod)) 
    And ((@NotSellsMethod='-1') or Not exists( Select part From dbo.SplitString(@NotSellsMethod,',') where part = R.SellsMethod)) 


    AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND ((@StoreID='-1') or R.StoreID in (select part from SplitString(@StoreID,',') ))
    AND ((ISNULL(LEN(Customers.EconomicNumber) + LEN(Customers.NationalID), 0) <> 0) OR 0 = @EconomicNumberNationalID )


GROUP BY R.PersonID1, Customers.CustName, Customers.Address, Customers.PostalCode, Customers.EconomicNumber,

ReciptTypes.SellEffect, Customers.City, Customers.NationalID, Customers.Tel
, Customers.RegisterNumber, Customers.HCTarafGaradadTypeCode, Customers.HCKharidarTypeCode, Customers.CustFirstName,
Customers.PerCityCode,
Customers.StateCode, Customers.CityCode, Zone.Shahr, Zone_StateCode.Ostan, Customers.Mobile
      --,R.ReciptDate AS ReciptDate,R.Reciptnumber,
	  	--,case when @StuffShow = 201 then str(@YearIDFrom)+case when @SeasonFrom = 1 then '/03/31' when @SeasonFrom = 4 then '/06/31' when @SeasonFrom = 7 then '/09/30' else '/12/29' end	    else R.ReciptDate end 
	,case when @StuffShow = 201 then 0
	    else R.Reciptnumber end ,
SellsMethods.VajhTypes
, RT.ForoushType, RT.KeshvarCode, RT.Kotaj_No, 
RT.Kotaj_Date, RT.LC_No, RT.LC_Date, 
RT.Gomrok_Arzyabi,RT.Gomrok_khoruj,RT.AmountDeclaration,RT.AmountDeclarationArz
     ,RT.RTCarton,RT.RTWeight,RT.ArzType
      --, R.ReciptID, R.ServerID
	  ,case when @StuffShow = 201 then 0
	    else R.ReciptID end  
	,case when @StuffShow = 201 then 0
	    else R.ServerID end 
		, R.YearID,R.RialsEqual
,ArzLookUps.Name
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION Fn_CheckCalc (@YearID int =1397 ,@ServerID int=0,@ReciptID int=1)
    RETURNS @retFindReports TABLE 
  (
	FormCaption varchar(150)  COLLATE DATABASE_DEFAULT ,
	ReciptNumber int ,
	ReciptDate char(10),
	DefaultDate char(10),
	YearID int ,
	ServerID int ,
	ReciptID int ,
	FormID int ,
	Amount money 
  )
  AS 
BEGIN  
INSERT INTO @retFindReports


SELECT        'مبلغ فاکتور' AS Caption,R.ReciptNumber, ReciptDate,DefaultDate, T.YearID, T.ServerID, 0 AS FormID, T.ReciptID, SUM(T.TotallSellPrice) AS TotallSellPrice
FROM            ReciptItems AS T INNER JOIN
                         Recipts R ON T.ReciptID = R.ReciptID AND T.ServerID = R.ServerID AND T.YearID = R.YearID
WHERE        (T.YearID = @YearID) AND (T.ServerID = T.ServerID) AND (T.ReciptID = @ReciptID)
GROUP BY R.ReciptDate,R.ReciptNumber,T.ReciptID, T.ServerID, T.YearID,DefaultDate
union all 
SELECT     'مبلغ نقدی' AS Caption ,FormNumber ,FormDate ,DefaultDate , YearID, ServerID, FormID,    ReciptID, -Amount
FROM            Forms
WHERE        (ReciptID = @ReciptID ) AND (YearID = @YearID) AND (ServerID = ServerID)

INSERT INTO @retFindReports
  select   'باقی مانده' AS Caption ,0 as ReciptNumber,dbo.MiladiToShamsi(getdate()),max(DefaultDate), @YearID  as   YearID,@ServerID as ServerID,0 as  FormID, @ReciptID as   ReciptID,sum(Amount) as Amount
  from @retFindReports
     RETURN
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------




