--2  تاريخ 1402/11/01 
set nocount on

--declare 
--	 @sqltext varchar(max) ;
--SELECT @sqltext=AccountDBName FROM Config
--if not exists (select * from sysobjects where id = object_id(N'VU_BudgetTopics') and OBJECTPROPERTY(id, N'IsView') = 1)
----if exists (select * from sysobjects where id = object_id(N'Acc.BudgetTopics') and OBJECTPROPERTY(id, N'IsView') = 1)
--begin 
--if exists (select * from sysobjects where id = object_id(N'VU_BudgetTopics') and OBJECTPROPERTY(id, N'IsView') = 1)
--DROP VIEW VU_BudgetTopics
--set @sqltext ='create VIEW VU_BudgetTopics AS select * from '+@sqltext+'.Acc.BudgetTopics' ;
--execute(@sqltext) ;
--end ;



BEGIN TRY  
       BEGIN TRAN  
INSERT INTO StuffCodingStock
                         ( StoreID, StuffCode, MinOrder, MaxOrder, OrderPoint, OptimumPoint, DayOfStorage)

SELECT        StoreStuffs.n_StoreID, StoreStuffs.c_StuffCode, StuffCoding.n_minOrder, StuffCoding.n_maxOrder, StuffCoding.n_orderPoint, StuffCoding.OptimumPoint, StuffCoding.DayOfStorage
FROM            StuffCoding INNER JOIN
                         StoreStuffs ON StuffCoding.c_StuffCode = StoreStuffs.c_StuffCode
WHERE        (StuffCoding.n_minOrder IS NOT NULL) OR
                         (StuffCoding.n_maxOrder IS NOT NULL) OR
                         (StuffCoding.n_orderPoint IS NOT NULL) AND (StuffCoding.OptimumPoint IS NOT NULL) AND (StuffCoding.DayOfStorage IS NOT NULL)

update  StuffCoding 
set StuffCoding.n_minOrder =null  , StuffCoding.n_maxOrder = NULL,
                         StuffCoding.n_orderPoint= NULL , StuffCoding.OptimumPoint= NULL,StuffCoding.DayOfStorage= NULL
WHERE        (StuffCoding.n_minOrder IS NOT NULL) OR
                         (StuffCoding.n_maxOrder IS NOT NULL) OR
                         (StuffCoding.n_orderPoint IS NOT NULL) AND (StuffCoding.OptimumPoint IS NOT NULL) AND (StuffCoding.DayOfStorage IS NOT NULL)

       COMMIT TRAN  
END TRY  
BEGIN CATCH  
       ROLLBACK TRAN  
END CATCH 



IF (select count(*) from dbo.Miladi_Shamsi)=0    exec Make_Convert_Date_Table
if exists (select * from sysobjects where id = object_id(N'[dbo].[Aid_MakeDocuments_Coffer]') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION [dbo].Aid_MakeDocuments_Coffer
GO
--4--ACC-----------------4--ACC-----------------4--ACC-----------------4--ACC-----------------4--ACC---------------
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION dbo.Aid_MakeDocuments_Coffer(@AllDocAble Tinyint=0,@FormDateFrom varchar(10)=[00/00/00], @FormDateTo varchar(10)=[99/99/99],
				@FormNoFrom varchar (12)=[-9999999], @FormNoTo varchar (12)=[99999999],
				@CustNoFrom int=0 , @CustNoTo int=999999999 
				,@SellsEmporiumFrom int=0,@SellsEmporiumTo int = 999999999 
                                                    ,@PayTypesFrom int=0,@PayTypesTo int = 999999999 ,@MakeDocKind int =1 ,
				@AidDateFrom char(10)='0000/00/00', @AidDateTo char(10)='9999/99/99'  , @DateSelect int = 0)--, @FormType varchar (3)= [50]

  RETURNS @retFindReports TABLE 
  (
	ID Bigint ,
	FormType tinyint ,
	FormCaption varchar(150)  COLLATE DATABASE_DEFAULT ,
	FormID int ,
	FormNumber int ,
	FormDate char(10)   COLLATE DATABASE_DEFAULT ,
	Amount money ,
	AidInfoNo float ,
	AidInfoDate char(10)   COLLATE DATABASE_DEFAULT ,
	AidInfoNoItem float ,
	AidInfoDateItem char(10)   COLLATE DATABASE_DEFAULT ,
	FomNote varchar(1000)  COLLATE DATABASE_DEFAULT ,
	TopicCode_Bed bigint ,
	DetailCode_Bed int ,
	CTopicCode_Bed int ,
	CTopicCode2_Bed int ,
	CTopicCode3_Bed int ,
	TopicCode_Bes bigint ,
	DetailCode_Bes int ,
	CTopicCode_Bes int ,
	CTopicCode2_Bes int ,
	CTopicCode3_Bes int ,
	InfoUse4Bed tinyint ,
	InfoUse4Bes tinyint ,
	CashCheckFormID int ,
	ServerID int ,
	YearID int ,
	CustName1 varchar(220) ,
	CustName2 varchar(220) ,
	ArzAmount FLOAT,
	PO varchar(30)  ,
	ArzTypeID int NULL,
	BudgetCode int NULL,
	ProjectID int NULL

  )
  AS 
BEGIN  
INSERT INTO @retFindReports

SELECT   CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.ID END AS ID,FormTypes.FormType  ,  FormTypes.FormCaption
        ,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormID END AS FormID,
         CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormNumber END FormNumber, Forms.FormDate,
	 Forms.Amount, isnull(Forms.AidInfoNo,'') as AidInfoNo , isnull(Forms.AidInfoDate,'') as AidInfoDate,0 AidInfoNoItem,'' AidInfoDateItem, Forms.FomNote,
-------------------------------------------بدهکار سند حسابداري ---------------------------------------
--case when Forms.TopicCode >0 then Forms.TopicCode else 
 case  FormTypes.DefaultTopic_Bed 
	when 1 then case FormTypes.CustCodeUse4Bed--------  كد حساب -------------
			when 1 then 
				case when Customers_1.acc_TopicCode > 0 then Customers_1.acc_TopicCode 
					else CustomersGroup_1.acc_TopicCode end 
			when 2 then 
				case when Customers_2.acc_TopicCode > 0 then Customers_2.acc_TopicCode 
					else CustomersGroup_2.acc_TopicCode end 
			when 3 then 
				case when Customers_3.acc_TopicCode > 0 then Customers_3.acc_TopicCode 
					else CustomersGroup_3.acc_TopicCode end 
		    else 0 end 
	when 2  then case FormTypes.CustCodeUse4Bed ---- اسناد درجريان وصول----
			when 1 then CustomersGroup_1.acc_ReChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ReChecksTopicCode 
		    else 0 end 
	when 3  then case FormTypes.CustCodeUse4Bed ----اسناد دريافتني----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 
		    else 0 end 
	when 4  then case FormTypes.CustCodeUse4Bed ----اسناد واخواستي ----
			when 1 then CustomersGroup_1.acc_ReChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ReChecksTopicCode 
		    else 0 end 
	when 5  then case FormTypes.CustCodeUse4Bed ----اسناد تضميني ----
			when 1 then CustomersGroup_1.acc_CertifyTopicCode 
			when 2 then CustomersGroup_2.acc_CertifyTopicCode 
		    else 0 end 
	when 6  then case FormTypes.CustCodeUse4Bed --- اسناد پرداختني ----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 
		    else 0 end 
	when 7  then case FormTypes.CustCodeUse4Bed ----اسناد پرداختني خاص----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 
		    else 0 end 
	when 9  then Forms.TopicCode  ---کد حساب در فرم ----
	when 11  then LookUps_1.acc_TopicCode ---- موضوع دريافت و پرداخت 1------
	when 12  then LookUps_2.acc_TopicCode ---- موضوع دريافت و پرداخت 2------
	when 13  then FormTypes.ConstTopicCode_Bed ---- کد ثابت ------
--	when 15 then BT.AccCode -- کد حساب بر اساس کد بودجه 
else 0 end 
--end 
as TopicCode_Bed,
 case  FormTypes.DefaultDetail_Bed 
	when 1 then case FormTypes.CustCodeUse4Bed ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_DetailCode 
			when 2 then Customers_2.acc_DetailCode 
			when 3 then Customers_3.acc_DetailCode 
		    else 0 end 
	when 2 then LookUps_1.acc_DetailCode ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_DetailCode ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.DetailCode  ---کد حساب در فرم ----
--	when 8 then BT.DetailCode -- کد تفصیلی بر اساس کد بودجه 
else 0 end as DetailCode_Bed , 
 case  FormTypes.DefaultCTopic_Bed 
	when 1 then case FormTypes.CustCodeUse4Bed ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode 
			when 2 then CustomersGroup_2.acc_CTopicCode 
			when 3 then CustomersGroup_3.acc_CTopicCode 

		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode  ---کد حساب در فرم ----
	when 6 then case FormTypes.CustCodeUse4Bed ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode 
			when 2 then Customers_2.acc_CTopicCode 
			when 3 then Customers_3.acc_CTopicCode 
		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode 	
	
	when 8 then SellsEmporiums.CTopicCode	
	
	    
else 0 end as CTopicCode_Bed ,

 case  FormTypes.DefaultCTopic2_Bed 
	when 1 then case FormTypes.CustCodeUse4Bed ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode2 
			when 2 then CustomersGroup_2.acc_CTopicCode2 
			when 3 then CustomersGroup_3.acc_CTopicCode2 
		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode2  ---کد حساب در فرم ----

	when 6 then case FormTypes.CustCodeUse4Bed ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode2 
			when 2 then Customers_2.acc_CTopicCode2 
			when 3 then Customers_3.acc_CTopicCode2

		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode2 
else 0 end as CTopicCode2_Bed ,
 case  FormTypes.DefaultCTopic3_Bed 
	when 1 then case FormTypes.CustCodeUse4Bed ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode3
			when 2 then CustomersGroup_2.acc_CTopicCode3 
			when 3 then CustomersGroup_3.acc_CTopicCode3 
		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode3  ---کد حساب در فرم ----

	when 6 then case FormTypes.CustCodeUse4Bed ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode3
			when 2 then Customers_2.acc_CTopicCode3 
			when 3 then Customers_3.acc_CTopicCode3

		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode3	
else 0 end as CTopicCode3_Bed , 
---------------------------------------بستانکار سند حسابداري --------------------------------------
 case  FormTypes.DefaultTopic_Bes 
	when 1 then case FormTypes.CustCodeUse4BeS--------  كد حساب -------------
			when 1 then 
				case when Customers_1.acc_TopicCode > 0 then Customers_1.acc_TopicCode 
					else CustomersGroup_1.acc_TopicCode end 
			when 2 then 
				case when Customers_2.acc_TopicCode > 0 then Customers_2.acc_TopicCode 
					else CustomersGroup_2.acc_TopicCode end 
			when 3 then 
				case when Customers_3.acc_TopicCode > 0 then Customers_3.acc_TopicCode 
					else CustomersGroup_3.acc_TopicCode end 

		    else 0 end 
	when 2  then case FormTypes.CustCodeUse4Bes ---- اسناد درجريان وصول----
			when 1 then CustomersGroup_1.acc_ReChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ReChecksTopicCode 

		    else 0 end 
	when 3  then case FormTypes.CustCodeUse4Bes ----اسناد دريافتني----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 

		    else 0 end 
	when 4  then case FormTypes.CustCodeUse4Bes ----اسناد واخواستي ----
			when 1 then CustomersGroup_1.acc_ReChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ReChecksTopicCode 

		    else 0 end 
	when 5  then case FormTypes.CustCodeUse4Bes ----اسناد تضميني ----
			when 1 then CustomersGroup_1.acc_CertifyTopicCode 
			when 2 then CustomersGroup_2.acc_CertifyTopicCode 

		    else 0 end 
	when 6  then case FormTypes.CustCodeUse4Bes --- اسناد پرداختني ----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 

		    else 0 end 
	when 7  then case FormTypes.CustCodeUse4Bes ----اسناد پرداختني خاص----
			when 1 then CustomersGroup_1.acc_ChecksTopicCode 
			when 2 then CustomersGroup_2.acc_ChecksTopicCode 

		    else 0 end 

	when 9  then Forms.TopicCode  ---کد حساب در فرم ----

	when 11  then LookUps_1.acc_TopicCode ---- موضوع دريافت و پرداخت 1------
	when 12  then LookUps_2.acc_TopicCode ---- موضوع دريافت و پرداخت 2------
	when 13  then FormTypes.ConstTopicCode_Bes ---- کد ثابت ------
	--when 15 then BT.AccCode -- کد حساب بر اساس کد بودجه 

else 0 end as TopicCode_Bes,

 case  FormTypes.DefaultDetail_Bes 
	when 1 then case FormTypes.CustCodeUse4Bes ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_DetailCode 
			when 2 then Customers_2.acc_DetailCode 
			when 3 then Customers_3.acc_DetailCode 
		    else 0 end 
	when 2 then LookUps_1.acc_DetailCode ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_DetailCode ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.DetailCode  ---کد حساب در فرم ----
	--when 8 then BT.DetailCode -- کد تفصیلی بر اساس کد بودجه 
else 0 end as DetailCode_Bes , 
 case  FormTypes.DefaultCTopic_Bes 
	when 1 then case FormTypes.CustCodeUse4Bes ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode 
			when 2 then CustomersGroup_2.acc_CTopicCode 
			when 3 then CustomersGroup_3.acc_CTopicCode 

		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode  ---کد حساب در فرم ----

	when 6  then case FormTypes.CustCodeUse4Bes ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode 
			when 2 then Customers_2.acc_CTopicCode 
			when 3 then Customers_3.acc_CTopicCode 
		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode	
	when 8 then SellsEmporiums.CTopicCode	    
else 0 end as CTopicCode_Bes ,
 case  FormTypes.DefaultCTopic2_Bes 
	when 1 then case FormTypes.CustCodeUse4Bes ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode2 
			when 2 then CustomersGroup_2.acc_CTopicCode2 
			when 3 then CustomersGroup_3.acc_CTopicCode2 
		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode2  ---کد حساب در فرم ----

	when 6 then case FormTypes.CustCodeUse4Bes ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode2 
			when 2 then Customers_2.acc_CTopicCode2 
			when 3 then Customers_3.acc_CTopicCode2 
		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode2		    
else 0 end as CTopicCode2_Bes ,
 case  FormTypes.DefaultCTopic3_Bes 
	when 1 then case FormTypes.CustCodeUse4Bes ---- اطلاعات گروه مشتري ----
			when 1 then CustomersGroup_1.acc_CTopicCode3 
			when 2 then CustomersGroup_2.acc_CTopicCode3 
			when 3 then CustomersGroup_3.acc_CTopicCode3 
		    else 0 end 
	when 2 then LookUps_1.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 1------
	when 3 then LookUps_2.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 2------
	when 4  then Forms.CTopicCode3  ---کد حساب در فرم ----

	when 6 then case FormTypes.CustCodeUse4Bes ---- اطلاعات مشتري ----
			when 1 then Customers_1.acc_CTopicCode3 
			when 2 then Customers_2.acc_CTopicCode3 
			when 3 then Customers_3.acc_CTopicCode3 
		    else 0 end 
	when 7 then Customers_3.acc_CTopicCode3		    
else 0 end as CTopicCode3_Bes , FormTypes.InfoUse4Bed ,FormTypes.InfoUse4Bes, Forms.CashCheckFormID
,Forms.ServerID,Forms.YearID ,Customers_1.CustName AS CustName1 , Customers_2.CustName AS CustName2,isnull(Forms.ArzAmount,0) as ArzAmount,PO,Forms.ArzTypeID,forms.BudgetCode,forms.ProjectID
/*FROM         CustomersGroup CustomersGroup_2 INNER JOIN
                      Customers Customers_2 ON CustomersGroup_2.CustomerGrpID = Customers_2.CustomerGrpID RIGHT OUTER JOIN
                      Forms INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType LEFT OUTER JOIN
                      LookUps LookUps_1 ON Forms.PayTypes = LookUps_1.LookUpID LEFT OUTER JOIN
                      LookUps LookUps_2 ON Forms.TopicTypes = LookUps_2.LookUpID LEFT OUTER JOIN
                      CustomersGroup CustomersGroup_1 INNER JOIN
                      Customers Customers_1 ON CustomersGroup_1.CustomerGrpID = Customers_1.CustomerGrpID ON 
                      Forms.CustomerID1 = Customers_1.CustID ON Customers_2.CustID = Forms.CustomerID2
*/
FROM         LookUps LookUps_1 RIGHT OUTER JOIN
                      CustomersGroup CustomersGroup_1 INNER JOIN
                      Customers Customers_1 ON CustomersGroup_1.CustomerGrpID = Customers_1.CustomerGrpID RIGHT OUTER JOIN
                      Customers Customers_3 INNER JOIN
                      CustomersGroup CustomersGroup_3 ON Customers_3.CustomerGrpID = CustomersGroup_3.CustomerGrpID RIGHT OUTER JOIN
                      Forms INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType ON Customers_3.CustID = Forms.CustomerID3 ON 
                      Customers_1.CustID = Forms.CustomerID1 LEFT OUTER JOIN
                      CustomersGroup CustomersGroup_2 INNER JOIN
                      Customers Customers_2 ON CustomersGroup_2.CustomerGrpID = Customers_2.CustomerGrpID ON Forms.CustomerID2 = Customers_2.CustID ON 
                      LookUps_1.LookUpID = Forms.PayTypes LEFT OUTER JOIN
                      LookUps LookUps_2 ON Forms.TopicTypes = LookUps_2.LookUpID left outer join
					  SellsEmporiums on forms.SellsEmporium=SellsEmporiums.SellsEmporium and Forms.ServerID =SellsEmporiums.ServerID

		--LEFT OUTER JOIN dbo.VU_BudgetTopics BT on	Forms.BudgetCode	 = bt.[BudgetTopicID]

WHERE     (FormTypes.DisplayFormType = 0)	 AND
  	  ((Forms.DocNo =0)OR(@AllDocAble=1)) AND 
	 -- (FormTypes.FormType = @FormType) AND 
               (Forms.FormNumber BETWEEN @FormNoFrom AND @FormNoTo ) AND 
	  (Forms.FormDate BETWEEN @FormDateFrom  AND @FormDateTo ) 
	AND  (case when @DateSelect = 0 and  (ISNULL(Forms.AidInfoDate, '') = '') OR (Forms.AidInfoDate = '/  /') then 1 else 0 end = 1
	       OR (Forms.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo)
		 )

	  AND 
	  (Forms.FormState < 10) 
	AND  Forms.CustomerID1 between @CustNoFrom and @CustNoTo
     AND (Forms.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
     AND (Forms.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then Forms.FormState else FormTypes.FormStateDefault4Doc end) = Forms.FormState)

     RETURN
END
