--19  تاريخ 91/01/26    
--------------------------------------------------------------
---   انجام دهید FunAndView23 در صورت تغییر این اسکریپت ، همان تغییرات را بر روی
--------------------------------------------------------------

SET NOCOUNT ON
if exists (select * from sysobjects where id = object_id(N'[dbo].[FormItemsAmountLoan]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[FormItemsAmountLoan]
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[CalcLoan]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].CalcLoan
GO
if exists (select * from sysobjects where id = object_id(N'View_SahamVaSoodTaghsimi') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW View_SahamVaSoodTaghsimi
GO
IF OBJECT_ID ( 'SP_Cardex', 'P' ) IS NOT NULL DROP PROCEDURE SP_Cardex
GO
IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRecipt', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRecipt;
GO

IF OBJECT_ID ('TR_NotAllowDeleteTrans13OnRecipt', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans13OnRecipt;
GO

IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRItems', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRItems;
GO

IF OBJECT_ID ('TR_NotAllowUpdateTrans3OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowUpdateTrans3OnRDeficit;
GO

IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRItems', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans1OnRItems;
GO

IF OBJECT_ID ('TR_NotAllowDeleteTrans1OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowDeleteTrans1OnRDeficit;
GO

IF OBJECT_ID ('TR_NotAllowInsertTrans1OnRDeficit', 'TR') IS NOT NULL
   DROP TRIGGER TR_NotAllowInsertTrans1OnRDeficit;
GO


UPDATE Recipts SET 
PrvYearID = YearID
WHERE        (PrvYearID IS NULL) AND (ParentReciptID IS NULL)

UPDATE ReciptItems 
SET PrvYearID = YearID
WHERE        (PrvYearID IS NULL) AND (preReciptItemID IS NULL)

GO

--CREATE PROCEDURE SP_Cardex
--@StoreID INT ,@StuffCodeFrom BIGINT ,@StuffCodeTo BIGINT ,@ControlCodeFrom bigint ,@ControlCodeTo bigint ,
--@DateFrom Char(10) ,@DateTo Char(10) ,@DateFromRemain Char(10),@YearIDFrom INT ,@YearIDTo INT,
--@IsSum tinyint = 0 , @DiameterFrom Float=0, @DiameterTo float=99999,
--@PersonID3From INT=-999999999 ,@PersonID3To INT=999999999
--AS
--SET NOCOUNT ON
--DECLARE @RowInCardex INT;
--SELECT  @RowInCardex = RowInCardex FROM Config
--SELECT  CASE WHEN @RowInCardex in (1,3) THEN  dbo.GetRowReciptItems(ReciptItemID, ServerID, YearID )
--		ELSE 0 END AS Row,* 
--INTO #TempCardex FROM dbo.Cardex(@StoreID, @StuffCodeFrom, @StuffCodeTo, @ControlCodeFrom, @ControlCodeTo,
--                                            @DateFrom, @DateTo, @DateFromRemain, @YearIDFrom, @YearIDTo,
--                                            @DiameterFrom , @DiameterTo,
--											@PersonID3From ,@PersonID3To)
--ORDER BY StuffCode,ReciptDate, EffectType, ReciptNumber, ReciptType, ControlCode		
	
--IF @IsSum = 1
--BEGIN
--  SELECT 'جمع كل ' + STR(COUNT(*)) AS Row, SUM(InputEntity) AS InputEntity, SUM(InputWeight) AS InputWeight, 
--    SUM(TotalInputPrice) AS TotalInputPrice,SUM(OutputEntity) AS OutputEntity, SUM(OutputWeight) AS OutputWeight, 
--    SUM(TotalOutputPrice) AS TotalOutputPrice, SUM(BackLogEntity) AS BackLogEntity, SUM(BackLogWeight) AS BackLogWeight, 
--    SUM(BacklogPrice) AS BacklogPrice, SUM(InTotallSellPrice) AS InTotallSellPrice, SUM(OutTotallSellPrice) AS OutTotallSellPrice, 
--    SUM(InvTotallSellPrice) AS InvTotallSellPrice,  AVG(UnitSellPriceIn) AS UnitSellPriceIn, 
--    AVG(UnitSellPriceOut) AS UnitSellPriceOut, CAST(AVG(UnitSellPriceBackLog) AS Decimal(20,2)) AS UnitSellPriceBackLog, 
--    SUM(RegPrice) AS RegPrice
--	FROM #TempCardex 
--    RETURN
--END
--ELSE
--BEGIN
--  SELECT * FROM #TempCardex
--  ORDER BY StuffCode,ReciptDate, EffectType, ReciptNumber, ReciptType, ControlCode		
--  RETURN
--END

--GO

------------------------------------On Recipts For Update
CREATE TRIGGER TR_NotAllowUpdateTrans3OnRecipt
ON Recipts AFTER UPDATE 
AS
BEGIN
--IF EXISTS (SELECT i.ReciptID FROM  deleted d INNER JOIN 
--                  inserted i ON d.ReciptID=i.ReciptID AND d.ServerID=i.ServerID AND d.YearID=i.YearID
--           WHERE ( i.Transmittal = d.Transmittal) 
SET NOCOUNT ON;
if not(update(Transmittal) or update(ParentReciptID) or update(ParentCoReciptID) or update(PrvYearID))

IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID
           WHERE r.Transmittal=3)

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END
END
GO
------------------------------------On Recipts For Delete
CREATE TRIGGER TR_NotAllowDeleteTrans13OnRecipt
ON Recipts AFTER DELETE
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT ReciptID FROM  deleted  WHERE Transmittal IN(1,3))

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END 
END
GO
-------------------------------------On ReciptItems For Update
CREATE TRIGGER TR_NotAllowUpdateTrans3OnRItems
ON ReciptItems AFTER UPDATE , INSERT
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptItems i ON i.ReciptID=r.ReciptID AND i.ServerID=r.ServerID AND i.YearID=r.YearID INNER JOIN
                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END
ELSE 
IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptItems ri ON ri.ReciptID=r.ReciptID AND ri.ServerID=r.ServerID AND ri.YearID=r.YearID INNER JOIN
                  inserted i ON r.ReciptID=i.ReciptID AND r.ServerID=i.ServerID AND r.YearID=i.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END
END
GO
-------------------------------------On ReciptsDeficits For Update & Insert

CREATE TRIGGER TR_NotAllowUpdateTrans3OnRDeficit
ON ReciptsDeficits AFTER UPDATE , INSERT
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptsDeficits rd ON rd.ReciptID=r.ReciptID AND rd.ServerID=r.ServerID AND rd.YearID=r.YearID INNER JOIN
                  deleted d ON r.ReciptID=d.ReciptID AND r.ServerID=d.ServerID AND r.YearID=d.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END

ELSE IF EXISTS (SELECT r.ReciptID FROM  dbo.Recipts r INNER JOIN 
                  ReciptsDeficits rd ON rd.ReciptID = r.ReciptID AND rd.ServerID = r.ServerID AND rd.YearID = r.YearID INNER JOIN
                  inserted i ON r.ReciptID = i.ReciptID AND r.ServerID = i.ServerID AND r.YearID = i.YearID 
            WHERE r.Transmittal=3)
BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل ویرایش نمی باشند',16,1)
  ROLLBACK;
END
END
GO
-------------------------------------On ReciptItems For Delete

CREATE TRIGGER TR_NotAllowDeleteTrans1OnRItems
ON ReciptItems AFTER DELETE
AS
begin
SET NOCOUNT ON;
IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
            WHERE Transmittal IN(1,3))

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
  ROLLBACK;
END
end
GO
-------------------------------------On ReciptsDeficits For Delete

CREATE TRIGGER TR_NotAllowDeleteTrans1OnRDeficit
ON ReciptsDeficits AFTER DELETE
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
            WHERE Transmittal IN(1,3))

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
  ROLLBACK; 
END 
END
GO
-------------------------------------On ReciptsDeficits For Insert

CREATE TRIGGER TR_NotAllowInsertTrans1OnRDeficit
ON ReciptsDeficits AFTER DELETE
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT r.ReciptID FROM  deleted d INNER JOIN
                  Recipts  r ON d.ReciptID = r.ReciptID AND d.ServerID = r.ServerID AND d.YearID = r.YearID 
            WHERE Transmittal = 1)

BEGIN
  RAISERROR('اطلاعات پس از ارسال شدن قابل حذف نمی باشد',16,1)
  ROLLBACK; 
END
END
GO
------------------------------------------------------------------------------
CREATE FUNCTION [dbo].[FormItemsAmountLoan] (@FormID int=1 ,@ServerID int=0, @YearID int=88
)
RETURNS money 
begin
  DECLARE @ItemAmount money
  DECLARE @DisplayFormType tinyint
  SET @DisplayFormType=(SELECT FormTypes.DisplayFormType FROM Forms INNER JOIN FormTypes ON 
                                                        Forms.FormType=FormTypes.FormType 
                          WHERE  Forms.FormID = @FormID
                            and ServerID = @ServerID and  YearID = @YearID)

  SET @ItemAmount=(SELECT Amount FROM Forms WHERE FormID=@FormID  and ServerID = @ServerID and  YearID = @YearID)
  if @DisplayFormType<>0  
     SET @ItemAmount=(SELECT SUM(ItemAmount+isnull(formitems.cashwage, 0)) FROM FormItems WHERE FormID=@FormID and ServerID = @ServerID and  YearID = @YearID)
RETURN(@ItemAmount)
END
-------------------------------------------------------------------------------------------------
GO
CREATE  FUNCTION  CalcLoan (@YearMounth char(7) ='1493/03' ,@FormDate Char(10) ='1493/03/18')
RETURNS bigint
AS
BEGIN
DECLARE @Price MONEY


SELECT @Price=SUM(ItemAmount) FROM (
---   محاسبه سند پرداخت هزينه و سود بانكي سپردهها
SELECT        SUM(case when Forms.FormType=104 then -FormItems.ItemAmount else FormItems.ItemAmount end) AS ItemAmount
FROM            Forms INNER JOIN
                         FormItems ON Forms.FormID = FormItems.FormID AND Forms.ServerID = FormItems.ServerID AND Forms.YearID = FormItems.YearID
WHERE        (Forms.FormType in( 104,112 )  ) AND (LEFT(RIGHT(FormItems.CheckDate, 10), 7)  = @YearMounth)
---   محاسبه سند پرداخت هزينه و سود بانكي سپردهها

UNION ALL
------     محاسبه  فرع وام 
SELECT        SUM(FormItems.CashWage) AS AmountDelay
FROM            Forms INNER JOIN
                         FormItems ON Forms.FormID = FormItems.FormID AND Forms.ServerID = FormItems.ServerID AND Forms.YearID = FormItems.YearID
WHERE        (Forms.FormType IN( 110,111)) AND ( LEFT(RIGHT(FormItems.CheckDate, 10), 7)  = @YearMounth)
------     محاسبه  فرع وام 

UNION ALL
------     محاسبه جرائم 
SELECT        SUM(Amount) AS Amount
FROM            Forms 
WHERE        (Forms.FormType = 113) AND (LEFT(RIGHT(FormDate, 10), 7)  = @YearMounth) 
------     محاسبه جرائم 

--UNION ALL

-----         محاسبه جريمه دير كرد سهام
--SELECT        SUM(dbo.GetAmountDelay(DATEDIFF(day, dbo.ShamsiToMiladi(@FormDate), dbo.ShamsiToMiladi(FormItems.CheckDate)), FormItems.ItemAmount)) AS Expr3
--FROM            Forms INNER JOIN
--                         FormItems ON Forms.FormID = FormItems.FormID AND Forms.ServerID = FormItems.ServerID AND Forms.YearID = FormItems.YearID
--WHERE        (Forms.FormType = 103) AND ( LEFT(RIGHT(FormItems.CheckDate, 10), 7)  = @YearMounth)
-----         محاسبه جريمه دير كرد سهام
)abcd



RETURN (@Price)

END
-------------------------------------------------------------------------------------------
GO
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_SahamVaSoodTaghsimi]
AS
SELECT        FormItems.CustomerID2, CAST(SUM(CASE WHEN Forms.FormType IN (103, 114) 
                         THEN FormItems.ItemAmount ELSE - (FormItems.ItemAmount + ISNULL(FormItems.CashWage, 0)) END) AS float) AS ItemAmount
FROM            dbo.FormItems AS FormItems INNER JOIN
                         dbo.Forms AS Forms ON FormItems.FormID = Forms.FormID AND FormItems.ServerID = Forms.ServerID AND FormItems.YearID = Forms.YearID
WHERE        (Forms.FormType IN (103, 114, 2, 111))
GROUP BY FormItems.CustomerID2

GO
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
