--4 تاريخ 1402/11/12    

if exists (select * from sysobjects where id = object_id(N'[dbo].[Aid_MakeDocuments_Check]') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION [dbo].Aid_MakeDocuments_Check
GO
CREATE FUNCTION [dbo].[Aid_MakeDocuments_Check] 
								(
									 @AllDocAble Tinyint=0
									,@FormDateFrom varchar(10)=[00/00/00]
									,@FormDateTo varchar(10)=[99/99/99]
									,@FormNoFrom varchar (12)=[-9999999]
									,@FormNoTo varchar (12)=[99999999] 
									--, @FormType varchar (3)= [50] 😳😳😳
                                    ,@CheckStateFrom varchar (12)=[0]
									,@CheckStateTo varchar (12)=[99]  
                                    ,@SellsEmporiumFrom int=0
									,@SellsEmporiumTo int = 999999999 
                                    ,@PayTypesFrom int=0
									,@PayTypesTo int = 999999999 
									,@MakeDocKind int =1
									,@AidDateFrom char(10)='0000/00/00'
									,@AidDateTo char(10)='9999/99/99'
								)

        RETURNS @retFindReports TABLE 
  (
	ID Bigint ,
	FormType tinyint ,
	FormCaption varchar(150)  COLLATE DATABASE_DEFAULT ,
	FormItemID int ,
	FormID int ,
	FormNumber int ,
	FormDate char(10)   COLLATE DATABASE_DEFAULT ,
	CheckNumber char(15)   COLLATE DATABASE_DEFAULT ,
	CheckDate char(10)   COLLATE DATABASE_DEFAULT ,
	ItemAmount money ,
	ItemNote varchar(1000) COLLATE DATABASE_DEFAULT ,
	Row int ,
	AidInfoNo float ,
	AidInfoDate char(10)   COLLATE DATABASE_DEFAULT ,
	AidInfoNoItem float ,
	AidInfoDateItem char(10)  COLLATE DATABASE_DEFAULT  ,
	FomNote varchar(500) COLLATE DATABASE_DEFAULT ,
	CheckType tinyint ,
	CheckState tinyint ,
	CashWage money ,
	CashWageTopicCode bigint NOT NULL,
	CashWageDetailCode varchar(12) COLLATE DATABASE_DEFAULT  ,
	CashWageCTopicCode varchar(12) COLLATE DATABASE_DEFAULT  ,
	CashWageCTopicCode2 varchar(12) COLLATE DATABASE_DEFAULT  ,
	TopicCode_Bed bigint ,
	DetailCode_Bed int ,
	CTopicCode_Bed int ,
	CTopicCode2_Bed int ,
	CTopicCode3_Bed int ,
	TopicCode_Bes bigint ,
	DetailCode_Bes int ,
	CTopicCode_Bes int ,
	CTopicCode2_Bes int ,
	CTopicCode3_Bes int ,
	InfoUse4Bed tinyint ,
	InfoUse4Bes tinyint ,
	CashCheckFormID int ,
	CustomerID2 int ,
	CustName varchar(160)  COLLATE DATABASE_DEFAULT ,
	UseBudgetKind tinyint ,
	BudgetCode int ,
	ServerID int ,
	YearID int ,
    ArzAmount FLOAT,
	ArzAmountexchange FLOAT,
	RelatedRecipts char(30)  COLLATE DATABASE_DEFAULT  NULL,
	ArzRate FLOAT,
	ConstTopicCode_ArzBed int NULL,
	ConstTopicCode_ArzBes int NULL,
	ct1name varchar(160)  COLLATE DATABASE_DEFAULT,
	SeparationDoc Tinyint ,
	RialsEqual float ,
	CheckFor varchar(255),
	PO varchar(30)  ,
	ArzTypeID int NULL,
	InsertSeverableOnRecall int,
	CashWageActive Tinyint,
	Currencydebit   decimal(18, 4),
	Currencycredit   decimal(18, 4),
	CurrencyRate   decimal(18, 4)
  )
  AS 
BEGIN  
INSERT INTO @retFindReports


SELECT   
	 CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.ID END AS ID
	,FormTypes.FormType
	,FormTypes.FormCaption
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormItemID END AS FormItemID
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormID END AS FormID
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormNumber END AS FormNumber
	,Forms.FormDate
	,FormItems.CheckNumber
	,FormItems.CheckDate
	,FormItems.ItemAmount
	,FormItems.ItemNote
	,FormItems.Row
	,Forms.AidInfoNo
	,Forms.AidInfoDate
	,FormItems.AidInfoNo AS AidInfoNoItem
	,FormItems.AidInfoDate AS AidInfoDateItem
	,Forms.FomNote
	,FormItems.checkType
	,FormItems.CheckState
	,isnull(FormItems.CashWage,0) as CashWage 
	,FormTypes.CashWageTopicCode
	,FormTypes.CashWageDetailCode
	,FormTypes.CashWageCTopicCode
	,FormTypes.CashWageCTopicCode2 
-- START OF CALCULATE DEBIT CODING FOR ACCOUNTING -بدهکار سند حسابداري --
	,case  FormTypes.DefaultTopic_Bed 
		when 1 then case --------  كد حساب -------------
				when  FormTypes.CustCodeUse4Bed  in  ( 1,4,5 ,  8  )  then
					case when Customers_1.acc_TopicCode > 0 then Customers_1.acc_TopicCode 
						else CustomersGroup_1.acc_TopicCode end 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then  
					case when Customers_2.acc_TopicCode > 0 then Customers_2.acc_TopicCode 
						else CustomersGroup_2.acc_TopicCode end 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then 
				case when FormItems.TopicCode >0 then FormItems.TopicCode else 
					case when Customers_3.acc_TopicCode > 0 then Customers_3.acc_TopicCode 
						else CustomersGroup_3.acc_TopicCode end end
				else -1 end  
		when 2  then case  ---- اسناد درجريان وصول----
				when FormTypes.CustCodeUse4Bed  in  ( 1,4,5,  8  )  then CustomersGroup_1.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_ReChecksTopicCode 
				else -1 end 
		when 3  then case  ----اسناد دريافتني----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 4  then case  ----اسناد واخواستي ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then CustomersGroup_1.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_ReChecksTopicCode 
				else -1 end 
		when 5  then case ----اسناد تضميني ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then CustomersGroup_1.acc_CertifyTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_CertifyTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_CertifyTopicCode 
				else -1 end 
		when 6  then case  --- اسناد پرداختني ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 7  then case  ----اسناد پرداختني خاص----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 8  then case ---- اسناد پرداختني وبانک ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5,  8  )  then 
					Case FormItems.CheckType when 0 then CustomersGroup_1.acc_ChecksTopicCode  

											else CustomersGroup_1.acc_TopicCode end 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then 
				   Case FormItems.CheckType when 0 then CustomersGroup_2.acc_ChecksTopicCode  
									 else CustomersGroup_2.acc_TopicCode end 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then 
						  Case FormItems.CheckType when 0 then CustomersGroup_3.acc_ChecksTopicCode  
							 else CustomersGroup_3.acc_TopicCode end 
				else -1 end 
		when 9  then Forms.TopicCode  ---کد حساب در فرم ----
		when 10 then FormItems.TopicCode ---- کد حساب در اطلاعات فرم ------
		when 11 then LookUps_1.acc_TopicCode ---- موضوع دريافت و پرداخت 1------
		when 12 then LookUps_2.acc_TopicCode ---- موضوع دريافت و پرداخت 2------
		when 13 then FormTypes.ConstTopicCode_Bed ---- کد ثابت ------
		when 14 then LookUps_TopicTypesI.acc_TopicCode ---- موضوع دريافت و پرداخت آیتم------
		--when 15 then isnull(BTD.AccCode,BT.AccCode) -- کد حساب بر اساس کد بودجه 
	else -2 end as TopicCode_Bed,

	 case  FormTypes.DefaultDetail_Bed 
		when 1 then case  ---- اطلاعات مشتري ----
				when  FormTypes.CustCodeUse4Bed  in  (1,7)  then Customers_1.acc_DetailCode 
				when  FormTypes.CustCodeUse4Bed  in  (2,4)  then Customers_2.acc_DetailCode 
				when  FormTypes.CustCodeUse4Bed  in  (3,5)  then 

				case when FormItems.DetailCode >0 then FormItems.DetailCode else 
						Customers_3.acc_DetailCode end 
				when FormTypes.CustCodeUse4Bed =  8  then Case FormItems.CheckType when 0 then 
				Customers_2.acc_DetailCode else Customers_1.acc_DetailCode end
				else 0 end 
		when 2 then LookUps_1.acc_DetailCode ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_DetailCode ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.DetailCode  ---کد حساب در فرم ----
		when 5  then FormItems.DetailCode  ---- کد حساب در اطلاعات فرم ------
		when 6  then FormTypes.ConstDetailCode_Bed  ------   كد تفصيلي بصورت ثابت  ------	
		when 7  then  ---- اسناد پرداختني وبانک ----
			 Case FormItems.CheckType when 0 then
				case 
					when  FormTypes.CustCodeUse4Bed  in  (1,7)  then Customers_1.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in  (2,4)  then Customers_2.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in  (3,5)  then Customers_3.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in	 (8)	then  Customers_2.acc_DetailCode
					else 0 end 
				else 
				case 
					when  FormTypes.CustCodeUse4Bed  in  (1,4,5,7)  then Customers_1.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in  (2)		then Customers_2.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in  (3)		then Customers_3.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bed  in  (8)		then  Customers_1.acc_DetailCode
				 else 0 end 
			   end 
		--when 8 then isnull(BTD.DetailCode,BT.DetailCode) -- کد تفصیلی بر اساس کد بودجه 

	else 0  end as DetailCode_Bed , 

	 case  FormTypes.DefaultCTopic_Bed 
		when 1 then case  ---- اطلاعات گروه مشتري ----
				when  FormTypes.CustCodeUse4Bed	in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode 
				when  FormTypes.CustCodeUse4Bed	in  (2,7)  then CustomersGroup_2.acc_CTopicCode 
				when  FormTypes.CustCodeUse4Bed	in  (3)  then 
														case when FormItems.CTopicCode >0 then FormItems.CTopicCode else 
															CustomersGroup_3.acc_CTopicCode end 
				when  FormTypes.CustCodeUse4Bed	in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode  else CustomersGroup_1.acc_CTopicCode end 
				else 0  end 
		when 2 then LookUps_1.acc_CTopicCode ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode  ---- کد حساب در اطلاعات فرم ------
		when 6 then case  ---- اطلاعات مشتري ----
				when	FormTypes.CustCodeUse4Bed  in  (1,4,5)  then Customers_1.acc_CTopicCode 
				when	FormTypes.CustCodeUse4Bed  in  (2,7)  then Customers_2.acc_CTopicCode 
				when	FormTypes.CustCodeUse4Bed  in  (3)  then 
				case when FormItems.CTopicCode >0 then FormItems.CTopicCode else 
							Customers_3.acc_CTopicCode end 
				when	FormTypes.CustCodeUse4Bed	in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode  else Customers_1.acc_CTopicCode end 
				else 0 end 
		when 7 then Customers_3Master.acc_CTopicCode
	else 0 end as CTopicCode_Bed ,

	-----------------------------------------------------------------------------------------------------    مركز هزينه 2
	 case  FormTypes.DefaultCTopic2_Bed 
		when 1 then case  ---- اطلاعات گروه مشتري ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (7)  then CustomersGroup_3Master.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then 
				case when FormItems.CTopicCode2 >0 then FormItems.CTopicCode2 else 
				CustomersGroup_3.acc_CTopicCode2 end 
				when FormTypes.CustCodeUse4Bed in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode2  else CustomersGroup_1.acc_CTopicCode2 end
				else 0 end 
		when 2 then LookUps_1.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode2  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode2  ---- کد حساب در اطلاعات فرم ------
		when 6 then case  ---- اطلاعات مشتري ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5)  then Customers_1.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then Customers_2.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (7)  then Customers_3Master.acc_CTopicCode2 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then 
				case when FormItems.CTopicCode2 >0 then FormItems.CTopicCode2 else 
				Customers_3.acc_CTopicCode2 end 
				when FormTypes.CustCodeUse4Bed in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode2  else Customers_1.acc_CTopicCode2 end
				else 0 end 
		when 7 then Customers_3Master.acc_CTopicCode2
	else 0 end as CTopicCode2_Bed ,
	-----------------------------------------------------------------------------------------------------    مركز هزينه 2

	 case  FormTypes.DefaultCTopic3_Bed 
		when 1 then case  ---- اطلاعات گروه مشتري ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode3 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then CustomersGroup_2.acc_CTopicCode3 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then CustomersGroup_3.acc_CTopicCode3
				when  FormTypes.CustCodeUse4Bed  in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode3  else CustomersGroup_1.acc_CTopicCode3 end 
				else 0 end 
		when 2 then LookUps_1.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode3  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode3  ---- کد حساب در اطلاعات فرم ------
		when 6 then case  ---- اطلاعات مشتري ----
				when  FormTypes.CustCodeUse4Bed  in  (1,4,5)  then Customers_1.acc_CTopicCode3 
				when  FormTypes.CustCodeUse4Bed  in  (2)  then Customers_2.acc_CTopicCode3 
				when  FormTypes.CustCodeUse4Bed  in  (3)  then Customers_3.acc_CTopicCode3 
				when  FormTypes.CustCodeUse4Bed  in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode3  else Customers_1.acc_CTopicCode3 end
				else 0 end 
		when 7 then Customers_3Master.acc_CTopicCode3 
		when 8 then SE.CTopicCode3							 
	else 0 end as CTopicCode3_Bed
	,
	---------------------------------------بستانکار سند حسابداري --------------------------------------
	case  FormTypes.DefaultTopic_Bes 
		when 1 then case --------  كد حساب -------------
				when  FormTypes.CustCodeUse4Bes  in  ( 1,4,5,7 ,  8  )  then
					case when Customers_1.acc_TopicCode > 0 then Customers_1.acc_TopicCode 
						else CustomersGroup_1.acc_TopicCode end 
				when  FormTypes.CustCodeUse4Bes  in  (2)  then 
					case when Customers_2.acc_TopicCode > 0 then Customers_2.acc_TopicCode 
						else CustomersGroup_2.acc_TopicCode end 

				when  FormTypes.CustCodeUse4Bes  in  (3)  then 
					case when Customers_3.acc_TopicCode > 0 then Customers_3.acc_TopicCode 
						else CustomersGroup_3.acc_TopicCode end 
				else -1 end 
		when 2  then case  ---- اسناد درجريان وصول----
				when  FormTypes.CustCodeUse4Bes  in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (2)  then CustomersGroup_2.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (3)  then CustomersGroup_3.acc_ReChecksTopicCode 
				else -1 end 
		when 3  then case  ----اسناد دريافتني----
				when  FormTypes.CustCodeUse4Bes  in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 4  then case  ----اسناد واخواستي ----
				when  FormTypes.CustCodeUse4Bes  in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (2)  then CustomersGroup_2.acc_ReChecksTopicCode 
				when  FormTypes.CustCodeUse4Bes  in  (3)  then CustomersGroup_3.acc_ReChecksTopicCode 
				else -1 end 
		when 5  then case  ----اسناد تضميني ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_CertifyTopicCode 
				when FormTypes.CustCodeUse4Bes in  (2)  then CustomersGroup_2.acc_CertifyTopicCode 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_CertifyTopicCode 
				else -1 end 
		when 6  then case  --- اسناد پرداختني ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when FormTypes.CustCodeUse4Bes in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 7  then case   ----اسناد پرداختني خاص----
				when FormTypes.CustCodeUse4Bes in  (1,4,5,7,  8  )  then CustomersGroup_1.acc_ChecksTopicCode 
				when FormTypes.CustCodeUse4Bes in  (2)  then CustomersGroup_2.acc_ChecksTopicCode 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_ChecksTopicCode 
				else -1 end 
		when 8  then case  ---- اسناد پرداختني وبانک ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5,7,  8  )  then Case FormItems.CheckType when 0 
					  then CustomersGroup_1.acc_ChecksTopicCode  else 
					  --------------------------------------------------------------------------------------------------------------------
					  ---CustomersGroup_1.acc_TopicCode         change by abedi order by  bahrami  to
	---------------->>>
					  case CustomersGroup_1.acc_TopicCode when 0 then Customers_1.acc_TopicCode else CustomersGroup_1.acc_TopicCode end
					  --------------------------------------------------------------------------------------------------------------------
					  end 
				when FormTypes.CustCodeUse4Bes in  (2)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_ChecksTopicCode  else CustomersGroup_2.acc_TopicCode end 
				when FormTypes.CustCodeUse4Bes in  (3)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_3.acc_ChecksTopicCode  else CustomersGroup_3.acc_TopicCode end 
	
				else -1 end 
		when 9  then Forms.TopicCode  ---کد حساب در فرم ----
		when 10  then FormItems.TopicCode ---- کد حساب در اطلاعات فرم ------
		when 11  then LookUps_1.acc_TopicCode ---- موضوع دريافت و پرداخت 1------
		when 12  then LookUps_2.acc_TopicCode ---- موضوع دريافت و پرداخت 2------
		when 13  then FormTypes.ConstTopicCode_Bes ---- کد ثابت ------
		when 14  then LookUps_TopicTypesI.acc_TopicCode ---- موضوع دريافت و پرداخت 1------
		--when 15 then isnull(BTD.AccCode,BT.AccCode) -- کد تفصیلی بر اساس کد بودجه 
	else -2 end as TopicCode_Bes,

	 case  FormTypes.DefaultDetail_Bes 
		when 1 then case  ---- اطلاعات مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,7)  then Customers_1.acc_DetailCode 
				when FormTypes.CustCodeUse4Bes in  (2,4)  then Customers_2.acc_DetailCode 
				when FormTypes.CustCodeUse4Bes in  (3,5)  then Customers_3.acc_DetailCode 
				when FormTypes.CustCodeUse4Bes =  8  then Case FormItems.CheckType when 0 then 
				Customers_2.acc_DetailCode else Customers_1.acc_DetailCode end
				else 0 end 
		when 2 then LookUps_1.acc_DetailCode ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_DetailCode ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.DetailCode  ---کد حساب در فرم ----
		when 5  then FormItems.DetailCode  ---- کد حساب در اطلاعات فرم ------
		when 6  then FormTypes.ConstDetailCode_Bes  ----     كد ثابت     ------	
		when 7  then  ---- اسناد پرداختني وبانک ----
			 Case FormItems.CheckType when 0 then
				case 
					when  FormTypes.CustCodeUse4Bes  in  (1,7)  then Customers_1.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bes  in  (2,4)  then Customers_2.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bes  in  (3,5)  then Customers_3.acc_DetailCode 
					when   FormTypes.CustCodeUse4Bes = 8 then  Customers_2.acc_DetailCode

					else 0 end 
			 else 
				case 
					when  FormTypes.CustCodeUse4Bes  in  (1,4,5,7)  then Customers_1.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bes  in  (2)  then Customers_2.acc_DetailCode 
					when  FormTypes.CustCodeUse4Bes  in  (3)  then Customers_3.acc_DetailCode 
					when   FormTypes.CustCodeUse4Bes = 8 then  Customers_1.acc_DetailCode
				 else 0 end 
			 end 
		--when 8 then isnull(BTD.DetailCode,BT.DetailCode) -- کد تفصیلی بر اساس کد بودجه 

	else 0 end as DetailCode_Bes , 

	 case  FormTypes.DefaultCTopic_Bes 
		when 1 then case  ---- اطلاعات گروه مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (2,7)  then CustomersGroup_2.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode  else CustomersGroup_1.acc_CTopicCode end 
	
				else 0 end 
		when 2 then LookUps_1.acc_CTopicCode ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode  ---- کد حساب در اطلاعات فرم ------
		when 6 then case   ---- اطلاعات مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then Customers_1.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (2,7)  then Customers_2.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (3)  then Customers_3.acc_CTopicCode 
				when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode  else Customers_1.acc_CTopicCode end 
				else 0 end 
		when 7 then Customers_3Master.acc_CTopicCode
	else 0 end as CTopicCode_Bes ,
	-----------------------------------------------------------------------------------------------------    مركز هزينه 2
	 case  FormTypes.DefaultCTopic2_Bes 
		when 1 then case   ---- اطلاعات گروه مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (2)  then CustomersGroup_2.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (7)  then CustomersGroup_3Master.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode2  else CustomersGroup_1.acc_CTopicCode2 end 
				else 0 end 
		when 2 then LookUps_1.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode2 ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode2  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode2  ---- کد حساب در اطلاعات فرم ------
		when 6 then case   ---- اطلاعات مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then Customers_1.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (2)  then Customers_2.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (3)  then Customers_3.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (7)  then Customers_3Master.acc_CTopicCode2 
				when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode2  else Customers_1.acc_CTopicCode2 end
				else 0  end 
		when 7 then Customers_3Master.acc_CTopicCode2		    
	else 0  end as CTopicCode2_Bes ,
	-----------------------------------------------------------------------------------------------------    مركز هزينه 2
	 case  FormTypes.DefaultCTopic3_Bes 
		when 1 then case   ---- اطلاعات گروه مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then CustomersGroup_1.acc_CTopicCode3 
				when FormTypes.CustCodeUse4Bes in  (2)  then CustomersGroup_2.acc_CTopicCode3 
				when FormTypes.CustCodeUse4Bes in  (3)  then CustomersGroup_3.acc_CTopicCode3 
				when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then CustomersGroup_2.acc_CTopicCode3  else CustomersGroup_1.acc_CTopicCode3 end
				else 0 end 
		when 2 then LookUps_1.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 1------
		when 3 then LookUps_2.acc_CTopicCode3 ---- موضوع دريافت و پرداخت 2------
		when 4  then Forms.CTopicCode3  ---کد حساب در فرم ----
		when 5  then FormItems.CTopicCode3  ---- کد حساب در اطلاعات فرم ------
		when 6 then case   ---- اطلاعات مشتري ----
				when FormTypes.CustCodeUse4Bes in  (1,4,5)  then Customers_1.acc_CTopicCode3 
				when FormTypes.CustCodeUse4Bes in  (2)  then Customers_2.acc_CTopicCode3 
				when FormTypes.CustCodeUse4Bes in  (3)  then Customers_3.acc_CTopicCode3 
					when FormTypes.CustCodeUse4Bes in  (8)  then Case FormItems.CheckType when 0 
					  then Customers_2.acc_CTopicCode3  else Customers_1.acc_CTopicCode3 end
				else 0  end 
		when 7 then Customers_3Master.acc_CTopicCode3			    
		when 8 then SE.CTopicCode3									 
		else 0  
	 end as CTopicCode3_Bes 
	,FormTypes.InfoUse4Bed 
	,FormTypes.InfoUse4Bes
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.CashCheckFormID END AS CashCheckFormID
	,FormItems.CustomerID2
	,Customers_3.CustName
	,FormTypes.UseBudgetKind -- to do -- add field on formtype 
    ,case when FormItems.BudgetCode!= 0 then FormItems.BudgetCode else forms.BudgetCode end BudgetCode
	,Forms.ServerID
	,Forms.YearID
	,FormItems.ArzAmount
	,Forms.ArzAmountExchange as ArzAmountExchange 
	,forms.RelatedRecipts  as RelatedRecipts
	,forms.ArzRateExchange as ArzRate
	,FormTypes.ConstTopicCode_ArzBed
	,ConstTopicCode_ArzBes 
	,Customers_1.CustName as ct1name
	,FormTypes.SeparationDoc
	,Forms.ArzRate as RialsEqual
	,FormItems.CheckFor
	,FormItems.PO
	,Forms.ArzTypeID
	,FormTypes.InsertSeverableOnRecall
	,FormTypes.CashWageActive, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM    CustomersGroup CustomersGroup_2 INNER JOIN
		Customers Customers_2 ON CustomersGroup_2.CustomerGrpID = Customers_2.CustomerGrpID RIGHT OUTER JOIN
		FormItems INNER JOIN
		Forms ON FormItems.FormID = Forms.FormID  AND FormItems.ServerID = Forms.ServerID AND FormItems.YearID = Forms.YearID INNER JOIN
		FormTypes ON Forms.FormType = FormTypes.FormType LEFT OUTER JOIN
		Customers Customers_3 INNER JOIN
		CustomersGroup CustomersGroup_3 ON Customers_3.CustomerGrpID = CustomersGroup_3.CustomerGrpID ON 
		FormItems.CustomerID2 = Customers_3.CustID LEFT OUTER JOIN
		LookUps LookUps_1 ON Forms.PayTypes = LookUps_1.LookUpID LEFT OUTER JOIN
		LookUps LookUps_2 ON Forms.TopicTypes = LookUps_2.LookUpID LEFT OUTER JOIN
		CustomersGroup CustomersGroup_1 INNER JOIN
		Customers Customers_1 ON CustomersGroup_1.CustomerGrpID = Customers_1.CustomerGrpID 
		ON Forms.CustomerID1 = Customers_1.CustID ON 
		Customers_2.CustID = Forms.CustomerID2
----abedi
        INNER JOIN  Customers AS Customers_3Master ON Forms.CustomerID3 = Customers_3Master.CustID 
		INNER JOIN  CustomersGroup AS CustomersGroup_3Master ON Customers_3Master.CustomerGrpID = CustomersGroup_3Master.CustomerGrpID 
----abedi
        LEFT OUTER JOIN LookUps LookUps_TopicTypesI ON FormItems.TopicTypesI = LookUps_TopicTypesI.LookUpID 
		LEFT OUTER JOIN SellsEmporiums SE on SE.SellsEmporium=Forms.SellsEmporium
----abedi

--		LEFT OUTER JOIN dbo.VU_BudgetTopics BTD  on  FormItems.BudgetCode = btD.[BudgetTopicID]
--		LEFT OUTER JOIN dbo.VU_BudgetTopics BT on	Forms.BudgetCode	 = bt.[BudgetTopicID]
WHERE  ((Forms.DocNo =0)OR(@AllDocAble=1)) 
	  --(FormTypes.FormType = @FormType) AND 
       AND (Forms.FormNumber BETWEEN @FormNoFrom AND @FormNoTo ) 
	   AND (Forms.FormDate BETWEEN @FormDateFrom  AND @FormDateTo ) 
	   AND ((ISNULL(Forms.AidInfoDate, '') = '') OR (Forms.AidInfoDate = '/  /') OR (Forms.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo))
	   AND (FormItems.CheckState BETWEEN @CheckStateFrom  AND @CheckStateTo ) 
	   AND (Forms.FormState < 10) 
	   AND (FormItems.CheckType between 0 and  (case when ( FormTypes.DefaultTopic_Bed=7 or FormTypes.DefaultTopic_Bes=7 ) then 0 else   99 end ))
	   AND (Forms.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
       AND (Forms.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	   AND ((case when FormTypes.FormStateDefault4Doc = 0 then Forms.FormState else FormTypes.FormStateDefault4Doc end) = Forms.FormState)

   RETURN
END
