--7  1402/04/07    
if exists (select * from sysobjects where id = object_id(N'[dbo].[StuffCodeEntity]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[StuffCodeEntity]
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[StuffCodeCountingItems]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[StuffCodeCountingItems]
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[StuffCodeEntity]') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view [dbo].[StuffCodeEntity]
GO
if exists (select * from sysobjects where id = object_id(N'Vu_FormItems') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vu_FormItems
GO
if exists (select * from sysobjects where id = object_id(N'Vu_UseUnitName') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vu_UseUnitName
GO
if exists (select * from sysobjects where id = object_id(N'Vu_UseOthersName') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vu_UseOthersName
GO
if exists (select * from sysobjects where id = object_id(N'Vw_Loan_Ck') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vw_Loan_Ck
GO
if exists (select * from sysobjects where id = object_id(N'Vw_Loan_Gu') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vw_Loan_Gu
GO
if exists (select * from sysobjects where id = object_id(N'Vw_Loan_FA') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP view Vw_Loan_FA
GO

--if exists (select * from sysobjects where id = object_id(N'[dbo].[AllDeficits_ForRecipts]') and OBJECTPROPERTY(id, N'IsView') = 1)
--DROP view [dbo].[AllDeficits_ForRecipts]
--GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[GetReciptValue]') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION GetReciptValue
GO
-- SET QUOTED_IDENTIFIER ON 
-- GO
-- SET ANSI_NULLS ON 
-- GO
-- 
-- CREATE VIEW StuffCodeEntity
-- AS
-- SELECT     TOP 100 PERCENT Recipts.StoreID, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, 
--                       ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3) AS Entity, 
--                       ROUND(SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight), 3) AS Weight, 
--                       SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) AS Price
-- FROM         ReciptItems INNER JOIN
--                       Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
--                       StuffCoding ON ReciptItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
--                       Units ON StuffCoding.n_UnitCode = Units.UnitCode INNER JOIN
--                       ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
-- WHERE     (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)
-- GROUP BY Recipts.StoreID, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName
-- HAVING      (SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity) >= 0.0001) OR
--                       (SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity) <= - 0.0001) OR
--                       (SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight) >= 0.0001) OR
--                       (SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight) <= - 0.0001) OR
--                       (SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) >= 0.1) OR
--                       (SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) <= - 0.1)
-- ORDER BY ReciptItems.StuffCode
-- GO
-- SET QUOTED_IDENTIFIER OFF 
-- GO
-- SET ANSI_NULLS ON 
-- GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION StuffCodeEntity  (  @YearIDFrom  int =88 , @YearIDTo int =88,@Date as Char(10) =[88/12/29]) 
RETURNS table  AS  
return (
--SELECT    Recipts.YearID, Recipts.StoreID, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName, 
--                     ISNull( ROUND(SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity), 3),0) AS Entity, 
--                     ISNull( ROUND(SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight), 3),0) AS Weight, 
--case when SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity)<>0 then
--          SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) 
--     else 0 end AS Price, 
--                     -- SUM((CASE ReciptTypes.EffectType WHEN 2 THEN ReciptItems.TotallSellPrice ELSE - 1 * ReciptItems.TotallSellPrice END)) 
--                     -- AS TotallSellPrice, 
--                      SUM( ReciptItems.TotallSellPrice )  AS TotallSellPrice, 
----	       max((CASE ReciptTypes.EffectType WHEN 2 THEN ReciptItems.UnitSellPrice ELSE 0 END))  AS MaxUnitPrice
--	       max( ReciptItems.UnitSellPrice )  AS MaxUnitPrice
--FROM      ReciptItems_Stock as   ReciptItems INNER JOIN
--                      Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
--                      StuffCoding ON ReciptItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
--                      Units ON StuffCoding.n_UnitCode = Units.UnitCode INNER JOIN
--                      ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
--WHERE   
-- -- (ReciptTypes.EffectType IN (2, 4)) AND (Recipts.ReciptState < 3)  AND 
--  (Recipts.yearID between @YearIDFrom And @YearIDTo ) 
--          AND (Recipts.ReciptDate <= @Date )
--GROUP BY  Recipts.YearID, Recipts.StoreID, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName
--HAVING      (SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity) >= 0.0001) OR
--                      (SUM(ReciptItems.InputEntity - ReciptItems.OutputEntity) <= - 0.0001) OR
--                      (SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight) >= 0.0001) OR
--                      (SUM(ReciptItems.InputWeight - ReciptItems.OutputWeight) <= - 0.0001) OR
--                      (SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) >= 0.1) OR
--                      (SUM(ReciptItems.TotalInputPrice - ReciptItems.TotalOutputPrice) <= - 0.1)

SELECT        ReciptItems_Stock.YearID, ReciptItems_Stock.StoreID, ReciptItems_Stock.StuffCode, StuffCoding.c_StuffName, Units.UnitName, 
                         ISNULL(ROUND(SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity), 3), 0) AS Entity, 
                         ISNULL(ROUND(SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight), 3), 0) AS Weight, 
                         CASE WHEN SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity) 
                         <> 0 THEN SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice) ELSE 0 END AS Price
						 , SUM(CAST(ReciptItems_Stock.TotallSellPrice as decimal(25,0)) ) AS TotallSellPrice, MAX(ReciptItems_Stock.UnitSellPrice) AS MaxUnitPrice
FROM            ReciptItems_Stock INNER JOIN
                         StuffCoding ON ReciptItems_Stock.StuffCode = StuffCoding.c_StuffCode INNER JOIN
                         Units ON StuffCoding.n_UnitCode = Units.UnitCode
WHERE        (ReciptItems_Stock.YearID BETWEEN @YearIDFrom AND @YearIDTo) AND (ReciptItems_Stock.ReciptDate <= @Date) 
GROUP BY ReciptItems_Stock.YearID, ReciptItems_Stock.StoreID, ReciptItems_Stock.StuffCode, StuffCoding.c_StuffName, Units.UnitName
HAVING        (SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity) >= 0.0001) OR
                         (SUM(ReciptItems_Stock.InputEntity - ReciptItems_Stock.OutputEntity) <= - 0.0001) OR
                         (SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight) >= 0.0001) OR
                         (SUM(ReciptItems_Stock.InputWeight - ReciptItems_Stock.OutputWeight) <= - 0.0001) OR
                         (SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice) >= 0.1) OR
                         (SUM(ReciptItems_Stock.TotalInputPrice - ReciptItems_Stock.TotalOutputPrice) <= - 0.1)

)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION StuffCodeCountingItems ( @YearIDFrom  int =88 , @YearIDTo int =88,@Date as Char(10) =[88/12/29] )
RETURNS table  AS  
return (SELECT	CountingItems.StuffCode, StuffCoding.c_StuffName, CountingItems.StuffSize, 	CountingItems.StuffDiameter, 
		CountingItems.StuffAlloy, CountingItems.StuffGrade, CountingItems.ControlCode, CountingItems.Count1Entity, 
		CountingItems.Count1Weight, CountingItems.Count2Entity, CountingItems.Count2Weight, CountingItems.Count3Entity, 
		CountingItems.Count3Weight, 
		CountingItems.ReciptID,
		CASE  Counting.CountingCalckind 
		WHEN 0 THEN (CASE WHEN (CountingItems.Count3Entity >0 ) 
				THEN CountingItems.Count3Entity 
				ELSE  case when (CountingItems.Count1Entity = CountingItems.Count2Entity)  and not (CountingItems.Count2Entity IS NULL)
				then 	CountingItems.Count1Entity  else null  end  END) 
		WHEN 1 THEN  (CASE  
		
		                   ---ADD By Abedi orderby Shabanian
						   WHEN (CountingItems.Count2Entity = 0 ) THEN 0
		
		                    WHEN (CountingItems.Count2Entity >0 ) 
				THEN CountingItems.Count2Entity 
				ELSE  case when CountingItems.Count1Entity = isnull(StuffCodeEntity_c.Entity,0) 
				then 	CountingItems.Count1Entity  else null  end  END) 

		WHEN 2 THEN (CASE WHEN (CountingItems.Count3Entity >0 ) 
				THEN CountingItems.Count3Entity 
				ELSE  case when ( CountingItems.Count1Entity = isnull(StuffCodeEntity_c.Entity,0)  ) 
						or ( CountingItems.Count2Entity = isnull(StuffCodeEntity_c.Entity,0)  ) 
				then 	isnull(StuffCodeEntity_c.Entity,0)  else null  end  END) 
		ELSE null END AS DifferEntity, 

		CASE  Counting.CountingCalckind 
		WHEN 0 THEN (CASE WHEN (CountingItems.Count3Weight >0 ) 
				THEN CountingItems.Count3Weight 
				ELSE  case when (CountingItems.Count1Weight = CountingItems.Count2Weight) and not (CountingItems.Count2Weight IS NULL)
				then 	CountingItems.Count1Weight  else null  end  END) 
		WHEN 1 THEN  (CASE  
		
		                   ---ADD By Abedi orderby Shabanian
						   WHEN (CountingItems.Count2Weight = 0 ) THEN 0
		
		                    WHEN (CountingItems.Count2Weight >0 ) 
				THEN CountingItems.Count2Weight 
				ELSE  case when CountingItems.Count1Weight = isnull(StuffCodeEntity_c.Weight,0) 
				then 	CountingItems.Count1Weight  else null  end  END) 

		WHEN 2 THEN (CASE WHEN (CountingItems.Count3Weight >0 ) 
				THEN CountingItems.Count3Weight 
				ELSE  case when ( CountingItems.Count1Weight = isnull(StuffCodeEntity_c.Weight,0)  ) 
						or ( CountingItems.Count2Weight = isnull(StuffCodeEntity_c.Weight,0)  ) 
				then 	isnull(StuffCodeEntity_c.Weight,0)  else null  end  END) 
		ELSE null END AS DifferWeight , 

		CountingItems.StoreID, CountingItems.CountID

FROM            CountingItems INNER JOIN
                         StuffCoding ON CountingItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
                         Counting ON CountingItems.CountID = Counting.CountID LEFT OUTER JOIN
                         dbo.StuffCodeEntity(@YearIDFrom, @YearIDTo, @Date ) AS StuffCodeEntity_C ON CountingItems.StoreID = StuffCodeEntity_C.StoreID AND 
                         CountingItems.StuffCode = StuffCodeEntity_C.StuffCode  )

/*SELECT     CountingItems.StuffCode, StuffCoding.c_StuffName, CountingItems.StuffSize, CountingItems.StuffDiameter, 
                      CountingItems.StuffAlloy, CountingItems.StuffGrade, CountingItems.ControlCode, CountingItems.Count1Entity, 
                      CountingItems.Count1Weight, CountingItems.Count2Entity, CountingItems.Count2Weight, CountingItems.Count3Entity, 
                      CountingItems.Count3Weight, 
    --(CASE IsNull(CountingItems.Count2Entity,0) - IsNull(CountingItems.Count1Entity,0) WHEN 0 THEN IsNull(CountingItems.Count2Entity,0) ELSE IsNull(CountingItems.Count3Entity,0) 
    --                   END) AS DifferEntity, 
    --(CASE IsNull(CountingItems.Count2Weight,0) - IsNull(CountingItems.Count1Weight,0) WHEN 0 THEN IsNull(CountingItems.Count2Weight,0) ELSE IsNull(CountingItems.Count3Weight,0)
    --                   END) AS DifferWeight

CASE  Counting.CountingCalckind
WHEN 0 THEN 
    (CASE IsNull(CountingItems.Count2Entity,0) - IsNull(CountingItems.Count1Entity,0) 
	   WHEN 0 THEN IsNull(CountingItems.Count2Entity,0) ELSE IsNull(CountingItems.Count3Entity,0)  END) 
					   
WHEN 1 THEN 
    (CASE WHEN IsNull(CountingItems.Count2Entity,0)>0 THEN IsNull(CountingItems.Count2Entity,0) ELSE
       IsNull(CountingItems.Count1Entity,0) end)
ELSE 
   (CASE WHEN IsNull(CountingItems.Count3Entity,0)>0 THEN IsNull(CountingItems.Count3Entity,0) ELSE
   IsNull(CountingItems.Count2Entity,0) end)

END AS DifferEntity, 

CASE  Counting.CountingCalckind
WHEN 0 THEN 
    (CASE IsNull(CountingItems.Count2Weight,0) - IsNull(CountingItems.Count1Weight,0) 
	    WHEN 0 THEN IsNull(CountingItems.Count2Weight,0) ELSE IsNull(CountingItems.Count3Weight,0)  END) 

WHEN 1 THEN 
    (CASE WHEN IsNull(CountingItems.Count2Weight,0)>0 THEN IsNull(CountingItems.Count2Weight,0) ELSE
       IsNull(CountingItems.Count1Weight,0) end)
ELSE 
   (CASE WHEN IsNull(CountingItems.Count3Weight,0)>0 THEN IsNull(CountingItems.Count3Weight,0) ELSE
   IsNull(CountingItems.Count2Weight,0) end)

END  AS DifferWeight

					   
					   
					   , CountingItems.StoreID, CountingItems.CountID
--FROM         CountingItems INNER JOIN
--                      StuffCoding ON CountingItems.StuffCode = StuffCoding.c_StuffCode
FROM            CountingItems INNER JOIN
                         StuffCoding ON CountingItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
                         Counting ON CountingItems.CountID = Counting.CountID )
*/
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
----------------------------------------------------------------------------------
--SET QUOTED_IDENTIFIER ON 
--GO
--SET ANSI_NULLS ON 
--GO
--CREATE VIEW AllDeficits_ForRecipts
--AS
--SELECT     ReciptID,ServerID,YearID, SUM(DeficitAdd) AS DeficitAdd, SUM(DeficitDec) AS DeficitDec, SUM(DeficitAdd - DeficitDec) AS DeficitAdd_Dec
--FROM         dbo.ReciptsDeficits
--GROUP BY ReciptID,ServerID,YearID
--GO
--SET QUOTED_IDENTIFIER OFF 
--GO
--SET ANSI_NULLS ON 
--GO
---------------------------------------------------
--------------------------------------------------

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION [dbo].[GetReciptValue](@ReciptID int = 1, @ServerID int=0, @YearID int=88)
RETURNS money 
begin
RETURN(SELECT SUM(TotalInputPrice + TotalOutputPrice) FROM ReciptItems WHERE ReciptID=@ReciptID AND ServerID=@ServerID AND YearID=@YearID)  
end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vu_FormItems
AS
SELECT     FormItemID, FormID, Row, CheckNumber, CheckDate, CheckType, ItemAmount, ItemNote, BankName, AccountNumber, City, CustomerID2, TopicCode
, CAST(DetailCode as int) AS DetailCode,CAST(CTopicCode as int) AS  CTopicCode,CAST(CTopicCode2 as int) AS  CTopicCode2,CAST(CTopicCode3 as int) AS  CTopicCode3, 
BudgetCode, ProjectID, 
                         preFormItemID, AidInfoNo, AidInfoDate, FirstUser, LastUser, AccountNumberNew, CheckFor, CheckState, AmountArz, CashWage, AccState, ItemState, ItemStateComment, SeverableAmount, RelatedID, ServerID, YearID, VAT, 
                         TopicTypesI, AccountNumberNew1, ArzTypeID, ArzAmount, ArzRate, PerServerID, DayDelay, AmountDelay, CheckCounter, ProductCode, LineCorrosion, VatCo
FROM            FormItems
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------

----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vu_UseUnitName
AS
SELECT	distinct	UseUnits.UseUnitID, UseUnits.UseUnitName + 
			CASE WHEN isnull(UseUnits.CustID1,0) <> 0 THEN '>' + isnull(c1.CustFirstName,'')+' '+c1.CustName ELSE '' END + 
			CASE WHEN isnull(UseUnits.CustID2,0) <> 0 THEN '>' + isnull(c2.CustFirstName,'')+' '+c2.CustName ELSE '' END + 
			CASE WHEN isnull(UseUnits.CustID3,0) <> 0 THEN '>' + isnull(c2.CustFirstName,'')+' '+c3.CustName ELSE '' END + 
			CASE WHEN isnull(UseUnits.CustID4,0) <> 0 THEN '>' + isnull(c2.CustFirstName,'')+' '+c4.CustName ELSE '' END AS UseUnitName,
			UseUnits.IndexNum, UseUnits.Note, UseUnits.ProjectID, UseUnits.acc_TopicCode, UseUnits.acc_DetailCode, UseUnits.acc_CTopicCode, UseUnits.acc_CTopicCode2, 
            UseUnits.UseActive, UseUnits.YearID, UseUnits.acc_CTopicCode3, UseUnits.CustID1, UseUnits.CustID2, UseUnits.CustID3, UseUnits.CustID4

FROM		UseUnits
			LEFT OUTER JOIN Customers AS c1 ON UseUnits.CustID1 = c1.CustID 
			LEFT OUTER JOIN	Customers AS c2 ON UseUnits.CustID2 = c2.CustID 
			LEFT OUTER JOIN	Customers AS c3 ON UseUnits.CustID3 = c3.CustID 
			LEFT OUTER JOIN	Customers AS c4 ON UseUnits.CustID4 = c4.CustID
WHERE        (UseUnits.UseActive = 0)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------
----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vu_UseOthersName
AS
SELECT DISTINCT cast(	U.UseOtherID AS int) AS UseUnitID, U.UseOtherName + 
			CASE WHEN isnull(U.CustID,0) <> 0 THEN '>' + isnull(c1.CustFirstName,'')+' '+c1.CustName ELSE '' END  AS UseUnitName,
			U.UseNote,  U.TopicCode, U.DetailCode, U.CTopicCode, U.CTopicCode2, 
            U.UseState, U.CTopicCode3, U.CustID ,0 as IndexNum ,U.UseNote Note,ProjectID

FROM		UseOthers AS U
			LEFT OUTER JOIN Customers AS c1 ON U.CustID = c1.CustID 
WHERE        (U.UseState = 0)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------
----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vw_Loan_Ck
AS
SELECT        Forms.FormID, Forms.ServerID, Forms.YearID, Forms.FormType, SUM(FormItems_Check.ItemAmount) AS ItemAmountC, COUNT(FormItems_Check.FormItemID) AS CountC, F_Check.CashCheckFormID
FROM            Forms AS F_Check INNER JOIN
                         FormItems AS FormItems_Check ON F_Check.FormID = FormItems_Check.FormID AND F_Check.ServerID = FormItems_Check.ServerID AND F_Check.YearID = FormItems_Check.YearID RIGHT OUTER JOIN
                         Forms ON F_Check.YearID = Forms.YearID AND F_Check.ServerID = Forms.ServerID AND F_Check.CashCheckFormID = Forms.FormID
WHERE     (F_Check.FormType = 10) AND    (F_Check.CashCheckFormID IS NOT NULL) AND (Forms.FormType = 108)
GROUP BY Forms.FormType, Forms.FormID, F_Check.CashCheckFormID, Forms.ServerID, Forms.YearID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------
--------------------------------------------------
----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vw_Loan_Gu
AS
SELECT        Forms.FormID, Forms.ServerID, Forms.YearID, Forms.FormType, Forms_G.GuaranteesFormID, SUM(FormItems_G.ItemAmount) AS ItemAmountG, COUNT(FormItems_G.FormItemID) AS CountG
FROM            Forms LEFT OUTER JOIN
                         Forms AS Forms_G INNER JOIN
                         FormItems AS FormItems_G ON Forms_G.YearID = FormItems_G.YearID AND Forms_G.ServerID = FormItems_G.ServerID AND Forms_G.FormID = FormItems_G.FormID ON Forms_G.YearID = Forms.YearID AND 
                         Forms_G.ServerID = Forms.ServerID AND Forms.FormID = Forms_G.GuaranteesFormID
WHERE       (Forms.FormType = 108) AND (Forms_G.FormType = 80) AND (Forms_G.GuaranteesFormID IS NOT NULL)
GROUP BY Forms.FormType, Forms_G.GuaranteesFormID, Forms.FormID, Forms.ServerID, Forms.YearID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------
--------------------------------------------------
----------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE VIEW Vw_Loan_FA
AS
SELECT  Forms.CustomerID1, Customers.CustName, FormItems.FormItemID, FormItems.FormID, FormItems.Row, FormItems.CheckNumber, FormItems.CheckDate, FormItems.ItemAmount ItemAmount1, FormItems.preFormItemID, Forms.FormType, 
                         FormItems.YearID,FormItems.ServerID, FormItems_Pay.ItemAmount, FormItems_Pay.CashWage, Forms.LoansFormID LoansFormID, Forms_Pay.LoansFormID LoansFormID1, Forms.FormNumber
						 , R_Factor.TotalInputPrice+R_Factor.TotalOutputPrice AS TotalPrice,TaxValue, 
                         R_Factor.TotallSellPrice
FROM Customers INNER JOIN
	FormItems INNER JOIN
	Forms ON FormItems.FormID = Forms.FormID AND FormItems.ServerID = Forms.ServerID AND FormItems.YearID = Forms.YearID ON Customers.CustID = Forms.CustomerID1 LEFT OUTER JOIN
	ReciptItems AS R_Factor ON FormItems.ID = R_Factor.FormItems_ID LEFT OUTER JOIN
	Forms AS Forms_Pay INNER JOIN
	FormItems AS FormItems_Pay ON FormItems_Pay.FormID = Forms_Pay.FormID AND FormItems_Pay.ServerID = Forms_Pay.ServerID AND FormItems_Pay.YearID = Forms_Pay.YearID ON 
	FormItems.FormItemID = FormItems_Pay.preFormItemID AND FormItems.ServerID = FormItems_Pay.ServerID AND FormItems.YearID = FormItems_Pay.YearID
WHERE        (Forms.FormType = 109) 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
---------------------------------------------------
--------------------------------------------------
