--15  تاريخ 1402/11/12    

if exists (select * from sysobjects where id = object_id(N'[dbo].[MakeDocuments_FormItems]') and xtype in (N'FN', N'IF', N'TF'))
drop function dbo.MakeDocuments_FormItems
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION dbo.MakeDocuments_FormItems (@AllDocAble Tinyint=0, @FormDateFrom varchar(10)=[00/00/00], @FormDateTo varchar(10)=[99/99/99],
			@FormNoFrom varchar (12)=[-9999999], @FormNoTo varchar (12)=[99999999] --, @FormType varchar (3)= [50] 
            ,@CheckStateFrom varchar (12)=[0], @CheckStateTo varchar (12)=[99]
            ,@SellsEmporiumFrom int=0,@SellsEmporiumTo int = 999999999 
            ,@PayTypesFrom int=0,@PayTypesTo int = 999999999 
			,@MakeDocKind int =1 ,
			 @AidDateFrom char(10)='0000/00/00', @AidDateTo char(10)='9999/99/99')
  RETURNS @retFindReports TABLE 
  (
	ID Bigint ,
	FormNumber int ,
	FormDate char(10)  COLLATE DATABASE_DEFAULT,
    FormType tinyint ,
	FormItemID int ,
	FormID int ,
	CheckNumber numeric(1, 1) ,
	CheckDate char(10)  COLLATE DATABASE_DEFAULT ,
	TopiCcode bigint ,
	DetailCode int ,
	CTopicCode int ,
	CTopicCode2 int ,
	CTopicCode3 int ,
	Comment varchar(500)  COLLATE DATABASE_DEFAULT ,
	Debt money ,
	credit money  ,
	BudgetCode int ,
	ServerID int  ,
	YearID int   ,
	PO varchar(30)  COLLATE DATABASE_DEFAULT,
	AidInfoNo float ,
	AidInfoDate char(10)   COLLATE DATABASE_DEFAULT ,
	AidInfoNoItem float ,
	AidInfoDateItem char(10)  COLLATE DATABASE_DEFAULT  ,
	ArzTypeID int NULL ,
	Currencydebit   decimal(18, 4),
	Currencycredit   decimal(18, 4),
	CurrencyRate   decimal(18, 4)

  )
  AS 
BEGIN  
INSERT INTO @retFindReports

SELECT ID,FormNumber ,FormDate,FormType,MIN(FormItemID) AS FormItemID ,FormID,0.0 CheckNumber,'0 ' AS CheckDate,TopiCcode, DetailCode, CTopicCode, CTopicCode2,0 AS CTopicCode3,
       Comment, SUM(Debt) AS Debt,0 AS credit, BudgetCode, ServerID, YearID,PO,AidInfoNo,AidInfoDate, MIN(AidInfoNoItem) AidInfoNoItem, MIN(AidInfoDateItem) AidInfoDateItem,ArzTypeID
	   , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM (
SELECT   CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.ID END AS ID ,Forms.FormNumber,Forms.FormDate,Forms.FormType,  CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormItemID END AS FormItemID
        , CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormID END AS FormID ,
         cast( FormItems.TopicCode as int) AS TopiCcode, FormItems.CustomerID2 AS DetailCode,cast(FormItems.CTopicCode as int) as CTopicCode,  
         cast(FormItems.CTopicCode2 as int) as CTopicCode2,' بابت ' + FormTypes.FormCaption+' '+FormDate+CASE @MakeDocKind WHEN 2 THEN '' ELSE str(FormNumber) END AS Comment, 
         FormItems.ItemAmount AS Debt, FormItems.BudgetCode, Forms.ServerID, Forms.YearID, FormItems.PO 
		 ,Forms.AidInfoNo,Forms.AidInfoDate,FormItems.AidInfoNo AidInfoNoItem ,FormItems.AidInfoNo AidInfoDateItem,Forms.ArzTypeID
FROM         Forms INNER JOIN
                      FormItems ON Forms.FormID = FormItems.FormID AND Forms.ServerID = FormItems.ServerID AND Forms.YearID = FormItems.YearID INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType INNER JOIN
                      Customers ON FormItems.CustomerID2 = Customers.CustID INNER JOIN
                      CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID
WHERE     (Forms.FormNumber BETWEEN @FormNoFrom AND @FormNoTo) AND ((Forms.DocNo = 0)OR(@AllDocAble=1)) AND (Forms.FormDate BETWEEN @FormDateFrom AND 
                      @FormDateTo) AND (FormItems.CheckState BETWEEN @CheckStateFrom AND @CheckStateTo) AND (Forms.FormState < 10)
     AND (Forms.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
     AND (Forms.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then Forms.FormState else FormTypes.FormStateDefault4Doc end) = Forms.FormState)
	AND ((ISNULL(Forms.AidInfoDate, '') = '') OR (Forms.AidInfoDate = '/  /') OR (Forms.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo))
	 
	  ) T
GROUP BY FormNumber,FormDate,FormType,DetailCode, TopicCode,CTopicCode,CTopicCode2,-- FormTypes.FormCaption,
         ID ,FormID , ServerID, YearID, Comment  , BudgetCode,PO,AidInfoNo,AidInfoDate,ArzTypeID
		 --,FormDate
                      
UNION ALL

SELECT ID,FormNumber,FormDate,FormType, MIN(FormItemID),FormID, 0.0 AS CheckNumber, '0' AS CheckDate, TopiCcode, DetailCode, CTopicCode, CTopicCode2, 0 as CTopicCode3, Comment,SUM(credit) credit, 0 AS Debt, 
       BudgetCode, ServerID, YearID  ,PO,AidInfoNo,AidInfoDate, MIN(AidInfoNoItem) AidInfoNoItem, MIN(AidInfoDateItem) AidInfoDateItem,ArzTypeID
	   , 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM (
SELECT  CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.ID END AS ID, Forms.FormNumber,Forms.FormDate, Forms.FormType,  CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormItemID END AS FormItemID
      , CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormID END AS FormID, 
--cast( CustomersGroup.acc_TopicCode as int) AS TopiCcode, 
cast( FormItems.TopicCode as int) AS TopiCcode, 
                      Customers.acc_DetailCode AS DetailCode,cast(  Forms.CTopicCode as int) as CTopicCode  ,
                      cast(  Forms.CTopicCode2 as int) as CTopicCode2, 
                      ' بابت ' + FormTypes.FormCaption+' '+FormDate+str(FormNumber) AS Comment,  
                      FormItems.ItemAmount AS credit,  FormItems.BudgetCode, Forms.ServerID, Forms.YearID, FormItems.PO
					  ,Forms.AidInfoNo,Forms.AidInfoDate,FormItems.AidInfoNo AidInfoNoItem ,FormItems.AidInfoNo AidInfoDateItem,Forms.ArzTypeID
			
FROM         CustomersGroup INNER JOIN
                      Customers ON CustomersGroup.CustomerGrpID = Customers.CustomerGrpID INNER JOIN
                      Forms INNER JOIN
                      FormItems ON Forms.FormID = FormItems.FormID AND Forms.ServerID = FormItems.ServerID AND Forms.YearID = FormItems.YearID INNER JOIN
                      FormTypes ON Forms.FormType = FormTypes.FormType ON Customers.CustID = Forms.CustomerID1
WHERE     (Forms.FormNumber BETWEEN @FormNoFrom AND @FormNoTo) AND ((Forms.DocNo = 0)OR(@AllDocAble=1)) AND (Forms.FormDate BETWEEN @FormDateFrom AND 
                      @FormDateTo) AND (FormItems.CheckState BETWEEN @CheckStateFrom AND @CheckStateTo) AND (Forms.FormState < 10)
     AND (Forms.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
	      AND (Forms.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	 AND ((case when FormTypes.FormStateDefault4Doc = 0 then Forms.FormState else FormTypes.FormStateDefault4Doc end) = Forms.FormState)
	AND ((ISNULL(Forms.AidInfoDate, '') = '') OR (Forms.AidInfoDate = '/  /') OR (Forms.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo))

) T1
GROUP BY FormNumber,FormDate,FormType,TopicCode, CTopicCode, CTopicCode2,  FormID , ID , ServerID, YearID,DetailCode, BudgetCode, Comment,PO
       ,AidInfoNo,AidInfoDate,ArzTypeID
--, FormCaption,FormNumber, FormDate
                      


 UPDATE @retFindReports SET Debt=ROUND(Debt,0), credit=ROUND(credit,0)    
     RETURN
END