--6  تاريخ 1402/11/12    
if exists (select * from sysobjects where id = object_id(N'[dbo].Aid_MakeDocuments_REVENUE_IN_Check') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION dbo.Aid_MakeDocuments_REVENUE_IN_Check
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[MakeDocuments_Check]') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION dbo.MakeDocuments_Check
GO
CREATE FUNCTION [dbo].[Aid_MakeDocuments_REVENUE_IN_Check] 
								(
									 @AllDocAble Tinyint=0
									,@FormDateFrom varchar(10)=[00/00/00]
									,@FormDateTo varchar(10)=[99/99/99]
									,@FormNoFrom varchar (12)=[-9999999]
									,@FormNoTo varchar (12)=[99999999] 
									--, @FormType varchar (3)= [50] 😳😳😳
                                    ,@CheckStateFrom varchar (12)=[0]
									,@CheckStateTo varchar (12)=[99]  
                                    ,@SellsEmporiumFrom int=0
									,@SellsEmporiumTo int = 999999999 
                                    ,@PayTypesFrom int=0
									,@PayTypesTo int = 999999999 
									,@MakeDocKind int =1
									,@AidDateFrom char(10)='0000/00/00'
									,@AidDateTo char(10)='9999/99/99'
								)

    RETURNS @retFindReports TABLE 
  (
	ID Bigint ,
	FormType tinyint ,
	FormCaption varchar(150)  COLLATE DATABASE_DEFAULT ,
	FormItemID int ,
	FormID int ,
	FormNumber int ,
	FormDate char(10)   COLLATE DATABASE_DEFAULT ,
	CheckNumber char(15)   COLLATE DATABASE_DEFAULT ,
	CheckDate char(10)   COLLATE DATABASE_DEFAULT ,
	ItemAmount money ,
	ItemNote varchar(1000) COLLATE DATABASE_DEFAULT ,
	Row int ,
	AidInfoNo float ,
	AidInfoDate char(10)   COLLATE DATABASE_DEFAULT ,
	AidInfoNoItem float ,
	AidInfoDateItem char(10)  COLLATE DATABASE_DEFAULT  ,
	FomNote varchar(500) COLLATE DATABASE_DEFAULT ,
	CheckType tinyint ,
	CheckState tinyint ,
	CashWage money ,
	CashWageTopicCode bigint NOT NULL,
	CashWageDetailCode varchar(12) COLLATE DATABASE_DEFAULT  ,
	CashWageCTopicCode varchar(12) COLLATE DATABASE_DEFAULT  ,
	CashWageCTopicCode2 varchar(12) COLLATE DATABASE_DEFAULT  ,
	TopicCode_Bed bigint ,
	DetailCode_Bed int ,
	CTopicCode_Bed int ,
	CTopicCode2_Bed int ,
	CTopicCode3_Bed int ,
	TopicCode_Bes bigint ,
	DetailCode_Bes int ,
	CTopicCode_Bes int ,
	CTopicCode2_Bes int ,
	CTopicCode3_Bes int ,
	InfoUse4Bed tinyint ,
	InfoUse4Bes tinyint ,
	CashCheckFormID int ,
	CustomerID2 int ,
	CustName varchar(160)  COLLATE DATABASE_DEFAULT ,
	UseBudgetKind tinyint ,
	BudgetCode int ,
	ServerID int ,
	YearID int ,
    ArzAmount FLOAT,
	ArzAmountexchange FLOAT,
	RelatedRecipts char(30)  COLLATE DATABASE_DEFAULT  NULL,
	ArzRate FLOAT,
	ConstTopicCode_ArzBed int NULL,
	ConstTopicCode_ArzBes int NULL,
	ct1name varchar(160)  COLLATE DATABASE_DEFAULT,
	SeparationDoc Tinyint ,
	RialsEqual float ,
	CheckFor varchar(255),
	PO varchar(30)  ,
	ArzTypeID int NULL,
	InsertSeverableOnRecall int,
	CashWageActive Tinyint,
	Currencydebit   decimal(18, 4),
	Currencycredit   decimal(18, 4),
	CurrencyRate   decimal(18, 4)

  )
  AS 
BEGIN  
INSERT INTO @retFindReports


SELECT   
	 CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.ID END AS ID
	,FormTypes.FormType
	,FormTypes.FormCaption
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE FormItems.FormItemID END AS FormItemID
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormID END AS FormID
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.FormNumber END AS FormNumber
	,Forms.FormDate
	,FormItems.CheckNumber
	,FormItems.CheckDate
	,FormItems.ItemAmount
	,FormItems.ItemNote
	,FormItems.Row
	,Forms.AidInfoNo
	,Forms.AidInfoDate
	,FormItems.AidInfoNo AS AidInfoNoItem
	,FormItems.AidInfoDate AS AidInfoDateItem
	,Forms.FomNote
	,FormItems.checkType
	,FormItems.CheckState
	,isnull(FormItems.CashWage,0) as CashWage 
	,FormTypes.CashWageTopicCode
	,FormTypes.CashWageDetailCode
	,FormTypes.CashWageCTopicCode
	,FormTypes.CashWageCTopicCode2 
-- START OF CALCULATE DEBIT CODING FOR ACCOUNTING -بدهکار سند حسابداري --
	,FormTypes.ConstTopicCode_Bed as TopicCode_Bed
	,0  as DetailCode_Bed --,isnull(BTD.DetailCode,BT.DetailCode) as DetailCode_Bed 
	,0  as CTopicCode_Bed--,isnull(BTD.CTopic1,BT.CTopic1) as CTopicCode_Bed 
	,0 as CTopicCode2_Bed
	,0 as CTopicCode3_Bed
	--بستانکار سند حسابداري --
	,0  as TopicCode_Bes--,isnull(BTD.AccCode,BT.AccCode)  as TopicCode_Bes
	,0  as DetailCode_Bes--,isnull(BTD.DetailCode,BT.DetailCode) as DetailCode_Bes 
	,0  as CTopicCode_Bes--,isnull(BTD.CTopic1,BT.CTopic1) as CTopicCode_Bes 
	,0 as CTopicCode2_Bes
	,0 as CTopicCode3_Bes
	,FormTypes.InfoUse4Bed 
	,FormTypes.InfoUse4Bes
	,CASE @MakeDocKind WHEN 2 THEN 0 ELSE Forms.CashCheckFormID END AS CashCheckFormID
	,FormItems.CustomerID2
	,Customers_3.CustName
	,FormTypes.UseBudgetKind -- to do -- add field on formtype 
    ,case when FormItems.BudgetCode!= 0 then FormItems.BudgetCode else forms.BudgetCode end BudgetCode
	,Forms.ServerID
	,Forms.YearID
	,FormItems.ArzAmount
	,Forms.ArzAmountExchange as ArzAmountExchange 
	,forms.RelatedRecipts  as RelatedRecipts
	,forms.ArzRateExchange as ArzRate
	,FormTypes.ConstTopicCode_ArzBed
	,ConstTopicCode_ArzBes 
	,Customers_1.CustName as ct1name
	,FormTypes.SeparationDoc
	,Forms.ArzRate as RialsEqual
	,FormItems.CheckFor
	,FormItems.PO
	,Forms.ArzTypeID
	,FormTypes.InsertSeverableOnRecall
	,FormTypes.CashWageActive, 0.0 AS Currencydebit, 0.0 AS Currencycredit, 0.0 CurrencyRate
FROM   
		FormItems  
		INNER JOIN Forms ON FormItems.FormID = Forms.FormID  AND FormItems.ServerID = Forms.ServerID AND FormItems.YearID = Forms.YearID 
		INNER JOIN FormTypes ON Forms.FormType = FormTypes.FormType 
		--LEFT OUTER JOIN dbo.VU_BudgetTopics BTD  on  FormItems.BudgetCode = btD.[BudgetTopicID]
		--LEFT OUTER JOIN dbo.VU_BudgetTopics BT  on	Forms.BudgetCode	 = bt.[BudgetTopicID]
		LEFT OUTER JOIN Customers Customers_3   ON 	FormItems.CustomerID2 = Customers_3.CustID
		LEFT OUTER JOIN Customers Customers_1 ON Forms.CustomerID1 = Customers_1.CustID  
WHERE  ((Forms.DocNo =0)OR(@AllDocAble=1)) 
	  --(FormTypes.FormType = @FormType) AND 
       AND (Forms.FormNumber BETWEEN @FormNoFrom AND @FormNoTo ) 
	   AND (Forms.FormDate BETWEEN @FormDateFrom  AND @FormDateTo ) 
	   AND ((ISNULL(Forms.AidInfoDate, '') = '') OR (Forms.AidInfoDate = '/  /') OR (Forms.AidInfoDate BETWEEN @AidDateFrom AND @AidDateTo))
	   AND (FormItems.CheckState BETWEEN @CheckStateFrom  AND @CheckStateTo ) 
	   AND (Forms.FormState < 10) 
	   AND (FormItems.CheckType between 0 and  (case when ( FormTypes.DefaultTopic_Bed=7 or FormTypes.DefaultTopic_Bes=7 ) then 0 else   99 end ))
	   AND (Forms.SellsEmporium BETWEEN @SellsEmporiumFrom AND @SellsEmporiumTo)
       AND (Forms.PayTypes BETWEEN @PayTypesFrom AND @PayTypesTo)
	   AND ((case when FormTypes.FormStateDefault4Doc = 0 then Forms.FormState else FormTypes.FormStateDefault4Doc end) = Forms.FormState)
	   AND FormTypes.UseBudgetKind = 4 
   RETURN
END



  



GO
CREATE FUNCTION [dbo].[MakeDocuments_Check] 
					(
						 @AllDocAble Tinyint=0
						,@FormDateFrom varchar(10)=[00/00/00]
						,@FormDateTo varchar(10)=[99/99/99]
						,@FormNoFrom varchar (12)=[-9999999]
						,@FormNoTo varchar (12)=[99999999] --
					--	,@FormType varchar (3)= [50] 
                        ,@CheckStateFrom varchar (12)=[0]
						,@CheckStateTo varchar (12)=[99] 
                        ,@SellsEmporiumFrom int=0
						,@SellsEmporiumTo int = 999999999 
                        ,@PayTypesFrom int=0
						,@PayTypesTo int = 999999999 
						,@MakeDocKind int =1 
						,@AidDateFrom char(10)='0000/00/00'
						,@AidDateTo char(10)='9999/99/99'
					)
RETURNS table  AS  
return (
-- START OF PART A : براي بدهكار در نظر گرفته شده است -- اگر تفكيك پرداخت داشته باشد نتيجه تهي خواهد بود 
SELECT	  
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,TopicCode_Bed AS TopicCode
	,DetailCode_Bed AS DetailCode
	,CTopicCode_Bed AS CtopicCode
	,CTopicCode2_Bed AS CtopicCode2
	,CTopicCode3_Bed AS CtopicCode3
	,case 
		when FormType >=50 then ItemAmount + case 
												when AMC.CashWageActive = 1 then - isnull(CashWage,0) 
												when AMC.CashWageActive = 2 then  isnull(CashWage,0) 
												else 0 
											 end 
										   - isnull( Severable.Price,0) 
		else ItemAmount 
	 end AS debt
	,0 AS credit
	,0 AS bedbes
	,case when FormType >=50 then isnull(ItemNote,'')+' '+isnull(SeverableNote,'') else ItemNote end   as ItemNote
	,FomNote
	,isnull(ItemNote,'') as ItemNote1
	,isnull(SeverableNote,'') as SeverableNote 
	,CustomerID2
	,CustName 
	,case when UseBudgetKind in(1,3) then amc.BudgetCode else 0 end as BudgetCode 
	,AMC.ServerID
	,AMC.YearID  
	,ArzAmount            
	--,@FormType
	,ct1name
	,CheckFor
	,po
	,AMC.ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   

FROM	Aid_MakeDocuments_Check
						(
							 @AllDocAble 
							,@FormDateFrom
							,@FormDateTo
							,@FormNoFrom
							,@FormNoTo
							,@CheckStateFrom
							,@CheckStateTo 
							,@SellsEmporiumFrom 
							,@SellsEmporiumTo 
                            ,@PayTypesFrom 
							,@PayTypesTo 
							,@MakeDocKind 
							,@AidDateFrom 
							,@AidDateTo
						) AMC 
		LEFT OUTER JOIN	(   SELECT 
								 FormItemID
								,FormID
								,ServerID
								,YearID
								,SUM(ISNULL(Amount, 0) - ISNULL(DeficitAmount, 0)) AS Price
								,MIN(SeverableNote) AS SeverableNote
							FROM         Severable AS Severable_1
							GROUP BY 
								FormItemID
								,FormID
								,ServerID
								,YearID
						)Severable ON AMC.FormItemID = Severable.FormItemID 
									  AND AMC.FormID = Severable.FormID 
									  AND AMC.ServerID = Severable.ServerID 
									  AND AMC.YearID = Severable.YearID
Where case 
		when FormType >=50 then ItemAmount 
							+ case 
								 when AMC.CashWageActive = 1 then - isnull(CashWage,0) 
								 else 0 
							  end 
							- isnull( Severable.Price,0) 
	   else ItemAmount 
	   end  >0 

-- END OF PART A 
UNION ALL
-- START OF PART B : كارمزد وصول چك 
SELECT    
	ID
	,FormItemID 
	,FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,CashWageTopicCode  AS TopicCode
	,CashWageDetailCode AS DetailCode
	,CashWageCTopicCode AS CtopicCode
	,CashWageCTopicCode2  AS CtopicCode2
    ,0 AS CtopicCode3
	--,CashWage AS debt ,0 AS credit
	,case when AMC.CashWageActive = 1 then  isnull(CashWage,0) else 0 end AS debt
	,case when AMC.CashWageActive = 2 then  isnull(CashWage,0) else 0 end AS credit
	,0 AS bedbes
	,ItemNote
	,FomNote
	,'' as ItemNote1
	,'' as SeverableNote 
	,CustomerID2
	,CustName 
	,BudgetCode as BudgetCode  
	,ServerID
	,YearID  
	,ArzAmount           
	--, @FormType
	,ct1name
	,CheckFor
	,PO
	,ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM  Aid_MakeDocuments_Check
						(
							 @AllDocAble 
							,@FormDateFrom
							,@FormDateTo
							,@FormNoFrom
							,@FormNoTo
							,@CheckStateFrom
							,@CheckStateTo 
							,@SellsEmporiumFrom 
							,@SellsEmporiumTo 
                            ,@PayTypesFrom 
							,@PayTypesTo 
							,@MakeDocKind 
							,@AidDateFrom 
							,@AidDateTo
						) AMC
where CashWage>0
-- END OF PART B -- كارمزد وصول چك 
UNION ALL
-- START OF PART C : براي تفكيك پرداخت 
SELECT	
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,case 
		when  ((InsertSeverableOnRecall &  2 ) <> 0) then ---CHkSev2_TopicCode_Bed ---  خانم فلاحی شرکت عمران اندیشه
		    case 
				WHEN Severable.TopicCode > 0 then Severable.TopicCode 
				else case when  Severable.CustID>0 then CustomersGroup.acc_TopicCode else TopicCode_Bed end 
			end 
		else TopicCode_Bed 
	 end AS TopicCode
	,case 
		when  ((InsertSeverableOnRecall &  4 ) <> 0) then ---CHkSev4_DetailCode_Bed ---  خانم فلاحی شرکت عمران اندیشه
			case 
				WHEN (Severable.DetailCode > 0 ) then Severable.DetailCode
				WHEN (Severable.DetailCode = - Severable.TopicCode) then 0 
				else case when  Severable.CustID>0 then Customers.acc_DetailCode else DetailCode_Bed end 
			end 
		else DetailCode_Bed 
	 end AS DetailCode
	,case 
		WHEN Severable.CTopicCode >0 then Severable.CTopicCode 
		else 
			case when  Severable.CustID>0 then 
				case when Customers.acc_CTopicCode > 0 then Customers.acc_CTopicCode else CustomersGroup.acc_cTopicCode  end 
			else CTopicCode_Bed 
			end 
	  end AS CtopicCode
	,case 
		WHEN Severable.CTopicCode2 >0 then Severable.CTopicCode2 
		else 
			case 
				when  Severable.CustID>0 then 
					case when Customers.acc_CTopicCode2 > 0 then Customers.acc_CTopicCode2 else CustomersGroup.acc_cTopicCode2  end 
				else CTopicCode2_Bed 
			end 
	  end AS CtopicCode2 
	,CTopicCode3_Bed AS CtopicCode3
	,case when FormType>= 50 then Severable.Amount  else Severable.DeficitAmount  end  AS debt --  else:  در صورت مزاحمت مي تواند حذف شود ، چون معمولا فاقد كاربرد است 
	,case when FormType>= 50 then Severable.DeficitAmount  else Severable.Amount end  AS credit
	,case when FormType>= 50 then 0 else 1 end  AS bedbes
	,isnull(ItemNote,'')+' '+isnull(SeverableNote,'')  as ItemNote
	,ItemNote,isnull(ItemNote,'') as ItemNote1,isnull(SeverableNote,'') as SeverableNote 
	,CustomerID2
	,Customers.CustName 
	,case when UseBudgetKind in(1,2,3) then Severable.BudgetCode else 0 end as BudgetCode 
	,AMC.ServerID
	,AMC.YearID 
	,AMC.ArzAmount                --, @FormType
	,ct1name
	,CheckFor
	,PO
	,AMC.ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM	dbo.Aid_MakeDocuments_Check
						(
							 @AllDocAble 
							,@FormDateFrom
							,@FormDateTo
							,@FormNoFrom
							,@FormNoTo
							,@CheckStateFrom
							,@CheckStateTo 
							,@SellsEmporiumFrom 
							,@SellsEmporiumTo 
                            ,@PayTypesFrom 
							,@PayTypesTo 
							,@MakeDocKind 
							,@AidDateFrom 
							,@AidDateTo
						) AMC 
		INNER JOIN Severable ON AMC.FormItemID = Severable.FormItemID AND AMC.FormID = Severable.FormID 
							AND AMC.ServerID = Severable.ServerID AND AMC.YearID = Severable.YearID 
		INNER JOIN Customers ON Severable.CustID = Customers.CustID 
		INNER JOIN CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID

UNION ALL
-- END OF PART C : براي تفكيك پرداخت 
-- START OF PART D : تجمیع  براي طرف بستانكار    SeparationDoc = 0
SELECT   
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,TopicCode_Bes
	,DetailCode_Bes
	,CTopicCode_Bes
	,CTopicCode2_Bes
	,CTopicCode3_Bes AS CtopicCode3
	,0 AS debt
	,case 
		when FormType< 50 then 
			ItemAmount 
		  + case when AMC.CashWageActive = 1 then - isnull(CashWage,0) else 0 end
		  - isnull( Severable.Price,0) 
	    else ItemAmount 
	 end credit
	,1 AS bedbes
	,case when FormType <50 then isnull(ItemNote,'')+' '+isnull(SeverableNote,'') else ItemNote end as ItemNote
	,FomNote,isnull(ItemNote,'') as ItemNote1
	,isnull(SeverableNote,'') as SeverableNote 
	,CustomerID2
	,CustName 
	,case when UseBudgetKind in(2,3) then amc.BudgetCode else 0 end as BudgetCode 
	,AMC.ServerID
	,AMC.YearID 
	,AMC.ArzAmount                                          --, @FormType
	,ct1name
	,CheckFor
	,PO,ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM Aid_MakeDocuments_Check
				(
					 @AllDocAble 
					,@FormDateFrom
					,@FormDateTo
					,@FormNoFrom
					,@FormNoTo
					,@CheckStateFrom
					,@CheckStateTo 
					,@SellsEmporiumFrom 
					,@SellsEmporiumTo 
                    ,@PayTypesFrom 
					,@PayTypesTo 
					,@MakeDocKind 
					,@AidDateFrom 
					,@AidDateTo
				) AMC 
	LEFT OUTER JOIN	( 
						SELECT 
								 FormItemID
								,FormID
								,ServerID
								,YearID
								,SUM(ISNULL(Amount, 0) - ISNULL(DeficitAmount, 0)) AS Price
								,MIN(SeverableNote) AS SeverableNote
						FROM  Severable AS Severable_2
						GROUP BY FormItemID
								,FormID
								,ServerID
								,YearID
		)Severable ON AMC.FormItemID = Severable.FormItemID AND 
		AMC.FormID = Severable.FormID AND 
		AMC.ServerID = Severable.ServerID AND 
		AMC.YearID = Severable.YearID

Where (SeparationDoc = 0 ) and  (case when FormType < 50 then ItemAmount - isnull( Severable.Price,0) else ItemAmount end  >0 )

-- START OF PART D :  تفکیک  براي طرف بستانكار    SeparationDoc = 1
UNION ALL
-- START OF PART E : 
SELECT   
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,TopicCode_Bes
	,DetailCode_Bes
	,case WHEN Severable.CTopicCode >0 then Severable.CTopicCode else 
		case when  Severable.CustID>0 then 
			case when Customers.acc_CTopicCode > 0 
				then Customers.acc_CTopicCode else CustomersGroup.acc_cTopicCode  end 
		else CTopicCode_Bes end end AS CtopicCode
	,case WHEN Severable.CTopicCode2 >0 then Severable.CTopicCode2 else 
		case when  Severable.CustID>0 then 
			case when Customers.acc_CTopicCode2 > 0 
				then Customers.acc_CTopicCode2 else CustomersGroup.acc_cTopicCode2  end 
		else CTopicCode2_Bes 
		end 
	end AS CtopicCode2
	,CTopicCode3_Bes AS CtopicCode3
	,0 AS debt  --case when FormType< 50 then ItemAmount - isnull(CashWage,0) - 
	,ISNULL(Amount, 0) - ISNULL(DeficitAmount, 0) credit
	--else ItemAmount end 
	,1 AS bedbes
	-- case when FormType <50 then 
	,isnull(ItemNote,'')+' '+isnull(SeverableNote,'') as ItemNote --else ItemNote end   
	,FomNote
	,isnull(ItemNote,'') as ItemNote1
	,isnull(SeverableNote,'') as SeverableNote 
	,CustomerID2
	,AMC.CustName 
	,case when UseBudgetKind in(2,3) then Severable.BudgetCode else 0 end as BudgetCode 
	,AMC.ServerID
	,AMC.YearID 
	,AMC.ArzAmount                                          --, @FormType
	,ct1name
	,CheckFor
	,PO
	,AMC.ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM	Aid_MakeDocuments_Check
							(
								 @AllDocAble 
								,@FormDateFrom
								,@FormDateTo
								,@FormNoFrom
								,@FormNoTo
								,@CheckStateFrom
								,@CheckStateTo 
								,@SellsEmporiumFrom 
								,@SellsEmporiumTo 
                                ,@PayTypesFrom 
								,@PayTypesTo 
								,@MakeDocKind 
								,@AidDateFrom 
								,@AidDateTo
							) AMC
		LEFT OUTER JOIN	Severable ON AMC.FormItemID = Severable.FormItemID 
								 AND AMC.FormID = Severable.FormID 
								 AND AMC.ServerID = Severable.ServerID 
								 AND AMC.YearID = Severable.YearID  
		LEFT OUTER JOIN	Customers ON Severable.CustID = Customers.CustID  
		LEFT OUTER JOIN	CustomersGroup ON Customers.CustomerGrpID = CustomersGroup.CustomerGrpID				   
Where  (SeparationDoc = 1 ) 
	   and  
	   (
		case 
			when FormType < 50 then ItemAmount - ISNULL(Amount, 0) - ISNULL(DeficitAmount, 0) 
			else ItemAmount 
		end  >0 
       )

-- END OF PART E :  براي طرف بستانكار  
UNION ALL
-- START OF PART F : براي بدهكار درآمد در جریان وصول در نظر گرفته شده است  
SELECT	  
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,TopicCode_Bed AS TopicCode
	,DetailCode_Bed AS DetailCode
	,CTopicCode_Bed AS CtopicCode
	,CTopicCode2_Bed AS CtopicCode2
	,CTopicCode3_Bed AS CtopicCode3
	,ItemAmount AS debt
	,0 AS credit
	,0 AS bedbes
	,ItemNote as ItemNote
	,FomNote
	,isnull(ItemNote,'') as ItemNote1
	,'' as SeverableNote 
	,CustomerID2
	,CustName 
	,BudgetCode 
	,AMC.ServerID
	,AMC.YearID  
	,ArzAmount            
	--,@FormType
	,ct1name
	,CheckFor
	,po
	,AMC.ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM	Aid_MakeDocuments_REVENUE_IN_Check
						(
							 @AllDocAble 
							,@FormDateFrom
							,@FormDateTo
							,@FormNoFrom
							,@FormNoTo
							,@CheckStateFrom
							,@CheckStateTo 
							,@SellsEmporiumFrom 
							,@SellsEmporiumTo 
                            ,@PayTypesFrom 
							,@PayTypesTo 
							,@MakeDocKind 
							,@AidDateFrom 
							,@AidDateTo
						) AMC 

Where  ItemAmount >0 

-- END OF PART F : براي بدهكار درآمد در جریان وصول در نظر گرفته شده است  
UNION ALL
-- START OF PART G :  براي طرف بستانكار درآمد در جریان در نظر گرفته شده است 
SELECT   
	 AMC.ID
	,AMC.FormItemID
	,AMC.FormID
	,CheckNumber
	,CheckDate
	,AidInfoNo
	,AidInfoDate
	,AidInfoNoItem
	,AidInfoDateItem
	,FormNumber
	,FormDate
	,FormType
	,FormCaption
	,checkType
	,TopicCode_Bes
	,DetailCode_Bes
	,CTopicCode_Bes AS CtopicCode2
	,CTopicCode2_Bes AS CtopicCode2
	,CTopicCode3_Bes AS CtopicCode3
	,0 AS debt  
	,ItemAmount credit
	,1 AS bedbes
	,'' as ItemNote --else ItemNote end   
	,FomNote
	,isnull(ItemNote,'') as ItemNote1
	,'' as SeverableNote 
	,CustomerID2
	,AMC.CustName 
	,BudgetCode 
	,AMC.ServerID
	,AMC.YearID 
	,AMC.ArzAmount 
	,ct1name
	,CheckFor
	,PO
	,AMC.ArzTypeID,
	0.0 Currencydebit  ,
	0.0 Currencycredit   ,
	0.0 CurrencyRate   
FROM	Aid_MakeDocuments_REVENUE_IN_Check
							(
								 @AllDocAble 
								,@FormDateFrom
								,@FormDateTo
								,@FormNoFrom
								,@FormNoTo
								,@CheckStateFrom
								,@CheckStateTo 
								,@SellsEmporiumFrom 
								,@SellsEmporiumTo 
                                ,@PayTypesFrom 
								,@PayTypesTo 
								,@MakeDocKind 
								,@AidDateFrom 
								,@AidDateTo
							) AMC
			   
Where  ItemAmount >0 

-- END OF PART G :  براي طرف بستانكار درآمد در جریان در نظر گرفته شده است 
)

