--3  تاريخ 1402/11/12    
if exists (select * from sysobjects where id = object_id(N'FN_Recal_Weight') and OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW FN_Recal_Weight
GO
if exists (select * from sysobjects where id = object_id(N'Fn_ReciptPostOnCustomer1') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_ReciptPostOnCustomer1
GO
if exists (select * from sysobjects where id = object_id(N'Fn_ReciptPostOnCustomer2') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_ReciptPostOnCustomer2
GO
if exists (select * from sysobjects where id = object_id(N'Fn_RecallReciptsEntity') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_RecallReciptsEntity
GO
if exists (select * from sysobjects where id = object_id(N'Fn_RecallReciptsWeight') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_RecallReciptsWeight
GO
if exists (select * from sysobjects where id = object_id(N'Fn_RecallReciptsEW') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_RecallReciptsEW
GO
if exists (select * from sysobjects where id = object_id(N'[dbo].[MakeDocuments_Coffer]') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION [dbo].MakeDocuments_Coffer
GO
if exists (select * from sysobjects where id = object_id(N'GetAmountDelay') and xtype in (N'FN', N'IF', N'TF'))
drop FUNCTION GetAmountDelay

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
CREATE VIEW FN_Recal_Weight
AS

   SELECT R25.ReciptID, R25.yearid,R25.ServerID, R25.PersonID1, RI25.ReciptItemID ,
	      Rec15.StuffCode RECStuffCode, RI25.StuffCode , 
	      RI25.OutputEntity  as r25Entity, RI25.OutputWeight as  r25Weight , Rec15.OutputEntity as r15Entity,  Rec15.OutputWeight as r15Weight ,
		  isnull(RI25.RollbackEntity,0) as RollbackEntity
          
   FROM Recipts R25 INNER JOIN
		ReciptItems RI25 on RI25.ReciptID = R25.ReciptID and RI25.YearID = R25.YearID  AND 
		RI25.ServerID = R25.ServerID INNER JOIN 
	
		(
			SELECT		ri15.preReciptItemID,  ri15.StuffCode, r15.YearID, r15.ServerID, 
						ri15.PrvYearID, Sum(ri15.OutputEntity) OutputEntity , Sum(ri15.OutputWeight) OutputWeight
			FROM		Recipts     AS r15 INNER JOIN
						ReciptItems AS ri15 ON ri15.ReciptID = r15.ReciptID AND ri15.YearID = r15.YearID AND ri15.ServerID = r15.ServerID
            GROUP BY    ri15.StuffCode, ri15.preReciptItemID,  r15.YearID, r15.ServerID, ri15.PrvYearID

		) Rec15 on Rec15.preReciptItemID=RI25.ReciptItemID and Rec15.ServerID=RI25.ServerID and RI25.YearID=Rec15.PrvYearID

        LEFT OUTER JOIN Recipts R12 on R25.YearID=R12.yearid 
									AND R25.ParentReciptID=R12.ReciptID AND R25.ServerID=R12.ServerID
		                            AND R12.ReciptState < 3             AND R12.ReciptType = 12

	 
			
   WHERE R25.ReciptType=25  and R25.ParentReciptID is null   

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION dbo.MakeDocuments_Coffer (							
								@AllDocAble Tinyint=0,
								@FormDateFrom varchar(10)='0000/00/00', 
								@FormDateTo varchar(10)='9999/99/99',
								@FormNoFrom int =-9999999, 
								@FormNoTo int= 99999999,
								@CustNoFrom int=0 , 
								@CustNoTo int=999999999, 
								-- @FormType varchar (3)= [50],
								@SellsEmporiumFrom int=0,
								@SellsEmporiumTo int = 999999999 ,
								@PayTypesFrom int=0,
								@PayTypesTo int = 999999999 ,
								@MakeDocKind int =1 ,
								@AidDateFrom char(10)='0000/00/00', 
								@AidDateTo char(10)='9999/99/99' , 
								@DateSelect int = 0
							)
RETURNS table  AS  
return (
SELECT	ID,  
		FormType  ,  
		FormCaption, 
		FormID, 
		FormNumber, 
		FormDate, 
		Amount, 
		AidInfoNo, 
		AidInfoDate, 
		0 AidAmount,
		FomNote, 
		TopicCode_Bed AS TopicCode, 
        DetailCode_Bed AS DetailCode, 
		CTopicCode_Bed AS CtopicCode, 
		CTopicCode2_Bed AS CtopicCode2,
        CTopicCode3_Bed AS CtopicCode3, 
        Amount AS debt, 
		0 AS credit, 
        0 AS bedbes,
		ServerID,
		YearID,
		CustName1,
		CustName2,
		ArzAmount,
		PO,
		ArzTypeID,
		BudgetCode,
		ProjectID,
        0.0 AS Currencydebit, 
		0.0 AS Currencycredit, 
		0.0 CurrencyRate
FROM    Aid_MakeDocuments_Coffer
							(
								@AllDocAble ,
								@FormDateFrom, 
								@FormDateTo, 
								@FormNoFrom, 
								@FormNoTo ,
								@CustNoFrom  , 
								@CustNoTo,
								@SellsEmporiumFrom ,
								@SellsEmporiumTo ,
								@PayTypesFrom ,
								@PayTypesTo ,
								@MakeDocKind  ,
								@AidDateFrom , 
								@AidDateTo , 
								@DateSelect
							) Aid_MakeDocuments_Coffer
--
UNION ALL
--
SELECT	ID,  
		FormType  ,  
		FormCaption, 
		FormID, 
		FormNumber, 
		FormDate, 
		Amount, 
		AidInfoNo, 
		AidInfoDate, 
		0 AidAmount,
		FomNote, 
		TopicCode_Bes, 
		DetailCode_Bes, 
        CTopicCode_Bes, 
		CTopicCode2_Bes,
        CTopicCode3_Bes AS CtopicCode3, 
        0 AS debt, 
		Amount AS credit, 
		1 AS bedbes,
		ServerID,
		YearID,
		CustName1,
		CustName2,
		ArzAmount,
		PO,
		ArzTypeID,
		BudgetCode,
		ProjectID,
		0 AS Currencydebit, 
		0 AS Currencycredit, 
		0 CurrencyRate
FROM    Aid_MakeDocuments_Coffer
						(
							@AllDocAble ,
							@FormDateFrom, 
							@FormDateTo, 
							@FormNoFrom, 
							@FormNoTo ,
							@CustNoFrom  , 
							@CustNoTo ,
							@SellsEmporiumFrom ,
							@SellsEmporiumTo ,
							@PayTypesFrom ,
							@PayTypesTo ,
							@MakeDocKind  ,
							@AidDateFrom , 
							@AidDateTo , 
							@DateSelect 
						) Aid_MakeDocuments_Coffer	
)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
CREATE FUNCTION GetAmountDelay( @DayDelay INT, @ItemAmount MONEY)
RETURNS MONEY
AS
BEGIN
DECLARE @Price MONEY

SET @Price= CASE WHEN @DayDelay > 1 THEN round(@ItemAmount * 0.24 * @DayDelay / 365, 0) ELSE 0 END

RETURN (@Price)

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_RecallReciptsEntity (  @ReciptType int, @YearIDFrom int, @YearIDTo int, @PersonID1From int, @PersonID1To int
, @ReciptDateFrom char(10), @ReciptDateTo char(10), @ReciptNumberFrom int, @ReciptNumberTo int, @LookUpsCodeFrom int, @LookUpsCodeTo int 
)
RETURNS TABLE 
AS
RETURN 
(
 SELECT  Recall_price.ServerID,Recall_price.ReciptID AS Recall_ReciptID,Recall_price.ReciptDate,Recall_price.ReciptNumber,
ReciptItems.YearID, ReciptItems.StuffCode, StuffCoding.c_StuffName, Units.UnitName,
 Recall_price.PersonID1 AS MasterPersonID1 ,Customers_1.CustName as MasterCustName1,
    ReciptItems.PersonID1 as PersonID1, Customers.CustName, Recall_price.PersonID2 , Customers_2.CustName as CustName_2,
    ROUND(ReciptItems.InputEntity + ReciptItems.OutputEntity - ISNULL(Aid_RecallSpecial.Entity, 0), 3) AS Entity,
    ROUND(ReciptItems.InputWeight + ReciptItems.OutputWeight - ISNULL(Aid_RecallSpecial.Weight, 0), 3) AS Weight,
     Recall_price.UnitSellPrice ,
      ROUND (Recall_price.UnitPrice_C * ROUND(ReciptItems.InputEntity + ReciptItems.OutputEntity - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0) as TotalPrice  , 
    Recall_price.WaterCo,
     ROUND (ISNULL(Recall_price.UniteDeficitValue,0) * ROUND(ISNULL(ReciptItems.InputEntity,0) + ISNULL(ReciptItems.OutputEntity,0) - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0) as DeficitValue , 
    Recall_price.TaxCo, 
     ROUND (ISNULL(Recall_price.UniteTaxValue,0) * ROUND(ISNULL(ReciptItems.InputEntity,0) + ISNULL(ReciptItems.OutputEntity,0) - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0) as TaxValue , 
    Recall_price.ReciptCaption + '  : ' + LTRIM(str(Recall_price.ReciptNumber))  + ' تاریخ : ' +Recall_price.ReciptDate + ' ' +
    ReciptTypes.ReciptCaption + '  : ' + LTRIM(str(Recipts.ReciptNumber))  + ' تاریخ : ' +Recipts.ReciptDate +' '+ISNULL(ReciptItems.ItemNote,'')  as ItemNote,
         ROUND (ISNULL(Recall_price.UnitPrice_C,0) * ROUND(ISNULL(ReciptItems.InputEntity,0) + ISNULL(ReciptItems.OutputEntity,0) - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0)-
         ROUND (ISNULL(Recall_price.UniteDeficitValue,0) * ROUND(ISNULL(ReciptItems.InputEntity,0) + ISNULL(ReciptItems.OutputEntity,0) - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0)+
         ROUND (ISNULL(Recall_price.UniteTaxValue,0) * ROUND(ISNULL(ReciptItems.InputEntity,0) + ISNULL(ReciptItems.OutputEntity,0) - ISNULL(Aid_RecallSpecial.Entity, 0), 3) ,0) 
     +isnull(round(ROUND(ReciptItems.InputEntity + ReciptItems.OutputEntity - ISNULL(Aid_RecallSpecial.Entity, 0), 3)
      * isnull(Recall_price.Portage,0) ,0),0)
     
     
     AS TotallSellPrice ,
     Recall_price.UnitCommission,
    ReciptItems.PersonID1 as ItemPersonID1,ReciptItems.ReciptItemID as NewReciptItemID  ,
    Recipts.ReciptNumber as AidNumber , Recipts.ReciptDate as AidDate , ReciptTypes.ReciptCaption ,Recall_price.SecondType, Recall_price.PersonID2Bed, Fitful.FitfulID as Flag
      ,LookUps_SecondType.Name AS SecondTypeName,ReciptItems.preReciptItemID
    ,isnull(round(ROUND(ReciptItems.InputEntity + ReciptItems.OutputEntity - ISNULL(Aid_RecallSpecial.Entity, 0), 3)
     * Recall_price.Portage ,0),0) as portage ,Recall_price.SellsEmporium, Recipts.PersonID3,StuffCoding.GroupID, Recipts.PersonID4, Recipts.PersonID5, Recipts.PO, Recipts.StoreID
FROM  ReciptItems INNER JOIN
    Recipts ON  ReciptItems.ReciptID = Recipts.ReciptID 
          AND ReciptItems.ServerID = Recipts.ServerID 
          AND ReciptItems.YearID = Recipts.YearID INNER JOIN
    ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType  LEFT OUTER JOIN
    (
      SELECT  ReciptItems.serverid  ,ReciptItems.PrvYearID , ReciptItems.preReciptItemID,  
        SUM(ReciptItems.InputEntity + ReciptItems.OutputEntity) AS Entity, 
        SUM(ReciptItems.InputWeight + ReciptItems.OutputWeight) AS Weight, 
        COUNT(*) as  CountNo
      FROM  ReciptItems INNER JOIN
          Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND 
          ReciptItems.ServerID = Recipts.ServerID AND 
          ReciptItems.YearID = Recipts.YearID   INNER JOIN
          ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
      WHERE (Recipts.ReciptState < 3) 
          AND (Recipts.ReciptType = @ReciptType )
          AND (Recipts.yearid BETWEEN @YearIDFrom  and @YearIDTo )
          AND ReciptItems.preReciptItemID is not null
      GROUP BY  ReciptItems.serverid , ReciptItems.PrvYearID , ReciptItems.preReciptItemID 
    ) AS Aid_RecallSpecial ON
          ReciptItems.ReciptItemID = Aid_RecallSpecial.preReciptItemID 
          AND ReciptItems.YearID = Aid_RecallSpecial.PrvYearid   
          AND ReciptItems.ServerID = Aid_RecallSpecial.ServerID   LEFT OUTER JOIN
    (
      SELECT  ReciptItems.serverid  ,ReciptItems.YearID , ReciptItems.ReciptItemID,  
          (ReciptItems.TotalInputPrice + ReciptItems.TotalOutputPrice) /
          (ReciptItems.InputEntity + ReciptItems.OutputEntity) AS UnitPrice_C ,
          ReciptItems.UnitSellPrice ,
          ReciptItems.WaterCo, ReciptItems.DeficitValue / (ReciptItems.InputEntity + ReciptItems.OutputEntity) as UniteDeficitValue , 
          ReciptItems.TaxCo,ReciptItems.TaxValue / (ReciptItems.InputEntity + ReciptItems.OutputEntity) as UniteTaxValue ,
          ReciptItems.UnitCommission,
          Recipts.ReciptNumber , Recipts.ReciptDate , ReciptTypes.ReciptCaption, Recipts.SecondType, Recipts.PersonID2Bed
          , Recipts.PersonID2, Recipts.PersonID1, Recipts.ReciptID
      ,(ReciptItems.Portage) /
          (ReciptItems.InputEntity + ReciptItems.OutputEntity) as Portage,Recipts.SellsEmporium
      FROM  ReciptItems INNER JOIN
          Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND 
          ReciptItems.ServerID = Recipts.ServerID AND 
          ReciptItems.YearID = Recipts.YearID   INNER JOIN
          ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType
      WHERE (Recipts.ReciptState < 3) 
          AND (Recipts.yearid BETWEEN @YearIDFrom and @YearIDTo )
          AND ((ReciptItems.InputEntity + ReciptItems.OutputEntity)<>0)
      ) AS Recall_price ON
          ReciptItems.preReciptItemID = Recall_price.ReciptItemID 
          AND ReciptItems.Yearid/*PrvYearid*/ = Recall_price.Yearid
          AND ReciptItems.ServerID = Recall_price.ServerID  LEFT OUTER JOIN
      StuffCoding ON StuffCoding.c_StuffCode = ReciptItems.StuffCode LEFT OUTER JOIN
                                                Units ON Units.UnitCode = StuffCoding.n_UnitCode LEFT OUTER JOIN 
      Customers ON  Customers.CustID = ReciptItems.PersonID1 LEFT OUTER JOIN
      Customers as Customers_2 ON  Customers_2.CustID = Recall_price.PersonID2   LEFT OUTER JOIN
      Customers as Customers_1 ON  Customers_1.CustID = Recall_price.PersonID1   LEFT OUTER JOIN
      LookUps as LookUps_SecondType ON  LookUps_SecondType.LookUpID = Recall_price.SecondType
      CROSS JOIN Fitful

WHERE (Recipts.ReciptState <2 )
    AND (Recipts.YearID BETWEEN @YearIDFrom AND @YearIDTo)
    AND (Recipts.ReciptType in
     (select part from  dbo.SplitString((select RecallReciptTypes from ReciptTypes1
        where recipttype =@ReciptType) ,',')))
    AND (Recall_price.PersonID1 BETWEEN @PersonID1From AND @PersonID1To)
    AND (Recipts.ReciptDate BETWEEN @ReciptDateFrom and @ReciptDateTo)
    AND (Recipts.ReciptNumber BETWEEN @ReciptNumberFrom and @ReciptNumberTo)
    AND (Aid_RecallSpecial.preReciptItemID is null )
    AND (LookUps_SecondType.Code BETWEEN @LookUpsCodeFrom AND @LookUpsCodeTo)
--Order By  Recall_price.ReciptID , Recipts.ReciptDate, ReciptItems.PersonID1,  Recall_price.PersonID2,ReciptItems.preReciptItemID

)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_RecallReciptsWeight (  @ReciptType int, @YearIDFrom int, @YearIDTo int, @PersonID1From int, @PersonID1To int
, @ReciptDateFrom char(10), @ReciptDateTo char(10), @ReciptNumberFrom int, @ReciptNumberTo int, @LookUpsCodeFrom int, @LookUpsCodeTo int 
)
RETURNS TABLE 
AS
RETURN 
(

SELECT  RP.ServerID, RP.ReciptID AS Recall_ReciptID, RP.ReciptDate, RP.ReciptNumber, RI.YearID, 
		RI.StuffCode, S.c_StuffName, U.UnitName, 
		RP.PersonID1 AS MasterPersonID1, isnull(CR1.CustFirstName,'') +' '+ CR1.CustName AS MasterCustName1, 
		RI.PersonID1, isnull(CT1.CustFirstName,'') +' '+ CT1.CustName  CustName , 
		RP.PersonID2, isnull(CR2.CustFirstName,'') +' '+ CR2.CustName  CustName_2, 
		ROUND(RI.InputEntity + RI.OutputEntity - ISNULL(ARS.Entity, 0), 3) AS Entity, 
        ROUND(RI.InputWeight + RI.OutputWeight - ISNULL(ARS.Weight, 0), 3) AS Weight, RP.UnitSellPrice, 
		                 ROUND(RP.UnitPrice_C * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0) AS TotalPrice, RP.WaterCo, 
		ROUND(ISNULL(RP.UniteDeficitValue, 0) * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0) AS DeficitValue, RP.TaxCo, 
        ROUND(ISNULL(RP.UniteTaxValue, 0)     * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0) AS TaxValue, 
		RP.ReciptCaption + '  : ' + LTRIM(STR(RP.ReciptNumber)) 
        + ' تاریخ : ' + RP.ReciptDate + ' ' + RT.ReciptCaption + '  : ' + LTRIM(STR(R.ReciptNumber)) + ' تاریخ : ' + R.ReciptDate 
		+ ' ' + isnull(RP.ItemNote,'')  AS ItemNote, 
	      ROUND(ISNULL(RP.UnitPrice_C, 0)       * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0)
		- ROUND(ISNULL(RP.UniteDeficitValue, 0) * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0) 
        + ROUND(ISNULL(RP.UniteTaxValue, 0)     * ROUND(ISNULL(RI.InputWeight, 0) + ISNULL(RI.OutputWeight, 0) - ISNULL(ARS.Weight, 0), 3), 0) AS TotallSellPrice, 
		RP.UnitCommission, RI.PersonID1 AS ItemPersonID1, RI.ReciptItemID AS NewReciptItemID, R.ReciptNumber AS AidNumber, R.ReciptDate AS AidDate, RT.ReciptCaption, 
		RP.SecondType, RP.PersonID2Bed, Fitful.FitfulID AS Flag, LookUps_SecondType.Name AS SecondTypeName, RI.preReciptItemID, RI.InputEntity * 0 AS portage, 
		RP.SellsEmporium, T.PersonID2 AS PersonID3,S.GroupID, T.PersonID4, T.PersonID5, T.PO, R.StoreID

FROM			ReciptItems		AS RI 
	INNER JOIN  Recipts			AS R  ON RI.ReciptID = R.ReciptID AND RI.ServerID = R.ServerID AND RI.YearID = R.YearID 
	INNER JOIN  ReciptTypes		AS RT ON R.ReciptType = RT.ReciptType 
	LEFT  JOIN  (
			SELECT		RI.ServerID, RI.PrvYearID, RI.preReciptItemID, 
						SUM(RI.InputEntity + RI.OutputEntity) AS Entity, SUM(RI.InputWeight + RI.OutputWeight) AS Weight, 
						COUNT(*) AS CountNo

            FROM			ReciptItems AS RI 
				INNER JOIN  Recipts AS R ON RI.ReciptID = R.ReciptID AND RI.ServerID = R.ServerID AND RI.YearID = R.YearID 
				INNER JOIN  ReciptTypes AS RT ON R.ReciptType = RT.ReciptType

            WHERE	(R.ReciptState < 3)				AND (R.YearID BETWEEN @YearIDFrom-2 AND @YearIDTo) 
				AND (R.ReciptType = @ReciptType)    AND (RI.preReciptItemID IS NOT NULL)

            GROUP BY RI.ServerID, RI.PrvYearID, RI.preReciptItemID

			     ) AS ARS ON RI.ReciptItemID = ARS.preReciptItemID AND RI.YearID = ARS.PrvYearID AND RI.ServerID = ARS.ServerID 

    LEFT  JOIN	(
			SELECT		RI.ServerID, RI.YearID, RI.ReciptItemID, 
						(RI.TotalInputPrice + RI.TotalOutputPrice) / (RI.InputWeight + RI.OutputWeight) AS UnitPrice_C, RI.UnitSellPrice, RI.WaterCo, 
                         RI.DeficitValue / (RI.InputWeight + RI.OutputWeight) AS UniteDeficitValue, RI.TaxCo, 
						 RI.TaxValue     / (RI.InputWeight + RI.OutputWeight) AS UniteTaxValue, RI.UnitCommission, R.ReciptNumber, R.ReciptDate, 
                         RT.ReciptCaption, R.SecondType, R.PersonID2Bed, R.PersonID2, R.PersonID1, R.ReciptID, R.SellsEmporium,
						 RI.ItemNote,R.ReciptNote

			FROM			ReciptItems AS RI 
				INNER JOIN	Recipts     AS R  ON RI.ReciptID = R.ReciptID AND RI.ServerID = R.ServerID AND RI.YearID = R.YearID 
				INNER JOIN  ReciptTypes AS RT ON R.ReciptType = RT.ReciptType

			WHERE	(R.ReciptState < 3) 
				AND (R.YearID BETWEEN @YearIDFrom-2 AND @YearIDTo) 
				AND (RI.InputWeight + RI.OutputWeight <> 0)

				) AS RP ON RI.preReciptItemID = RP.ReciptItemID AND RI.PrvYearID = RP.YearID AND RI.ServerID = RP.ServerID 

    INNER JOIN	StuffCoding      AS S   ON S.c_StuffCode = RI.StuffCode 
	INNER JOIN  Units            AS U   ON U.UnitCode = S.n_UnitCode 
	INNER JOIN  Customers        AS CT1 ON CT1.CustID = RI.PersonID1 
	LEFT  JOIN  Customers        AS CR2 ON CR2.CustID = RP.PersonID2 
	LEFT  JOIN  Customers        AS CR1 ON CR1.CustID = RP.PersonID1 
	INNER JOIN  Tozin            AS T   ON T.TozinID = R.TozinID 
	LEFT  JOIN  LookUps          AS LookUps_SecondType ON LookUps_SecondType.LookUpID = RP.SecondType 
	CROSS JOIN  Fitful

WHERE	(R.ReciptState < 2) 
	AND (R.YearID BETWEEN @YearIDFrom AND @YearIDTo) 
	AND (R.ReciptType IN (SELECT part FROM SplitString ((SELECT RecallReciptTypes  FROM ReciptTypes1 WHERE (ReciptType = @ReciptType)), ',') AS SplitString_1)) 
	AND (RP.PersonID1 BETWEEN @PersonID1From  AND @PersonID1To) 
	AND (R.ReciptDate BETWEEN @ReciptDateFrom AND @ReciptDateTo) 
	AND (R.ReciptNumber BETWEEN @ReciptNumberFrom AND @ReciptNumberTo) 
	AND (ARS.preReciptItemID IS NULL) 
	AND (LookUps_SecondType.Code BETWEEN @LookUpsCodeFrom AND @LookUpsCodeTo)
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_ReciptPostOnCustomer1( @PersonID1From int, @PersonID1To int, @ReciptDateFrom char(10), @ReciptDateTo char(10) )
RETURNS TABLE 
AS
RETURN 
(
SELECT Recipts.PersonID1 ,Customers.CustName , CountOf,RelatedRecipts
FROM	Recipts INNER JOIN
		ReciptItems on ReciptItems.ReciptID = Recipts.ReciptID and ReciptItems.YearID = Recipts.YearID  AND 
		ReciptItems.ServerID = Recipts.ServerID  INNER JOIN 
		Customers ON Recipts.PersonID1 = Customers.CustID INNER JOIN
		
		(
			select RelatedRecipts ,count(TozinID) as CountOf
			from tozin
			where RelatedRecipts IS NOT  NULL AND (ReciptType = 26 ) and (tozin.TozinState <> 3) And (tozin.MachineFullWeight >0)
			group by  RelatedRecipts	
		) tozin on LTRIM(Recipts.ServerID) + '-' + LTRIM(Recipts.YearID) + '-' + LTRIM(ReciptItems.ReciptItemID) = RelatedRecipts   
 
			WHERE	(Recipts.ReciptState < 3) and Recipts.ReciptType=25
		
        AND (Recipts.PersonID1 BETWEEN @PersonID1From AND @PersonID1To)
		AND (Recipts.AidDate BETWEEN @ReciptDateFrom and @ReciptDateTo)
 	GROUP BY  Recipts.PersonID1 ,Customers.CustName ,RelatedRecipts,CountOf
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE  FUNCTION Fn_ReciptPostOnCustomer2( @PersonID1 int , @ReciptDateFrom char(10), @ReciptDateTo char(10) ,@RelatedRecipts varchar(300))
RETURNS TABLE 
AS
RETURN 
(
--SELECT  TozinNumber  as شماره‏بارنامه,TozinDate as  تاریخ , c_StuffName as نام‏کالا ,NumberOfBags as مقدارارسالی ,UseUnitName as نوع‏پمپ
--,tozin.SecondType  as روش‏تخلیه,tozin.masir as مقصد
SELECT  TozinNumber ,TozinDate  , c_StuffName  ,NumberOfBags  ,UseUnitName ,tozin.SecondType  ,tozin.masir 
FROM	Recipts INNER JOIN
		ReciptItems on ReciptItems.ReciptID = Recipts.ReciptID and ReciptItems.YearID = Recipts.YearID  AND 
		ReciptItems.ServerID = Recipts.ServerID  INNER JOIN 
		Customers ON Recipts.PersonID1 = Customers.CustID INNER JOIN
		
		(
			SELECT RelatedRecipts ,TozinNumber,TozinDate,c_StuffName,NumberOfBags,UseUnits.UseUnitName+'>'+c1.CustName+'>'+c2.CustName+'>'+c3.CustName+'>'+c4.CustName as UseUnitName 
			,LookUps.Name as SecondType,CustomersMasir.MasirNote as masir
			FROM tozin 
			INNER JOIN UseUnits on tozin.UseUnitID=UseUnits.UseUnitID
			INNER JOIN  Customers c1 on c1.CustID=UseUnits.CustID1
			INNER JOIN  Customers c2 on c2.CustID=UseUnits.CustID2
			INNER JOIN  Customers c3 on c3.CustID=UseUnits.CustID3
			INNER JOIN  Customers c4 on c4.CustID=UseUnits.CustID4
			INNER JOIN LookUps on LookUps.LookUpID=tozin.SecondType
			INNER JOIN CustomersMasir on tozin.MasirID=CustomersMasir.ID
			INNER JOIN StuffCoding on tozin.StuffCode=StuffCoding.c_StuffCode
			
			WHERE RelatedRecipts IS NOT  NULL AND (ReciptType = 26 ) and (tozin.TozinState <> 3) And (tozin.MachineFullWeight >0)

			--group by  RelatedRecipts	
		) tozin on LTRIM(Recipts.ServerID) + '-' + LTRIM(Recipts.YearID) + '-' + LTRIM(ReciptItems.ReciptItemID) = RelatedRecipts   

			WHERE	(Recipts.ReciptState < 3) and Recipts.ReciptType=25
		
        AND (Recipts.PersonID1 = @PersonID1 )
		AND (Recipts.AidDate BETWEEN @ReciptDateFrom and @ReciptDateTo )
        AND (tozin.RelatedRecipts = @RelatedRecipts )

		
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

------------------------------------------------------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
CREATE   FUNCTION Fn_RecallReciptsEW (  @ReciptType int, @YearIDFrom int, @YearIDTo int, @PersonID1From int, @PersonID1To int
, @ReciptDateFrom char(10), @ReciptDateTo char(10), @ReciptNumberFrom int, @ReciptNumberTo int, @LookUpsCodeFrom int, @LookUpsCodeTo int 
)
    RETURNS @retFindReports TABLE 
  (
ServerID int, Recall_ReciptID int , ReciptDate char(10)   COLLATE DATABASE_DEFAULT NULL, ReciptNumber int ,
 YearID  int , StuffCode bigint ,    c_StuffName char(300)   COLLATE DATABASE_DEFAULT NULL, UnitName char(300)   COLLATE DATABASE_DEFAULT NULL,
 MasterPersonID1 int , MasterCustName1 char(300)   COLLATE DATABASE_DEFAULT NULL, PersonID1  int , CustName  char(300)   COLLATE DATABASE_DEFAULT NULL,  
 PersonID2 int , CustName_2  char(300)   COLLATE DATABASE_DEFAULT NULL,   Entity float  ,  Weight float ,  OutputEntity float,OutputWeight float,
 UnitSellPrice money ,  TotalPrice money ,  WaterCo float ,  DeficitValue money ,  TaxCo float ,  TaxValue money ,  
 ItemNote char(1000)   COLLATE DATABASE_DEFAULT NULL, 
 TotallSellPrice money, UnitCommission float ,  ItemPersonID1 int ,  NewReciptItemID int ,  AidNumber int ,  AidDate char(10)   COLLATE DATABASE_DEFAULT NULL,
 ReciptCaption char(300)   COLLATE DATABASE_DEFAULT NULL,    SecondTypeItem int ,  PersonID2Bed int ,  Flag decimal(18,2) ,  SecondTypeName  char(300),
  preReciptItemID int ,SecondType int, RollbackEntity float,portage float, SellsEmporium int, PersonID3  int, RDeficitValue money ,GroupID int
  , PersonID4 int , PersonID5 int, PO varchar(300), StoreID smallint
  )
  AS begin 
----===============================================================================================================
--exec sp_executesql N'SELECT * From
--dbo.Fn_RecallReciptsEW ( @P1 , @P2 , @P3 , @P4 , @P5, @P6 , @P7 , @P8 , @P9 , @P10 , @P11)
--where (AidDate BetWeen @P12 AND @P13 ) 
--Order By Recall_ReciptID , AidDate, PersonID1, PersonID2, preReciptItemID
--',N'@P1 int,@P2 int,@P3 int,@P4 bigint,@P5 bigint,@P6 nvarchar(8),@P7 nvarchar(8),@P8 bigint,@P9 bigint,@P10 bigint,@P11 bigint,@P12 nvarchar(8),@P13 nvarchar(8)',12,98,98,204753,204753,N'98/05/13',N'98/05/13',1,11197,0,0,N'00/00/00',N'99/12/30'

----===============================================================================================================
  
INSERT INTO  @retFindReports
 SELECT DISTINCT R25.ServerID, R25.ReciptID AS Recall_ReciptID,R25.ReciptDate,R25.ReciptNumber,
		RI25.YearID, RI25.StuffCode, sc.c_StuffName AS c_StuffName , OU.UnitName,
		R25.PersonID1 AS MasterPersonID1 ,isnull(CT1.CustFirstName,' ') +' '+ CT1.CustName  AS MasterCustName1,
		R25.PersonID1 AS PersonID1       ,isnull(CT1.CustFirstName,' ') +' '+ CT1.CustName  AS CustName,
		R25.PersonID2 AS PersonID2       ,isnull(CT2.CustFirstName,' ') +' '+ CT2.CustName  AS CustName_2,
		ar2.r15Entity AS Entity, ar2.r15Weight AS Weight, OutputEntity, OutputWeight,
		RI25.UnitSellPrice , ROUND (ROUND(ar2.r15Entity,2) *  RI25.UnitSellPrice,0)                      AS TotalPrice  , 
		RI25.WaterCo,        ROUND (ROUND(ar2.r15Entity,2) * (RI25.DeficitValue / RI25.OutputEntity) ,0) AS DeficitValue , 
		RI25.TaxCo,          ROUND (ROUND(ar2.r15Entity,2) * (RI25.TaxValue     / RI25.OutputEntity) ,0) AS TaxValue , 
		case 
		    when DeficitValue <> 0 then rtrim(ltrim ('تخفیف پمپ بلند')) 
			else '' 
		end +	
		' - ' + sc.c_StuffName       +
		' متراژ: ' + cast (ar2.r15Entity AS nvarchar) +
		' - ' + UseUnits.UseUnitName + ' م.ب : '  + rtrim(ltrim(cast(isnull(ar2.RollbackEntity,0) AS char(250)))) +
		' - ' + 'به‏آدرس:'+ left(CM.MasirNote,250) +
		Case when RI25.DeficitValue > 0 then ' - با تخفیف ' 
		     else ''   
	    end AS ItemNote,
        ROUND (ROUND(ar2.r15Entity,2) *  RI25.UnitSellPrice,0) -
        ROUND (ROUND(ar2.r15Entity,2) * (isnull(RI25.DeficitValue,0) / RI25.OutputEntity),0) + 
		ROUND (ROUND(ar2.r15Entity,2) * (isnull(RI25.TaxValue,0)     / RI25.OutputEntity),0) AS TotallSellPrice ,
		0.0 AS UnitCommission,	ar2.PersonID1 AS ItemPersonID1,RI25.ReciptItemID AS NewReciptItemID  ,
		R25.ReciptNumber AS AidNumber , R25.AidDate AS AidDate , rc.ReciptCaption ,RI25.SecondTypeItem,R25.PersonID2Bed, 0 AS Flag,
		'' AS SecondTypeName,RI25.preReciptItemID, 0 AS SecondType,(isnull(ar2.RollbackEntity,0)) AS RollbackEntity, 0 AS  portage,
		R25.SellsEmporium, 0 AS PersonID3  , isnull(RI25.DeficitValue,0) RDeficitValue,SC.GroupID, R25.PersonID4, R25.PersonID5, R25.PO, R25.StoreID

from       Recipts R25 
INNER JOIN ReciptItems RI25			on RI25.ReciptID = R25.ReciptID and RI25.YearID = R25.YearID  AND RI25.ServerID = R25.ServerID 
INNER JOIN FN_Recal_Weight  ar2		on ar2.ReciptID=R25.ReciptID and R25.YearID =ar2.YearID and ar2.ServerID=R25.ServerID
INNER JOIN StuffCodingLinked  l		on RI25.StuffCode=l.c_StuffCode
INNER JOIN StuffCoding  sc			on RI25.StuffCode=sc.c_StuffCode
INNER JOIN Units  ou				on sc.n_UnitCode =ou.UnitCode
INNER JOIN Customers  CT1			on CT1.CustID=R25.PersonID1
INNER JOIN Customers  CT2			on CT2.CustID=R25.PersonID2
INNER JOIN ReciptTypes1  rc			on R25.ReciptType=rc.ReciptType
INNER JOIN (
			SELECT		MAX(isnull(UseUnitID,0)) AS UseUnitID, ReciptID, ServerID, YearID
            FROM		ReciptItems
			GROUP BY ReciptID, ServerID, YearID
			) masirselect on	R25.ReciptID=masirselect.ReciptID and R25.YearID=masirselect.YearID and masirselect.ServerID=R25.ServerID
INNER JOIN UseUnits on masirselect.UseUnitID=UseUnits.UseUnitID
LEFT  JOIN CustomersMasir CM		on R25.MasirID=CM.ID

where R25.ParentReciptID is null and R25.ReciptType=25
 and (R25.PersonID1 between @PersonID1From and @PersonID1To)
 and (R25.ReciptDate between @ReciptDateFrom and @ReciptDateTo)

 order by R25.PersonID1,StuffCode desc

INSERT INTO  @retFindReports

	SELECT		ServerID, Recall_ReciptID, ReciptDate, ReciptNumber, YearID,
				case	when StuffCode=500 and Entity < 6.0 then 502
						when StuffCode=501 and Entity < 30	then 503 else 0 end  AS StuffCode , 
				c_StuffName, UnitName, MasterPersonID1, MasterCustName1, PersonID1, CustName, PersonID2, CustName_2,													  
				round (case when StuffCode=500  then 6.0 - Entity
							when StuffCode=501  then 30  - Entity else 0 end ,2) as	 Entity,
				round (case when Weight < OutputWeight then OutputWeight - Weight 
							else 0 end ,0) AS  Weight, 
				case when StuffCode=500  then 6.0 	when StuffCode=501 	then 30 else 0 end AS OutputEntity,
				OutputWeight, UnitSellPrice,
				ROUND (UnitSellPrice * abs(round(case when StuffCode=500  then 6.0 - Entity	
										    	   	  when StuffCode=501  then 30  - Entity 
													  else 0 end ,2) )
											     ,0)  AS  TotalPrice,
				WaterCo, 
				round(( RDeficitValue / OutputEntity) *  (round(case   when StuffCode=500  then 6.0 - Entity
																       when StuffCode=501  then 30  - Entity 
																else 0 end 
												   ,2))
					  ,0) DeficitValue
     			, TaxCo, 
				case when isnull(TaxCo,0) > 0 then 
				round((ROUND (UnitSellPrice * abs(round(case when StuffCode=500  then 6.0 - Entity	
										    	   	  when StuffCode=501  then 30  - Entity 
													  else 0 end ,2) )
											     ,0)
				- round(( RDeficitValue / OutputEntity) *  (round(case   when StuffCode=500  then 6.0 - Entity
																         when StuffCode=501  then 30  - Entity 
																         else 0 end 
												   ,2))
					  ,0)) * (TaxCo/100),0) else 0 end  TaxValue, 

				case when DeficitValue <> 0 then rtrim(ltrim ('تخفیف پمپ بلند' + ItemNote )) else 
				ItemNote end AS ItemNote
				,
				ROUND (UnitSellPrice  *  abs(round(case when StuffCode=500  then 6.0 - Entity	
													    when StuffCode=501  then 30  - Entity else 0 end 
												,2)) 
											,0)
				- round(( RDeficitValue / OutputEntity) *  (round(case   when StuffCode=500  then 6.0 - Entity
																         when StuffCode=501  then 30  - Entity 
																         else 0 end 
												   ,2))
					  ,0)
				+ round((ROUND (UnitSellPrice * abs(round(case when StuffCode=500  then 6.0 - Entity	
										    	   	  when StuffCode=501  then 30  - Entity 
													  else 0 end ,2) )
											     ,0)
				- round(( RDeficitValue / OutputEntity) *  (round(case   when StuffCode=500  then 6.0 - Entity
																         when StuffCode=501  then 30  - Entity 
																         else 0 end 
												   ,2))
					  ,0)) * (TaxCo/100),0) AS TotallSellPrice,
				UnitCommission, ItemPersonID1, NewReciptItemID, AidNumber, AidDate, ReciptCaption, 
                SecondTypeItem, PersonID2Bed, Flag, SecondTypeName, preReciptItemID,0 AS SecondType,RollbackEntity,
				0 AS  portage,SellsEmporium, 0 AS PersonID3 , 0 as  RDeficitValue,0 AS GroupID, PersonID4, PersonID5, PO, StoreID

	from @retFindReports
	where StuffCode in (500,501) and case	when StuffCode=500 and Entity < 6.0 then 1 
											when StuffCode=501 and Entity < 30	then 1 else 0 end =1




  
order by PersonID1,StuffCode desc  
  
       RETURN
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

