--21  تاريخ 95/10/23   

 
IF EXISTS (SELECT * FROM  sysobjects WHERE ID = object_id(N'InventoryAvilable4Sells') AND xtype IN (N'FN', N'IF', N'TF'))
DROP FUNCTION InventoryAvilable4Sells
GO
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id( N'Vu_ReciptItems4Edit') AND OBJECTPROPERTY(id, N'IsView') = 1)
drop view Vu_ReciptItems4Edit
GO
if exists (select * from sysobjects where id = object_id(N'View_FormsDes') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view View_FormsDes
GO
if exists (SELECT * from sysobjects where id = object_id(N'Fn_FormsDes') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_FormsDes
GO
if exists (SELECT * from sysobjects where id = object_id(N'Fn_WorkFlow') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_WorkFlow
GO
if exists (select * from sysobjects where id = object_id(N'ViewFlow') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view ViewFlow
GO
if exists (select * from sysobjects where id = object_id(N'View_WF_TransWorkFlow') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view View_WF_TransWorkFlow
GO
if exists (SELECT * from sysobjects where id = object_id(N'Fn_rptCustomersBalance') and xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION Fn_rptCustomersBalance
GO

IF OBJECT_ID ('TR_SendReciptTypes1ToReciptTypes2', 'TR') IS NOT NULL
   DROP TRIGGER TR_SendReciptTypes1ToReciptTypes2;
GO
CREATE  FUNCTION Fn_FormsDes ( @YearID int =93,@FormType int =50 ,@kind int =1 )

RETURNS table  AS  
return (
SELECT        Kind, FormID, ServerID, YearID, FormType, FormNumber, FormDate, FormState, FomNote, Des
FROM            (

SELECT        1 AS Kind, dbo.Forms.FormID, dbo.Forms.ServerID, dbo.Forms.YearID, dbo.Forms.FormType, dbo.Forms.FormNumber, dbo.Forms.FormDate, 
                    dbo.Forms.FormState, dbo.Forms.FomNote, 'دریافت / پرداخت به  ' + dbo.Customers.CustName + '  بمبلغ  ' + STR(FormsItems.SumAmount) 
                    + '  ریال  ' AS Des
FROM            dbo.Forms INNER JOIN
                    dbo.Customers ON dbo.Forms.CustomerID2 = dbo.Customers.CustID LEFT OUTER JOIN
                        (SELECT        FormID, SUM(ItemAmount) AS SumAmount, ServerID, YearID
                            FROM            dbo.FormItems
                            GROUP BY FormID, ServerID, YearID) AS FormsItems ON dbo.Forms.FormID = FormsItems.FormID AND 
                    dbo.Forms.ServerID = FormsItems.ServerID AND dbo.Forms.YearID = FormsItems.YearID
where (dbo.Forms.YearID = @YearID) and  (dbo.Forms.FormType=@FormType)  and (@kind = 1)
-------------
UNION ALL
-------------
SELECT        2 AS kind, dbo.Recipts.ReciptID, dbo.Recipts.ServerID, dbo.Recipts.YearID, dbo.Recipts.ReciptType, dbo.Recipts.ReciptNumber, 
                        dbo.Recipts.ReciptDate, dbo.Recipts.ReciptState, dbo.Recipts.ReciptNote, 
                        dbo.ReciptTypes.ReciptCaption + '  به مبلغ ناخالص    ' + STR(ReciptItems.[Amount 1]) + '  و خالص  ' + STR(ReciptItems.[Amount 2]) 
                        + ' از مشتری  ' + Customers_1.CustName AS Expr3
FROM            dbo.Recipts INNER JOIN
                        dbo.Customers AS Customers_1 ON dbo.Recipts.PersonID1 = Customers_1.CustID INNER JOIN
                            (SELECT        ReciptID, ServerID, YearID, SUM(TotalInputPrice + TotalOutputPrice) AS [Amount 1], SUM(TotallSellPrice) AS [Amount 2]
                                FROM            dbo.ReciptItems AS ReciptItems_1
                                GROUP BY ReciptID, ServerID, YearID) AS ReciptItems ON dbo.Recipts.ReciptID = ReciptItems.ReciptID AND 
                        dbo.Recipts.ServerID = ReciptItems.ServerID AND dbo.Recipts.YearID = ReciptItems.YearID INNER JOIN
                        dbo.ReciptTypes ON dbo.Recipts.ReciptType = dbo.ReciptTypes.ReciptType
where (dbo.Recipts.YearID = @YearID) and  (dbo.Recipts.ReciptType=@FormType) and (@kind = 2)
						
) AS FormTitle
)

GO
CREATE  FUNCTION Fn_WorkFlow ( @YearID int =93,@FormType int =50 ,@kind int =1 )

RETURNS table  AS  
return (
SELECT	WF_TransWorkFlow.ID, WF_TransWorkFlow.kind, WF_TransWorkFlow.ServerID, 
		WF_TransWorkFlow.YearID,WF_TransWorkFlow.FormID,WF_TransWorkFlow.FormType, 
		WF_TransWorkFlow.ModifyDate, WF_TransWorkFlow.UserID, WF_TransWorkFlow.PositionCode, 
		WF_TransWorkFlow.SortAccept, WF_TransWorkFlow.Note, WF_TransWorkFlow.State, 
		ForControl.MaxSortAccept, View_FormsDes.FormNumber, View_FormsDes.FormDate, 
		CASE View_FormsDes.FormState 
			WHEN 0 THEN 'موقت' 
			WHEN 1 THEN 'قطعی' 
			WHEN 2 THEN 'دائم' 
			WHEN 3 THEN 'باطل' 
			WHEN 10 THEN 'باطل' 
    		ELSE 'باطل' END AS StateName,
		View_FormsDes.Des, View_FormsDes.FomNote,WF_TransWorkFlow.UserCitation
FROM	WF_TransWorkFlow INNER JOIN
		(
		select WF_TransWorkFlow.id ,WF_TransWorkFlow.SortAccept AS MaxSortAccept
		From
			(
				SELECT     kind, ServerID, YearID, FormID, FormType,  MAX(ModifyDate) AS ModifyDate
				FROM         WF_TransWorkFlow AS WF_TransWorkFlow_1
				WHERE     (State = 0) AND (kind = @Kind ) AND (FormType =@FormType )  and  (YearID = @YearID)
				GROUP BY kind, ServerID, YearID, FormID, FormType 
			) LastRecord  inner join WF_TransWorkFlow
		 on WF_TransWorkFlow.kind = LastRecord.kind and WF_TransWorkFlow.ServerID = LastRecord.ServerID and 
		 WF_TransWorkFlow.YearID = LastRecord.YearID and WF_TransWorkFlow.FormID =LastRecord.FormID and 
		 WF_TransWorkFlow.FormType=LastRecord.FormType and WF_TransWorkFlow.ModifyDate=LastRecord.ModifyDate
		) AS ForControl 
		ON WF_TransWorkFlow.id = ForControl.id  INNER JOIN
        Fn_FormsDes ( @YearID,@FormType  ,@kind ) AS View_FormsDes 
			ON 	WF_TransWorkFlow.kind = View_FormsDes.Kind AND 
				WF_TransWorkFlow.FormID = View_FormsDes.FormID AND 
				WF_TransWorkFlow.ServerID = View_FormsDes.ServerID AND 
				WF_TransWorkFlow.YearID = View_FormsDes.YearID AND 
				WF_TransWorkFlow.FormType = View_FormsDes.FormType
WHERE     (WF_TransWorkFlow.State = 0) AND (WF_TransWorkFlow.kind = @Kind ) AND (WF_TransWorkFlow.FormType =@FormType )  and  (WF_TransWorkFlow.YearID = @YearID)
)
GO

CREATE VIEW ViewFlow
AS
SELECT     Kind, CASE Kind WHEN 1 THEN 'خزانه داری' WHEN 2 THEN 'انبار و فروش' END AS kindName, FormType, FormCaption
FROM         (SELECT     1 AS Kind, FormType, FormCaption
                        FROM         dbo.FormTypes
                        WHERE     (MnuPlaceID <> 0)
                        UNION ALL
                        SELECT     2 AS Kind, ReciptType, ReciptCaption
                        FROM         dbo.ReciptTypes
                        WHERE     (MnuPlaceIDs > '0000000000000000000000000')) AS Flow


GO
CREATE TRIGGER TR_SendReciptTypes1ToReciptTypes2
ON ReciptTypes1
AFTER INSERT
AS
SET NOCOUNT ON
BEGIN
INSERT INTO ReciptTypes2
                         (ReciptType2)
SELECT        ReciptType
FROM       inserted
END

GO
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_WF_TransWorkFlow]
AS
SELECT CASE WHEN WF_TransWorkFlow.UserCitation <> 0 THEN WF_TransWorkFlow.UserCitation ELSE WF_TransWorkFlow.UserID END AS UserID, dbo.WF_TransWorkFlow.ID, dbo.WF_TransWorkFlow.kind, 
    dbo.WF_TransWorkFlow.ServerID, dbo.WF_TransWorkFlow.YearID, dbo.WF_TransWorkFlow.FormID, dbo.WF_TransWorkFlow.FormType, dbo.WF_TransWorkFlow.ModifyDate, 
    dbo.WF_TransWorkFlow.UserID AS WorkUserID, CASE WHEN WF_TransWorkFlow.UserCitation <> 0 THEN Operators_1.PositionCode ELSE dbo.WF_TransWorkFlow.PositionCode END AS PositionCode, 
    dbo.WF_TransWorkFlow.SortAccept, dbo.WF_TransWorkFlow.State, dbo.WF_TransWorkFlow.Note, dbo.WF_TransWorkFlow.UserCitation, Operators_1.PositionCode AS WorkPositionCode, 
    CASE WHEN WF_TransWorkFlow.UserCitation <> 0 THEN 'ارجاع' ELSE 'تایید' END AS CitationNote, Operators.name AS ReferredTo, Operators_1.name AS Referring, 
    CASE WHEN  NOT Operators.name IS NULL THEN 'کاربر ' + Operators_1.name + ' به ' + Operators.name + ' ارجاع داده' ELSE '' END AS ReferringNote
FROM            dbo.WF_TransWorkFlow LEFT OUTER JOIN
                         FaraSystems.dbo.Operators AS Operators ON dbo.WF_TransWorkFlow.UserID = Operators.UserID LEFT OUTER JOIN
                         FaraSystems.dbo.Operators AS Operators_1 ON dbo.WF_TransWorkFlow.UserCitation = Operators_1.UserID

GO
--------------------------------------------------
-------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE FUNCTION InventoryAvilable4Sells (
		@DateFrom  Char(10) ='0001/01/01', @DateTo Char(10) = '9999/99/99'  ,
		@YearIDFrom  int = 0 , @YearIDTo int = 9999 ,
		@StoreIDFrom  int = 0 , @StoreIDTo int = 999999999  )
				
RETURNS table  AS  
return
(		
SELECT 	ServerID,YearID, StoreID, StuffCode, 
		ROUND(SUM(CASE WHEN kind =1 THEN InvEntity ELSE 0 END),2) AS InvEntity ,
		ROUND(SUM(CASE WHEN kind =1 THEN InvWeight ELSE 0 END),2) AS InvWeight ,
		ROUND(SUM(CASE WHEN kind =2 THEN InvEntity ELSE 0 END),2) AS EntityTheWay ,
		ROUND(SUM(CASE WHEN kind =2 THEN InvWeight ELSE 0 END),2) AS WeightTheWay  ,
		ROUND(SUM(CASE WHEN kind =3 THEN InvEntity ELSE 0 END),2) AS EntityTheWay2 ,
		ROUND(SUM(CASE WHEN kind =3 THEN InvWeight ELSE 0 END),2) AS WeightTheWay2 ,
		ROUND(SUM(CASE WHEN kind =4 THEN InvEntity ELSE 0 END),2) AS EntityTheWay_Dec ,
		ROUND(SUM(CASE WHEN kind =4 THEN InvWeight ELSE 0 END),2) AS WeightTheWay_Dec ,
		ROUND(sum(InvEntity),2) AS EntityAvilable4Sells, ROUND(sum(InvWeight),2) AS WeightAvilable4Sells,
		ROUND(SUM(CASE WHEN kind in(1,2,3) THEN InvEntity ELSE 0 END),2) AS AvilableEntity ,
		ROUND(SUM(CASE WHEN kind in(1,2,3) THEN InvWeight ELSE 0 END),2) AS AvilableWeight 

FROM 
(
SELECT	1 AS kind , Recipts.ServerID, Recipts.YearID, 
		Recipts.StoreID, 
		ReciptItems.StuffCode, 
		sum(ReciptItems.InputEntity - ReciptItems.OutputEntity) AS InvEntity , 
		sum(ReciptItems.InputWeight - ReciptItems.OutputWeight) AS InvWeight 
FROM	Recipts INNER JOIN
        ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND 
        Recipts.YearID = ReciptItems.YearID INNER JOIN
        ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType 
WHERE	(ReciptTypes.EffectType IN (2, 4, 6, 7,  8  )) AND (Recipts.ReciptState < 3) 
AND		(Recipts.YearID between @YearIDFrom  and @YearIDTo) 
AND		(Recipts.StoreID between @StoreIDFrom  and @StoreIDTo )
AND (CASE WHEN Recipts.DefaultDate IS NULL OR ltrim(Recipts.DefaultDate) = '' THEN Recipts.ReciptDate 
                                                                              ELSE Recipts.DefaultDate END BETWEEN @DateFrom AND @DateTo)
Group By Recipts.ServerID, Recipts.YearID, 
		Recipts.StoreID, 
		ReciptItems.StuffCode
----------------------------------------------------------
UNION ALL
----------------------------------------------------------
SELECT	1 AS kind ,Recipts.ServerID, Recipts.YearID, 
		CASE ReciptTypes.IncreasingInventoryStore 
			WHEN 1 THEN Recipts.StoreID 
			WHEN 2 THEN Recipts.StoreID2 
			ELSE 0 
		END AS StoreID,
		ReciptItems.StuffCode, 
		sum(ReciptItems.OutputEntity) AS InvEntity,sum(ReciptItems.OutputWeight) AS InvWeight 
FROM	Recipts INNER JOIN
		ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND 
		Recipts.YearID = ReciptItems.YearID INNER JOIN
		ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType  
WHERE	(ReciptTypes.EffectType IN (4, 7,  8  )) AND (Recipts.ReciptState < 3) AND 
		(ReciptTypes.IncreasingInventoryStore <>0) AND
		(Recipts.YearID between @YearIDFrom  and @YearIDTo)
		AND
		(CASE ReciptTypes.IncreasingInventoryStore 
			WHEN 1 THEN Recipts.StoreID 
			WHEN 2 THEN Recipts.StoreID2 
			ELSE 0 
		END between @StoreIDFrom  and @StoreIDTo )
		AND (CASE WHEN Recipts.DefaultDate IS NULL OR ltrim(Recipts.DefaultDate) = '' THEN Recipts.ReciptDate 
		                                                                              ELSE Recipts.DefaultDate END BETWEEN @DateFrom AND @DateTo)
Group By Recipts.ServerID, Recipts.YearID, 
		CASE ReciptTypes.IncreasingInventoryStore 
			WHEN 1 THEN Recipts.StoreID 
			WHEN 2 THEN Recipts.StoreID2 
			ELSE 0 
		END  ,
		ReciptItems.StuffCode
----------------------------- کاهنده و افزاینده موجودی - بدون نمایش انبار 2  
union all 
-----------------------------
SELECT	1 AS kind ,Recipts.ServerID, Recipts.YearID,
		Recipts.StoreID ,
		ReciptItems.ProductCode, 
		sum(ReciptItems.OutputEntity) AS InvEntity, sum(ReciptItems.OutputWeight) AS InvWeight 

FROM	Recipts INNER JOIN
		ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND 
		Recipts.YearID = ReciptItems.YearID INNER JOIN
		ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType 
WHERE	(ReciptTypes.EffectType IN (8)) AND (Recipts.ReciptState < 3) AND 
		(ReciptTypes.IncreasingInventoryStore =0) and (ReciptTypes.IncreasingInventory =0 )  
	AND	(Recipts.YearID between @YearIDFrom  and @YearIDTo)
	AND	(Recipts.StoreID between @StoreIDFrom  and @StoreIDTo )
    AND (CASE WHEN Recipts.DefaultDate IS NULL OR ltrim(Recipts.DefaultDate) = '' THEN Recipts.ReciptDate 
		                                                                              ELSE Recipts.DefaultDate END BETWEEN @DateFrom AND @DateTo)
Group By Recipts.ServerID, Recipts.YearID, 
		Recipts.StoreID  ,
		ReciptItems.ProductCode
------------------------------
UNION ALL
------------------------------
SELECT	case  ReciptTypes.EffectType
	when 9 THEN 2 
	when 1 THEN 3 
	else 4 end AS kind , 
		Recipts.ServerID, Recipts.YearID, 
		Recipts.StoreID, 
		ReciptItems.StuffCode, 
		sum(ReciptItems.InputEntity - ReciptItems.OutputEntity) -sum(isnull(RecalEntity,0))  AS InvEntity , 
		sum(ReciptItems.InputWeight - ReciptItems.OutputWeight) -sum(isnull(Recalweight,0))  AS InvWeight 
FROM	Recipts INNER JOIN
        ReciptItems ON Recipts.ReciptID = ReciptItems.ReciptID AND Recipts.ServerID = ReciptItems.ServerID AND 
        Recipts.YearID = ReciptItems.YearID INNER JOIN
        ReciptTypes ON Recipts.ReciptType = ReciptTypes.ReciptType 
		left outer join 
			(select		PrvYearID , preReciptItemID ,ServerID , sum(InputEntity-OutputEntity) AS RecalEntity , sum(InputWeight-OutputWeight) AS Recalweight
				FROM	ReciptItems 
				where	(yearid between @YearIDFrom AND @YearIDTo) and not (PrvYearID  is null)
				group by PrvYearID , preReciptItemID ,ServerID  )_ReciptItems 
				on ReciptItems.ReciptItemID = _ReciptItems.preReciptItemID and ReciptItems.YearID = _ReciptItems.PrvYearID and ReciptItems.ServerID = _ReciptItems.ServerID 
		left outer join 
			(select distinct isnull(PrvYearID,yearid ) AS PrvYearID , ParentReciptID ,ServerID , ReciptType
				FROM	Recipts 
				where (yearid between @YearIDFrom AND @YearIDTo) and not (PrvYearID  is null) )_Recipts 
				on Recipts.ReciptID = _Recipts.ParentReciptID and Recipts.YearID = _Recipts.PrvYearID and Recipts.ServerID = _Recipts.ServerID	
			--and 
		--	ReciptTypes.CorrelateReciptType<>_Recipts.ReciptType
WHERE	(ReciptTypes.EffectType IN (1,3,9)) AND 
		(_Recipts.ParentReciptID IS NULL --and ( ReciptItems.InputEntity - ReciptItems.OutputEntity -  isnull(_ReciptItems.RecalEntity,0) <>0 )
		) 
		AND (Recipts.YearID  BETWEEN @YearIDFrom   and @YearIDTo)
		AND (Recipts.StoreID BETWEEN @StoreIDFrom  and @StoreIDTo)
		AND (CASE WHEN Recipts.DefaultDate IS NULL OR ltrim(Recipts.DefaultDate) = '' 
			      THEN Recipts.ReciptDate 
		          ELSE Recipts.DefaultDate END BETWEEN @DateFrom AND @DateTo)
		AND (CASE WHEN (ReciptTypes.EffectType = 9)      AND(Recipts.ReciptState IN (0,1))  THEN 1 
				  WHEN (ReciptTypes.EffectType in (1,3) )AND(Recipts.ReciptState IN (1)  )  THEN 1
				  ELSE 0 END =1)

GROUP BY CASE  ReciptTypes.EffectType
		 WHEN 9 THEN 2 
	     WHEN 1 THEN 3 
         ELSE 4 END ,
					Recipts.ServerID, Recipts.YearID, 
					Recipts.StoreID  ,
					ReciptItems.StuffCode
----------------------------------------------------------
 ) inv
Group by	ServerID,YearID, StoreID, StuffCode
)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
--------------------------------------------------
-------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE VIEW Vu_ReciptItems4Edit
AS
SELECT        ReciptItems.ReciptID, ReciptItems.ServerID, ReciptItems.YearID, Recipts.ReciptType, Recipts.ReciptNumber, Recipts.ReciptDate, Recipts.PersonID1, Customers.CustName, ReciptItems.StuffCode, 
                         StuffCoding.c_StuffName, ReciptItems.OutputEntity, ReciptItems.OutputWeight, 
						 ReciptItems.RequestedEntity, ReciptItems.RequestedWeight, 
						 CASE WHEN Recipts.ReciptState = 1 THEN ReciptItems.RequestedEntity ELSE 0 END RequestedEntityFinal ,
						 CASE WHEN Recipts.ReciptState = 1 THEN ReciptItems.RequestedWeight ELSE 0 END RequestedWeightFinal ,
						 ReciptItems.AcceptEntity, ReciptItems.AcceptWeight, 
                         ReciptItems.TotalOutputPrice, ReciptItems.UnitSellPrice, ReciptItems.TotallSellPrice, ReciptItems.TaxCo, ReciptItems.TaxValue,StuffCoding.Carton
						 ,Customers.NumberCreditInstallments,ReciptItems.TotalInputPrice,ReciptItems.InputEntity,ReciptItems.InputWeight,ReciptItems.ProductCode
FROM            ReciptItems INNER JOIN
                         Recipts ON ReciptItems.ReciptID = Recipts.ReciptID AND ReciptItems.ServerID = Recipts.ServerID AND ReciptItems.YearID = Recipts.YearID INNER JOIN
                         StuffCoding ON ReciptItems.StuffCode = StuffCoding.c_StuffCode INNER JOIN
                         Units ON StuffCoding.n_UnitCode = Units.UnitCode INNER JOIN
                         Customers ON Recipts.PersonID1 = Customers.CustID  left outer join 

       (select distinct isnull(PrvYearID,yearid ) AS PrvYearID , ParentReciptID ,ServerID , ReciptType
       FROM	Recipts 
       where  not (PrvYearID  is null) )_Recipts 
on Recipts.ReciptID = _Recipts.ParentReciptID 
and Recipts.YearID = _Recipts.PrvYearID and Recipts.ServerID = _Recipts.ServerID

WHERE (Recipts.ReciptState < 3) and _Recipts.ParentReciptID  is null

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
--------------------------------------------------
-------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO
CREATE  FUNCTION Fn_rptCustomersBalance ( 
  @PersonIDFrom int
, @PersonIDTo int
, @DateTo char(10)
, @YearIDFrom int
, @YearIDTo int
, @SellsMethodFrom int=0
, @SellsMethodTo int=999999999
, @SellsEmporiumFrom int=0
, @SellsEmporiumTo int=999999999
, @CustomerGrpID1From int=0
, @CustomerGrpID1To int=999999999
, @VasetFrom int=0
, @VasetTo int=999999999
, @SUMAccFrom money=-99999999999999
, @SUMAccTo money=99999999999999,@ServerID  int , @ReciptID int )

RETURNS table  AS  
return (
SELECT Balance.PersonID1 , Balance.CustName ,
Balance.Tel, Balance.Address, Balance.Mobile,Balance.NationalID,Balance.FirstBalance,
case when Balance.balance >0 then Balance.balance else 0 end as bed ,
isnull(Check_IN.CheckINCashier ,0) as CheckINCashier ,
isnull(Check_INbanK.CheckINBank,0) as CheckINBank ,
isnull(Check_InMoshtari.CheckInMoshtari,0) as CheckInMoshtari,
case when Balance.balance <0 then Balance.balance else 0 end as bes ,
(Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0))
+isnull(Check_InMoshtari.CheckInMoshtari,0) as Balance
From (
SELECT	AllAcc.CustomerID1 AS PersonID1, Customers.CustName, Customers.Tel, Customers.Address,
Customers.Mobile,Customers.NationalID,
SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0 END) AS FirstBalance,
SUM(AllAcc.bed)-
CASE WHEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
END)> 0
THEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
END)
ELSE 0
END
AS bed,
SUM(CASE WHEN doctype IN (1, 2, 10) THEN AllAcc.bes ELSE 0 END) -
CASE WHEN SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE 0
END)< 0
THEN - SUM(CASE WHEN AllAcc.kind = 0 THEN AllAcc.bed - AllAcc.bes ELSE
0 END)
ELSE 0
END
AS bes,
SUM(CASE WHEN doctype IN (1, 2, 10) THEN AllAcc.bed - AllAcc.bes ELSE 0 END) AS balance
FROM	CustomersGroup RIGHT OUTER JOIN
dbo.AllAccount(10, - 1, - 1, - 1, @PersonIDFrom, @PersonIDTo, '', @DateTo, '',
@YearIDFrom, @YearIDTo, @SellsMethodFrom, @SellsMethodTo, @SellsEmporiumFrom,
@SellsEmporiumTo, DEFAULT)	AS AllAcc INNER JOIN
Customers ON AllAcc.CustomerID1 = Customers.CustID LEFT OUTER JOIN
CustomersGroup AS OtherGroups INNER JOIN
CustomersOtherGroups ON OtherGroups.CustomerGrpID = CustomersOtherGroups.CustomerGrpID ON
Customers.CustID =
CustomersOtherGroups.CustID ON
CustomersGroup.CustomerGrpID = Customers.CustomerGrpID
WHERE ((OtherGroups.GroupType in( 0 ) ) OR (CustomersGroup.GroupType in(0) ))
AND ((CustomersGroup.CustomerGrpID BETWEEN @CustomerGrpID1From AND @CustomerGrpID1To) OR
(CustomersOtherGroups.CustomerGrpID BETWEEN @CustomerGrpID1From AND @CustomerGrpID1To) )
AND (AllAcc.CustomerID1 <> 0)
AND ((Customers.PersonID1 BETWEEN @VasetFrom AND @VasetTo ) OR (Customers.PersonID1=0))
--AND not (--AllAcc.ServerID= @ServerID  and AllAcc.FormID=@ReciptID)
GROUP BY AllAcc.CustomerID1, Customers.CustName, Customers.Tel, Customers.Address, Customers.Mobile,
Customers.FirstBalance,Customers.NationalID
) Balance left outer join

(
SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckINCashier
from	formitems inner join
forms on formitems.yearid = forms.yearid and formitems.serverid = forms.serverid and
formitems.formid = forms.formid inner join
formtypes on forms.formtype = formtypes.formtype left outer join
(	SELECT	formitems.preformitemid ,formitems.perserverid ,formitems.yearid
from	formitems inner join
forms on formitems.yearid = forms.yearid and formitems.serverid =
forms.serverid and formitems.formid = forms.formid
where	(forms.formdate <= @DateTo) and
(forms.formstate<10) and
(forms.yearid between @yearidfrom and @yearidto)
) formitems_1 on formitems.serverid =formitems_1.perserverid and formitems.yearid =
formitems_1.yearid and
formitems.formitemid = formitems_1.preformitemid
where (formitems_1.preformitemid is null) and
(forms.formtype in(10,17,18,20,21,28,74))and
(formitems.customerid2 between @PersonIDFrom and @PersonIDTo) and
(forms.formdate <= @DateTo ) and
(forms.formstate<10) and
(forms.yearid between @yearidfrom and @yearidto)
AND not (forms.ServerID= @ServerID  and forms.formid=@ReciptID)

Group By formitems.customerid2

) Check_IN on Balance.PersonID1 = Check_IN.customerid2 Left outer join

(

SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckINBank
from	formitems inner join
forms on formitems.yearid = forms.yearid and formitems.serverid = forms.serverid and
formitems.formid = forms.formid inner join
formtypes on forms.formtype = formtypes.formtype left outer join
(	SELECT	formitems.preformitemid ,formitems.perserverid ,formitems.yearid
from	formitems inner join
forms on formitems.yearid = forms.yearid and formitems.serverid =
forms.serverid and formitems.formid = forms.formid
where	(forms.formdate <= @DateTo) and
(forms.formstate<10) and
(forms.yearid between @yearidfrom and @yearidto)
) formitems_1 on formitems.serverid =formitems_1.perserverid and formitems.yearid =
formitems_1.yearid and
formitems.formitemid = formitems_1.preformitemid
where (formitems_1.preformitemid is null) and
(forms.formtype in(11,19,22,30))and
(formitems.customerid2 between @PersonIDFrom and @PersonIDTo) and
(forms.formdate <= @DateTo ) and
(forms.formstate<10) and
(forms.yearid between @yearidfrom and @yearidto)
AND not (forms.ServerID= @ServerID  and forms.formid=@ReciptID)
Group By formitems.customerid2

) Check_INbanK on Balance.PersonID1 = Check_INbanK.customerid2
Left outer join
(

SELECT	formitems.customerid2 as customerid2 , sum(formitems.itemamount) as CheckInMoshtari
FROM FormItems INNER JOIN
Forms ON FormItems.YearID = Forms.YearID AND FormItems.ServerID = Forms.ServerID AND FormItems.FormID =
Forms.FormID INNER JOIN
FormTypes ON Forms.FormType = FormTypes.FormType LEFT OUTER JOIN
Customers Customers_1 ON Forms.CustomerID1 = Customers_1.CustID LEFT OUTER JOIN
Customers Customers_2 ON FormItems.CustomerID2 = Customers_2.CustID

where
(forms.formtype in(12))and
(formitems.customerid2 between @PersonIDFrom and @PersonIDTo) and
(forms.formdate <= @DateTo ) and
(forms.formstate <10) and

(forms.yearid between @yearidfrom and @yearidto)
AND ((FormItems.CheckDate > @DateTo) )
AND not (forms.ServerID= @ServerID  and forms.formid=@ReciptID)
Group By formitems.customerid2

) Check_InMoshtari on Balance.PersonID1 = Check_InMoshtari.customerid2
WHERE (( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0) +isnull(Check_InMoshtari.CheckInMoshtari,0))<>0)
AND ( ( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0)+isnull(Check_InMoshtari.CheckInMoshtari,0)) BETWEEN @SUMAccFrom AND @SUMAccTo)
--ORDER BY ( Balance.balance + isnull(Check_IN.CheckINCashier ,0) + isnull(Check_INbanK.CheckINBank,0)+isnull(Check_InMoshtari.CheckInMoshtari,0)) desc

)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
--------------------------------------------------
-------------------------------------------------
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
